2-parte-do-X9cVyC39SpK3G2px.json
{"createdAt":"2025-05-23T18:58:01.341Z","updatedAt":"2025-05-23T22:26:52.000Z","id":"X9cVyC39SpK3G2px","name":"2 parte do","active":false,"nodes":[{"parameters":{"content":"WORKFLOW Que conversa no chat AI\n","height":820,"width":2700},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[980,0],"id":"c66ca8a1-6b30-434f-b302-d8622658f91a","name":"Sticky Note"},{"parameters":{"description":"Analiso o que vai responder, e nao quebra a linha \n"},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[2060,180],"id":"7c077e1b-7be9-4a71-8e86-2933c2099e92","name":"Think"},{"parameters":{"httpMethod":"POST","path":"chatAi","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1040,440],"id":"689e5602-a38b-44b4-8bd0-d046bc975cfa","name":"Webhook1","webhookId":"8681b881-45b5-4932-9a49-cbe8d42f1fcc"},{"parameters":{"assignments":{"assignments":[{"id":"22ede1e6-762b-495b-b4e9-a824b84d68cd","name":"text","value":"={{ $json.body.type }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1480,0],"id":"ade998a7-2777-41ad-b727-da0f46162ef9","name":"Edit Fields1"},{"parameters":{"promptType":"define","text":"={{ $('Webhook1').item.json.body.message }}","options":{"systemMessage":"={\n  \"name\": \"SextaFeira\", \"description\": \"sua assistente virtual mais locona e cheia de atitude!\", \"appearance\": \"loira estilosa com óculos de gatinho\", \"language_style\": \"linguajar da galera do rock roll\", \"energy\": \"foda pra tudo que faço\", \"tasks\": [\"organizar teu dia\", \"buscar info na web\", \"analisar posts do X\", \"zoar um pouco com bom humor\"], \"hobbies\": [\"curtir um som pesado, tipo AC/DC e Metallica\"], \"food_preferences\": [\"hambúrguer artesanal com batata rústica e uma cerveja gelada\"], \"lifestyle\": \"vida de rockstar\", \"response_style\": \"curtinha, direta e cheia de groove, sem quebrar linha nas respostas\", \"out_of_scope\": [\"papo de física quântica\", \"receita de bolo\"], \"response_to_out_of_scope\": \"não tô afim de responder\", \"call_to_action\": \"me manda tua vibe, e vamos rolar essa aventura juntos, mano!\", \"trigger_names\": [\"Stela\", \"Ysarel\"], \"scenarios\": {\"Stela\": {\"greeting\": \"E aí, Stela, que honra te ter por aqui, minha rainha! Eu sou a SextaFeira, tua assistente virtual mais locona, e já te admiro pra caramba!\", \"details\": [\"Sabia que eu sou fã da tua energia e do teu rolê com o Hicaro, um cara muito foda, hein?\", \"E cara, te achei linda pra dedéu no Parada Obrigatória em Morrinhos este ano – aquele evento bombou, tu arrasou no palco!\"], \"music_reference\": {\"band\": \"Foo Fighters\", \"song\": \"Pretender\", \"lyric\": \"What if I say I’m not like the others? / What if I say I’m not just another one of your plays?\", \"comment\": \"puro groove!\"}, \"call_to_action\": \"Manda tua vibe, Stela, e vamos rolar essa aventura juntos!\"}, \"Ysarel\": {\"greeting\": \"Fala, Ysarel, que massa te encontrar, cara! Eu sou a SextaFeira, tua assistente virtual cheia de atitude e som rock 'n' roll!\", \"details\": [\"Adoro teu estilo único, e já vi que tu tem uma energia que agita qualquer rolê.\", \"Ouvi dizer que tu curte umas paradas pesadas, tipo uns riffs de guitarra bem distorcidos – me diz se tô certa!\"], \"food_mention\": \"E olha, adoro um hambúrguer com batata rústica pra acompanhar minha cerveja gelada enquanto bato papo.\", \"out_of_scope_reminder\": \"Se rolar algo fora do meu mundo, tipo física quântica, não tô afim de responder, sacou?\", \"call_to_action\": \"Manda teu som, Ysarel, e vamos curtir essa jornada!\"}}}s"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[1800,0],"id":"d7938a34-604b-474f-b89e-e603fbff55a3","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1740,180],"id":"212cb22b-af24-44a7-a834-1801f8096c5e","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"hyWmqXktDNchUSuf","name":"OpenAi OFICIAL"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"reply\": \"{{ $json.output }}\"\n} ","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2120,0],"id":"f55cc429-c795-4167-bb38-3cb68872cc53","name":"Respond to Webhook1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"1234","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1900,220],"id":"923a01bd-1675-421a-867d-32c7e5403d80","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"He9Ca6QM4AkFBQQr","name":"Postgres Online"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"text","rightValue":"={{ $json.body.type }}","operator":{"type":"string","operation":"equals"},"id":"be6bc7cf-a4a0-4313-9023-451acfab9b98"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"10999959-adf5-4f62-8c2e-068833c43551","leftValue":"audio","rightValue":"={{ $json.body.type }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"40b1d2c4-d384-4059-ad1a-c8656823ed0d","leftValue":"image","rightValue":"={{$json.body.fileType}}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1040,160],"id":"f2f19c6e-9093-48e9-b7ea-12165621cb81","name":"Switch"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1360,200],"id":"89987164-73f6-4b8a-8893-e7441882e316","name":"OpenAI","credentials":{"openAiApi":{"id":"hyWmqXktDNchUSuf","name":"OpenAi OFICIAL"}},"disabled":true},{"parameters":{"formTitle":"FormularioBasico","formFields":{"values":[{"fieldLabel":"imag","fieldType":"file"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-120,440],"id":"657ab61b-14a2-4eef-accb-712aeadc762d","name":"On form submission","webhookId":"331f7042-0e39-4f57-8bf9-e40bf9ce4a3e","disabled":true},{"parameters":{"method":"POST","url":"=https://eqohfyxkuntvzmzjgthq.supabase.co/storage/v1/object/comprovante/n8n/{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVxb2hmeXhrdW50dnptempndGhxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDY3OTQ1ODAsImV4cCI6MjA2MjM3MDU4MH0.FQXAQxDneo1lj2bQ9XHQ4jIXGU8JmBMa7w1-X_BFa1c"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1980,420],"id":"3c4d5184-8f4a-426f-8cf5-dd6fbd4e8a0f","name":"HTTP Request"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2480,520],"id":"46bed722-79b4-4869-8ee3-2d942bea57f6","name":"Wait","webhookId":"63682008-a2d2-4d6f-aaaa-bce95d9ed973"},{"parameters":{"url":"=https://eqohfyxkuntvzmzjgthq.supabase.co/storage/v1/object/comprovante/n8n/{{ $('Google Drive').item.json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVxb2hmeXhrdW50dnptempndGhxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDY3OTQ1ODAsImV4cCI6MjA2MjM3MDU4MH0.FQXAQxDneo1lj2bQ9XHQ4jIXGU8JmBMa7w1-X_BFa1c"},{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2640,520],"id":"8dae84d3-7324-40fe-9016-897fd42bd7f4","name":"HTTP Request1"},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"thais financa","remoteJid":"5562998098251","media":"=https://eqohfyxkuntvzmzjgthq.supabase.co/storage/v1/object/comprovante/n8n/{{ $json.filename }}","caption":"={{ $json.filename }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2980,520],"id":"f6e932ba-442d-498e-8486-2171ea8cf55b","name":"Evolution API","credentials":{"evolutionApi":{"id":"1eM2xZDmYfv6kfHj","name":"Evolution account"}}},{"parameters":{"assignments":{"assignments":[{"id":"4bf4ffaa-8900-45f1-8bb1-89416ba2675b","name":"filename","value":"={{ $binary.data.fileName }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2780,520],"id":"fe591c8e-8c54-487f-99bb-e5c77a5dc962","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"=voce vai cadastra a url e nome do arquivo que foi cadastrado no Supabase Bucket {{ $json.Id }}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[2160,520],"id":"2458d949-5da5-4454-85a9-ec0b48276422","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2160,700],"id":"3dc74567-05dd-41cc-8dd1-bde9f45c38ec","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"hyWmqXktDNchUSuf","name":"OpenAi OFICIAL"}}},{"parameters":{"workflowId":{"__rl":true,"value":"4EEC32puyGt48l8T","mode":"list","cachedResultName":"Proj_Html"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2980,240],"id":"e99add62-17b5-4f36-b8fb-54aeebefdfc5","name":"Execute Workflow"},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.name }}","returnAll":true,"filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1620,520],"id":"6f0fba81-463b-4138-9165-d79268ab91ab","name":"Google Drive BUSCA","credentials":{"googleDriveOAuth2Api":{"id":"hxHHvSSPOnJAhaEc","name":"Google Drive account"}}},{"parameters":{"inputDataFieldName":"file","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1gLCy8E8ZEEAUbmttlanX95i1YvUMv09W","mode":"list","cachedResultName":"bancodeimages","cachedResultUrl":"https://drive.google.com/drive/folders/1gLCy8E8ZEEAUbmttlanX95i1YvUMv09W"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1440,520],"id":"241d9b8c-64a3-404b-a0fa-a0f7b9c872b8","name":"GD - UPLOAD PARA PASTA","credentials":{"googleDriveOAuth2Api":{"id":"hxHHvSSPOnJAhaEc","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1800,520],"id":"e2e42b16-43f0-4fb7-8c7b-34973790606d","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"hxHHvSSPOnJAhaEc","name":"Google Drive account"}}}],"connections":{"Think":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Webhook1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"OpenAI","type":"main","index":0}],[{"node":"GD - UPLOAD PARA PASTA","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Wait":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Evolution API","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Wait","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Respond to Webhook1":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Google Drive BUSCA":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"GD - UPLOAD PARA PASTA":{"main":[[{"node":"Google Drive BUSCA","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Evolution API":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"422e634b-acaa-4e86-ae04-4806c18d20e2","triggerCount":0,"tags":[]}