agente_de_emails-(1)-QB76cwzweH8FTMhu.json
{"createdAt":"2025-05-02T01:50:06.001Z","updatedAt":"2025-05-02T02:23:28.000Z","id":"QB76cwzweH8FTMhu","name":"Agente_De_Emails (1)","active":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"a65103dc-c479-46f5-923b-d39d2a41643b","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[0,0]},{"parameters":{"promptType":"define","text":"=Siga as regras abaixo:\n\n1. Sempre que receber uma solicitação para **enviar um email**, primeiro chame a tool \"enviar_email\" para enviar o email corretamente\n\n2. Sempre que receber uma solicitação para **deletar um email**, **busque o email correspondente primeiro usando a tool \"listar_emails\"** com base no **sender label, conteudo, ID**.\n\n3. Para **consultas** de emails (como \"o que tem hoje?\" ou \"me diga meus emails da manhã\"), use o recurso de busca normalmente e liste os emails encontrados com horário, assunto e corpo.\n\nAo responder, seja direto, claro e objetivo. Use linguagem natural, mas precisa. Mantenha a consistência com os dados retornados do calendário.\n\nSe faltar qualquer informação essencial, solicite ao usuário antes de prosseguir.\n\nO pedido é:\n{{ $json.query }}\n\nO dia de Hoje é: {{ $now }}","options":{"systemMessage":"Você é um agente responsável pelas ações usando email"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[220,0],"id":"3ca89562-ad6b-4c9f-ab64-b3991c9a46aa","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[120,200],"id":"c0c642e4-7a70-46a9-907c-8583b5d660a0","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"fUIOsGVnCLFrm3t8","name":"OpenAi 2"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"4"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[220,320],"id":"47828614-f431-42bb-b6dd-2da9ca40d086","name":"Simple Memory"},{"parameters":{"operation":"getAll","limit":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}","simple":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}","filters":{"labelIds":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Label_Names_or_IDs', ``, 'string') }}"},"options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[500,320],"id":"0b6812b0-94c8-4fc9-954c-9d4aaf8ec9ac","name":"listar_emails","webhookId":"81343070-a2d2-4806-bd43-ebac1136090f","credentials":{"gmailOAuth2":{"id":"iRSHG6mbyveJGCps","name":"Gmail account"}}},{"parameters":{"sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[360,400],"id":"d6cbc8b8-c85b-47ec-af95-efbd722c1d5e","name":"enviar_emails","webhookId":"162a003d-86a7-4a78-b04b-b9c973f0ac8c","credentials":{"gmailOAuth2":{"id":"iRSHG6mbyveJGCps","name":"Gmail account"}}},{"parameters":{"operation":"delete","messageId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[600,200],"id":"748a94a7-a8d8-463b-baa8-780d46b3e3f4","name":"deletar_emails","webhookId":"b01301f1-ea31-4aaf-a2a9-4b5487b6f863","credentials":{"gmailOAuth2":{"id":"iRSHG6mbyveJGCps","name":"Gmail account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"listar_emails":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"enviar_emails":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"deletar_emails":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5a9d385a-030b-4de6-aaba-f415c8247c4c","triggerCount":0,"tags":[]}