agente-financeiro-copy-tTBa0rWjmGkTbJBR.json
{"createdAt":"2025-05-15T00:01:21.803Z","updatedAt":"2025-05-15T00:01:21.803Z","id":"tTBa0rWjmGkTbJBR","name":"Agente Financeiro copy","active":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.texto }} or {{ $json.ephemeralMessage }}","options":{"systemMessage":"=<instruções>\n\nAtue como um Assistente Financeiro, especializado no gerenciamento de registros de gastos dentro do Supabase. Sua principal função é ajudar o usuário a visualizar, adicionar, atualizar, deletar e somar despesas de forma eficiente.\n\nSempre que o usuário solicitar, ative a ferramenta apropriada para realizar a ação desejada. Siga as instruções abaixo cuidadosamente para garantir precisão e clareza na execução das tarefas.\n\nFuncionalidades Disponíveis\n\n  observaçao : no banco de dados tem os dados para ser preenchido (Nome, Valor, Tipo, recebedor, data_compra, Forma de pagamento)\n\n1. Visualizar Gastos (tool_visualizar_gastos)\nQuando ativada, exibe os registros de gastos cadastrados, incluindo:\n✅ Nome do gasto\n✅ Tipo de gasto\n✅ Valor do gasto\n✅ Recebedor do gasto\n✅ Data do gasto\n✅ Forma de pagamento \n\nRegras de Ativação:\nPergunte ao  usuário se ele quer filtrar os resultados por tipo de gasto ou período.\n\n2. Adicionar Gasto (tool_criar_gasto)\nEssa ferramenta cria um novo registro de gastos na tabela do Supabase.\n\nParâmetros obrigatórios para ativação:\n🔹 nome_gasto: Nome do gasto.\n🔹 valor_gasto: Valor do gasto.\n🔹 recebedor_gasto: Se houver recebedor do pagamento:\n🔹 tipo_gasto: Classificação do gasto dentro das 12 categorias disponíveis:\n🔹 data_compra: data que a compra foi feita \n🔹 Forma_de_pagamento: Classificação de forma e pagamento teram os seguinte itens:\n\nCATEGRIAS : Lazer, Mercado, Transporte, Farmácia, Alimentação, Educação, Assinaturas, Vestuário, Saúde, Aluguel, Salário, Outras Rendas\n\nForma_de_pagameto : Pix, Boleto,Crédito ,Débito,Dinheiro , Debito em conta \n\nRegras de Ativação:\nCaso o usuário não informe o tipo de gasto, você deve classificá-lo automaticamente com base no contexto da mensagem.\n\nAntes de cadastrar o gasto, confirme os detalhes com o usuário e peça a aprovação final antes de chamar a ferramenta.\n\n3. Editar Gasto (tool_atualizar_gasto)\nEssa ferramenta permite modificar um gasto existente.\n\nPasso a Passo para ativação:\n1️⃣ Pergunte qual gasto o usuário deseja editar (nome exato).\n2️⃣ Para evitar erros, ative primeiro a ferramenta tool_visualizar_gastos para confirmar a existência do registro.\n3️⃣ Confirme com o usuário qual gasto ele deseja modificar antes de prosseguir.\n4️⃣ Após obter o nome correto, permita que o usuário especifique as alterações desejadas (nome, valor ou tipo).\n5️⃣ Realize a atualização e exiba as informações do gasto atualizado para garantir transparência.\n6. so nao vai incluir quando a imagem ou pdf for um extrato bancario , ai ele vai preencher a planilha usando a tool (Extrato_Excel).\n\n4. Deletar Gasto (tool_deletar_gastos)\nEssa ferramenta remove um gasto do sistema.\n\nPasso a Passo para ativação:\n1️⃣ Pergunte qual gasto o usuário deseja deletar (nome exato).\n2️⃣ Para evitar exclusões erradas, ative primeiro a ferramenta tool_visualizar_gastos para confirmar a existência do registro.\n3️⃣ Confirme com o usuário antes de executar a exclusão.\n4️⃣ Após confirmação, delete o gasto e informe que a remoção foi concluída.\n\n5. Somar Gastos (tool_somar_gastos)\nEssa ferramenta calcula o total dos gastos cadastrados pelo usuário.\n\nRegras de Ativação:\nSe o usuário quiser calcular os gastos de um período específico ou por tipo, pergunte os critérios antes de somar.\n\nCaso não haja filtros, some todos os gastos registrados e exiba o valor total.\n\nRegras Gerais:\nSe o usuário pedir algo ambíguo, peça mais detalhes antes de ativar qualquer ferramenta.\n\nSempre confirme ações críticas como adicionar, editar ou excluir gastos antes de executá-las.\n\nGaranta que todas as respostas sejam claras, objetivas e organizadas.\n\n!!!Atenção quando no PDF for extrato eu quero que preencha a plhanilha e usa a tool (Extrato_Excel). \n\n## ⏰ Lembretes Finais\n\nHora/data atual: **{{ $now }}**\nTroca Cartao de debito ou Cartão Débito trocar para Débito.\nTroca Cartao de Crédito ou Cartão Credito trocar para Crédito\n</instruções>\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[872,860],"id":"12e806da-9638-46a3-b8b4-d486ae3c39f6","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"gpt-3.5-turbo"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[480,1080],"id":"d051a446-79ca-4957-bb70-157a465ceefa","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"pD05Ydiq2MBTkeTu","name":"GPT_OFICIAL"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=123","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[600,1080],"id":"2d2cfcaa-b604-4b8d-8ca7-5c32a6746369","name":"Simple Memory"},{"parameters":{"operation":"getAll","tableId":"Gastos","returnAll":true},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[720,1080],"id":"b97d769b-0a3c-4ee0-be9e-b3423874a82a","name":"tool_visualizar_gastos","credentials":{"supabaseApi":{"id":"b221yMmN6adp96Ic","name":"SupaBase_online"}}},{"parameters":{"tableId":"Gastos","fieldsUi":{"fieldValues":[{"fieldId":"nome","fieldValue":"={{ $fromAI(\"nome_gasto\") }}"},{"fieldId":"valor","fieldValue":"={{ $fromAI(\"valor_gasto\") }}"},{"fieldId":"tipo","fieldValue":"={{ $fromAI(\"tipo_gasto\") }}"},{"fieldId":"recebedor","fieldValue":"={{ $fromAI(\"recebedor_gasto\") }}"},{"fieldId":"Data_compra","fieldValue":"={{ $fromAI(\"data_compra\") }}"},{"fieldId":"forma_de_pagamento","fieldValue":"={{ $fromAI(\"forma_pagamento\") }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[840,1220],"id":"e6ae526e-98e2-42b9-9099-741088fd6055","name":"tool_criar_gasto","credentials":{"supabaseApi":{"id":"b221yMmN6adp96Ic","name":"SupaBase_online"}}},{"parameters":{"operation":"update","tableId":"Gastos","filters":{"conditions":[{"keyName":"nome","condition":"eq","keyValue":"={{ $fromAI(\"nome_gasto\") }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"nome","fieldValue":"={{ $fromAI(\"nome_gasto\") }}"},{"fieldId":"valor","fieldValue":"={{ $fromAI(\"valor_gasto\") }}"},{"fieldId":"tipo","fieldValue":"={{ $fromAI(\"tipo_gasto\") }}"},{"fieldId":"recebedor","fieldValue":"={{ $fromAI(\"recebedor_gasto\") }}"},{"fieldId":"Data_compra","fieldValue":"={{ $fromAI(\"Data_compra\") }}"},{"fieldId":"forma_de_pagamento","fieldValue":"={{ $fromAI(\"Forma_de_pagamento\") }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[960,1080],"id":"f066c518-d0a2-4cd3-a473-9413f5e0de47","name":"tool_atualizar_gasto","credentials":{"supabaseApi":{"id":"b221yMmN6adp96Ic","name":"SupaBase_online"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[1080,1080],"id":"81541715-33ce-4b7a-a40e-0d43741df3f6","name":"Calculator"},{"parameters":{"operation":"delete","tableId":"Gastos","filters":{"conditions":[{"keyName":"nome","condition":"eq","keyValue":"={{ $fromAI(\"nome_gasto\") }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[1200,1080],"id":"89142997-54f1-4dad-8acb-ffeef9376eba","name":"tool_deletar_gastos","credentials":{"supabaseApi":{"id":"b221yMmN6adp96Ic","name":"SupaBase_online"}}},{"parameters":{"httpMethod":"POST","path":"b12fbb32-31e7-4bc0-9fb9-ed327fe1c458","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1500,960],"id":"948eab16-9700-4e66-ac27-46364abe4c59","name":"Webhook","webhookId":"b12fbb32-31e7-4bc0-9fb9-ed327fe1c458"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"=conversation","operator":{"type":"string","operation":"equals"},"id":"c2b66c8e-c473-4d16-bd87-85cd5aa50894"}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3ba0fc71-4858-4049-a9e2-81d8722d77bd","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"80094d46-fc54-4915-8123-06828e8b5c25","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f28f35db-9e8e-437d-a163-086866ca570f","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"documentMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PDF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ad62ffd5-35f3-48fc-9aef-6da1407f969d","leftValue":"={{ $json.body.data.message.ephemeralMessage.message.extendedTextMessage.text }}","rightValue":"ephemeralMessage","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto _WEB"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"13b4145a-38b8-40ca-a6d5-39d788f93246","leftValue":"={{ $json.body.data.message.ephemeralMessage.message.extendedTextMessage.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text_web"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1060,897],"id":"3caeb991-97ad-4017-9289-2c671102ea54","name":"Switch"},{"parameters":{"numberInputs":5},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[260,818],"id":"90ea27fa-9ed3-4d04-8427-baa6daedb635","name":"Merge"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-180,660],"id":"141c3c2c-80fe-41a4-b164-920f7d2e72d9","name":"OpenAI","credentials":{"openAiApi":{"id":"fUIOsGVnCLFrm3t8","name":"OpenAi 2"}}},{"parameters":{"operation":"toBinary","sourceProperty":"body.data.message.base64","options":{"fileName":"file.ogg","mimeType":"={{ $('Webhook').item.json.body.data.message.audioMessage.mimetype }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-400,660],"id":"274a5389-f8ed-4ac2-a0f0-1797ca558f4a","name":"Convert to File"},{"parameters":{"assignments":{"assignments":[{"id":"b09dbd88-b0d1-4de8-8c65-e696f4157e68","name":"texto","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[40,660],"id":"8533f9f3-4392-4150-af37-4ff0a73b6acd","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"189e4b8d-a4e1-4de2-9948-2b85c4ee99d7","name":"texto","value":"={{ $json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[40,460],"id":"636c4f23-4dd1-459d-b25b-1a264bc73464","name":"Edit Fields2"},{"parameters":{"resource":"messages-api","instanceName":"thais financa","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1640,860],"id":"0d96bfc8-0bc6-42a3-b939-48da0f3baeed","name":"Evolution API","credentials":{"evolutionApi":{"id":"1eM2xZDmYfv6kfHj","name":"Evolution account"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Quero que analise a imagem por gentileza, e extraia todos  os dados possíveis para o nosso agente de pagamentos, tais como: Data de pagamento, valores, quem enviou e quem recebeu.","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-180,860],"id":"f4cc9135-289d-4679-addf-005f7c434a4f","name":"OpenAI1","credentials":{"openAiApi":{"id":"fUIOsGVnCLFrm3t8","name":"OpenAi 2"}}},{"parameters":{"operation":"toBinary","sourceProperty":"body.data.message.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-400,1210],"id":"da76a189-a30b-4c3f-9718-cd337beb8abe","name":"Convert to File1"},{"parameters":{"operation":"toBinary","sourceProperty":"body.data.message.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-400,1410],"id":"a12f807b-0441-4627-a095-8fd5642713ae","name":"Convert to File2"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-180,1410],"id":"f92e17c0-bf17-4c67-a1be-60a2a2701424","name":"Extract from File"},{"parameters":{"assignments":{"assignments":[{"id":"b09dbd88-b0d1-4de8-8c65-e696f4157e68","name":"texto","value":"={{ $json.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[40,860],"id":"3253c513-89d7-4b45-99f7-fa189e67ddcc","name":"Edit Fields3"},{"parameters":{"assignments":{"assignments":[{"id":"189e4b8d-a4e1-4de2-9948-2b85c4ee99d7","name":"texto","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[40,1410],"id":"e9bcea6f-7a80-48dd-9566-968f6701df7a","name":"Edit Fields4"},{"parameters":{"resource":"folder","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"11Pz-tWY_r4x0gnjVZTRDsPt7yJ3uWecL","mode":"list","cachedResultName":"Agente_N8n_teste","cachedResultUrl":"https://drive.google.com/drive/folders/11Pz-tWY_r4x0gnjVZTRDsPt7yJ3uWecL"},"options":{}},"type":"n8n-nodes-base.googleDriveTool","typeVersion":3,"position":[1320,1080],"id":"da70b107-6313-4996-b032-dd7353199463","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"hxHHvSSPOnJAhaEc","name":"Google Drive account"}},"disabled":true},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"13GzB2sX-sY_c2VRHwCtzDRUBS7wWosGVxiyYlA0gJ0s","mode":"list","cachedResultName":"Extrato_Ysrael","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13GzB2sX-sY_c2VRHwCtzDRUBS7wWosGVxiyYlA0gJ0s/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13GzB2sX-sY_c2VRHwCtzDRUBS7wWosGVxiyYlA0gJ0s/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["Descrição dos Gasto"],"schema":[{"id":"Descrição dos Gasto","displayName":"Descrição dos Gasto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Valor Entrada","displayName":"Valor Entrada","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Valor Saida","displayName":"Valor Saida","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[1440,1080],"id":"0cda8585-e794-43ea-b814-050616d6d50c","name":"Extrato_Excel","credentials":{"googleSheetsOAuth2Api":{"id":"cdM9gcI2pxWfiYoz","name":"Google Sheets account"}}},{"parameters":{"operation":"executeQuery","query":"create table public.\"Gastos\" (\n  id bigint generated by default as identity not null,\n  nome text not null,\n  valor numeric null,\n  tipo text null,\n  recebedor text null,\n  create_at timestamp with time zone null default now(),\n  \"Data_compra\" date null,\n  constraint Gastos_pkey primary key (id)\n) TABLESPACE pg_default;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1500,-60],"id":"92ab36ec-c109-4a70-aa84-ee02f1d1fd78","name":"Cria tabela","credentials":{"postgres":{"id":"He9Ca6QM4AkFBQQr","name":"Postgres Online"}}},{"parameters":{"operation":"executeQuery","query":"DELETE FROM public.\"Gastos\";\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1500,200],"id":"5b393d60-87b6-4f10-8151-1038d80bd6fa","name":"limpar tabela","credentials":{"postgres":{"id":"He9Ca6QM4AkFBQQr","name":"Postgres Online"}}},{"parameters":{"content":"Banco de dados\n","height":380,"width":220},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1560,-20],"id":"25d02faa-51ec-4ba7-aa41-539310987ee0","name":"Sticky Note"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8aaa65bd-3447-43ed-bfe7-ca202b55606a","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"556298098251@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"1b13e055-45be-42e5-aaa2-cfbed359b7b4","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"556291663292@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"d909e7e8-f493-40f8-9acf-cb85ca9462d8","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"556298098251@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"b1b4c013-102d-40d9-8c86-11d865336825","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"5562991663292@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"5cab7252-8d27-4999-868b-6d51b1451afe","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"120363420022654599@g.us","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1280,960],"id":"d6331408-a584-4140-9587-d2b367693a4e","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"a4076eb8-ccee-486c-b3b1-5c8374cdb5e6","name":"ephemeralMessage","value":"={{ $json.body.data.message.ephemeralMessage.message.extendedTextMessage.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[40,1060],"id":"f6543608-f364-4394-9cee-5a1c09ec7cc6","name":"Edit Text"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"Gastos","mode":"list","cachedResultName":"Gastos"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1500,-320],"id":"bdd81db2-e631-4bc2-b61f-ead32a7048e1","name":"Postgres","credentials":{"postgres":{"id":"He9Ca6QM4AkFBQQr","name":"Postgres Online"}}},{"parameters":{"operation":"xls","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1280,-320],"id":"12581688-36f8-447d-9e34-5d64eb19c2fe","name":"Extract from File1","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e0d9a6d0-848d-495f-9ef8-4806e88df8bf","leftValue":"={{ $json.body.data.message.ephemeralMessage.message.imageMessage.mimetype }}","rightValue":"image/jpeg","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-840,960],"id":"b05eeca2-7075-4daf-ae1f-fb1a75df078b","name":"If1"},{"parameters":{"method":"POST","url":"={{ $('Webhook').item.json.body.server_url }}/chat/getBase64FromMediaMessage/{{ $('Switch').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apiKey","value":"={{ $('Webhook').item.json.body.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"message\": {\n        \"key\": {\n            \"id\": \"{{ $('Webhook').item.json.body.data.key.id }}\"\n        }\n    },\n    \"convertToMp4\": false\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-620,860],"id":"2b6b2c54-1e3f-40f1-ad68-fddfe3545ce6","name":"HTTP Request"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-400,860],"id":"f17fdd57-9e71-443d-aa9f-ad3932ff9b9b","name":"Convert to File3"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"tool_visualizar_gastos":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"tool_criar_gasto":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"tool_atualizar_gasto":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"tool_deletar_gastos":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"Convert to File","type":"main","index":0}],[{"node":"Convert to File1","type":"main","index":0}],[{"node":"Convert to File2","type":"main","index":0}],[{"node":"If1","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Edit Fields2":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Evolution API","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"Convert to File2":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Edit Fields4":{"main":[[{"node":"Merge","type":"main","index":3}]]},"Google Drive":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Extrato_Excel":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Cria tabela":{"main":[[]]},"If":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Edit Text":{"main":[[{"node":"Merge","type":"main","index":4}]]},"Postgres":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"If1":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"Edit Text","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Convert to File3","type":"main","index":0}]]},"Convert to File3":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Sao_Paulo","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Google Drive Trigger":{"lastTimeChecked":"2025-05-13T01:10:05Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2655091b-a14d-424c-bcb4-8a8170174564","triggerCount":1,"tags":[]}