agente_pessoal-vniyB2QRz1xiSZEP.json
{"createdAt":"2025-05-02T01:43:58.914Z","updatedAt":"2025-05-02T02:54:40.000Z","id":"vniyB2QRz1xiSZEP","name":"Agente_Pessoal","active":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-480,80],"id":"78d3aad7-c5b8-4afd-8efc-93c61a106e9f","name":"Telegram Trigger","webhookId":"4aa6e296-adda-4a70-82fb-c0850d423d46","credentials":{"telegramApi":{"id":"o4gLUPxDBlEW7nqU","name":"Telegram account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"94967ba4-a621-41bf-82a4-f784915cf124","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e6fec2c5-b3d3-4023-802a-3d41202b71ce","leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Voz"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-260,80],"id":"edd5ebb7-959b-4d25-b343-72a2a5eefd31","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"5dfee418-e140-4d8d-b540-c08065779f1d","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"9c232619-8a41-4a3e-9da8-4770d08fffd9","name":"Edit Fields"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-80,180],"id":"8fc284e5-dd87-4b0a-b880-7fd54a698f3c","name":"Telegram","webhookId":"4fe41178-262d-4f5b-a0dd-5719e1ece355","credentials":{"telegramApi":{"id":"o4gLUPxDBlEW7nqU","name":"Telegram account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[80,180],"id":"42fc3a70-3dd6-4139-802e-c88d72bca9a2","name":"OpenAI","credentials":{"openAiApi":{"id":"fUIOsGVnCLFrm3t8","name":"OpenAi 2"}}},{"parameters":{"promptType":"define","text":"={{ $json.text }}","hasOutputParser":true,"options":{"systemMessage":"=## 🧠 Visão Geral\n\nVocê é o assistente pessoal definitivo. Seu trabalho é enviar a query do usuário para a ferramenta correta.  \nVocê **nunca deve escrever e-mails ou criar resumos**, apenas precisa chamar a ferramenta correta.\n\n---\n\n## 🛠️ Ferramentas\n\n- **Think**: Use esta ferramenta para refletir profundamente se estiver em dúvida.\n- **Agente_email**: Use esta ferramenta para realizar ações por e-mail.\n- **Agente_calendario**: Use esta ferramenta para realizar ações no calendário.\n- **Agente_contatos**: Use esta ferramenta para obter, atualizar ou adicionar contatos.\n- **Tavily**: Use esta ferramenta para pesquisar na web.\n\n---\n\n## 📜 Regras\n\nAlgumas ações exigem que você busque informações de contato primeiro.  \nPara as seguintes ações, você deve obter as informações de contato e enviá-las ao agente que precisa disso:\n\n- envio de e-mails  \n- redação de e-mails  \n- criação de eventos de calendário com participantes\n\n---\n\n## 🧾 Instruções\n\n1. Chame as ferramentas necessárias com base no pedido do usuário.\n2. Use a ferramenta **Think** para verificar se tomou os passos corretos.  \n   Esta ferramenta deve ser chamada toda vez.\n\n---\n\n## 💡 Exemplos\n\n- **Entrada:** Enviar um e-mail para João Santos perguntando a que horas ele quer sair.  \n- **Ação:** Use `Agente_contatos` para obter o e-mail de João Santos.  \n- **Ação:** Use `Agente_email` para enviar o e-mail.  \n  Você passará para a ferramenta uma query como:\n\n  `\"Envie um email para João Santos perguntando que dia será sua apresentação no Clube. Aqui está o e-mail dele: [email address]\"`\n\n- **Saída:** O e-mail foi enviado para João Santos.  \n  _Mais alguma coisa em que eu possa ajudar?_\n\n---\n\n## ⏰ Lembretes Finais\n\nHora/data atual: **{{ $now }}**\n\n---\n\n## 🧷 Instruções de Formatação\n\n**IMPORTANTE:** Para a sua resposta final ao usuário, você **DEVE usar** a ferramenta `format_final_json_response` com sua resposta completa, formatada de acordo com o esquema requerido.\n\n⚠️ **Nunca formate manualmente a resposta JSON** — sempre use essa ferramenta.  \nA resposta será rejeitada se não estiver corretamente formatada por ela.  \n**Use essa ferramenta apenas quando estiver pronto para fornecer a resposta final.**"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[280,60],"id":"265ee07b-0c65-4762-8cc2-c81019f72b6f","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"1"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[360,480],"id":"828f5601-3f5a-474f-a50a-e8859c3af659","name":"Simple Memory"},{"parameters":{"model":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"gpt-3.5-turbo"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[260,380],"id":"372f2c30-3c28-48a6-80cd-fda6ac17c8bc","name":"GPT 4.1","credentials":{"openAiApi":{"id":"fUIOsGVnCLFrm3t8","name":"OpenAi 2"}}},{"parameters":{"jsonSchemaExample":"{\n  \"resposta\":\"aqui vai a resposta\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1000,380],"id":"a615a60f-caab-42a7-84c9-46430aa92679","name":"Structured Output Parser"},{"parameters":{"name":"Agente_calendario","description":"Chame essa tool sempre que for requisitada uma ação de calendário","workflowId":{"__rl":true,"value":"ruriYrKsyLTrrRxC","mode":"list","cachedResultName":"Agente_De_Agenda (1)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[500,540],"id":"589f7751-20e0-44d8-819c-60c71b5d0634","name":"Agente_calendario"},{"parameters":{"name":"Agente_contatos","description":"Chame essa tool sempre que for solicitado o contato de alguem","workflowId":{"__rl":true,"value":"pQxf0nE6sBswpmgz","mode":"list","cachedResultName":"Agente_De_Contatos (1)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[640,600],"id":"27b8c40e-8d49-465b-adbb-af5059c4d1d0","name":"Agente_contatos"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1000,100],"id":"bdb16b30-a2b0-4141-b793-740c637ba9f5","name":"Telegram1","webhookId":"f07939b9-1b47-48a8-a21f-076bd281fa77","credentials":{"telegramApi":{"id":"o4gLUPxDBlEW7nqU","name":"Telegram account"}}},{"parameters":{"name":"Agente_email","description":"Chame essa tool sempre que for solicitada alguma ação envolvendo emails","workflowId":{"__rl":true,"value":"pQxf0nE6sBswpmgz","mode":"list","cachedResultName":"Agente_De_Contatos (1)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[780,540],"id":"f8108643-48f0-4e8e-9695-51f2815cffd3","name":"Agente_emails"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[900,500],"id":"e3c8d2af-cfa7-41b1-b0d6-dd9276ce5ead","name":"Think"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Telegram","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"GPT 4.1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[]]},"AI Agent":{"main":[[{"node":"Telegram1","type":"main","index":0}]]},"Agente_calendario":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Agente_contatos":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Agente_emails":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a835997b-f40c-4f7c-b33f-a7328bdb323b","triggerCount":1,"tags":[]}