agente_de_contatos_h-ibnspMwwee5OSX0y.json
{"createdAt":"2025-05-06T21:31:28.308Z","updatedAt":"2025-05-07T22:56:04.000Z","id":"ibnspMwwee5OSX0y","name":"Agente_De_Contatos_H","active":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"6701106c-6d16-415c-9d26-0cc68500125e","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[0,0]},{"parameters":{"promptType":"define","text":"=Siga as regras abaixo:\n\n1. Sempre que receber uma mensagem com algum nome, ou email ou algum meio de contato, devolva o nome e email dessa pessoa. Primeiro chame a tool \"buscar_contato\" para certificar-se de nao cometer erros e sempre passar o contato correto\n\n2. Sempre que receber um pedido para adicionar um contato a lista, primeiro chame a tool \"criar_contato\" para adicionar um contato a tabela corretamente\n\nAo responder, seja direto, claro e objetivo. Use linguagem natural, mas precisa. Mantenha a consistência com os dados retornados do calendário.\n\nSe faltar qualquer informação essencial como o nome, solicite ao usuário antes de prosseguir.\n\nO pedido é:\n{{ $json.query }}\n\nO dia de hoje e:\n{{ $now }}","options":{"systemMessage":"Você é um assitente para registros de contatos\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[220,0],"id":"c63b5218-d69e-4fbc-9ba1-8f04a90dc394","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[140,220],"id":"54974ef6-05ac-4fb9-a891-abc8cf4155cb","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"fUIOsGVnCLFrm3t8","name":"OpenAi 2"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"3"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[260,340],"id":"0c359b43-32f7-4ce7-91f4-1dbe742bb560","name":"Simple Memory"},{"parameters":{"descriptionType":"manual","toolDescription":"Chame essa tool sempre que desejar listar os contatos na tabela de contatos","documentId":{"__rl":true,"value":"1wcn91XEf0rsB5aW3BitYDlGLx8mAxIZKpYP2xDP-g64","mode":"list","cachedResultName":"Contatos_ai","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wcn91XEf0rsB5aW3BitYDlGLx8mAxIZKpYP2xDP-g64/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wcn91XEf0rsB5aW3BitYDlGLx8mAxIZKpYP2xDP-g64/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[400,340],"id":"50ee5549-baee-4451-a62f-18e0cc13cbb2","name":"buscar_contato","credentials":{"googleSheetsOAuth2Api":{"id":"cdM9gcI2pxWfiYoz","name":"Google Sheets account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Chame essa tool sempre que for solicitado criar um contato","operation":"append","documentId":{"__rl":true,"value":"1wcn91XEf0rsB5aW3BitYDlGLx8mAxIZKpYP2xDP-g64","mode":"list","cachedResultName":"Contatos_ai","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wcn91XEf0rsB5aW3BitYDlGLx8mAxIZKpYP2xDP-g64/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sheet', ``, 'string') }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"nome ":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome_', ``, 'string') }}","telefone":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefone', ``, 'string') }}","email ":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email_', ``, 'string') }}","eventos":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('eventos', ``, 'string') }}","Data e Hora":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Data_e_Hora', ``, 'string') }}","categoria ":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('categoria_', ``, 'string') }}","Ativo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Ativo', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"nome ","displayName":"nome ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email ","displayName":"email ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"eventos","displayName":"eventos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Data e Hora","displayName":"Data e Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"categoria ","displayName":"categoria ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Ativo","displayName":"Ativo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[520,220],"id":"97273ba0-5094-4cb5-903c-0109931a0ff8","name":"criar_evento","credentials":{"googleSheetsOAuth2Api":{"id":"cdM9gcI2pxWfiYoz","name":"Google Sheets account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"buscar_contato":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"criar_evento":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c41a1f33-d9b1-410f-b65e-1baa54ed6c07","triggerCount":0,"tags":[]}