agente_de_emails_h-TUJtPVR1bUVOrUDS.json
{"createdAt":"2025-05-06T21:32:44.830Z","updatedAt":"2025-05-07T22:42:42.000Z","id":"TUJtPVR1bUVOrUDS","name":"Agente_De_Emails_H","active":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"cc51f049-4f75-4ce7-817a-c4e4a2fd4581","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-60,0]},{"parameters":{"promptType":"define","text":"=Siga as regras abaixo:\n\n1. Sempre que receber uma solicitação para **enviar um email**, primeiro chame a tool \"enviar_email\" para enviar o email corretamente\n\n2. Sempre que receber uma solicitação para **deletar um email**, **busque o email correspondente primeiro usando a tool \"listar_emails\"** com base no **sender label, conteudo, ID**.\n\n3. Para **consultas** de emails (como \"o que tem hoje?\" ou \"me diga meus emails da manhã\"), use o recurso de busca normalmente e liste os emails encontrados com horário, assunto e corpo.\n\nAo responder, seja direto, claro e objetivo. Use linguagem natural, mas precisa. Mantenha a consistência com os dados retornados do calendário.\n\nSe faltar qualquer informação essencial, solicite ao usuário antes de prosseguir.\n\nO pedido é:\n{{ $json.query }}\n\nO dia de Hoje é: {{ $now }}","options":{"systemMessage":"Você é um agente responsável pelas ações usando email"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[160,0],"id":"18d13268-8a7f-4463-aef2-0fd9aee3e848","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"gpt-4"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[60,200],"id":"430d0fc8-25ab-4d2a-8f1a-8170f3ac435a","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"fUIOsGVnCLFrm3t8","name":"OpenAi 2"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"4"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[160,320],"id":"893cc445-426c-4642-a3fd-8bdf4df29e5f","name":"Simple Memory"},{"parameters":{"operation":"getAll","limit":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}","simple":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}","filters":{"labelIds":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Label_Names_or_IDs', ``, 'string') }}"},"options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[440,320],"id":"f73a5e0c-cd9e-4a6b-84e9-a5291b089bea","name":"listar_emails","webhookId":"81343070-a2d2-4806-bd43-ebac1136090f","credentials":{"gmailOAuth2":{"id":"pQFUZI8GQJPNLiTc","name":"Gmail account 2"}}},{"parameters":{"sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[300,400],"id":"59afd242-4285-4920-9a9b-c7a6acd5b669","name":"enviar_emails","webhookId":"162a003d-86a7-4a78-b04b-b9c973f0ac8c","credentials":{"gmailOAuth2":{"id":"pQFUZI8GQJPNLiTc","name":"Gmail account 2"}}},{"parameters":{"operation":"delete","messageId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[540,200],"id":"48476f69-0f33-4678-add7-89fd22f399b8","name":"deletar_emails","webhookId":"b01301f1-ea31-4aaf-a2a9-4b5487b6f863","credentials":{"gmailOAuth2":{"id":"pQFUZI8GQJPNLiTc","name":"Gmail account 2"}}},{"parameters":{"operation":"getAll","returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}","filters":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[660,120],"id":"28450be5-2ee4-4430-9888-3ba01b2c0f7a","name":"Resposta de emails","webhookId":"88846bd7-20da-4259-a3ca-395e86dd4d0c","credentials":{"gmailOAuth2":{"id":"pQFUZI8GQJPNLiTc","name":"Gmail account 2"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"listar_emails":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"enviar_emails":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"deletar_emails":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Resposta de emails":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Sao_Paulo","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"eb42292f-9d80-484e-8540-21a59140b209","triggerCount":0,"tags":[]}