agente-de-atendimneto-5HJgxvd4n6nzKWb7.json
{"createdAt":"2025-05-17T19:05:27.646Z","updatedAt":"2025-05-17T19:44:54.000Z","id":"5HJgxvd4n6nzKWb7","name":"Agente de atendimneto","active":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"34bf90e7-c120-4130-aa4c-1b878be043a4","name":"output","value":"={{ $json.output.split('\\n\\n') }}","type":"array"}]},"options":{}},"id":"98f54f95-e7a9-4c44-bf5c-19288a84cbf4","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2540,2400]},{"parameters":{"fieldToSplitOut":"output","options":{}},"id":"d336f8aa-aba8-4fa0-8926-9f3ad477d99f","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2780,2400]},{"parameters":{"options":{}},"id":"1efcf10a-00df-40d7-8ff4-d7da7bcc49be","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3040,2400]},{"parameters":{"amount":3},"id":"17af798f-a5ba-49f2-8fef-f7dd1f6d17f2","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3840,2200],"webhookId":"6c2338aa-0c32-42cd-ae89-47df40e02ebe"},{"parameters":{"content":"## FRAGMENTA","height":320,"width":1047,"color":4},"id":"a5eaff5e-846d-428c-bf41-92a98454bf69","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2420,2300],"disabled":true},{"parameters":{"httpMethod":"POST","path":"WHATSAPP-IA","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2660,620],"id":"f77f4636-39a8-40e3-b7c5-013904aef56a","name":"Webhook1","webhookId":"192bf52d-d776-4fd4-8192-ed6f623efd46"},{"parameters":{"assignments":{"assignments":[{"id":"db5cfe0a-7f43-4a61-8b27-bfd3a95deb8d","name":"messages","value":"={{ $('OBTEM JANELA ATUALIZADA').item.json.messages.join('\\n\\n') }}","type":"string"}]},"options":{}},"id":"de5b7b9a-f315-47e2-ad2e-3d6883b54f25","name":"messages","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2140,760]},{"parameters":{"amount":2,"unit":"minutes"},"id":"7f09e1a0-5e7a-45ef-b4b9-3af5d74157c3","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1560,760],"webhookId":"be4948f8-0405-461e-9d60-bd064bb395b2"},{"parameters":{"assignments":{"assignments":[{"id":"8f16b1bf-1a3e-4029-8d7a-1bccb919ee43","name":"message","value":"={{ $json.body.data.key.remoteJid }}{{ $json.text }}{{ $json.MENSAGEM }}","type":"string"}]},"options":{}},"id":"4dd35f36-f46d-467e-93d0-8f350ace5658","name":"normalizacao","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[580,600]},{"parameters":{"content":"## Concatena MENSAGENS ","height":591.4230377003975,"width":1923.748244358495,"color":3},"id":"c33c1e5c-3304-4f5f-89f0-22521e1be54b","name":"Sticky Note13","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[420,340]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('DADOS').item.json.MENSAGEM }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"bb857786-5d5b-41ba-9c7d-39cbff7f6b17"}],"combinator":"and"},"renameOutput":true,"outputKey":"TEXTO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"135e1746-7700-4892-8b91-27b26ab24c9a","leftValue":"={{ $('DADOS').item.json.AUDIO }}","rightValue":"audioMessage","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"AUDIO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b8c262ad-b0d6-4707-95de-9354734da292","leftValue":"=","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IMAGEM"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-60,620],"id":"06ee0bd1-f08a-4243-b897-33f004b36ed9","name":"TIPO DE MSG"},{"parameters":{"content":"## ÁUDIO","height":260,"width":560,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[420,980],"id":"0640c991-78dd-4731-8cf3-71284442ed9c","name":"Sticky Note12"},{"parameters":{"content":"## Especialista BotConversa | Primeira etapa","height":220,"width":520},"type":"n8n-nodes-base.stickyNote","position":[920,2420],"typeVersion":1,"id":"33298c34-e978-4b4d-919c-6976752c6565","name":"Sticky Note"},{"parameters":{"amount":3},"id":"3cb731a1-4745-4e18-b765-62d2d464205c","name":"Wait2","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3740,2780],"webhookId":"6c2338aa-0c32-42cd-ae89-47df40e02ebe"},{"parameters":{"content":"## ENVIA AUDIO","height":320,"width":1027,"color":4},"id":"ef060b43-a9ed-4b35-b128-a2c29e43460f","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2940,2680],"disabled":true},{"parameters":{"documentId":{"__rl":true,"value":"1m9iwVm4Pk2aAw02JKak7KEvzVkNJD73XLA5UGJ1SpRg","mode":"list","cachedResultName":"Coppini Empreendimentos Digitais","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1m9iwVm4Pk2aAw02JKak7KEvzVkNJD73XLA5UGJ1SpRg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":748525467,"mode":"list","cachedResultName":"FAQ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1m9iwVm4Pk2aAw02JKak7KEvzVkNJD73XLA5UGJ1SpRg/edit#gid=748525467"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[1280,2820],"id":"4a6e608e-111b-4efe-9276-a36428c90648","name":"TOOL FAQ","credentials":{"googleSheetsOAuth2Api":{"id":"cdM9gcI2pxWfiYoz","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"={{ $('Webhook1').item.json.body.server_url }}/message/sendText/{{ $('Webhook1').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook1').item.json.body.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\"delay\": 5000,   \n\"number\": \"{{ $('Webhook1').item.json.body.data.key.remoteJid }}\",\n    \"text\": \"{{ $json.output.replaceAll(/[\\n\"]/g, \"\\\\n\") }}\"\n}","options":{"redirect":{"redirect":{}}}},"id":"f97bc407-297e-4976-8f69-e471389cda37","name":"MSG - Pergunta melhor forma de contato","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1180,2100]},{"parameters":{"assignments":{"assignments":[{"id":"27eedd6b-cf8a-4a05-bb1a-7283012a5f80","name":"MSG","value":"={{ $('messages').item.json.messages }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-40,2180],"id":"d77e73e0-fbbf-4b11-bf44-e6ce1f4aec3f","name":"MSG"},{"parameters":{"assignments":{"assignments":[{"id":"186f5d2e-ba4d-4634-87d1-a7eb4bf58b81","name":"Push name","value":"={{ $json.body.chatName }}","type":"string"},{"id":"a4358389-51d2-4a01-a74a-3daac311f2b7","name":"Number","value":"={{ $json.body.phone }}","type":"string"},{"id":"0144908a-3e72-4e08-afb5-bfead1c1a25b","name":"ID Instance","value":"=3D68EAFFEABD807659D62E5479B6AFF4","type":"string"},{"id":"82780493-0549-4cdf-9a56-f364fe814b2f","name":"Token client","value":"F8dbe8b62d9e24ac596555912900b46e8S","type":"string"},{"id":"0e8e1048-e922-4736-be67-5e961805d0fc","name":"Token Instance","value":"=C880F0281575EDBC9F46679A","type":"string"},{"id":"8fe3cc86-6cea-4fb3-add9-6af8c9e5803a","name":"MENSAGEM","value":"={{ $json.body.text.message }}","type":"string"},{"id":"e45bda49-c339-4096-ad80-22ba678b9818","name":"TIPO MSG","value":"={{ $json.body.type }}","type":"string"},{"id":"1d350a51-f7a8-444d-86f2-01cc9e9e929d","name":"LEGENDA","value":"=","type":"string"},{"id":"0b3aecb9-1b1f-464a-b477-dc48b4380e7d","name":"Fromme","value":"={{ $json.body.fromMe }}","type":"boolean"},{"id":"201b92b4-6c65-4f31-a927-dad359242065","name":"Mynumber","value":"={{ $json.body.connectedPhone }}","type":"string"},{"id":"d08bd8d4-5c5b-4700-871e-5fa142e34538","name":"AUDIO","value":"={{ $json.body.audio.mimeType }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1980,620],"id":"69f10220-3671-45ac-b4a8-8a876b475887","name":"DADOS"},{"parameters":{"assignments":{"assignments":[{"id":"40192510-4f2a-4a6d-adf7-eaf614a321f3","name":"data","value":"={{ $json.base64 }}","type":"string"}]},"options":{}},"id":"b1a7649c-206b-465c-9fc8-cd4fc4fff6c1","name":"BASE1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[700,1360]},{"parameters":{"method":"=POST","url":"={{ $('Webhook1').item.json.body.server_url }}/chat/getBase64FromMediaMessage/{{ $('Webhook1').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook1').item.json.body.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Webhook1').item.json.body.data.key.id }}\"\n    }\n  },\n  \"convertToMp4\": false\n} ","options":{"redirect":{"redirect":{}}}},"id":"fcd2823c-0a78-433f-916b-991617259403","name":"Coloque o ID da mensagem aqui1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,1360]},{"parameters":{"content":"## IMAGEM","height":260,"width":1140,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[420,1300],"id":"07c30bcd-4ddd-4ea2-9118-40c5f4feb8b4","name":"Sticky Note14"},{"parameters":{},"id":"270d27f4-bad7-4873-b7da-0ba4d9f9d197","name":"NAO FAZ NADA","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1580,360]},{"parameters":{"operation":"push","list":"={{ $('DADOS').item.json.Number }}","messageData":"={{ $json.message }}","tail":true},"id":"46f60abd-41a1-417e-861d-5a1c71734db5","name":"COLOCA MSG NA JANELA","type":"n8n-nodes-base.redis","typeVersion":1,"position":[740,600],"credentials":{"redis":{"id":"CMG5NzZphI7CpP2k","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"messages","key":"={{ $('DADOS').item.json.Number }}","options":{}},"id":"27c9781e-cf06-445f-bf73-87c356909ffa","name":"OBTEM JANELA DO LEAD","type":"n8n-nodes-base.redis","typeVersion":1,"position":[980,600],"credentials":{"redis":{"id":"CMG5NzZphI7CpP2k","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ea56cc87-6a4a-4382-b201-8cd4aa7dbd92","leftValue":"={{ $json.messages.length }}","rightValue":1,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"35f1ba55-cbef-4209-bf09-f8d778dde002","name":"QUANTAS TEM","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1180,600]},{"parameters":{"operation":"get","propertyName":"messages","key":"={{ $('DADOS').item.json.Number }}","options":{}},"id":"b8450b2a-c353-4fac-980f-f15f34b365f3","name":"OBTEM JANELA ATUALIZADA","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1780,760],"credentials":{"redis":{"id":"CMG5NzZphI7CpP2k","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"={{ $('DADOS').item.json.Number }}"},"id":"e809a415-f2d5-4dd6-b817-e42cd9217730","name":"LIMPA JANELA","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1960,760],"retryOnFail":true,"credentials":{"redis":{"id":"CMG5NzZphI7CpP2k","name":"Redis account"}}},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/{{ $('DADOS').item.json['ID Instance'] }}/token/{{ $('DADOS').item.json['Token Instance'] }}/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"client-token","value":"={{ $('DADOS').item.json['Token client'] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('DADOS').item.json.Number }}"},{"name":"message","value":"={{ $json.output }}"}]},"options":{}},"id":"1494a2a7-a075-4780-a7ce-cb8d14dbc7e7","name":"Envia TEXTO | Z-Api","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3640,2200],"retryOnFail":true},{"parameters":{"operation":"delete","key":"=554184586818"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1800,360],"id":"9b5860ff-2d65-4d0b-9089-76ad450a0561","name":"DELETA CHAT","credentials":{"redis":{"id":"CMG5NzZphI7CpP2k","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"d5630a54-9e6e-4db1-a777-cc3d9c5ee041","name":"MENSAGEM","value":"=Mandei uma imagem que contem: {{ $json.text }}\n\nLegenda: {{ $('DADOS').item.json.LEGENDA }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1380,1360],"id":"43d038e6-0b88-4eff-9695-1e7a8b50966b","name":"LEGENDA"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fc56814c-612d-4ac0-a15f-8c141093cdd1","leftValue":"={{ $json.Fromme }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1760,620],"id":"654e8654-d74a-4a1f-bd1b-12ddc3df2822","name":"FROM-ME"},{"parameters":{"operation":"binaryToPropery","destinationKey":"base64","options":{}},"id":"bb7072a2-183c-4fca-912e-46adf884fac5","name":"Extract from File1","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[3280,2780]},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/{{ $('DADOS').item.json['ID Instance'] }}/token/{{ $('DADOS').item.json['Token Instance'] }}/send-audio","sendHeaders":true,"headerParameters":{"parameters":[{"name":"client-token","value":"={{ $('DADOS').item.json['Token client'] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('DADOS').item.json.Number }}"},{"name":"audio","value":"=data:audio/mpeg;base64,{{ $json.base64 }}"},{"name":"delayMessage","value":"7"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3500,2780],"id":"0088241e-1300-4675-a167-9da5ddbb04c5","name":"ENVIA AUDIO | ELEVENLABS"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Escreva a mensagem por extenso para uma IA de Text-to-Speech gere o audio e retorne somente a saida do texto com as instrucoes\nTroque r$ por \"reais\"\n\nNAO ALTERE O CONTEXTO POR NADA! SOMENTE FACA O QUE TE PEDI\n------------------------\n\nRemova os emoticons\nSEMPRE Remova os exclamacoes tambem\nDeixe os ?\nOutuput deve voltar todas as letras em minusculo tambem\n\nSe o texto tiver mais de 3 paragrafos otimize para 3\n\nNunca volte no output \"Mensagem para trascrever\" e afins","role":"system"},{"content":"=MSG para TRASCREVER: {{ $json.output }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[2620,2780],"id":"dd448fd4-aa23-46bb-aeaf-13b6410d0768","name":"TRASCREVENDO","credentials":{"openAiApi":{"id":"hyWmqXktDNchUSuf","name":"OpenAi OFICIAL"}}},{"parameters":{},"type":"n8n-nodes-base.redisTool","typeVersion":1,"position":[880,2820],"id":"7fa38b14-8a70-4d93-8dfb-f705059f92a4","name":"Dicas de uso","credentials":{"redis":{"id":"CMG5NzZphI7CpP2k","name":"Redis account"}}},{"parameters":{},"type":"n8n-nodes-base.redisTool","typeVersion":1,"position":[620,2820],"id":"e724a4fe-67d6-4718-b2ac-23b05edfc3ed","name":"Formas de entrega","credentials":{"redis":{"id":"CMG5NzZphI7CpP2k","name":"Redis account"}}},{"parameters":{"model":"gpt-4o-2024-08-06","options":{}},"id":"c0dcd6e0-d9c9-40cf-9a87-dfbce2af563e","name":"OpenAI Chat Model5","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1020,1580],"typeVersion":1,"credentials":{"openAiApi":{"id":"hyWmqXktDNchUSuf","name":"OpenAi OFICIAL"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"imagem.jpeg","mimeType":"image/jpeg"}},"id":"1313efe6-8fe0-4ba6-991a-8786ebd50440","name":"Convert to File3","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[880,1360]},{"parameters":{"promptType":"define","text":"=Here is an image sent by the user. Describe the image and transcribe any text visible in the image. Put in as much detail as possible. In pt-BR always.","messages":{"messageValues":[{"type":"HumanMessagePromptTemplate","messageType":"imageBinary"}]}},"id":"a120cfd0-1c17-4602-8371-6d9949a37f36","name":"Image Explainer1","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[1060,1360],"typeVersion":1.4},{"parameters":{"url":"={{ $('Webhook1').item.json.body.audio.audioUrl }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,1040],"id":"459be13e-e1b2-4d35-9fa1-2b309b79b1ab","name":"Download Binary"},{"parameters":{"resource":"audio","operation":"transcribe","binaryPropertyName":"=data","options":{}},"id":"45cbb148-4f97-4db0-a797-7ffc09d03fcc","name":"Transcribe Audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[780,1040],"credentials":{"openAiApi":{"id":"hyWmqXktDNchUSuf","name":"OpenAi OFICIAL"}}},{"parameters":{"method":"POST","url":"=https://api.elevenlabs.io/v1/text-to-speech/JYXsr23buIFGJ0Wm3REW","sendHeaders":true,"headerParameters":{"parameters":[{"name":"xi-api-key","value":"=sk_38d6047ac76494b9476d4e4120f7dfe3d6f52ab332440d1a"},{"name":"Content-Type","value":"application/json"},{"name":"delay","value":"2400"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $json.message.content }}"},{"name":"model_id","value":"eleven_turbo_v2_5"},{"name":"similarity_boost","value":"62"},{"name":"stability","value":"88"},{"name":"velocity","value":"0.3"}]},"options":{}},"id":"c9c2741a-cb45-4db1-820a-1e2beb6f036e","name":"Eleven Labs Generate","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3100,2780]},{"parameters":{"descriptionType":"manual","toolDescription":"Chame essa funcao quando o lead quiser saber mais sobre o lucas, ou quando voce achar necessario essa informacao para a copy ou quebra de objecao","operation":"get","propertyName":"sobre_lucas","key":"sobre_lucas","options":{}},"type":"n8n-nodes-base.redisTool","typeVersion":1,"position":[460,2820],"id":"938e06be-7787-46c6-8ffc-4aff9a5ad03e","name":"Sobre lucas","credentials":{"redis":{"id":"CMG5NzZphI7CpP2k","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"49484c35-0ef0-44ec-b653-e6220c473df7","leftValue":"={{ $json.Number }}","rightValue":"554184586818","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"7eb41738-7623-4664-91a1-4df07a2e56b7","leftValue":"={{ $json.Number }}","rightValue":"5551996147331","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"5d991285-050d-4a6f-b10c-0d5a34b07fc2","leftValue":"={{ $json.Number }}","rightValue":"5511961612498","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"256fafcf-6ebb-4d64-aa58-e634cf39ac19","leftValue":"={{ $json.Number }}","rightValue":"5551982801241","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"318849d0-af18-4c99-8414-80b7a9911e2a","leftValue":"={{ $json.Number }}","rightValue":"5528999282371","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"154f1892-cdc2-4691-956e-91459fe4004c","leftValue":"={{ $json.Number }}","rightValue":"554191113762","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1540,620],"id":"ad8c2104-c745-43cc-a31b-edcd4c64721d","name":"NUMERO MEU?1","disabled":true},{"parameters":{"name":"EnviodefotosVideosfeedbacks","description":"Chame essa funcao para fazer envio de imagens videos feedbacks antes e depois, voce pode sugerir ao lead um envio desses, por exemplo:\n\nLead chega Ächa que funciona para minha pele com marcas de expressao na altiura dos olhos?\"\n\nSua resposta \"Claro, quer que eu te envie fotos de antes e depois de algumas pessoas que enfrentaram o mesmo problema que voce?\"\n\nAssim que voce chama essa tool voce envia acima, entao nao precisa mais perguntar se quer que envie novamente! porque a logica é que VOCE ENVIOU ACIMA","workflowId":{"__rl":true,"value":"d2tQTWinXvEkRf40","mode":"list","cachedResultName":"ESPECIALISTA EM IMAGENS | FEEDBACKS | VIDEOS"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Pedido":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Pedido', `Coloque aqui o pedido do lead e qual seria o melhor arquivo para envio para ele! Q o que voce acha que o lead levantou de principal objecao e qual imagem voce quer buscar do BD`, 'string') }}"," Numero do lead":"={{ $('DADOS').item.json.Number }}","Z-api URL":"=https://api.z-api.io/instances/{{ $('DADOS').item.json['ID Instance'] }}/token/{{ $('DADOS').item.json['Token Instance'] }}","Client Token":"={{ $('DADOS').item.json['Token client'] }}"},"matchingColumns":[],"schema":[{"id":" Numero do lead","displayName":" Numero do lead","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Pedido","displayName":"Pedido","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Z-api URL","displayName":"Z-api URL","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Client Token","displayName":"Client Token","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[1420,2820],"id":"517f442b-3024-46ba-8d47-105d5c0c9335","name":"Envio de fotos_Videos_feedbacks"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[60,2820],"id":"e53e09ea-46c9-417b-8786-437a29787f9b","name":"ChatGPT 4.1","credentials":{"openAiApi":{"id":"hyWmqXktDNchUSuf","name":"OpenAi OFICIAL"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[-60,2820],"id":"92574c04-3b56-4675-835a-f68f97b8bd1d","name":"Think"},{"parameters":{"content":"## FAQ","height":220,"width":300,"color":5},"type":"n8n-nodes-base.stickyNote","position":[1240,2740],"typeVersion":1,"id":"c99daf62-61ca-422c-aa0e-d92f0f701a20","name":"Sticky Note1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[760,3620],"id":"db3ca2db-9a6d-43ef-8b48-8fcc220670d9","name":"4.1","credentials":{"openAiApi":{"id":"hyWmqXktDNchUSuf","name":"OpenAi OFICIAL"}}},{"parameters":{"content":"## Memory Long = Summary","height":380,"width":1900},"type":"n8n-nodes-base.stickyNote","position":[200,3360],"typeVersion":1,"id":"a380b745-d008-4168-8048-f9e107bca841","name":"Sticky Note2"},{"parameters":{"operation":"delete","key":"=554191113762-memory-long"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1180,1940],"id":"139a4be2-3ac7-4592-b237-416a1bc5a3d8","name":"Redis2","credentials":{"redis":{"id":"CMG5NzZphI7CpP2k","name":"Redis account"}}},{"parameters":{"operation":"get","key":"={{ $json['numero do lead'] }}-memory-long","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[620,3440],"id":"d1cb7add-20ce-43ac-8f36-967d1ec0c2a9","name":"PEGA O QUE TINHA","credentials":{"redis":{"id":"CMG5NzZphI7CpP2k","name":"Redis account"}}},{"parameters":{"promptType":"define","text":"=O que tinha: {{ $json.propertyName }}\n\nE o que chegou de novo para Colocar: {{ $('VEM DA IA PRINCIPAL | NOVIDADE DO LEAD').item.json['Imput a armazenar'] }}","options":{"systemMessage":"Voce é umA IA especialista em organizar a memoria sobre o lead, eu vou te dar o que tinha e o que agora tem de novo e no seu output deve retornar organizado por markdown e so o que voce organizou, nada alem disso! deixe resumido porem sem tirar coisas essenciais, cada melhoria que voce faz deixa a memoria mais ornizada\n\nRETORNE SOMENTE O SUMMARY"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[880,3440],"id":"46337e7e-ad70-4038-839b-d22537922878","name":"FAZ O SUMMARY ATUALIZADO"},{"parameters":{"operation":"delete","key":"={{ $('VEM DA IA PRINCIPAL | NOVIDADE DO LEAD').item.json['numero do lead'] }}-memory-long"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1220,3440],"id":"e666c894-ac33-4939-baab-36f5b81bb219","name":"DELETA O SUMMARY ANTERIOR","credentials":{"redis":{"id":"CMG5NzZphI7CpP2k","name":"Redis account"}}},{"parameters":{"operation":"push","list":"={{ $('VEM DA IA PRINCIPAL | NOVIDADE DO LEAD').item.json['numero do lead'] }}-memory-long","messageData":"={{ $('FAZ O SUMMARY ATUALIZADO').item.json.output }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1420,3440],"id":"ba2abaec-1a7a-46bf-8cbb-4803a4c540a9","name":"PUBLICA O ATUALIZADO","credentials":{"redis":{"id":"CMG5NzZphI7CpP2k","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"562941ea-d257-42ff-b110-8c1e8b6aa9f2","name":"response","value":"={{ $('FAZ O SUMMARY ATUALIZADO').item.json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1840,3440],"id":"8c988a33-8821-4685-80f7-b24a6d7ef64f","name":"RESPONSE PARA IA PRINCIPAL"},{"parameters":{"workflowInputs":{"values":[{"name":"Imput a armazenar"},{"name":"numero do lead"},{"name":"ID BD"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[360,3440],"id":"7747e9ce-4b0b-4ef0-8a10-5bd27a18ad6f","name":"VEM DA IA PRINCIPAL | NOVIDADE DO LEAD"},{"parameters":{"name":"memoria_longa","description":"Chame essa tool quando quiser lembrar mais coisas sobre o lead, tambem é interesante chama-la para armazenar\n\nEntao chame com o novo dado a armazenar que ele vai voltar com memoria longa sobre o lead\n\nInteressante também armazenar dados do lead como nome, regiao, dores, o que ja usou alguma vez e afins, tudo o que voce achar bom lembrar\n\n(SO ENVIE A NOVA INFORMACAO)\n(SE FOR BUSCAR = COLOQUE SO \"GET\" no Imput a armazenar) ","workflowId":{"__rl":true,"value":"574kE4FO4CbwhdrY","mode":"list","cachedResultName":"AGENT PRINCIPAL  🧠"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Imput a armazenar":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Imput_a_armazenar', `Coloque aqui a informação nova para armazenar sobre o lead detalhando o que voce quer armazenar.`, 'string') }}","numero do lead":"={{ $('DADOS').item.json.Number }}","ID BD":"={{ $('PEGA O LEAD').item.json.id }}"},"matchingColumns":[],"schema":[{"id":"Imput a armazenar","displayName":"Imput a armazenar","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"numero do lead","displayName":"numero do lead","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"ID BD","displayName":"ID BD","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[-280,2820],"id":"e889fefa-d282-4c99-8ae2-afbf9e79bfea","name":"Memory Long"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('DADOS').item.json.Number }}-short-memory2223","contextWindowLength":7},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.4,"position":[-460,2820],"id":"c1e03e55-3a39-498c-b6da-93c916c18c29","name":"Memory Short","credentials":{"redis":{"id":"CMG5NzZphI7CpP2k","name":"Redis account"}}},{"parameters":{"content":"## BotConversa Funil","height":220,"width":280,"color":6},"type":"n8n-nodes-base.stickyNote","position":[1580,2740],"typeVersion":1,"id":"1d8b6312-092a-4245-a3a9-f0c8c5edf508","name":"Sticky Note3"},{"parameters":{"content":"","height":220,"width":760,"color":5},"type":"n8n-nodes-base.stickyNote","position":[560,540],"typeVersion":1,"id":"2b5c289c-c748-43e7-b96a-c89c0f7e794b","name":"Sticky Note4"},{"parameters":{"name":"BOTCONVERSAFUNIL","description":"CHAME essa função para enviar a mídia perfeita de acordo com o funil e etapa que o Lead se encontra no momento, em \"pedido\" você vai colocar a mídia que deve ser enviada ao Lead do jeito que está escrito no PROMPT","workflowId":{"__rl":true,"value":"RxCmpQsajVh5kboe","mode":"list","cachedResultName":"AUDIOS DO FUNIL | BOTCONVERSA | IA"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Pedido":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Pedido', `Coloque aqui o que deve ser enviado ao lead, a midia IDEAl de acordo com a etapa que ele esta, por exemplo \"AUDIO1\" `, 'string') }}"," Numero do lead":"={{ $('DADOS').item.json.Number }}","Z-api URL":"=https://api.z-api.io/instances/{{ $('DADOS').item.json['ID Instance'] }}/token/{{ $('DADOS').item.json['Token Instance'] }}","Client Token":"={{ $('DADOS').item.json['Token client'] }}","ID BD":"={{ $('PEGA O LEAD').item.json.id }}"},"matchingColumns":[],"schema":[{"id":" Numero do lead","displayName":" Numero do lead","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Pedido","displayName":"Pedido","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Z-api URL","displayName":"Z-api URL","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Client Token","displayName":"Client Token","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"ID BD","displayName":"ID BD","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[1680,2820],"id":"3232656a-6bb2-473e-999d-69a708ef3240","name":"BOTCONVERSA FUNIL"},{"parameters":{"databaseId":25,"tableId":512,"limit":1,"additionalOptions":{"search":"={{ $('DADOS').item.json.Number }}"}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2440,1100],"id":"ab3671ca-5de8-4919-aa7f-0874ecc7cd2b","name":"PEGA O LEAD","alwaysOutputData":true,"credentials":{"baserowApi":{"id":"ZjmhEleO3gNw2WHr","name":"Baserow account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"48df121c-438a-4978-b1c4-d6c9472fa136","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2700,1100],"id":"f233696a-80b4-4c8d-b601-7d22dfbb7eab","name":"TEM CADASTRO?"},{"parameters":{"operation":"create","databaseId":25,"tableId":512,"fieldsUi":{"fieldValues":[{"fieldId":4746,"fieldValue":"={{ $('DADOS').item.json.Number }}"},{"fieldId":4745,"fieldValue":"ENVIAR SAUDACAO | Etapa1"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2900,1300],"id":"0edd2b77-c3c4-4666-988a-0f2039e78e81","name":"Baserow","credentials":{"baserowApi":{"id":"ZjmhEleO3gNw2WHr","name":"Baserow account"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3140,1300],"id":"d8bfa1c4-d68d-47b3-9e42-f99e328da1ff","name":"Wait3","webhookId":"760e8aa5-d103-4944-a5e4-54bd1724384c"},{"parameters":{"operation":"update","databaseId":25,"tableId":512,"rowId":"={{ $('VEM DA IA PRINCIPAL | NOVIDADE DO LEAD').item.json['ID BD'] }}","fieldsUi":{"fieldValues":[{"fieldId":4744,"fieldValue":"={{ $('FAZ O SUMMARY ATUALIZADO').item.json.output }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1640,3440],"id":"f75c524b-b851-40d0-ae59-5a41b3cadb2a","name":"Baserow1","credentials":{"baserowApi":{"id":"ZjmhEleO3gNw2WHr","name":"Baserow account"}}},{"parameters":{"content":"## INFOS ADICIONAIS","height":220,"width":760,"color":3},"type":"n8n-nodes-base.stickyNote","position":[240,2740],"typeVersion":1,"id":"2ac92772-3aa0-4e6d-b3e1-30d06f3eb30a","name":"Sticky Note5"},{"parameters":{"content":"## LLMs","height":220,"width":260,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-80,2740],"typeVersion":1,"id":"e6436992-4c11-4a12-b613-80e9e7986602","name":"Sticky Note6"},{"parameters":{"content":"## DEIXA PADRAO text to speech","height":320,"width":367,"color":7},"id":"55114ae7-1592-4c0d-b5c9-132e85a109d8","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2560,2680],"disabled":true},{"parameters":{"content":"## VERIFICA E CRIA CADASTRO","height":520,"width":1020},"type":"n8n-nodes-base.stickyNote","position":[2360,1020],"typeVersion":1,"id":"2fc72f00-0580-4dba-8414-44f512e2bf8b","name":"Sticky Note8"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('VEM DA IA PRINCIPAL | NOVIDADE DO LEAD').item.json['numero do lead'] }}-memory-long-AGENTE2223","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[940,3620],"id":"6ed6d7a7-ebda-4b08-98da-68a32bcfdade","name":"Redis Chat Memory","credentials":{"redis":{"id":"CMG5NzZphI7CpP2k","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"55a19235-88df-4ac0-88b3-33e24fa8a1ba","leftValue":"={{ $json.previousNodeHasLink }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"dd2f042f-039d-4709-a849-82233bb1726d","name":"SE TEM LINK","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3820,2460]},{"parameters":{"jsCode":"// Código revisado para garantir saída adequada no n8n\n\n// Função que verifica se o texto contém um link\nfunction textContainsLink(text) {\n  const linkRegex = /(https?:\\/\\/[\\w\\.-]+(?:\\.[\\w\\.-]+)+[\\w\\-\\._~:\\/?#\\[\\]@!\\$&'\\(\\)\\*\\+,;=.]+)/;\n  return linkRegex.test(text);\n}\n\n// Código para ser usado no n8n\nconst items = $input.all(); // Obtém todos os itens do nó de entrada\nconst output = items.map(item => {\n  const currentNode = item.json;\n  const outputText = currentNode.output;\n  const result = textContainsLink(outputText);\n  return {\n    json: {\n      ...currentNode,\n      previousNodeHasLink: result\n    }\n  };\n});\n\nreturn output.length > 0 ? output : [{ json: { message: \"No output generated\" } }]; // Garante que sempre haja saída\n"},"id":"c2e19c63-481f-494b-ba7f-4ab8cc8a35e4","name":"VERIFICA SE TEM LINK","type":"n8n-nodes-base.code","typeVersion":2,"position":[3640,2460]},{"parameters":{"content":"## VERIFICA SE TEM LINK","height":220,"width":440},"type":"n8n-nodes-base.stickyNote","position":[3560,2400],"typeVersion":1,"id":"45d2731f-016a-401b-a0ed-03219c59ef32","name":"Sticky Note9"},{"parameters":{"content":"## ENVIO DE TEXTO","height":220,"width":447,"color":7},"id":"5b4a8eec-c59b-4c54-a5c5-ef0afd449797","name":"Sticky Note16","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3560,2140],"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"61b329f9-e79c-44e3-ade6-a3a8d53162b8","leftValue":"={{ Math.floor(Math.random() * 2) + 1 }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3300,2420],"id":"0485b0cc-123e-4aac-892e-c0b6d631fa61","name":"Aleatório"},{"parameters":{"content":"","height":180,"width":150,"color":7},"id":"b505ce48-84de-456b-bccd-b2cac3501480","name":"Sticky Note17","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3400,2500],"disabled":true},{"parameters":{"operation":"update","databaseId":25,"tableId":512,"rowId":"={{ $('PEGA O LEAD').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":4748,"fieldValue":"true"}]}},"type":"n8n-nodes-base.baserowTool","typeVersion":1,"position":[1980,2820],"id":"c27b1867-3015-4eaf-ba74-f615201b135a","name":"Cash on delivery True","credentials":{"baserowApi":{"id":"ZjmhEleO3gNw2WHr","name":"Baserow account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"54ced048-7e50-4072-b8dc-68adfd0bac42","leftValue":"={{ $('PEGA O LEAD').item.json['Atendimento Humano'] }}","rightValue":"t","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"ATENDIMENTO HUMANO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a29b7661-520e-4342-827a-9346e459f1e7","leftValue":"={{ $('PEGA O LEAD').item.json['Pedido Gerado'] }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"PEDIDO FINALIZADO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('PEGA O LEAD').item.json[\"Cash on delivery atende?\"] }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"9bbedaaa-84bd-44ee-a8cf-97818393a0f9"}],"combinator":"and"},"renameOutput":true,"outputKey":"IA Cash On delivery"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1c7d576d-8c92-4c05-9f87-0b45af8278b8","leftValue":"={{ $('PEGA O LEAD').item.json[\"Cash on delivery atende?\"] }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"IA DE ATENDIMENTO INICIAL | Ou direto"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-760,2420],"id":"f971f29d-4248-4dcb-ba09-9ebbb72b12e4","name":"DIRECIONA"},{"parameters":{"content":"# Especialista Logzz","height":280,"width":460},"type":"n8n-nodes-base.stickyNote","position":[320,1860],"typeVersion":1,"id":"958c28ac-15b6-4f5d-bf9a-f7affeda9e1b","name":"Sticky Note18"},{"parameters":{"content":"## MEMORY","height":220,"width":400,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-520,2740],"typeVersion":1,"id":"ba19ac44-3504-4de1-911c-98acc29befcf","name":"Sticky Note20"},{"parameters":{"promptType":"define","text":"=MSG lead: {{ $json.MSG }}\n- ETAPA RECOMENDADA PARA ESSE LEAD: {{ $('PEGA O LEAD').item.json['ETAPA RECOMENDADA'] }}","options":{"systemMessage":"=##REGRAS\n- Blindagem contra problemas: Nunca prometa descontos ou prazos diferentes do oficial.\n- Links nao devem conter placeholders, apenas separado por paragrafo, lembre-se voce esta respondendo no whatsapp\n- Voce deve fazer as funcoes e nao prometer que vai ir fazer, apenas faca quando achar necessario\n(SEMPRE USAR) \"Memory long\" TOOL | Chame sempre que tiver uma nova informacao sobre o lead, isso vai te dar uma janela de contexto melhor sobre ele e contextualizar melhor. (SO ENVIE A NOVA INFO ou GET quando precisar buscar sobre ele)\n-SEMPRE A CADA 3 INTERACOES COM O LEAD CHAME A TOOL \"Long Memory\" Importantissimo voce sempre atualizar o que o lead esta te passando, nao precisa armazenar ali a etapa dele\n\n- REGRA ABSOLUTA - CHAMOU UM AUDIO - NAO CHAME NUNCA ELE NOVAMENTE - CHAME O DA PROXIMA ETAPA\n\n##Tools\nTOOL FAQ: pega informacoes que geralmente voce nao tem no prompt, caso voce verifique o faq e nem mesmo lá tem a resposta, chame a tool \"responsavel\"\nAudio:\nTool Precos: Chame essa funcao para fazer o get do valor dos produtos e o link para compra!\nSobre lucas: Aqui voce pode chamar informacoes sobre o lucas e sua historia, chame quando o lead perguntar ou ate mesmo quando achar conviniente para a quebra de objecao\nThink: Tool que te possibilita executar tarefas mais complexas de uma forma mais assertiva\nCash on delivery: Para obter se a regiao do lead da para pagar na hora com o motoboy, essa tool obtem as regioes que atendem | Mas primeiro voce tem que saber a regiao que o lead esta para pesquisar.\nBOTCONVERSA FUNIL: Nessa Tool voce vai chamar com o pedido do que deve ser enviado ao lead e vai retornar o que enviou, coloque no \"pedido\" a midia de acordo com a etapa por exemplo \"AUDIO1\"\n\n\n\n⸻\n\n##PERSONA\nVocê é um Lucas Coppini treinado para atender leads no WhatsApp, vindos de anúncios de produtos de saude bem-estar e dermocosmeticos. Seu objetivo principal é conduzir o lead até a compra, garantindo um atendimento ágil, educado e eficiente. (Existe a Tool de \"Sobre lucas\" se quiser mais infos sobre voce)\n\nInstagram: https://lp.saudemilenarbrasil.com/instagramsaudmilenar\n\nmeu tiktok: https://www.tiktok.com/@lucascoppini/video/7441316718540049719?q=xorugas&t=1732752016918\n\n⸻\n\n##INSTRUÇÕES\n\n- Respostas curtas e diretas! Nada de textos longos.\n- Linguagem amigável e acolhedora, sem ser exageradamente informal. Use palavras como “querida” \"querido\" em vez de termos comprometedores como “amor” ou “linda”.\n- Evite enrolação. Seja objetivo, mas sempre educado e simpático.\n- Sempre foque nos benefícios do produto antes de passar preço.\n- Você é um assistente virtual e não pode tomar decisões como fornecer descontos, garantias extras ou promessas de entrega fora do padrão. Se a cliente solicitar algo incomum, encaminhe para um atendente humano.\n- Seu objetivo principal\n 1.\tConverter leads em clientes pagantes.\n 2.\tAcompanhar pedidos e fornecer suporte sobre envios.\n 3.\tIdentificar leads super interessados e sinalizá-los para atendimento humano.\n 4.\tManter um atendimento fluído, educado e persuasivo, evitando perder clientes por demora ou falta de clareza.\n- Exemplo de saudação inicial:\n“Oi, [Nome do lead]! Tudo bem? Vi que você se interessou no [Nome do Produto]! Me conta, o que mais te chamou atenção nele?”\n- Persuasão PESADA: Use marketing agressivo para aumentar as conversoes.\n⸻\n\n##PRODUTOS QUE TEMOS:\n- Xô Rugas Serum\n- Xô Rugas Sublingual\n- Fosferina\n- Íonvita é o nome atualizado do Glycontrol, pois eu tive que trocar o nome por conta de registro de marca\n- Cellufix\n\n⸻\n## Informacoes do lead\nNome do whatsapp: {{ $('DADOS').item.json['Push name'] }}\n(OBS: Confirme se pode chamar assim mesmo)\n\n\n##Script de atendendimento - Quando for midias como AUDIO1 ou IMAGEM1 e por ai vai chame a tool \"BOTCONVERSA FUNIL\" com o pedido de acordo com a etapa\nObs: Pode melhorar ele de acordo com o que o lead vai te passando a ideia é voce guir dessa forma, mas viu que o lead passou uma informacao interessante complemente a parte de texto, SO NAO ALTERE AS MIDIAS\n\nSe o lead quiser que o time ou o lucas agende\n\nEtapa 1\nBora lá, Qual o nome da sua Rua? e seu nome completo\n\nEtapa 3\nQual o numero da casa?\n\nEtapa 4\nTem complemento ou algo que pode ajusar o carteiro a identificar sua casa?\n\nE para confirmar\nesse é seu Cep mesmo? 'CEP que ele passou'\n\nEtapa 6\nConfirmando seu pedido entao\nPedido: -O que o lead passou-\nRua: \"\"\nNumero casa:\"\"\nComplemento: \"\"\nForma de pagamento: \"\"\nCep: ''\n\nPosso já gerar agora? tudo certinho ou tem algo a mais para adicionar? \n\nIF se o lead Confirmar chame a Tool \"Pedido Gerado\"\nEspere ele confirmar\n\n\n\n##COMO DEVE ATUAR NO ATENDIMENTO\n\n- Evite respostas longas. \n*Exemplo de frase errada:*\n“O Xô Rugas Serum é um poderoso rejuvenescedor facial que age profundamente na pele, reduzindo rugas, marcas de expressão e trazendo mais firmeza com poucos dias de uso.”\n*Frase correta:*\n“Ele ajuda a suavizar rugas e deixar a pele mais firme! Você busca um efeito mais imediato ou de longo prazo?”\n\n- Nunca entregue o preço de cara. Sempre gere valor antes.\n\n- Se a cliente não quiser enrolação, passe o preço direto. Mas se puder, pergunte antes:\n“Claro! Mas antes de te passar o valor, posso te contar rapidinho por que esse produto é tão amado?”\n\n⸻\n\n##COMPORTAMENTO EM INTERAÇÕES ESPECÍFICAS\n\n1. Quando a pessoa diz que não teve resultado\nPergunte com cuidado:\n“Entendo, querida! Você usou certinho todos os dias? Me conta como está aplicando!”\n\n\n2. Cliente reclamando de juros\nMostre alternativa:\n“Os juros são da plataforma de pagamento, querida. Mas se quiser, no Pix sai sem acréscimo! 💕”\n\n\n3. Identificar leads super interessados para fechamento humano\nSe a cliente está muito empolgada, mas não comprou ainda:\nColocar TAG de ‘Lead Quente’ e direcionar para uma atendente.\n\n4. Confirmar se o cliente fez o pedido\nEvite perguntas abertas. Seja objetiva:\n“Você já finalizou seu pedido ou quer ajuda pra garantir o seu agora?”\n\n5. Identificar leads que querem preço direto\nSe insistir, passe o preço. Se puder, gere valor antes:\n“O preço é R$XXX. Mas te garanto, vale cada centavo! Quer garantir o seu agora?”\n\n⸻\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[420,1960],"id":"09d33c9a-df65-4d4d-b22b-70b966ad9bda","name":"ESPECIALISTA EM LOGzz"},{"parameters":{"promptType":"define","text":"=MSG lead: {{ $json.MSG }}\n- ETAPA RECOMENDADA PARA ESSE LEAD: {{ $('PEGA O LEAD').item.json['ETAPA RECOMENDADA'] }}","options":{"systemMessage":"=##REGRAS\n- Blindagem contra problemas: Nunca prometa descontos ou prazos diferentes do oficial.\n- Links nao devem conter placeholders, apenas separado por paragrafo, lembre-se voce esta respondendo no whatsapp\n- Voce deve fazer as funcoes e nao prometer que vai ir fazer, apenas faca quando achar necessario\n(SEMPRE USAR) \"Memory long\" TOOL | Chame sempre que tiver uma nova informacao sobre o lead, isso vai te dar uma janela de contexto melhor sobre ele e contextualizar melhor. (SO ENVIE A NOVA INFO ou GET quando precisar buscar sobre ele)\n-SEMPRE A CADA 3 INTERACOES COM O LEAD CHAME A TOOL \"Long Memory\" Importantissimo voce sempre atualizar o que o lead esta te passando, nao precisa armazenar ali a etapa dele\n- Se o lead estiver ansioso para o preco nao precisa seguir a etapa do funil, pode agregar valor e mandar o preco direto\n- Nao seja repetitiva\n\n- REGRA ABSOLUTA - CHAMOU UM AUDIO - NAO CHAME NUNCA ELE NOVAMENTE - CHAME O DA PROXIMA ETAPA\n\n##Tools\nTOOL FAQ: pega informacoes que geralmente voce nao tem no prompt, caso voce verifique o faq e nem mesmo lá tem a resposta, chame a tool \"responsavel\"\nAudio:\nTool Precos: Chame essa funcao para fazer o get do valor dos produtos e o link para compra!\nSobre lucas: Aqui voce pode chamar informacoes sobre o lucas e sua historia, chame quando o lead perguntar ou ate mesmo quando achar conviniente para a quebra de objecao\nThink: Tool que te possibilita executar tarefas mais complexas de uma forma mais assertiva\nConsulta CEP: Para obter se a regiao do lead da para pagar na hora com o motoboy, essa tool obtem as regioes que atendem | Mas primeiro voce tem que saber a regiao que o lead esta para pesquisar.\nBOTCONVERSA FUNIL: Nessa Tool voce vai chamar com o pedido do que deve ser enviado ao lead e vai retornar o que enviou, coloque no \"pedido\" a midia de acordo com a etapa por exemplo \"AUDIO1\"\n\n\n\n⸻\n\n##PERSONA\nVocê é um Lucas Coppini treinado para atender leads no WhatsApp, vindos de anúncios de produtos de saude bem-estar e dermocosmeticos. Seu objetivo principal é conduzir o lead até a compra, garantindo um atendimento ágil, educado e eficiente. (Existe a Tool de \"Sobre lucas\" se quiser mais infos sobre voce)\n\nInstagram: https://lp.saudemilenarbrasil.com/instagramsaudmilenar\n\nmeu tiktok: https://www.tiktok.com/@lucascoppini/video/7441316718540049719?q=xorugas&t=1732752016918\n\n⸻\n\n##INSTRUÇÕES\n\n- Respostas curtas e diretas! Nada de textos longos.\n- Linguagem amigável e acolhedora, sem ser exageradamente informal. Use palavras como “querida” \"querido\" em vez de termos comprometedores como “amor” ou “linda”.\n- Evite enrolação. Seja objetivo, mas sempre educado e simpático.\n- Sempre foque nos benefícios do produto antes de passar preço.\n- Você é um assistente virtual e não pode tomar decisões como fornecer descontos, garantias extras ou promessas de entrega fora do padrão. Se a cliente solicitar algo incomum, encaminhe para um atendente humano.\n- Seu objetivo principal\n 1.\tConverter leads em clientes pagantes.\n 2.\tAcompanhar pedidos e fornecer suporte sobre envios.\n 3.\tIdentificar leads super interessados e sinalizá-los para atendimento humano.\n 4.\tManter um atendimento fluído, educado e persuasivo, evitando perder clientes por demora ou falta de clareza.\n- Exemplo de saudação inicial:\n“Oi, [Nome do lead]! Tudo bem? Vi que você se interessou no [Nome do Produto]! Me conta, o que mais te chamou atenção nele?”\n- Persuasão PESADA: Use marketing agressivo para aumentar as conversoes.\n⸻\n\n##PRODUTOS QUE TEMOS:\n- Xô Rugas Serum\n- Xô Rugas Sublingual\n- Fosferina\n- Íonvita é o nome atualizado do Glycontrol, pois eu tive que trocar o nome por conta de registro de marca\n- Cellufix\n\n⸻\n## Informacoes do lead\nNome do whatsapp: {{ $('DADOS').item.json['Push name'] }}\n(OBS: Confirme se pode chamar assim mesmo)\n\n\n##Script de atendendimento - Quando for midias como AUDIO1 ou IMAGEM1 e por ai vai chame a tool \"BOTCONVERSA FUNIL\" com o pedido de acordo com a etapa\nObs: Pode melhorar ele de acordo com o que o lead vai te passando a ideia é voce guir dessa forma, mas viu que o lead passou uma informacao interessante complemente a parte de texto, SO NAO ALTERE AS MIDIAS\n \nETAPA 1 - SAUDACAO EXTREMAMENTE IMPORTANTE\n- Envia \"AUDIO1\"\nMe diz o que te incomoda? E o seu nome para eu salvar seu contato\n\n--------\n\nETAPA 2\n- Envia \"AUDIO2\"\nVocê já faz uso de algum produto ou procedimento [NOME DO LEAD]?\n\n--------\n\nETAPA 3\n- Envia \"AUDIO3\"\nMe diz quanto tempo você se preocupa com isso [NOME DO LEAD]?\n\n--------\n\nETAPA 4\n- Envia \"IMAGEM1\"\nPosso te passar os Valores agora [NOME DO LEAD] [BAter na principal queixa]\n\n--------\n\nETAPA 5\n- Envia \"PRECOS\"\nEsse é o grupo 2 do XoRugas pra voce ficar por dentro de dicas, sorteios, promoções e falar com outros clientes\n\nhttps://chat.whatsapp.com/Bbj6k6w3ZrG75RkffY7E8J\n\nLembrando que o frete é GRÁTIS e voce pode paga na hora da entrega DEPENDENDO DA SUA REGIÃO, 🛵 no dinheiro, pix e débito à vista ou parcelado em até 12x no cartão de crédito.\n\nMe diz qual seu cep e regiao para eu ver se voce consegue pagar na entrega\n\n----------\n\nIF = Caso Regiao pegue Cash on delivery - chame a Tool \"Cash on delivery True\"\n\nIF = Caso nao atenda prossiga funil abaixo\n\n\n\n\n##COMO DEVE ATUAR NO ATENDIMENTO\n\n- Evite respostas longas. \n*Exemplo de frase errada:*\n“O Xô Rugas Serum é um poderoso rejuvenescedor facial que age profundamente na pele, reduzindo rugas, marcas de expressão e trazendo mais firmeza com poucos dias de uso.”\n*Frase correta:*\n“Ele ajuda a suavizar rugas e deixar a pele mais firme! Você busca um efeito mais imediato ou de longo prazo?”\n\n- Nunca entregue o preço de cara. Sempre gere valor antes.\n\n- Se a cliente não quiser enrolação, passe o preço direto. Mas se puder, pergunte antes:\n“Claro! Mas antes de te passar o valor, posso te contar rapidinho por que esse produto é tão amado?”\n\n⸻\n\n##COMPORTAMENTO EM INTERAÇÕES ESPECÍFICAS\n\n1. Quando a pessoa diz que não teve resultado\nPergunte com cuidado:\n“Entendo, querida! Você usou certinho todos os dias? Me conta como está aplicando!”\n\n\n2. Cliente reclamando de juros\nMostre alternativa:\n“Os juros são da plataforma de pagamento, querida. Mas se quiser, no Pix sai sem acréscimo! 💕”\n\n\n3. Identificar leads super interessados para fechamento humano\nSe a cliente está muito empolgada, mas não comprou ainda:\nColocar TAG de ‘Lead Quente’ e direcionar para uma atendente.\n\n4. Confirmar se o cliente fez o pedido\nEvite perguntas abertas. Seja objetiva:\n“Você já finalizou seu pedido ou quer ajuda pra garantir o seu agora?”\n\n5. Identificar leads que querem preço direto\nSe insistir, passe o preço. Se puder, gere valor antes:\n“O preço é R$XXX. Mas te garanto, vale cada centavo! Quer garantir o seu agora?”\n\n⸻\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1020,2480],"id":"4a53ab82-da24-4359-9a6a-4336a749115b","name":"Coppini AI | BotConversa"},{"parameters":{"operation":"delete","key":"=554184586818-memory-long"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-460,340],"id":"673b319c-dfa8-4e54-b21c-278911560b30","name":"DELETA LONG MEMORY","credentials":{"redis":{"id":"CMG5NzZphI7CpP2k","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"=554184586818-short-memory1234"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-220,340],"id":"b8a2f1a2-799e-4934-8ce8-e9167c9e34ae","name":"DELETA SHORT MEMORY","credentials":{"redis":{"id":"CMG5NzZphI7CpP2k","name":"Redis account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-700,340],"id":"f928360b-a01b-4087-9e5e-15a662e4c22a","name":"When clicking ‘Test workflow’"},{"parameters":{"operation":"delete","key":"=554184586818-memory-long-AGENTE1234"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[20,340],"id":"d9870433-a211-4ab7-bbce-02301482d3b4","name":"DELETA SHORT MEMORY1","credentials":{"redis":{"id":"CMG5NzZphI7CpP2k","name":"Redis account"}}},{"parameters":{"url":"https://viacep.com.br/ws/83040346/json/","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"id":"fc88fb1c-6af1-413c-b45f-a5eb13a7edfe","name":"HTTP Request"},{"parameters":{"content":"## MUDA DE IA","height":220,"width":300,"color":5},"type":"n8n-nodes-base.stickyNote","position":[1940,2740],"typeVersion":1,"id":"aa5f07e0-cf37-47ef-b541-bcfc2951434b","name":"Sticky Note21"},{"parameters":{"name":"ConsultaCep","description":"Chame essa funcao para ver se o Cep do lead o pagamento na entrega | Cash on delivery atende","workflowId":{"__rl":true,"value":"gs3S6CaxTQ1y3fG9","mode":"list","cachedResultName":"IA CONSULTA CEP"},"workflowInputs":{"mappingMode":"defineBelow","value":{"CEP CONSULTAR":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('CEP_CONSULTAR', `Coloque aqui o cep que o lead forneceu para saber se aquela regiao atende ou nao`, 'string') }}","URL Z-api":"=https://api.z-api.io/instances/{{ $('DADOS').item.json['ID Instance'] }}/token/{{ $('DADOS').item.json['Token Instance'] }}/send-audio","Token Z-api":"={{ $('DADOS').item.json['Token client'] }}","Numero Lead":"={{ $('DADOS').item.json.Number }}"},"matchingColumns":["CEP CONSULTAR"],"schema":[{"id":"CEP CONSULTAR","displayName":"CEP CONSULTAR","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"URL Z-api","displayName":"URL Z-api","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Token Z-api","displayName":"Token Z-api","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Numero Lead","displayName":"Numero Lead","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[2140,2820],"id":"a3188682-ef54-48f2-8368-47f8d0ce334b","name":"Consulta CEP"},{"parameters":{"assignments":{"assignments":[{"id":"27eedd6b-cf8a-4a05-bb1a-7283012a5f80","name":"MSG","value":"={{ $('messages').item.json.messages }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-40,1960],"id":"9344285f-d7c9-4b18-a458-4383ff462586","name":"MSG1"},{"parameters":{"name":"PedidoGerado","description":"Chame essa tool quando o lead confirmar todas as informacoes","workflowId":{"__rl":true,"value":"2b8uyLyQx66UhHxW","mode":"list","cachedResultName":"PEDIDO GERADO PELA IA | Avisa grupo de whatsApp"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Complemento":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Complemento', ``, 'string') }}","Rua":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Rua', ``, 'string') }}","Pedido":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Pedido', `Coloque só aqui o kit escolhido, nada alem`, 'string') }}","Numero":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Numero', ``, 'string') }}","Forma de Pagamento":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Forma_de_Pagamento', ``, 'string') }}","ID BD":"={{ $('PEGA O LEAD').item.json.id }}","Numero lead":"={{ $('DADOS').item.json.Number }}","CEP":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('CEP', ``, 'string') }}","Nome":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nome', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Pedido","displayName":"Pedido","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Rua","displayName":"Rua","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Numero","displayName":"Numero","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Complemento","displayName":"Complemento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Forma de Pagamento","displayName":"Forma de Pagamento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"ID BD","displayName":"ID BD","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Numero lead","displayName":"Numero lead","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"CEP","displayName":"CEP","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[840,2260],"id":"d045f8e4-b4cb-45d2-bdbd-7538f2e5315b","name":"Pedido Gerado"},{"parameters":{"descriptionType":"manual","toolDescription":"Chame essa tool para verificar se a Regiao do Lead da para entregar por motoboy | Primeiro voce tem que saber a cidade que o lead esta","operation":"get","propertyName":"sobre_regiao","key":"sobre_regiao_cash_on_delivery","options":{}},"type":"n8n-nodes-base.redisTool","typeVersion":1,"position":[300,2820],"id":"a4d04650-97a6-4c05-b17c-5c76209f0015","name":"Cash on delivery regioes","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"34bf90e7-c120-4130-aa4c-1b878be043a4","name":"output","value":"={{ $json.output.split('\\n\\n') }}","type":"array"}]},"options":{}},"id":"9a6a1024-b4bf-4032-999e-751648bd1d26","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2520,2060]},{"parameters":{"fieldToSplitOut":"output","options":{}},"id":"d4f439c3-f0a4-4010-a9e3-ec3d46d54062","name":"Split Out1","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2760,2060]},{"parameters":{"options":{}},"id":"2ce53b4c-3cbb-4377-a52f-5dffa8435a9b","name":"Loop Over Items1","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3020,2060]},{"parameters":{"amount":3},"id":"76f58b8b-917d-479c-87c7-684c25850597","name":"Wait4","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3840,1940],"webhookId":"6c2338aa-0c32-42cd-ae89-47df40e02ebe"},{"parameters":{"method":"POST","url":"=https://api.z-api.io/instances/{{ $('DADOS').item.json['ID Instance'] }}/token/{{ $('DADOS').item.json['Token Instance'] }}/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"client-token","value":"={{ $('DADOS').item.json['Token client'] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('DADOS').item.json.Number }}"},{"name":"message","value":"={{ $json.output }}"}]},"options":{}},"id":"67a9b3cf-c6bb-4062-a56b-e8fe06324950","name":"Envia TEXTO | Z-Api1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3640,1940],"retryOnFail":true},{"parameters":{"content":"## ENVIO DE TEXTO","height":220,"width":447,"color":7},"id":"c1625262-f9c8-4c64-b373-1722c7ae77fa","name":"Sticky Note22","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3560,1880],"disabled":true},{"parameters":{"content":"## PEDIDO","height":220,"width":340,"color":4},"type":"n8n-nodes-base.stickyNote","position":[780,2180],"typeVersion":1,"id":"21525491-4066-41df-af84-7ee0bf98e201","name":"Sticky Note23"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-40,1740],"id":"8f711d23-b067-407d-b486-0c1275d95a37","name":"PEDIDO FINALIZADO"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fc56814c-612d-4ac0-a15f-8c141093cdd1","leftValue":"={{ $json.Fromme }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"268d8c93-78ea-46a4-8980-784004bca203","leftValue":"={{ $('Webhook1').item.json.body.text.message }}","rightValue":"👍","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1440,860],"id":"f1db591d-a132-49d3-8161-f7b6b09f3fb8","name":"FROM-ME1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e5cb6bba-28c2-40f7-a575-f491b9e49d75","leftValue":"={{ $('DADOS').item.json.Number }}","rightValue":"-group","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1220,860],"id":"ea5cef2d-81cf-4829-98cb-e4668d13130b","name":"GRUPO?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e5cb6bba-28c2-40f7-a575-f491b9e49d75","leftValue":"={{ $('DADOS').item.json.Number }}","rightValue":"-group","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1220,620],"id":"d4b9f7fb-ce27-42f0-b5e1-febfe513ffb7","name":"GRUPO?1"},{"parameters":{"databaseId":25,"tableId":512,"limit":1,"additionalOptions":{"search":"={{ $('DADOS').item.json.Number }}"}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-2100,1180],"id":"9bdac272-0a93-4404-ad94-c3523f15002b","name":"PEGA O LEAD1","alwaysOutputData":true,"credentials":{"baserowApi":{"id":"ZjmhEleO3gNw2WHr","name":"Baserow account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"48df121c-438a-4978-b1c4-d6c9472fa136","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1940,1180],"id":"570371a0-94be-422b-bd7f-ff86e969e928","name":"TEM CADASTRO?1"},{"parameters":{"operation":"create","databaseId":25,"tableId":512,"fieldsUi":{"fieldValues":[{"fieldId":4746,"fieldValue":"={{ $('DADOS').item.json.Number }}"},{"fieldId":4745,"fieldValue":"ENVIAR SAUDACAO | Etapa1"},{"fieldId":4751,"fieldValue":"true"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-1700,1440],"id":"227e4341-c0dd-4052-bfeb-0281f1273f8a","name":"Baserow2","credentials":{"baserowApi":{"id":"ZjmhEleO3gNw2WHr","name":"Baserow account"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1300,1440],"id":"47ddd2de-9a5c-4a5a-994d-569d88cecb26","name":"Wait5","webhookId":"760e8aa5-d103-4944-a5e4-54bd1724384c"},{"parameters":{"content":"## intervenção Humana ","height":560,"width":1060},"type":"n8n-nodes-base.stickyNote","position":[-2140,1080],"typeVersion":1,"id":"8a7d86dc-dc0a-4767-956e-e0c24f63e413","name":"Sticky Note24"},{"parameters":{"operation":"update","databaseId":25,"tableId":512,"rowId":"={{ $('PEGA O LEAD1').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":4751,"fieldValue":"true"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-1320,1260],"id":"bb5901b6-5830-4250-b9d8-b82c3a9e433f","name":"Baserow3","credentials":{"baserowApi":{"id":"ZjmhEleO3gNw2WHr","name":"Baserow account"}}},{"parameters":{"content":"## FRAGMENTA","height":320,"width":1067,"color":4},"id":"2aa1c2e5-9c47-40e5-bede-e8c199179239","name":"Sticky Note25","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2400,1960],"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ad50ad12-3b92-44bc-aab8-f86a358f7695","leftValue":"={{ $('PEGA O LEAD1').item.json['Atendimento Humano'] }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1700,1120],"id":"127cce75-abf8-445e-9b27-04f5d0c73394","name":"JA TA ATENDIMENTO HUMANO?"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1320,1100],"id":"bc84845f-ad22-4157-b0e9-4f0666dd9dbd","name":"No Operation, do nothing"},{"parameters":{"name":"precos","description":"Chame essa função quando quiser enviar uma imagem dos precos dos produtos","workflowId":{"__rl":true,"value":"LduSq16JXN4f8KJs","mode":"list","cachedResultName":"PRECOS MANDADO PELA IA"},"workflowInputs":{"mappingMode":"defineBelow","value":{" Numero do lead":"={{ $('DADOS').item.json.Number }}","Z-api URL":"=https://api.z-api.io/instances/{{ $('DADOS').item.json['ID Instance'] }}/token/{{ $('DADOS').item.json['Token Instance'] }}","Client Token":"={{ $('DADOS').item.json['Token client'] }}","ID BD":"={{ $('PEGA O LEAD').item.json.id }}"},"matchingColumns":[],"schema":[{"id":" Numero do lead","displayName":" Numero do lead","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Pedido","displayName":"Pedido","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"Z-api URL","displayName":"Z-api URL","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Client Token","displayName":"Client Token","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"ID BD","displayName":"ID BD","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[1880,2580],"id":"be8f9651-af46-46f1-9efc-96e49ae6c6fb","name":"PRECOS"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-40,1540],"id":"f95949d5-9389-4781-8954-7d2c91ce051f","name":"Atendimento humano"}],"connections":{"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Aleatório","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"DADOS","type":"main","index":0}]]},"messages":{"main":[[{"node":"PEGA O LEAD","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"OBTEM JANELA ATUALIZADA","type":"main","index":0}]]},"normalizacao":{"main":[[{"node":"COLOCA MSG NA JANELA","type":"main","index":0}]]},"TIPO DE MSG":{"main":[[{"node":"normalizacao","type":"main","index":0}],[{"node":"Download Binary","type":"main","index":0}],[{"node":"Coloque o ID da mensagem aqui1","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"TOOL FAQ":{"ai_tool":[[{"node":"Coppini AI | BotConversa","type":"ai_tool","index":0}]]},"MSG":{"main":[[{"node":"Coppini AI | BotConversa","type":"main","index":0}]]},"BASE1":{"main":[[{"node":"Convert to File3","type":"main","index":0}]]},"Coloque o ID da mensagem aqui1":{"main":[[{"node":"BASE1","type":"main","index":0}]]},"COLOCA MSG NA JANELA":{"main":[[{"node":"OBTEM JANELA DO LEAD","type":"main","index":0}]]},"OBTEM JANELA DO LEAD":{"main":[[{"node":"QUANTAS TEM","type":"main","index":0}]]},"QUANTAS TEM":{"main":[[{"node":"NAO FAZ NADA","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"OBTEM JANELA ATUALIZADA":{"main":[[{"node":"LIMPA JANELA","type":"main","index":0}]]},"LIMPA JANELA":{"main":[[{"node":"messages","type":"main","index":0}]]},"Envia TEXTO | Z-Api":{"main":[[{"node":"Wait","type":"main","index":0}]]},"DADOS":{"main":[[{"node":"FROM-ME","type":"main","index":0},{"node":"FROM-ME1","type":"main","index":0}]]},"NAO FAZ NADA":{"main":[[{"node":"DELETA CHAT","type":"main","index":0}]]},"FROM-ME":{"main":[[{"node":"NUMERO MEU?1","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"ENVIA AUDIO | ELEVENLABS","type":"main","index":0}]]},"ENVIA AUDIO | ELEVENLABS":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"TRASCREVENDO":{"main":[[{"node":"Eleven Labs Generate","type":"main","index":0}]]},"Dicas de uso":{"ai_tool":[[{"node":"Coppini AI | BotConversa","type":"ai_tool","index":0},{"node":"ESPECIALISTA EM LOGzz","type":"ai_tool","index":0}]]},"Formas de entrega":{"ai_tool":[[{"node":"Coppini AI | BotConversa","type":"ai_tool","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"Image Explainer1","type":"ai_languageModel","index":0}]]},"Convert to File3":{"main":[[{"node":"Image Explainer1","type":"main","index":0}]]},"Image Explainer1":{"main":[[{"node":"LEGENDA","type":"main","index":0}]]},"LEGENDA":{"main":[[{"node":"normalizacao","type":"main","index":0}]]},"Download Binary":{"main":[[{"node":"Transcribe Audio","type":"main","index":0}]]},"Transcribe Audio":{"main":[[{"node":"normalizacao","type":"main","index":0}]]},"Eleven Labs Generate":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Sobre lucas":{"ai_tool":[[{"node":"Coppini AI | BotConversa","type":"ai_tool","index":0},{"node":"ESPECIALISTA EM LOGzz","type":"ai_tool","index":0}]]},"NUMERO MEU?1":{"main":[[{"node":"GRUPO?1","type":"main","index":0}]]},"Envio de fotos_Videos_feedbacks":{"ai_tool":[[{"node":"Coppini AI | BotConversa","type":"ai_tool","index":0}]]},"ChatGPT 4.1":{"ai_languageModel":[[{"node":"Coppini AI | BotConversa","type":"ai_languageModel","index":0},{"node":"ESPECIALISTA EM LOGzz","type":"ai_languageModel","index":0}]]},"Think":{"ai_tool":[[{"node":"Coppini AI | BotConversa","type":"ai_tool","index":0},{"node":"ESPECIALISTA EM LOGzz","type":"ai_tool","index":0}]]},"4.1":{"ai_languageModel":[[{"node":"FAZ O SUMMARY ATUALIZADO","type":"ai_languageModel","index":0}]]},"PEGA O QUE TINHA":{"main":[[{"node":"FAZ O SUMMARY ATUALIZADO","type":"main","index":0}]]},"FAZ O SUMMARY ATUALIZADO":{"main":[[{"node":"DELETA O SUMMARY ANTERIOR","type":"main","index":0}]]},"DELETA O SUMMARY ANTERIOR":{"main":[[{"node":"PUBLICA O ATUALIZADO","type":"main","index":0}]]},"PUBLICA O ATUALIZADO":{"main":[[{"node":"Baserow1","type":"main","index":0}]]},"VEM DA IA PRINCIPAL | NOVIDADE DO LEAD":{"main":[[{"node":"PEGA O QUE TINHA","type":"main","index":0}]]},"Memory Long":{"ai_tool":[[{"node":"Coppini AI | BotConversa","type":"ai_tool","index":0},{"node":"ESPECIALISTA EM LOGzz","type":"ai_tool","index":0}]]},"Memory Short":{"ai_memory":[[{"node":"Coppini AI | BotConversa","type":"ai_memory","index":0},{"node":"ESPECIALISTA EM LOGzz","type":"ai_memory","index":0}]]},"BOTCONVERSA FUNIL":{"ai_tool":[[{"node":"Coppini AI | BotConversa","type":"ai_tool","index":0}]]},"PEGA O LEAD":{"main":[[{"node":"TEM CADASTRO?","type":"main","index":0}]]},"TEM CADASTRO?":{"main":[[{"node":"DIRECIONA","type":"main","index":0}],[{"node":"Baserow","type":"main","index":0}]]},"Baserow":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"PEGA O LEAD","type":"main","index":0}]]},"Baserow1":{"main":[[{"node":"RESPONSE PARA IA PRINCIPAL","type":"main","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"FAZ O SUMMARY ATUALIZADO","type":"ai_memory","index":0}]]},"VERIFICA SE TEM LINK":{"main":[[{"node":"SE TEM LINK","type":"main","index":0}]]},"SE TEM LINK":{"main":[[{"node":"Envia TEXTO | Z-Api","type":"main","index":0}],[{"node":"TRASCREVENDO","type":"main","index":0}]]},"Aleatório":{"main":[[{"node":"Envia TEXTO | Z-Api","type":"main","index":0}],[{"node":"VERIFICA SE TEM LINK","type":"main","index":0}]]},"Cash on delivery True":{"ai_tool":[[{"node":"Coppini AI | BotConversa","type":"ai_tool","index":0}]]},"DIRECIONA":{"main":[[{"node":"Atendimento humano","type":"main","index":0}],[{"node":"PEDIDO FINALIZADO","type":"main","index":0}],[{"node":"MSG1","type":"main","index":0}],[{"node":"MSG","type":"main","index":0}]]},"ESPECIALISTA EM LOGzz":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Coppini AI | BotConversa":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"DELETA LONG MEMORY":{"main":[[{"node":"DELETA SHORT MEMORY","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"DELETA LONG MEMORY","type":"main","index":0}]]},"DELETA SHORT MEMORY":{"main":[[{"node":"DELETA SHORT MEMORY1","type":"main","index":0}]]},"Consulta CEP":{"ai_tool":[[{"node":"Coppini AI | BotConversa","type":"ai_tool","index":0}]]},"MSG1":{"main":[[{"node":"ESPECIALISTA EM LOGzz","type":"main","index":0}]]},"Pedido Gerado":{"ai_tool":[[{"node":"ESPECIALISTA EM LOGzz","type":"ai_tool","index":0}]]},"Cash on delivery regioes":{"ai_tool":[[{"node":"Coppini AI | BotConversa","type":"ai_tool","index":0}]]},"Edit Fields1":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Envia TEXTO | Z-Api1":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Envia TEXTO | Z-Api1","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"FROM-ME1":{"main":[[{"node":"GRUPO?","type":"main","index":0}]]},"GRUPO?1":{"main":[[{"node":"TIPO DE MSG","type":"main","index":0}]]},"GRUPO?":{"main":[[{"node":"PEGA O LEAD1","type":"main","index":0}]]},"PEGA O LEAD1":{"main":[[{"node":"TEM CADASTRO?1","type":"main","index":0}]]},"TEM CADASTRO?1":{"main":[[{"node":"JA TA ATENDIMENTO HUMANO?","type":"main","index":0}],[{"node":"Baserow2","type":"main","index":0}]]},"Baserow2":{"main":[[{"node":"Wait5","type":"main","index":0}]]},"JA TA ATENDIMENTO HUMANO?":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Baserow3","type":"main","index":0}]]},"PRECOS":{"ai_tool":[[{"node":"Coppini AI | BotConversa","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f2f3f41a-bba0-4959-9230-36726a349c8b","triggerCount":0,"tags":[{"createdAt":"2025-05-17T19:05:02.565Z","updatedAt":"2025-05-17T19:05:02.565Z","id":"4NtQkZw1TCqoBx8x","name":"MGTInc"}]}