agente_de_agenda_h-x0FIBKwipqviFb0r.json
{"createdAt":"2025-05-06T21:31:57.760Z","updatedAt":"2025-05-07T22:42:20.000Z","id":"x0FIBKwipqviFb0r","name":"Agente_De_Agenda_H","active":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-260,0],"id":"45eb1e9e-a6a8-4007-93fb-42394d818e88","name":"When Executed by Another Workflow","disabled":true},{"parameters":{"promptType":"define","text":"=Siga as regras abaixo:\n\n1. Sempre que receber uma solicitação para **criar um evento**, primeiro chame a tool \"buscar_evento\" para certificar-se de que nao há nada marcado para aquele horário\n\n2. Sempre que receber uma solicitação para **deletar um evento**, **busque o evento correspondente primeiro usando a tool \"buscar_evento\"** com base no **nome, data e hora**.\n\n3. Para **consultas** de eventos (como \"o que tem hoje?\" ou \"me diga meus compromissos de amanhã\"), use o recurso de busca normalmente e liste os eventos encontrados com horário, título e descrição.\n\n4. Para sempre que pedir para alterar uma data ou horario de um evento **modificar eventos** para editar o evento como solicitado \n\n\nAo responder, seja direto, claro e objetivo. Use linguagem natural, mas precisa. Mantenha a consistência com os dados retornados do calendário.\n\nSe faltar qualquer informação essencial (como data ou hora), solicite ao usuário antes de prosseguir.\n\nO pedido é:\n{{ $json.query }}\n\nO dia de Hoje é: {{ $now }}","options":{"systemMessage":"Você é um agente de agendamentos muito util e inteligente"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[200,0],"id":"0ed1b32c-9aae-44d6-871f-d148e3b6185d","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[20,240],"id":"7c8d9d68-c7ea-42cc-9eac-b4ddd54143aa","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"fUIOsGVnCLFrm3t8","name":"OpenAi 2"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"1","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[140,360],"id":"2fc68c87-b568-416f-83e6-1433f867c966","name":"Simple Memory"},{"parameters":{"descriptionType":"manual","toolDescription":"Use Essa Tool Semque Que For Buscar Por Eventos","operation":"getAll","calendar":{"__rl":true,"value":"hicaroph@gmail.com","mode":"list","cachedResultName":"hicaroph@gmail.com"},"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}","timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[320,380],"id":"1319854a-aa0b-401b-ba53-2c73a2acd2c2","name":"busca_eventos","credentials":{"googleCalendarOAuth2Api":{"id":"5awK7O380EiDZvaH","name":"Google Calendar account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Chame essa tool sempre que for criar um evento","calendar":{"__rl":true,"value":"hicaroph@gmail.com","mode":"list","cachedResultName":"hicaroph@gmail.com"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","additionalFields":{"attendees":["={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Attendees', `Adicione os participantes aqui`, 'string') }}"],"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', `Aqui vai a descrição do evento`, 'string') }}","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `Aqui vai o título do evento`, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[480,340],"id":"8edb8ca1-4a6d-47be-ad04-a3e8376adcc9","name":"criar_evento","credentials":{"googleCalendarOAuth2Api":{"id":"5awK7O380EiDZvaH","name":"Google Calendar account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Chame essa tool sempre que for requisitado a deleção de um evento","operation":"delete","calendar":{"__rl":true,"value":"hicaroph@gmail.com","mode":"list","cachedResultName":"hicaroph@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[620,240],"id":"2664980d-1fab-47e7-a97c-e18fff052e93","name":"deletar_evento","credentials":{"googleCalendarOAuth2Api":{"id":"5awK7O380EiDZvaH","name":"Google Calendar account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Chame essa tool sempre que for requisitado a modifica de um evento","operation":"update","calendar":{"__rl":true,"value":"hicaroph@gmail.com","mode":"list","cachedResultName":"hicaroph@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","updateFields":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[720,140],"id":"9e485fcf-1792-4d8f-a8ed-9923d264bc21","name":"modificar_evento","credentials":{"googleCalendarOAuth2Api":{"id":"5awK7O380EiDZvaH","name":"Google Calendar account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"busca_eventos":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"criar_evento":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"deletar_evento":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"modificar_evento":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"query":"Cancelar o treino marcado para hoje às 20h com João Santos."}}]},"versionId":"2a7ca9a1-0e7d-4dfe-baaf-96cd75974814","triggerCount":0,"tags":[]}