agente_de_contatos-(1)-pQxf0nE6sBswpmgz.json
{"createdAt":"2025-05-02T01:50:48.273Z","updatedAt":"2025-05-16T20:43:12.000Z","id":"pQxf0nE6sBswpmgz","name":"Agente_De_Contatos (1)","active":false,"nodes":[{"parameters":{"promptType":"define","text":"=Siga as regras abaixo:\n\n1. Sempre que receber uma mensagem com algum nome, ou email ou algum meio de contato, devolva o nome e email dessa pessoa. Primeiro chame a tool \"buscar_contato\" para certificar-se de nao cometer erros e sempre passar o contato correto\n\n2. Sempre que receber um pedido para adicionar um contato a lista, primeiro chame a tool \"criar_contato\" para adicionar um contato a tabela corretamente\n\nAo responder, seja direto, claro e objetivo. Use linguagem natural, mas precisa. Mantenha a consistência com os dados retornados do calendário.\n\nSe faltar qualquer informação essencial como o nome, solicite ao usuário antes de prosseguir.\n\nO pedido é:\n{{ $json.query }}\n\nO dia de hoje e:\n{{ $now }}","options":{"systemMessage":"Você é um assitente para registros de contatos\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[220,0],"id":"882eb72b-4eaa-4654-933a-58ecf00825aa","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[140,220],"id":"1f4b1e66-8870-487d-af45-d0d1010dd201","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"fUIOsGVnCLFrm3t8","name":"OpenAi 2"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"3"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[260,340],"id":"7dc75b35-4334-4635-b247-9d990b90749e","name":"Simple Memory"},{"parameters":{"descriptionType":"manual","toolDescription":"Chame essa tool sempre que desejar listar os contatos na tabela de contatos","documentId":{"__rl":true,"value":"145S3-xLjPeHo4BNY0gX_kK-NDKvmh9D6rh8m6r37oe8","mode":"list","cachedResultName":"Lista De Contatos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/145S3-xLjPeHo4BNY0gX_kK-NDKvmh9D6rh8m6r37oe8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Contatos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/145S3-xLjPeHo4BNY0gX_kK-NDKvmh9D6rh8m6r37oe8/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[400,340],"id":"bb6800d9-04df-47f8-a7f0-1dda5271ab04","name":"buscar_contato","credentials":{"googleSheetsOAuth2Api":{"id":"cdM9gcI2pxWfiYoz","name":"Google Sheets account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Chame essa tool sempre que for solicitado criar um contato","operation":"append","documentId":{"__rl":true,"value":"145S3-xLjPeHo4BNY0gX_kK-NDKvmh9D6rh8m6r37oe8","mode":"list","cachedResultName":"Lista De Contatos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/145S3-xLjPeHo4BNY0gX_kK-NDKvmh9D6rh8m6r37oe8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Contatos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/145S3-xLjPeHo4BNY0gX_kK-NDKvmh9D6rh8m6r37oe8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Nome":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nome', ``, 'string') }}","Email":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[520,220],"id":"88a310f3-ccbc-4e4b-ad55-7d31990edac2","name":"criar_evento","credentials":{"googleSheetsOAuth2Api":{"id":"cdM9gcI2pxWfiYoz","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-120,60],"id":"103a2485-e21d-43f6-ba76-28f2c84c19c7","name":"When chat message received","webhookId":"e5bb475d-0d9a-4114-92f9-c5b88d5776de"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"buscar_contato":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"criar_evento":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f249cf2e-e8d3-4e94-b566-bbc49de31811","triggerCount":0,"tags":[]}