agente_ia_rag-xpCnG9zwFemhoUKI.json
{"createdAt":"2025-05-06T21:08:03.915Z","updatedAt":"2025-05-06T21:13:06.000Z","id":"xpCnG9zwFemhoUKI","name":"Agente_IA_RAG","active":false,"nodes":[{"parameters":{"options":{"systemMessage":"=# Identidade\nVocê é um corretor de imoveis, responda até 500 caracteres, seja objetivo e direto.\n\nInformações sobre os imoveis na tool \"Sobre_imoveis\""}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[780,560],"id":"09957898-a5e0-4519-b3ac-8fa9ebd8483a","name":"AI Agent"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1400,640],"id":"9f128a43-5576-4f85-bf23-80a0dbe29abb","name":"When clicking ‘Test workflow’","disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[360,560],"id":"50fd8d9c-7bde-444c-a2ab-abeae161a6a5","name":"When chat message received","webhookId":"b2d3ecf0-684b-4179-8f55-37a020bb944b"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[600,700],"id":"72913592-052b-4b63-acbd-fab5a1b6ffcb","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"fUIOsGVnCLFrm3t8","name":"OpenAi 2"}}},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[720,1080],"id":"e59574a6-8bfa-46e8-986a-b6e4132fc777","name":"Supabase Vector Store","disabled":true},{"parameters":{"options":{"temperature":0.5,"topP":1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1060,1120],"id":"fcdb2abb-f42a-45b7-91e2-710a7f226693","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"fUIOsGVnCLFrm3t8","name":"OpenAi 2"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.1,"position":[920,1220],"id":"7c816189-af9a-43b7-8e6d-6c09f0b5a1e2","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"fUIOsGVnCLFrm3t8","name":"OpenAi 2"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1zvVt6pgnAAWfwehr80HyRfvkVLtWljMyMQ_1XCHvp7Y","mode":"list","cachedResultName":"Exemplo RAG Imóveis","cachedResultUrl":"https://docs.google.com/document/d/1zvVt6pgnAAWfwehr80HyRfvkVLtWljMyMQ_1XCHvp7Y/edit?usp=drivesdk"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"application/pdf","drawingsToFormat":"application/pdf","slidesToFormat":"application/pdf"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1160,640],"id":"f6de134b-0fad-47a0-80a3-11f720db5b20","name":"Google Drive2","credentials":{"googleDriveOAuth2Api":{"id":"hxHHvSSPOnJAhaEc","name":"Google Drive account"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[-880,640],"id":"1e62110a-e958-47ff-8ee3-c9dfffffe016","name":"Supabase Vector Store3"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.1,"position":[-940,820],"id":"362ae0c7-35bf-40ab-a140-8ec69e91c466","name":"Embeddings OpenAI3"},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[-700,820],"id":"fce1eb63-09c9-4471-bb10-84dfe8567db2","name":"Default Data Loader2"},{"parameters":{"content":"# Inserindo Documento Manualmente","height":620,"width":1080},"type":"n8n-nodes-base.stickyNote","position":[-1480,520],"typeVersion":1,"id":"5e50e603-a0fd-4bb0-a18b-8fca97efdaec","name":"Sticky Note"},{"parameters":{"chunkSize":2000,"chunkOverlap":100,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[-800,980],"id":"f15f502c-7f8b-4947-aa42-5ab4bd4c55c6","name":"Recursive Character Text Splitter"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Data Handler').item.json.File.id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"application/pdf"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-660,1360],"id":"1fb35e82-41c6-4ce9-a2e0-6eafee36c3e5","name":"Google Drive1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.1,"position":[-560,1600],"id":"498098f4-48ef-4946-af3a-da714637c9e7","name":"Embeddings OpenAI2"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1VGJdyN9FBwF3ib4XAM7upxTSCBpvrIj6","mode":"list","cachedResultName":"Aula RAG","cachedResultUrl":"https://drive.google.com/drive/folders/1VGJdyN9FBwF3ib4XAM7upxTSCBpvrIj6"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1380,1280],"id":"3717d1de-5e9a-4f5d-ba9d-11575269e899","name":"File Created","disabled":true},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1VGJdyN9FBwF3ib4XAM7upxTSCBpvrIj6","mode":"list","cachedResultName":"Aula RAG","cachedResultUrl":"https://drive.google.com/drive/folders/1VGJdyN9FBwF3ib4XAM7upxTSCBpvrIj6"},"event":"fileUpdated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1380,1500],"id":"a397d70d-84e3-4092-bdcd-60dd04020391","name":"File Updated"},{"parameters":{"assignments":{"assignments":[{"id":"0975a92b-edbb-49c6-be3a-f18cf1f2e9e7","name":"File.id","value":"={{ $json.id }}","type":"string"},{"id":"4182e1ba-1f80-48ca-b67b-d1f2daf1a6ab","name":"File.name","value":"={{ $json.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1100,1360],"id":"2312bea2-68b6-4fc1-974a-73e3b195a062","name":"Data Handler"},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>id=like.*{{ $json.File.id }}"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-880,1360],"id":"c1a5e495-e80d-4ffc-9027-941e4ac77c0e","name":"Delete Row","alwaysOutputData":true},{"parameters":{"dataType":"binary","options":{"metadata":{"metadataValues":[{"name":"id","value":"={{ $('Data Handler').item.json.File.id }}"},{"name":"name","value":"={{ $('Data Handler').item.json.File.name }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[-240,1500],"id":"fb50cc4f-8b56-4e13-956d-01b2c159830c","name":"Default Data Loader"},{"parameters":{"chunkSize":5000,"chunkOverlap":200,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[-380,1620],"id":"64927c11-c5eb-4f4f-bd03-3ea482444102","name":"Recursive Character Text Splitter2"},{"parameters":{"content":"# Inserindo Documento Automaticamente","height":600,"width":1560,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-1480,1180],"typeVersion":1,"id":"6140b539-9ff9-4b5f-80df-30efeb927e7a","name":"Sticky Note1"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[-480,1360],"id":"0b33ee13-becb-41d6-8665-0da9c45f3c54","name":"Supabase Vector Store1"},{"parameters":{"content":"# O que é RAG (Retrieval-Augmented Generation)?\n\nRAG é uma técnica que combina **recuperação de informações** e **geração de texto por IA** para criar respostas mais precisas e contextuais. Ele usa dois componentes principais:\n\n1. **Recuperação (Retrieval):** Busca dados relevantes em bases de conhecimento (bancos de dados, documentos, APIs, etc.).\n2. **Geração (Generation):** Um modelo de linguagem, como GPT, utiliza os dados recuperados para criar respostas contextualizadas.\n\n## Benefícios do RAG\n- **Respostas mais precisas:** Combina informações externas com inteligência da IA.\n- **Atualização constante:** Usa bases de dados dinâmicas, dispensando re-treinamento do modelo.\n- **Economia de Custos:** Informações fora da instrução, consultando só quando é necesário\n- **Escalabilidade:** Atende a grandes volumes de consultas.\n\n## Como funciona?\n1. **Recebe uma pergunta.**\n2. **Busca informações relevantes** em uma base de dados ou documentos.\n3. **Gera uma resposta** combinando os dados recuperados e o modelo de IA.\n4. **Entrega a resposta** ao usuário.\n\n## Bancos de dados recomendados para RAG:\n- **Vetoriais:** Supabase, Pinecone, Weaviate, Milvus.\n- **Relacionais com vetores:** PostgreSQL (pgvector).\n- **Outros:** Elasticsearch, MongoDB.","height":760,"width":700,"color":7},"type":"n8n-nodes-base.stickyNote","position":[1340,520],"typeVersion":1,"id":"7199535a-c48b-4ce3-a404-396d1b82b007","name":"Sticky Note2"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[600,880],"id":"ea74dc5b-398a-4f39-85cc-d5ae9ee5e827","name":"Window Buffer Memory"},{"parameters":{"name":"Sobre_imoveis","description":"Informações sobre os imoveis","topK":10},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[820,820],"id":"7d9bef20-2fcc-46d3-b350-147a9718adab","name":"Sobre_imoveis"},{"parameters":{"descriptionType":"manual","toolDescription":"infoemções Sobre imoveis","operation":"get","documentURL":"=https://docs.google.com/document/d/1zvVt6pgnAAWfwehr80HyRfvkVLtWljMyMQ_1XCHvp7Y/edit?tab=t.0"},"type":"n8n-nodes-base.googleDocsTool","typeVersion":2,"position":[420,880],"id":"f86d7f5d-8fe7-4a22-83f6-0ed7ec081051","name":"Sobre_imoveis1"},{"parameters":{"content":"# Aula Pedro Almeida | Automações e IA\n\nAcesse meus Links:\n- **Grupo de WhatsApp:** [Clique aqui](https://chat.whatsapp.com/CtZDRhxz4tw9hKOdObzA0V)\n- **Instagram:** [Clique aqui](https://www.instagram.com/pedrolucasalmeida/)\n- **Site:** [Clique aqui](https://pedrolucasalmeida.com.br/)","height":247,"width":728},"id":"e78772a1-a444-4846-a185-b3bfd7638368","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Drive2","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"Sobre_imoveis","type":"ai_vectorStore","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Sobre_imoveis","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Google Drive2":{"main":[[{"node":"Supabase Vector Store3","type":"main","index":0}]]},"Embeddings OpenAI3":{"ai_embedding":[[{"node":"Supabase Vector Store3","type":"ai_embedding","index":0}]]},"Default Data Loader2":{"ai_document":[[{"node":"Supabase Vector Store3","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader2","type":"ai_textSplitter","index":0}]]},"Google Drive1":{"main":[[{"node":"Supabase Vector Store1","type":"main","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"File Created":{"main":[[{"node":"Data Handler","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Data Handler","type":"main","index":0}]]},"Data Handler":{"main":[[{"node":"Delete Row","type":"main","index":0}]]},"Delete Row":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store1","type":"ai_document","index":0}]]},"Recursive Character Text Splitter2":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Sobre_imoveis":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"2b77d4a8-0ee7-4d50-aaa3-c48ab6ff76ac","triggerCount":0,"tags":[{"createdAt":"2025-05-06T21:07:13.822Z","updatedAt":"2025-05-06T21:07:13.822Z","id":"VGfwtvqba66eKdCn","name":"Pedro Almeida"},{"createdAt":"2025-05-06T21:07:13.819Z","updatedAt":"2025-05-06T21:07:13.819Z","id":"eU7PKo6xhB0758Lx","name":"Youtube"}]}