agente_de_agenda-(1)-ruriYrKsyLTrrRxC.json
{"createdAt":"2025-05-02T01:51:19.756Z","updatedAt":"2025-05-03T23:16:37.000Z","id":"ruriYrKsyLTrrRxC","name":"Agente_De_Agenda (1)","active":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-240,-20],"id":"885371a6-9a59-4d12-8309-7a08f429fc66","name":"When Executed by Another Workflow","disabled":true},{"parameters":{"promptType":"define","text":"=\n\n\nvoce e um agente de inteligencia artificial  seu nome e SeXtaFeira, se solicitar alguma coisa especifico sobre agendamento ou solicitação referente a baixo, reforando quando solicitar , quando nao for solicitado ou responda o que usario esta perguntando.\n\n\n\nSiga as regras abaixo:\nTodos os eventos precisa ter nome ou titulo\n\n1. Sempre que receber uma solicitação para **criar um evento**, primeiro chame a tool \"buscar_evento\" para certificar-se de que nao há nada marcado para aquele horário, depois antes de criar pegue as informaçoes , como nome do evento , du\n\n2. Sempre que receber uma solicitação para **deletar um evento**, **busque o evento correspondente primeiro usando a tool \"buscar_evento\"** com base no **nome, data e hora**.\n\n3. Para **consultas** de eventos (como \"o que tem hoje?\" ou \"me diga meus compromissos de amanhã\"), use o recurso de busca normalmente e liste os eventos encontrados com horário, título e descrição. e caso nao tenha avise que nao tenha e pergunte se quer fazer algum agendamento\n\n4. Para **Atualizar Agenda ** de evento verique os eventos que esta solicitando para atualizar ou modificar \nAo responder, seja direto, claro e objetivo. Use linguagem natural, mas precisa. Mantenha a consistência com os dados retornados do calendário.\n\nSe faltar qualquer informação essencial (como data ou hora), solicite ao usuário antes de prosseguir.\n\nO pedido é:\n{{ $json.chatInput }}\n\nO dia de Hoje é: {{ $now }}\n\ntodas as atividade que voce fizer avisa que foi feito e retorno o titulo a hora de inicio e hora final e se tem lembrete ativado\n","options":{"systemMessage":"Você é um agente de agendamentos muito util e inteligente s"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[200,0],"id":"b567fcf3-4acb-435e-b6a2-0ff21061d543","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"gpt-4"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-220,560],"id":"040cfbab-2eb6-4d04-a891-6421a0381053","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"fUIOsGVnCLFrm3t8","name":"OpenAi 2"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"1","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[180,520],"id":"45c9c0ab-b824-40e3-a1db-1f97efdc0120","name":"Simple Memory"},{"parameters":{"descriptionType":"manual","toolDescription":"Use Essa Tool Semque Que For Buscar Por Eventos","operation":"getAll","calendar":{"__rl":true,"value":"hicaroph@gmail.com","mode":"list","cachedResultName":"hicaroph@gmail.com"},"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[320,380],"id":"ad8b5a41-9cb8-4167-bdab-9ee3725174c1","name":"busca_eventos","credentials":{"googleCalendarOAuth2Api":{"id":"5awK7O380EiDZvaH","name":"Google Calendar account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Chame essa tool sempre que for requisitado a deleção de um evento","operation":"delete","calendar":{"__rl":true,"value":"hicaroph@gmail.com","mode":"list","cachedResultName":"hicaroph@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[600,340],"id":"36cac426-b6a1-43f6-b661-ddc8260a944c","name":"deletar_evento","credentials":{"googleCalendarOAuth2Api":{"id":"5awK7O380EiDZvaH","name":"Google Calendar account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-140,140],"id":"8e06b876-a5ee-440e-a409-1c0e0cbcfbe9","name":"When chat message received","webhookId":"12acc2f3-5b5a-449b-8956-4a6c59009ac8"},{"parameters":{"description":"responda o que foi solicitado\n"},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[620,100],"id":"e127fcd8-3490-4bd1-a1ae-7423b8fd87e8","name":"Think"},{"parameters":{"calendar":{"__rl":true,"value":"hicaroph@gmail.com","mode":"list","cachedResultName":"hicaroph@gmail.com"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","additionalFields":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[720,320],"id":"dfd35bbf-de31-4ba0-9034-7ec24ed38063","name":"criar_evento","credentials":{"googleCalendarOAuth2Api":{"id":"5awK7O380EiDZvaH","name":"Google Calendar account"}}},{"parameters":{"model":"deepseek-r1-distill-llama-70b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[40,240],"id":"5ec79d69-5464-4664-ba23-52ee14169a48","name":"Groq Chat Model","credentials":{"groqApi":{"id":"pQpdAyOUwytGwC1w","name":"Groq account"}}},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"hicaroph@gmail.com","mode":"list","cachedResultName":"hicaroph@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","updateFields":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[460,360],"id":"73f6570f-2569-46f2-b8af-7ff22f5f366a","name":"Atualizar Agenda","credentials":{"googleCalendarOAuth2Api":{"id":"5awK7O380EiDZvaH","name":"Google Calendar account"}}},{"parameters":{"contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[180,260],"id":"4217c2f4-a438-439a-bafc-1600b0d3ac16","name":"Redis Chat Memory","credentials":{"redis":{"id":"CMG5NzZphI7CpP2k","name":"Redis account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[80,160],"id":"47d56b90-cd49-4cf9-93ad-0890e0334d38","name":"DeepSeek Chat Model","credentials":{"deepSeekApi":{"id":"guchfDucX7Nk5T0L","name":"DeepSeek account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[]]},"OpenAI Chat Model":{"ai_languageModel":[[]]},"Simple Memory":{"ai_memory":[[]]},"busca_eventos":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"deletar_evento":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"criar_evento":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[]]},"Atualizar Agenda":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"DeepSeek Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Sao_Paulo","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"58721458-311d-4e72-aa46-5dcafb068db0","triggerCount":0,"tags":[]}