agente-financeiro-sexta-feira-254I7OGVbRO3FT84.json
{"createdAt":"2025-04-27T03:16:12.028Z","updatedAt":"2025-05-06T22:45:28.000Z","id":"254I7OGVbRO3FT84","name":"Agente Financeiro Sexta-Feira","active":false,"nodes":[{"parameters":{"url":"={{ $json.body.data.message.imageMessage.url }}","responseFormat":"file","options":{},"headerParametersUi":{"parameter":[{}]}},"id":"6972785e-c504-4ccb-b784-07b887ad7af9","name":"Download Imagem","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-100,20],"alwaysOutputData":true},{"parameters":{"resource":"chat","prompt":{"messages":[{"role":"system","content":"Você é um assistente financeiro especializado em extrair informações de imagens de comprovantes, notas fiscais e recibos. Extraia as seguintes informações: data, valor total, categoria (alimentação, transporte, moradia, etc.), descrição do item/serviço, e nome do fornecedor/estabelecimento. Retorne apenas um objeto JSON com os campos: data, valor, categoria, descricao, fornecedor."},{"content":"={{ \"Analise esta imagem de comprovante e extraia as informações financeiras.\" }}"}]},"options":{"maxTokens":1000,"temperature":0},"requestOptions":{}},"id":"1dbc484f-f0e0-4afb-8fba-4966b772fe8d","name":"Analisar Imagem","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[200,20],"credentials":{"openAiApi":{"id":"fUIOsGVnCLFrm3t8","name":"OpenAi 2"}}},{"parameters":{"httpMethod":"POST","path":"whatsapp-financeiro","options":{}},"id":"97acb900-1ffd-47de-be75-51188bf32d6a","name":"Webhook EvolutionAPI1","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-660,-340],"webhookId":"d673d875-ff6c-4890-9040-25ebc7d9fada"},{"parameters":{"assignments":{"assignments":[{"id":"072fccae-8d30-484d-a7e8-617df811f3e3","name":"Base64","value":"={{ $json.body.data.message.base64 }}","type":"string"},{"id":"d0a14d8b-cfb4-44fd-99c0-ba010e39f601","name":"remoteJid","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"0f54d482-2abc-4a08-9713-36cb6da06e5f","name":"Nome_usuario","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"5be72e05-65ee-4a46-8ffd-7c4c14645964","name":"Instancia","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-140,-360],"id":"6ae99333-31fc-4f34-87ab-eb9a5a4eabee","name":"Tratando Audio","alwaysOutputData":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"},"id":"63d687fe-0af1-429b-84c7-7ae73bf605e3"}],"combinator":"and"},"renameOutput":true,"outputKey":"AudioMessage"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2c46acd9-f1b0-4275-9484-99c127e566f0","leftValue":"={{ $json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6b6a837a-6d2b-4421-a1c7-63ad94225965","leftValue":"={{ $json.body.data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagem "}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-440,-320],"id":"f8dd4f8a-d6a8-4aa3-8424-1ae3e860a390","name":"Switch"},{"parameters":{"operation":"toBinary","sourceProperty":"Base64","options":{"mimeType":"audio/mp3"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[40,-360],"id":"83340a8d-9071-4baf-8800-4f32cf42c058","name":"Convert to File"},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"pt"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[220,-360],"id":"369a2aa7-94fb-4e4d-a562-02ad4d0e8cb4","name":"OpenAI","alwaysOutputData":false,"executeOnce":false,"notesInFlow":false,"credentials":{"openAiApi":{"id":"fUIOsGVnCLFrm3t8","name":"OpenAi 2"}},"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[380,-220],"id":"cb89b1a0-833f-46cb-b848-d4496ee353c6","name":"Merge","alwaysOutputData":false},{"parameters":{"operation":"getAll","tableId":"Entrada_dados","returnAll":true,"filters":{"conditions":[{"keyName":"remoteJid","condition":"eq","keyValue":"={{ $json.remoteJid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[580,-220],"id":"66aded6f-62f8-4a80-9007-d3b9b77f14ca","name":"Supabase","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"b221yMmN6adp96Ic","name":"Supabase account"}}},{"parameters":{"tableId":"Entrada_dados","fieldsUi":{"fieldValues":[{"fieldId":"Nome","fieldValue":"={{ $('Webhook EvolutionAPI1').item.json.body.data.pushName }}"},{"fieldId":"remoteJid","fieldValue":"={{ $('Webhook EvolutionAPI1').item.json.body.data.key.remoteJid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[980,-80],"id":"578282e9-ba2b-45a2-9c65-228cf42bce79","name":"Supabase1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"b221yMmN6adp96Ic","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ed52b4cd-a9fc-4073-881b-05cd4394cc2f","leftValue":"={{ $('Supabase').item.json.Liberado }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[980,-260],"id":"dabca176-d7f7-445c-a456-5c9291b2e448","name":"Liberação "},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"59e85a17-1e9e-4428-a6de-a367c427212a","leftValue":"={{ $item(\"0\").$node[\"Supabase\"].json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[760,-220],"id":"dd6da677-1dc3-46fc-a4a9-917a8af09f2f","name":"Cadastro ","alwaysOutputData":false},{"parameters":{"model":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"gpt-3.5-turbo"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1220,-240],"id":"352d2b05-9b80-4ca8-9a15-5987819a2e57","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"fUIOsGVnCLFrm3t8","name":"OpenAi 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"072fccae-8d30-484d-a7e8-617df811f3e3","name":"Mensagem de Texto","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"456a96e1-0fc5-419d-84d0-a78c32d43582","name":"remoteJid","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"9beee9a5-59eb-4193-88c5-f6f0c17e125e","name":"Nome_do_Usuario","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"2fa1d135-74be-4e45-bf48-c72fc25f5d4a","name":"IdMessagem ","value":"={{ $json.body.data.key.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[40,-160],"id":"6c0f3599-ae46-45cd-8c3c-982584c50e96","name":"Dados da Conversa","alwaysOutputData":false},{"parameters":{"promptType":"define","text":"={{ $item(\"0\").$node[\"Merge\"].json[\"Mensagem de Texto\"] }}","options":{"systemMessage":"retorne o nome do cliente "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[1360,-480],"id":"78111417-47fa-4d7d-85e0-41e717c67301","name":"AI Agent","alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Liberação ').item.json.remoteJid }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[1380,-200],"id":"39f58717-5837-4260-937d-edc54588ea84","name":"Redis Chat Memory","credentials":{"redis":{"id":"CMG5NzZphI7CpP2k","name":"Redis account"}}},{"parameters":{"resource":"chat-api","operation":"read-messages","instanceName":"={{ $('Webhook EvolutionAPI1').item.json.body.instance }}","remoteJid":"={{ $('Webhook EvolutionAPI1').item.json.body.data.pushName }}","messageId":"={{ $('Webhook EvolutionAPI1').item.json.body.data.key.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1760,-480],"id":"5f6e7a16-8166-4ea1-a605-074baf55d13e","name":"Evolution API","credentials":{"evolutionApi":{"id":"1eM2xZDmYfv6kfHj","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Webhook EvolutionAPI1').item.json.body.instance }}","remoteJid":"={{ $('Webhook EvolutionAPI1').item.json.body.data.key.remoteJid }}","messageText":"={{ $item(\"0\").$node[\"AI Agent\"].json[\"output\"] }}","options_message":{"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1940,-480],"id":"6eb20141-5c41-45ce-b8bb-31a675e03494","name":"Responder","credentials":{"evolutionApi":{"id":"1eM2xZDmYfv6kfHj","name":"Evolution account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[1560,-220],"id":"37bb8215-340d-4053-a9f4-4d329a1b0b95","name":"MCP Client"}],"connections":{"Download Imagem":{"main":[[]]},"Analisar Imagem":{"main":[[]]},"Webhook EvolutionAPI1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Tratando Audio","type":"main","index":0}],[{"node":"Dados da Conversa","type":"main","index":0}],[{"node":"Download Imagem","type":"main","index":0}]]},"Tratando Audio":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Cadastro ","type":"main","index":0}]]},"Cadastro ":{"main":[[{"node":"Liberação ","type":"main","index":0}],[{"node":"Supabase1","type":"main","index":0}]]},"Liberação ":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Dados da Conversa":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Evolution API","type":"main","index":0}]]},"Evolution API":{"main":[[{"node":"Responder","type":"main","index":0}]]},"MCP Client":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"768f0928-69f1-4d2d-bfcc-78f63599e6da","triggerCount":1,"tags":[]}