backup_github-Ay24mp1qRRJ1rz6Y.json
{"createdAt":"2025-05-15T14:11:10.737Z","updatedAt":"2025-05-15T14:21:58.000Z","id":"Ay24mp1qRRJ1rz6Y","name":"Backup_GitHub","active":false,"nodes":[{"parameters":{},"id":"49564238-8997-4c47-a93b-028205c11666","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-40,300]},{"parameters":{"options":{}},"id":"01de52d2-380f-48c4-985d-11022cb68a6f","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[160,300]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"5e8d8042-d438-49ba-a958-1d425d7360b3","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[360,300]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"ef711479-e258-4b33-a920-2bddf8994dfd","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[560,300]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"HicaroDev","mode":"list","cachedResultName":"HicaroDev","cachedResultUrl":"https://github.com/HicaroDev"},"repository":{"__rl":true,"value":"n8n_workflows-","mode":"list","cachedResultName":"n8n_workflows-","cachedResultUrl":"https://github.com/HicaroDev/n8n_workflows-"},"filePath":"="},"id":"2b7387fb-ce50-4355-8a05-7887993dad9b","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[760,300],"alwaysOutputData":true,"webhookId":"1fef9bfe-4c80-41b7-b289-da4ce31bc8dd","credentials":{"githubOAuth2Api":{"id":"8JV2sKyCl2xUqw4y","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"5bdff2d7-7009-4a3c-b681-1acf6bb30945","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[960,300]},{"parameters":{"filters":{},"requestOptions":{}},"id":"0345de46-9f96-41a5-9a35-8bbff7aeab5c","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1160,300],"credentials":{"n8nApi":{"id":"AQLG3UaUk8nN19fX","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"3b38ee8e-c571-4751-b2fb-6f1f7040ee86","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[1360,300]},{"parameters":{"batchSize":1,"options":{}},"id":"92e38f03-e6d3-4b8c-9cc6-4f93d72b93bb","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[1600,300]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"955ac9dc-b660-4222-8f4c-7a08cdda6230","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[1840,220]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"HicaroDev","mode":"list","cachedResultName":"HicaroDev","cachedResultUrl":"https://github.com/HicaroDev"},"repository":{"__rl":true,"value":"n8n_workflows-","mode":"list","cachedResultName":"n8n_workflows-","cachedResultUrl":"https://github.com/HicaroDev/n8n_workflows-"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"287b586a-4aec-4fff-b1f7-aadcdfc1d64b","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2060,20],"webhookId":"99ab85ce-5a87-4b7a-97fd-8c31f679c2f5","credentials":{"githubOAuth2Api":{"id":"8JV2sKyCl2xUqw4y","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"HicaroDev","mode":"list","cachedResultName":"HicaroDev","cachedResultUrl":"https://github.com/HicaroDev"},"repository":{"__rl":true,"value":"n8n_workflows-","mode":"list","cachedResultName":"n8n_workflows-","cachedResultUrl":"https://github.com/HicaroDev/n8n_workflows-"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"17e999b9-8376-49b2-9efb-273539ce6386","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2060,420],"webhookId":"c9a9428b-2809-4218-9c26-9abb8cd1e11e","credentials":{"githubOAuth2Api":{"id":"8JV2sKyCl2xUqw4y","name":"GitHub account"}}}],"connections":{"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7bef54fb-a440-4308-a4cd-dc262db27418","triggerCount":0,"tags":[]}