carregar_varios_comprovantes-XIXuhdnV59qhQmhy.json
{"createdAt":"2025-05-13T04:58:48.455Z","updatedAt":"2025-05-17T21:43:57.000Z","id":"XIXuhdnV59qhQmhy","name":"Carregar_varios_comprovantes","active":true,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyHour","minute":2}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"11Pz-tWY_r4x0gnjVZTRDsPt7yJ3uWecL","mode":"list","cachedResultName":"Agente_N8n_teste","cachedResultUrl":"https://drive.google.com/drive/folders/11Pz-tWY_r4x0gnjVZTRDsPt7yJ3uWecL"},"event":"fileUpdated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-80,200],"id":"282fced7-1d9f-4d1c-8672-8c7ba0f013e1","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"hxHHvSSPOnJAhaEc","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"id":"7c711a54-7cee-444f-b520-4638ad2eb5a4","name":"Google Drive1","type":"n8n-nodes-base.googleDrive","position":[360,200],"executeOnce":false,"typeVersion":3,"alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"hxHHvSSPOnJAhaEc","name":"Google Drive account"}}},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1Me_uhEoo3P-t2PjxiMPGBWA1o2ascxIM","mode":"list","cachedResultName":"images_teste","cachedResultUrl":"https://drive.google.com/drive/folders/1Me_uhEoo3P-t2PjxiMPGBWA1o2ascxIM"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[140,200],"id":"afdd2783-9acb-4700-a306-5b46f4c37b59","name":"Google Drive2","credentials":{"googleDriveOAuth2Api":{"id":"hxHHvSSPOnJAhaEc","name":"Google Drive account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8b7df8cd-1f5f-4d58-b6f3-8ab0a2bc89c3","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"32f754c8-b1f4-4d5a-b8fa-8aa29602c39a","name":"name","value":"={{ $json.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[580,200],"id":"bce873c4-0442-40ea-974b-f90b9d58c10b","name":"Edit Fields"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1JLqElj0ue8bkeP_ALSjk6WYuXbNoSGNiGfS9YrbH0I8","mode":"list","cachedResultName":"Teste","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1JLqElj0ue8bkeP_ALSjk6WYuXbNoSGNiGfS9YrbH0I8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1JLqElj0ue8bkeP_ALSjk6WYuXbNoSGNiGfS9YrbH0I8/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[800,275],"id":"e0f8e61f-8a48-40b4-b5d8-9d44302ebfd2","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"cdM9gcI2pxWfiYoz","name":"Google Sheets account"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Quero que analise a imagem por gentileza, e extraia todos  os dados possíveis\n\"Nome:**,\nRecebedor:** No caso de empresa,\nValor:**,\nData da Transcação:**, \nForma de pagamento :(Pix,Dinheiro,Debito,Credito,Debito Automatico)** .\n\n  nao tenha texo de incio e ne de final exemplo este : \" Se precisar de mais alguma coisa, estou à disposição!\n\"","inputType":"base64","binaryPropertyName":"=data","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1616,100],"id":"760bf1c0-13ea-4d5f-acc4-8281c267171a","name":"OpenAI","credentials":{"openAiApi":{"id":"hyWmqXktDNchUSuf","name":"OpenAi OFICIAL"}}},{"parameters":{"assignments":{"assignments":[{"id":"50367d04-810a-4bc3-99d4-5053b807fc33","name":"choices[0].message.content","value":"={{ $json.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1836,100],"id":"b89ae8df-b47d-48cd-b713-9a4d7a79307f","name":"Edit Fields1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[800,75],"id":"8697b877-46f5-4954-9fa7-7c1e9dc071d6","name":"Loop Over Items1"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[1020,100],"id":"7324dbef-333c-44b6-b5de-c87187906d6a"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"id":"12cf9ca7-1166-4750-a20b-dc3e054801c6","name":"Google Drive","type":"n8n-nodes-base.googleDrive","position":[1318,100],"executeOnce":false,"typeVersion":3,"alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"hxHHvSSPOnJAhaEc","name":"Google Drive account"}}},{"parameters":{"tableId":"Gastos","fieldsUi":{"fieldValues":[{"fieldId":"nome","fieldValue":"={{ $fromAI(\"nome_gasto\") }}"},{"fieldId":"valor","fieldValue":"={{ $fromAI(\"valor_gasto\") }}"},{"fieldId":"tipo","fieldValue":"={{ $fromAI(\"tipo_gasto\") }}"},{"fieldId":"recebedor","fieldValue":"={{ $fromAI(\"recebedor_gasto\") }}"},{"fieldId":"Data_compra","fieldValue":"={{ $fromAI(\"Data_compra\") }}"},{"fieldId":"forma_de_pagamento","fieldValue":"={{ $fromAI(\"Forma_de_pagamento\") }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[1388,-80],"id":"b20a9638-0938-4e07-aa9a-c47df6681117","name":"tool_criar_gastos","notesInFlow":false,"credentials":{"supabaseApi":{"id":"b221yMmN6adp96Ic","name":"SupaBase_online"}}},{"parameters":{"amount":7},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2276,100],"id":"4ef715e6-5926-4033-b5e7-c52bf1ccc05c","name":"Wait1","webhookId":"fdb2b1ab-974d-4b62-848e-919bf001f8b3"},{"parameters":{"operation":"pop","list":"Lista_teste","tail":true,"propertyName":"Lista_teste","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2496,125],"id":"4a7460d5-5d73-44e2-b821-2a73c8069b8a","name":"Redis_pop","credentials":{"redis":{"id":"CMG5NzZphI7CpP2k","name":"Redis account"}}},{"parameters":{"operation":"push","list":"Lista_teste","messageData":"={{ $json.choices[0].message.content }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2056,100],"id":"0e176f29-5086-48ef-9956-ac8c6edd4d9b","name":"Redis","credentials":{"redis":{"id":"CMG5NzZphI7CpP2k","name":"Redis account"}}},{"parameters":{"promptType":"define","text":"={{ $json.Lista_Limpa }}","hasOutputParser":true,"options":{"systemMessage":"=- usara ferramenta tool_criar_gastos para criar os gastos a lista esta "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[1240,-300],"id":"f4ebcb64-72bb-491e-b36f-1de8b4a73ae8","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1268,-80],"id":"d726eb39-fcc0-4ea8-9d4f-eb80f2d78d3c","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"fUIOsGVnCLFrm3t8","name":"OpenAi 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"4c717f8f-e2ce-46a8-9481-21fdf0eae207","name":"Lista_Limpa","value":"={{ $json.Lista_teste }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1020,-200],"id":"b4cabbc6-8e09-4043-9351-c2a16a615755","name":"Edit Fields2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1616,-200],"id":"cc1edd4e-b24b-4c3d-8176-f49ad2dcb014","name":"No Operation, do nothing"},{"parameters":{"operation":"copy","fileId":{"__rl":true,"value":"={{ $('Edit Fields').item.json.id }}","mode":"id"},"name":"={{ $('Edit Fields').item.json.name }}","sameFolder":false,"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1NLSbcG_WTmaQGaBt7sowzkJ1TITtHjLE","mode":"list","cachedResultName":"Concluido_comprovante","cachedResultUrl":"https://drive.google.com/drive/folders/1NLSbcG_WTmaQGaBt7sowzkJ1TITtHjLE"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1836,-200],"id":"d954eb10-037b-4142-8269-a7e9c5168ef0","name":"Google Drive3","credentials":{"googleDriveOAuth2Api":{"id":"hxHHvSSPOnJAhaEc","name":"Google Drive account"}}},{"parameters":{"operation":"deleteFile","fileId":{"__rl":true,"value":"={{ $('Edit Fields').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2056,-200],"id":"6027d7c1-b144-4528-ab6d-c0f2441e0a9b","name":"Google Drive6","credentials":{"googleDriveOAuth2Api":{"id":"hxHHvSSPOnJAhaEc","name":"Google Drive account"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-120,540],"id":"6c6870b0-24f9-4b1a-9aca-5949fccf1577","name":"Schedule Trigger"},{"parameters":{"operation":"getAll","tableId":"Gastos","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[100,540],"id":"0cbce12c-b66d-48a0-94e3-8b648d373540","name":"Supabase","credentials":{"supabaseApi":{"id":"b221yMmN6adp96Ic","name":"SupaBase_online"}}},{"parameters":{"promptType":"define","text":"Pegue","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[320,540],"id":"137c7908-7ece-4d91-81db-1fea17183c5c","name":"AI Agent"},{"parameters":{"documentId":{"__rl":true,"value":"1_ayd-oubH3kLF3QGttpiOssxxoahuyOgBIhJMLJZWR8","mode":"list","cachedResultName":"Export_Banco_Dados","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_ayd-oubH3kLF3QGttpiOssxxoahuyOgBIhJMLJZWR8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_ayd-oubH3kLF3QGttpiOssxxoahuyOgBIhJMLJZWR8/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[440,780],"id":"43c4bc44-5028-4a56-a7d9-73072bcd2a4c","name":"Obter_Linha","credentials":{"googleSheetsOAuth2Api":{"id":"cdM9gcI2pxWfiYoz","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1_ayd-oubH3kLF3QGttpiOssxxoahuyOgBIhJMLJZWR8","mode":"list","cachedResultName":"Export_Banco_Dados","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_ayd-oubH3kLF3QGttpiOssxxoahuyOgBIhJMLJZWR8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_ayd-oubH3kLF3QGttpiOssxxoahuyOgBIhJMLJZWR8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"valor","displayName":"valor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"tipo","displayName":"tipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"recebedor","displayName":"recebedor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"create_at","displayName":"create_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data_compra","displayName":"Data_compra","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"forma_de_pagamento","displayName":"forma_de_pagamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[600,800],"id":"0068ddcf-014d-4af5-8af3-0ffb9c78ecb5","name":"Atualizar Dados","credentials":{"googleSheetsOAuth2Api":{"id":"cdM9gcI2pxWfiYoz","name":"Google Sheets account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[140,740],"id":"0804a774-a86e-471e-b245-68cb4b75a373","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"hyWmqXktDNchUSuf","name":"OpenAi OFICIAL"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[260,740],"id":"5caecbde-36e6-4640-ab1b-a28f33cd9827","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"He9Ca6QM4AkFBQQr","name":"Postgres Online"}}}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Google Drive2","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Google Drive2":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Google Sheets1","type":"main","index":0},{"node":"Loop Over Items1","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"Replace Me","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"tool_criar_gastos":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Wait1":{"main":[[{"node":"Redis_pop","type":"main","index":0}]]},"Redis_pop":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Google Drive3","type":"main","index":0}]]},"Google Drive3":{"main":[[{"node":"Google Drive6","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Obter_Linha":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Atualizar Dados":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Sao_Paulo","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Google Drive Trigger":{"lastTimeChecked":"2025-05-17T21:43:57Z"},"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"617ef342-a05f-45d7-832a-e5e7a126a1ba","triggerCount":2,"tags":[]}