html_chatai-O9qRjzZF4uqnE4gk.json
{"createdAt":"2025-05-17T23:12:10.526Z","updatedAt":"2025-05-17T23:17:54.000Z","id":"O9qRjzZF4uqnE4gk","name":"HTML_CHATAI","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"chatAi","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"55877bd3-7f76-4a81-ace4-a2406f8b1320","name":"Webhook","webhookId":"8681b881-45b5-4932-9a49-cbe8d42f1fcc"},{"parameters":{"assignments":{"assignments":[{"id":"22ede1e6-762b-495b-b4e9-a824b84d68cd","name":"body.message","value":"={{ $json.body.message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[320,0],"id":"1b06f747-ad48-4688-8965-1c14a1a8c39a","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"=resposta todas as mensagems que usuario perguntar {{ $json.body.message }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[540,0],"id":"7fa8e0d3-43d8-4a12-bf4e-61803df2eca3","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[440,180],"id":"1fdb6d60-0100-4d0e-ae02-945a8831b16e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"hyWmqXktDNchUSuf","name":"OpenAi OFICIAL"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"132"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[640,180],"id":"e62fec45-3152-4613-9711-dfc961363acf","name":"Simple Memory"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[900,0],"id":"e04fbc13-1228-4cc0-bbbf-fcc630deab04","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.dev.radtec.site","user-agent":"Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Mobile Safari/537.36","content-length":"30","accept":"application/json, text/plain, */*","accept-encoding":"gzip, deflate, br, zstd","accept-language":"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7","content-type":"application/json","cookie":"_ga=GA1.1.299939511.1741128904; _ga_S4HMJ5EXYY=GS1.1.1741128903.1.0.1741128907.56.0.0; rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX1%2BoXAsILOFs5av9siFtPtDv85%2FZug4u0q9AolbTB%2B7fYmCSjhplk3D8; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2Bie273of8qvT6bb58AWuq%2BXA0r0LjZ3hqEOEaj18ydkXiCzr2HbYZ8; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2B%2BAAG8cMJAbI509lw1de%2FXBK%2Bwl4EKYPhzXVH9YkrUubhmE%2BteDwW6nPZ13CtlzItASgCypa%2Byhg%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2BlxJZgSkmrXSJt14LkD9%2B9l%2BeUs6QU%2BpfprFvGO6U38UqMVaxIDnGouxR5ep6TUFAVKlQUcRH1i3wYwj%2BynswX4Aj%2FASkLtfnJBLicGvwt08zaGB6TQ3L7RlabORsnk1zMMY64KuHUCygMmqPi2%2B%2B7v3frIlkkBos%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX19pByifk1KV8VCvvAA17X6lG7DOv0%2FIvNusPhAlIC1UEDZwx%2B%2Bf2qoy5W7oWOG3ymfdMTS5i%2B%2Bf0Xmex05cqAOPa7yWnJZxxnmkQegvESCnI9f9%2BxLoPOJT4fmxcGC%2FlxMDdSAUzmWx3A%3D%3D; rl_session=RudderEncrypt%3AU2FsdGVkX1%2BpbauJOMOWO0djkPDwYTYwNcxccaZnQVUMmBOgyJRmuGXfyjDvx3lnU51gp4ssWnVZPF7Pz8TOtbSMzv4ve8Y2KNdlRAbbUT6DqHlwZ3CNWV5jZe1XWBxvMZLsjKETS4bmeIKjoYHU2Q%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22f327dd8f7e5c6e9065c746e2c991f9683b9aacd42478045cddc5ebb377966595%23e0ceea5f-51db-47c3-815e-ce76302dc41f%22%2C%22%24sesid%22%3A%5Bnull%2Cnull%2Cnull%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22http%3A%2F%2F82.25.70.116%3A3000%2F%22%2C%22u%22%3A%22https%3A%2F%2Fwebhook.dev.radtec.site%2Fsetup%22%7D%7D","origin":"https://webhook.dev.radtec.site","priority":"u=1, i","referer":"https://webhook.dev.radtec.site/webhook-test/chat-rag","sec-ch-ua":"\"Chromium\";v=\"136\", \"Google Chrome\";v=\"136\", \"Not.A/Brand\";v=\"99\"","sec-ch-ua-mobile":"?1","sec-ch-ua-platform":"\"Android\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"same-origin","x-forwarded-for":"38.50.138.177","x-forwarded-host":"webhook.dev.radtec.site","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"e3c9c880daf2","x-real-ip":"38.50.138.177"},"params":{},"query":{},"body":{"message":"oi","type":"text"},"webhookUrl":"https://webhook.dev.radtec.site/webhook-test/chatAi","executionMode":"test"}}]},"versionId":"e9ef04ab-e168-4d31-9657-2014da7de510","triggerCount":0,"tags":[]}