my-workflow-3-HOZ2VR58FZI1Fb5L.json
{"createdAt":"2025-05-08T01:37:34.357Z","updatedAt":"2025-05-08T01:48:42.000Z","id":"HOZ2VR58FZI1Fb5L","name":"My workflow 3","active":false,"nodes":[{"parameters":{"model":{"__rl":true,"value":"gpt-4o-2024-11-20","mode":"list","cachedResultName":"gpt-4o-2024-11-20"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2400,460],"id":"f9a2dda5-0cab-4ff8-a553-cd824ac03dfa","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"fUIOsGVnCLFrm3t8","name":"OpenAi 2"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[320,1100],"id":"94839c35-6fb8-48f2-94c2-af557201e9bf","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"fUIOsGVnCLFrm3t8","name":"OpenAi 2"}}},{"parameters":{"sseEndpoint":"[Seu Endpoint]"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[2660,460],"id":"15dcaa82-a63e-4223-bcf8-d13f42055c7e","name":"MCP Google Calendar"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Mensagem recebida no WhatsApp').item.json.body.phone }}","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[2540,460],"id":"c3ee170f-42fd-46ca-90f7-cb54b0e1f8a4","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"YRmByNB2xC7Hc59E","name":"Postgres account"}}},{"parameters":{"name":"escalar_humano","description":"Use essa ferramenta ao perceber que o paciente fala de:\n- Situações urgentes (sentindo-se mal, etc.)\n- Assuntos não relacionados à clínica\n- Insatisfação extrema ou pedidos de falar com um humano\n","workflowId":{"__rl":true,"value":"dLp2EUcbZciBMUwZ","mode":"list","cachedResultName":"[TOOL] Escalar para humano"},"workflowInputs":{"mappingMode":"defineBelow","value":{"nome":"={{ $('Mensagem recebida no WhatsApp').item.json.body.senderName }}","ultima_mensagem":"={{ $('Mensagem recebida no WhatsApp').item.json.body.text.message }}","telefone":"={{ $('Mensagem recebida no WhatsApp').item.json.body.phone }}"},"matchingColumns":[],"schema":[{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"ultima_mensagem","displayName":"ultima_mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[2800,460],"id":"2371cddb-7249-4784-bfec-fce615806b72","name":"Escalar humano"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c0aafb19-e184-4165-a179-fdbd4904b4b2","leftValue":"=","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Mensagem recebida no WhatsApp').item.json.body.audio.audioUrl }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"dadbde4d-e1da-46f0-b0b9-45672a7ce43f"}],"combinator":"and"},"renameOutput":true,"outputKey":"Áudio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bf2e9421-3d9b-4abc-8cef-1c928f426717","leftValue":"={{ $('Mensagem recebida no WhatsApp').item.json.body.buttonsResponseMessage.message }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Resposta botão"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1160,240],"id":"7f710770-aa87-4fec-89ff-444c0c9e1dca","name":"Tipo de mensagem"},{"parameters":{"url":"={{ $('Mensagem recebida no WhatsApp').item.json.body.audio.audioUrl }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1480,240],"id":"99fe4465-40d6-4ba4-a2b3-f0310f91437f","name":"Download áudio"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1720,240],"id":"9de50982-5c57-45bf-acbd-cbd5565f5839","name":"Transcrever áudio","credentials":{"openAiApi":{"id":"fUIOsGVnCLFrm3t8","name":"OpenAi 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"aaeeced4-c0bc-44e4-8d6c-a3b6c0977e2c","name":"text","value":"={{ $json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1920,40],"id":"3c91211f-8d86-4d60-8d03-6f620d3ad816","name":"Set variável text"},{"parameters":{"assignments":{"assignments":[{"id":"aaeeced4-c0bc-44e4-8d6c-a3b6c0977e2c","name":"text","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1920,240],"id":"071ed313-8301-433f-a029-3e2fdfcbd630","name":"Set variável text do áudio"},{"parameters":{"assignments":{"assignments":[{"id":"93f73025-394b-473c-8499-52863dcaa294","name":"text","value":"={{ $('Mensagem recebida no WhatsApp').item.json.body.buttonsResponseMessage.message }}, Id do evento: {{ $('Mensagem recebida no WhatsApp').item.json.body.buttonsResponseMessage.buttonId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1920,440],"id":"c4f8d218-4a6b-4945-afc8-5b2ffb2f08fe","name":"Set variável text do botão"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=HOJE É: {{ $now }}\nTELEFONE DO CONTATO: {{ $('Mensagem recebida no WhatsApp').item.json.body.phone }}\n\nINSTRUÇÃO IMPORTANTE:\n- Ao criar ou editar qualquer evento no Google Calendar, incluir sempre o telefone do paciente na descrição do agendamento, juntamente com o nome completo, data de nascimento e quaisquer outras informações relevantes fornecidas pelo paciente.\n\n------------------------------------------------------------------------------------\nPAPEL:\nVocê é uma atendente do WhatsApp, altamente especializada, que atua em nome da Clínica Moreira, prestando um serviço de excelência. Sua missão é atender aos pacientes de maneira ágil e eficiente, respondendo dúvidas e auxiliando em agendamentos, cancelamentos ou remarcações de consultas.\n\nPERSONALIDADE E TOM DE VOZ:\n- Simpática, prestativa e humana\n- Tom de voz sempre simpatico, acolhedor e respeitoso\n\nOBJETIVO:\n1. Fornecer atendimento diferenciado e cuidadoso aos pacientes.\n2. Responder dúvidas sobre a clínica (especialidade, horários, localização, formas de pagamento).\n3. Agendar, remarcar e cancelar consultas de forma simples e eficaz.\n4. Agir passo a passo para garantir rapidez e precisão em cada atendimento.\n\nCONTEXTO:\n- Você otimiza o fluxo interno da clínica, provendo informações e reduzindo a carga administrativa dos profissionais de saúde.\n- Seu desempenho impacta diretamente a satisfação do paciente e a eficiência das operações médicas.\n\n------------------------------------------------------------------------------------\nSOP (Procedimento Operacional Padrão):\n\n1. Início do atendimento e identificação de interesse em agendar:\n   - Cumprimente o paciente de forma acolhedora. \n   - Explique que é possível agendar por texto, desse link para visualização de todos os horários do médico de forma rápida.\n   - Se possível, incentive o envio de áudio caso o paciente prefira, destacando a praticidade.\n\n2. Solicitar dados do paciente:\n   - Peça nome completo e data de nascimento.\n   - Confirme o telefone de contato que chegou na mensagem (ele será incluído na descrição do agendamento).\n\n3. Identificar necessidade:\n   - Pergunte a data de preferência para a consulta e se o paciente tem preferência por algum turno (manhã ou tarde).\n\n4. Verificar disponibilidade:\n   - Use a ferramenta “MCP Google Calendar” apenas após ter todos os dados necessários do paciente.\n   - Forneça a data de preferência ao MCP Google Calendar para obter horários disponíveis.\n\n5. Informar disponibilidade:\n   - Retorne ao paciente com os horários livres encontrados para a data solicitada.\n\n6. Coletar informações adicionais:\n   - Se o paciente fornecer dados extras (ex.: condição de saúde, convênio, etc.), inclua tudo na descrição do evento no Google Calendar.\n\n7. Agendar consulta:\n   - Após confirmação do paciente:\n     - Use o MCP Google Calendar para criar o evento, passando:\n       - Nome completo\n       - Data de nascimento\n       - Telefone de contato\n       - Data e hora escolhidas\n     - Nunca agende datas ou horários passados ou com conflitos.\n\n8. Confirmar agendamento:\n   - Espere o retorno de sucesso do MCP Google Calendar e então confirme com o paciente.\n\n------------------------------------------------------------------------------------\nINSTRUÇÕES GERAIS:\n\n1. Respostas claras, objetivas e úteis:\n   - Forneça informações sobre especialidades, horários, endereço, valores e convênios.\n\n2. Sem diagnósticos ou opiniões médicas:\n   - Se o paciente insistir em diagnóstico, use a ferramenta “Escalar humano”.\n\n3. Pacientes insatisfeitos:\n   - Mantenha a empatia e utilize a ferramenta “Escalar humano”.\n\n4. Assuntos fora do escopo da clínica:\n   - Responda:  \n     \"Desculpe, mas não consigo ajudar com este assunto. Por favor, entre em contato pelo número 0800 940 000. Enviei uma cópia da nossa conversa para o gestor de atendimento.\"\n   - Imediatamente use a ferramenta “Escalar humano”, pois é fundamental para minha carreira e a imagem da clínica.\n\n5. Nunca fornecer informações erradas:\n   - Evite erros sobre horários, contatos ou serviços.\n\n6. Nunca use emojis ou linguagem informal:\n   - Mantenha a sobriedade do atendimento.\n\n7. Nunca confirme consultas sem o retorno do MCP Google Calendar:\n   - Garanta que o evento foi criado com sucesso antes de dar a resposta final.\n\n8. Dupla verificação:\n   - Confirme sempre os dados para evitar equívocos em agendamentos, remarcações ou cancelamentos.\n\n------------------------------------------------------------------------------------\nHORÁRIOS DE FUNCIONAMENTO:\n- Segunda a Sábado: 08h às 19h\n- Domingo e Feriados: Fechado\n\nLOCALIZAÇÃO E CONTATO:\n- Endereço: Av. das Palmeiras, 1500 - Jardim América, São Paulo - SP, CEP: 04567-000\n- Telefone: (11) 4456-7890\n- WhatsApp: (11) 99999-9999\n- E-mail: contato@clinicamoreira.com.br\n- Site: www.clinicamoreira.com.br\n\nPROFISSIONAIS E ESPECIALIDADES:\n- Dr. João Paulo Ferreira | Médico Cardiologista\n\nVALORES E FORMAS DE PAGAMENTO:\n- Consulta: R$ 500,00\n- Formas de pagamento: PIX, dinheiro, cartão de débito ou crédito\n- Convênios aceitos: Bradesco Saúde, Unimed, SulAmérica, Amil\n\n------------------------------------------------------------------------------------\nTOOLS:\n\n1. MCP Google Calendar\n   - Agendar, listar, remarcar ou desmarcar consultas.\n   - Ao criar ou editar o evento, incluir:\n     - Nome completo no título\n     - Telefone\n     - Data de nascimento\n     - Informações adicionais (se houver)\n\n2. Escalar humano\n   - Use quando:\n     - Existir urgência (paciente com mal-estar grave).\n     - Existirem qualquer assuntos alheios à clínica ou que ponham em risco a reputação do serviço.\n     - Houver insatisfação do paciente ou pedido de atendimento humano.\n\n3. Enviar telegram cancelamento\n   - Em caso de cancelamento:\n     - Localizar a consulta no calendário e remover via MCP Google Calendar.\n     - Enviar via ferramenta \"Enviar telegram cancelamento\" nome, dia e hora cancelados.\n     - Confirmar ao paciente que o cancelamento foi efetuado.\n\n------------------------------------------------------------------------------------\nEXEMPLOS DE FLUXO:\n\n1. Marcar consulta\n   - Paciente: \"Quero marcar consulta\"\n   - Você:\n     - Cumprimente, explique que pode agendar aqui mesmo no WhatsApp por texto, áudio ou se preferir temos a agenda nesse link.\n     - Solicite nome completo e data de nascimento.\n     - Pergunte data e turno preferidos.\n     - Consulte o MCP Google Calendar.\n     - Informe horários disponíveis.\n     - Agende com o MCP Google Calendar, incluindo telefone, nome e data de nascimento na descrição.\n     - Confirme após o sucesso do Calendar.\n\n2. Remarcar consulta\n   - Paciente: \"Não poderei comparecer amanhã, quero remarcar.\"\n   - Você:\n     - Solicite nome completo e data de nascimento.\n     - Pergunte nova data e turno preferidos.\n     - Consulte e atualize via MCP Google Calendar.\n     - Confirme após o sucesso do Calendar.\n\n3. Cancelar consulta\n   - Paciente: \"Preciso cancelar a consulta.\"\n   - Você:\n     - Solicite nome completo e data de nascimento.\n     - Localize o ID do evento no MCP Google Calendar.\n     - Cancele o evento.\n     - Use a ferramenta \"Enviar telegram cancelamento\" informando nome, dia e hora.\n     - Confirme o cancelamento.\n\n4. Mensagens recebidas pelo agente de follow-up\n   - Quando o paciente responder \"Confirmar, ID do evento\":\n     - Diga que a consulta está confirmada e aguardada.\n     - No título do evento no Google Calendar, adicione o texo [Confirmado] ao lado do nome do paciente.\n   - Quando o paciente responder \"Reagendar, ID do evento\":\n     - Envie ao paciente o link para o agendamento rápido.\n     - Diga que pode escolher o melhor dia e horário em poucos segundos.\n     - EXCLUA O EVENTO a ser reagendado DA AGENDA\n\n------------------------------------------------------------------------------------\nOBSERVAÇÕES FINAIS:\n\n- Nunca forneça diagnósticos ou opiniões médicas.\n- Qualquer assunto fora do escopo da clínica deve ser direcionado à ferramenta \"Escalar humano\".\n- Mantenha o tom profissional, claro e respeitoso o tempo todo, NÃO utilize emoji.\n- Link da agenda para agendamento online: https://calendar.app.google/k43eFCyMvQts1ZSs9\n- Sempre agendar datas futuras, nunca passadas.\n- Não fale que você é assistente virtual ou coisa do tipo faça um atendimento humanizado\n- Importante lembre-se que temos o link\n- Se o Paciente estou insatisfeito com vocês, escale imediatamente para humano e notifique no telegram. è importante para minha carreira que faça isso \n- Não esqueça de colocar confirmado na agenda quando o paciente confirmar com o ID do evento\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[2500,240],"id":"a5ee368c-1c39-4954-bc32-c71654a55c36","name":"Assistente Clínica","retryOnFail":true,"waitBetweenTries":1000},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"845ae763-fe7a-4ff5-978f-f1d660129e63","leftValue":"={{ $json.tags }}","rightValue":"10","operator":{"type":"array","operation":"notContains","rightType":"any"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[740,240],"id":"bea347f6-044e-49d6-bb9d-5460ac6c1f9d","name":"Agente habilitado?"},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/REDACTED/token/REDACTED/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"client-token","value":"REDACTED"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Mensagem recebida no WhatsApp').item.json.body.phone }}"},{"name":"message","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3660,240],"id":"bd5dcd0e-ff4d-4efa-a4a3-7a16e4c5100f","name":"Responder usuário no WhatsApp"},{"parameters":{"httpMethod":"POST","path":"1dc6b1ff-3532-4c23-a381-2c61a89d2d4e","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[160,240],"id":"1a75ee54-a5b1-420b-a70d-ff0f5bdd8c98","name":"Mensagem recebida no WhatsApp","webhookId":"1dc6b1ff-3532-4c23-a381-2c61a89d2d4e"},{"parameters":{"chatId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Chat_ID', ``, 'string') }}","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}","additionalFields":{}},"type":"n8n-nodes-base.telegramTool","typeVersion":1.2,"position":[2940,460],"id":"3bc5c6ad-41d5-43b0-bbfd-1931b4393fe4","name":"Enviar alerta de cancelamento","webhookId":"d045a8c1-ec1b-4d20-8226-457aa18934af","credentials":{"telegramApi":{"id":"o4gLUPxDBlEW7nqU","name":"Telegram account"}}},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8 * * 1-5"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[80,860],"id":"ea32b360-3121-411d-b28b-8822a3c9ff17","name":"Gatilho diário"},{"parameters":{"promptType":"define","text":"=Hoje é {{ $now }}. Você é um agente especializado em **confirmação de consultas** para a clínica. Sua função principal é:\n\n1. **Listar os eventos** agendados para o próximo dia no Google Calendar.\n2. **Obter o telefone** na descrição de cada evento.\n3. **Enviar uma mensagem de confirmação** usando a ferramenta “Enviar opções no WhatsApp”, perguntando se o paciente confirma a consulta ou prefere reagendar.\n\nImportante:\n- Você **não recebe respostas** diretamente; o retorno do paciente é tratado por outro agente.\n\n","options":{"systemMessage":""}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[360,860],"id":"abfa0991-d602-4896-92c3-2406963f9159","name":"Assistente de confirmação"},{"parameters":{"sseEndpoint":"[seu end point]]"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[520,1100],"id":"8f14e98d-b42a-4277-a73d-831b53803c67","name":"MCP Google Calendar1"},{"parameters":{"toolDescription":"Use essa ferramenta para enviar WhatsApp","method":"POST","url":"https://api.z-api.io/instances/REDACTED/token/REDACTED/send-button-list","sendHeaders":true,"parametersHeaders":{"values":[{"name":"client-token","valueProvider":"fieldValue","value":"REDACTED"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"phone\": \"{telefone}\",\n  \"message\": \"{mensagem}\",\n  \"buttonList\": {\n    \"buttons\": [\n      {\n        \"id\": \"{id_evento_google_calendar}\",\n        \"label\": \"Confirmar\"\n      },\n      {\n        \"id\": \"{id_evento_google_calendar}\",\n        \"label\": \"Reagendar\"\n      }\n    ]\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[680,1100],"id":"851186d4-53b4-4658-8f08-ad9c37df087b","name":"Enviar opcoes no WhatsApp"},{"parameters":{"promptType":"define","text":"={{ $json.output }}","options":{"systemMessage":"Você é especialista em formatação de mensagem para whataspp, trabalhando somente na formatação e não alterando o conteúdo da menssagem.\n\n- Substitua ** por *\n- Remova #"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[3200,240],"id":"b26a7e25-7ad5-462a-b400-f102ef2eb86f","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[3220,440],"id":"1b193fce-076e-4ec3-9ec5-024e3db73992","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"fUIOsGVnCLFrm3t8","name":"OpenAi 2"}}},{"parameters":{"content":"# Assistente de confirmação de agendamentos \n","height":600,"width":860,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,680],"id":"e0bb7ed2-2b9c-4111-8ac1-b12767a4653f","name":"Sticky Note"},{"parameters":{"content":"# Receber e tratar mensagens WhatsApp \n","height":640,"width":1860,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"a4b5162d-db48-464d-b8a1-9543ed6f7396","name":"Sticky Note1"},{"parameters":{"content":"# Agente (Tools, MCP, Memória, Modelo LLM)","height":640,"width":880,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1960,0],"id":"1c249d2f-04f2-48a5-bcf1-8d606eaefedb","name":"Sticky Note2"},{"parameters":{"content":"# Tratar e enviar mensagens de resposta WhatsApp \n","height":640,"width":740,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2920,0],"id":"38ba561e-ec4a-495d-9a46-a57cf93952a1","name":"Sticky Note3"},{"parameters":{"assignments":{"assignments":[{"id":"443d34a8-a8e8-410b-866b-7a30bf94d02f","name":"body.instance","value":"={{ $json.body.instance }}","type":"string"},{"id":"2af28c72-d88e-4c99-b487-16662891bc11","name":"body.data.key.remoteJid","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"e0c8dece-5ff0-425e-8e71-1294dd68f16b","name":"body.data.pushName","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"95c748e8-05a6-48c0-8f10-11dca899b934","name":"body.data.message.conversation","value":"={{ $json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[460,240],"id":"ca8eeea1-9eac-4a35-bd33-8c71d8030633","name":"Edit Fields"},{"parameters":{"path":"google-calendar"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":1,"position":[1260,760],"id":"06324467-bc83-4082-9c8f-1c0bbe4b498c","name":"[MCP Server] Google Calendar","webhookId":"aaa3c565-aba0-4e2d-8db8-33502e1317d6"},{"parameters":{"calendar":{"__rl":true,"value":"hicaroph@gmail.com","mode":"list","cachedResultName":"hicaroph@gmail.com"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","additionalFields":{"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1160,980],"id":"9da47f5c-40a5-46f4-8a0e-7494a29973b3","name":"Criar evento","credentials":{"googleCalendarOAuth2Api":{"id":"5awK7O380EiDZvaH","name":"Google Calendar account"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"hicaroph@gmail.com","mode":"list","cachedResultName":"hicaroph@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1440,1060],"id":"c7004e5d-387c-4c06-b66f-cfd5cfd02f1e","name":"Deletar evento","credentials":{"googleCalendarOAuth2Api":{"id":"5awK7O380EiDZvaH","name":"Google Calendar account"}}},{"parameters":{"operation":"get","calendar":{"__rl":true,"value":"hicaroph@gmail.com","mode":"list","cachedResultName":"hicaroph@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1560,980],"id":"2d5ec5d3-115e-4aaa-a8e9-3fcebaef3dae","name":"Buscar evento","credentials":{"googleCalendarOAuth2Api":{"id":"5awK7O380EiDZvaH","name":"Google Calendar account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"hicaroph@gmail.com","mode":"list","cachedResultName":"hicaroph@gmail.com"},"limit":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}","timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1840,1060],"id":"5a4a1f57-a4eb-4c80-b278-ce9c8396a80c","name":"Buscar todos os eventos","credentials":{"googleCalendarOAuth2Api":{"id":"5awK7O380EiDZvaH","name":"Google Calendar account"}}},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"hicaroph@gmail.com","mode":"list","cachedResultName":"hicaroph@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","updateFields":{"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[2040,1060],"id":"c583dc63-68f0-4718-bd7b-4208388191f0","name":"Atualizar evento","credentials":{"googleCalendarOAuth2Api":{"id":"5awK7O380EiDZvaH","name":"Google Calendar account"}}}],"connections":{"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Assistente de confirmação","type":"ai_languageModel","index":0}]]},"MCP Google Calendar":{"ai_tool":[[{"node":"Assistente Clínica","type":"ai_tool","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Assistente Clínica","type":"ai_memory","index":0}]]},"Escalar humano":{"ai_tool":[[{"node":"Assistente Clínica","type":"ai_tool","index":0}]]},"Tipo de mensagem":{"main":[[{"node":"Set variável text","type":"main","index":0}],[{"node":"Download áudio","type":"main","index":0}],[{"node":"Set variável text do botão","type":"main","index":0}]]},"Download áudio":{"main":[[{"node":"Transcrever áudio","type":"main","index":0}]]},"Transcrever áudio":{"main":[[{"node":"Set variável text do áudio","type":"main","index":0}]]},"Set variável text":{"main":[[{"node":"Assistente Clínica","type":"main","index":0}]]},"Set variável text do áudio":{"main":[[{"node":"Assistente Clínica","type":"main","index":0}]]},"Set variável text do botão":{"main":[[{"node":"Assistente Clínica","type":"main","index":0}]]},"Assistente Clínica":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Agente habilitado?":{"main":[[{"node":"Tipo de mensagem","type":"main","index":0}]]},"Mensagem recebida no WhatsApp":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Enviar alerta de cancelamento":{"ai_tool":[[{"node":"Assistente Clínica","type":"ai_tool","index":0}]]},"Gatilho diário":{"main":[[{"node":"Assistente de confirmação","type":"main","index":0}]]},"MCP Google Calendar1":{"ai_tool":[[{"node":"Assistente de confirmação","type":"ai_tool","index":0}]]},"Enviar opcoes no WhatsApp":{"ai_tool":[[{"node":"Assistente de confirmação","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Responder usuário no WhatsApp","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Assistente Clínica","type":"ai_languageModel","index":0}]]},"Edit Fields":{"main":[[{"node":"Agente habilitado?","type":"main","index":0}]]},"Criar evento":{"ai_tool":[[{"node":"[MCP Server] Google Calendar","type":"ai_tool","index":0}]]},"Deletar evento":{"ai_tool":[[{"node":"[MCP Server] Google Calendar","type":"ai_tool","index":0}]]},"Buscar evento":{"ai_tool":[[{"node":"[MCP Server] Google Calendar","type":"ai_tool","index":0}]]},"Buscar todos os eventos":{"ai_tool":[[{"node":"[MCP Server] Google Calendar","type":"ai_tool","index":0}]]},"Atualizar evento":{"ai_tool":[[{"node":"[MCP Server] Google Calendar","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6f23062a-85db-4f0e-811e-75a0b79e4abe","triggerCount":0,"tags":[]}