my-workflow-11-LBgzf0A7GOSOHLML.json
{"createdAt":"2025-05-21T21:06:38.600Z","updatedAt":"2025-05-23T17:59:19.000Z","id":"LBgzf0A7GOSOHLML","name":"My workflow 11","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"din-din","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2060,400],"id":"342f6717-1eab-4d8f-b602-d8ec3b0e8375","name":"Webhook","webhookId":"829288a5-2e16-455f-a7c6-281dc4ded9c3"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n// A string que você está recebendo\nconst stringRecebida = $input.first().json.content;\n\n// Removendo os delimitadores de código Markdown (```) e caracteres \\n\nconst jsonBruto = stringRecebida\n  .replace(/```json\\n|\\n```/g, '')  // Remove os marcadores de código Markdown\n  .replace(/\\\\n/g, '')              // Remove os \\n literais\n\n// Fazendo o parse para um objeto JavaScript\nconst objetoJSON = JSON.parse(jsonBruto);\n\nreturn {\n  ...objetoJSON,\n  user: $('Filtra Dados').first().json.whatsapp\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-20,220],"id":"5690181b-95e0-4b55-a37c-f610a85f556d","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"9d3f9f23-7b70-484a-8994-2269c1ed08bc","name":"whatsapp","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"4c77601b-e5d8-4cd1-89d0-5bb04a7ddcdc","name":"base64","value":"={{ $json.body.data.message.base64 }}","type":"string"},{"id":"5bcdacb3-e89f-4836-9fcc-f2e2b4bf371e","name":"messageType","value":"={{ $json.body.data.messageType }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1800,400],"id":"457696b8-d093-4909-b2e1-c5c5c3f09066","name":"Filtra Dados"},{"parameters":{"promptType":"define","text":"=O seu unico objeto é criar uma mensagem de sucesso sobre o registro dos dados abaixo de no máximo 100 caracter.\n\n*DADOS DA COMPRA*\nquando: {{ $json.data }}\nonde: {{ $json.estabelecimento }}\nvalor: {{ $json.valor }}\ndetalhes: {{ $json.detalhes }}\ncategoria: {{ $json.categoria }}\ntipo: {{ $json.tipo }}\n\n"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[2160,600],"id":"4a603ba7-269e-4302-b798-bfaa06104f09","name":"Basic LLM Chain"},{"parameters":{"resource":"messages-api","instanceName":"zanini","remoteJid":"={{ $('filtraDados').item.json.whatsapp }}","messageText":"={{ $json.text }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2480,600],"id":"e8615cdc-3f6d-45b2-ac00-cefa3212f256","name":"Responde o Cliente"},{"parameters":{"resource":"messages-api","instanceName":"zanini","remoteJid":"={{ $('Filtra Dados').item.json.whatsapp }}","messageText":"Oops! Não foi possível registrar as informações.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[0,0],"id":"57459492-aee2-48e3-99ac-d234e9e785fb","name":"Mensagem de Erro"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals"},"id":"2be6f6b1-e607-49c4-980d-fd03c478279a"}],"combinator":"and"},"renameOutput":true,"outputKey":"imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f20361f5-f595-45a3-bf24-1ed03108835c","leftValue":"={{ $json.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7969dbe1-785a-4853-bd58-3b89447bba1b","leftValue":"={{ $json.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1560,400],"id":"3829e8a8-c80f-4549-952c-a51cd16d7b43","name":"Verifica o Tipo de mensagem"},{"parameters":{"amount":6},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-700,740],"id":"7ccb779e-64de-4b07-be14-29ac7001b764","name":"Wait","webhookId":"3a561c40-a161-4071-a3b6-4e27c441eedd"},{"parameters":{"operation":"push","list":"={{ $json.whatsapp }}","messageData":"={{ $('Webhook').item.json.body.data.message.conversation }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-920,740],"id":"9c59c4a9-6051-44bd-b994-e118e9b1691d","name":"Listar Mensagens"},{"parameters":{"operation":"get","propertyName":"mensagens","key":"={{ $json.whatsapp }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-480,740],"id":"bdce26a6-fa1a-460d-9744-683acbbee02f","name":"Puxar Mensagens"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-40,860],"id":"15e63afd-7633-4d66-860e-cb2aff7a2883","name":"No Operation, do nothing"},{"parameters":{"assignments":{"assignments":[{"id":"96833a1a-530e-43ac-87c6-ff3fe2635b9a","name":"mensagens","value":"={{ $('Puxar Mensagens').item.json.mensagens.join('\\n') }}","type":"string"},{"id":"2c8e9f69-fa5c-42d1-ab15-cc315e85f82a","name":"whatsapp","value":"={{ $('Wait').item.json.whatsapp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-40,640],"id":"50222fe6-b41a-4e3c-a936-2c61159a2ffd","name":"Edit Fields"},{"parameters":{"operation":"delete","key":"={{ $json.whatsapp }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[180,640],"id":"79c86664-4a05-45f2-b34a-0eddc9ba6965","name":"Redis"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3cc229ad-229c-4b69-b868-afe3b2d6827b","leftValue":"={{ $json.mensagens.last() }}","rightValue":"={{ $('Webhook').item.json.body.data.message.conversation }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-260,740],"id":"cc243a08-1d87-4bd2-bab7-c3fb27013806","name":"If1"},{"parameters":{"workflowInputs":{"values":[{"name":"estabelecimento"},{"name":"valor","type":"number"},{"name":"quando"},{"name":"detalhes"},{"name":"whatsapp"},{"name":"tipo"},{"name":"categoria"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[1480,600],"id":"2044cf06-9ac3-4e1a-b1e4-c6cbb4b3ca0f","name":"When Executed by Another Workflow"},{"parameters":{"content":"## Registra dados\nRegistra as informações no banco de dados e responde o cliente com uma mensagem de sucesso.\n","height":500,"width":1400,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1420,440],"typeVersion":1,"id":"c63c10bb-cc1c-4ded-8d12-ea8f5939c6ef","name":"Sticky Note"},{"parameters":{"workflowId":{"__rl":true,"value":"={{$workflow.id}}","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"valor":"={{ $json.valorTotal }}","estabelecimento":"={{ $json.estabelecimento }}","detalhes":"={{ $json.detalhes }}","categoria":"={{ $json.categoria }}","tipo":"={{ $json.tipo }}","whatsapp":"={{ $json.user }}","quando":"={{ $json.quando }}"},"matchingColumns":[],"schema":[{"id":"estabelecimento","displayName":"estabelecimento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"valor","displayName":"valor","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"quando","displayName":"quando","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"detalhes","displayName":"detalhes","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"whatsapp","displayName":"whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tipo","displayName":"tipo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"categoria","displayName":"categoria","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[200,220],"id":"263a7213-246a-47ea-bc0a-a8a56bfb9924","name":"Execute Workflow"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2120,780],"id":"493a79e4-4cb5-4ae6-8404-516ee1d76a49","name":"OpenAI Chat Model"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[400,640],"id":"92d2f397-2a9f-4f5c-80a0-3c4ef0e805d7","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[360,860],"id":"b4a2425e-2103-47d3-a030-05515eb6adda","name":"OpenAI Chat Model1"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[560,860],"id":"9708d22f-fc0f-4f09-8d48-74d473fc4197","name":"registraDAdos"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f3f27a8f-ef57-42aa-8209-e6d3070be1c0","leftValue":"={{ $json.output }}","rightValue":"FALSE","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[740,640],"id":"4caf77e8-0b69-4a26-9ec4-58cb8900d941","name":"If2"},{"parameters":{"resource":"messages-api","instanceName":"zanini","remoteJid":"={{ $('Filtra Dados').item.json.whatsapp }}","messageText":"Oops! Não foi possível registrar as informações/","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[960,560],"id":"bfcea1dc-5839-4114-a439-de429ac19184","name":"Mensagem de Erro1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[960,760],"id":"d737a2ef-47e2-44c0-8de9-c4ec7ca832e5","name":"No Operation, do nothing1"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"=hora atual: {{ $now }}\n\nIdentifique na imagem o valor total da compra, nome do estabelecimento, data e hora (se não encontrar utilize a data e hora atual), categoria, identifique e registre também o tipo da moviementação se é uma 'despesa' ou 'receita'. Retorne os dados encontrados no formato json. Ex.:\n\n{\n\"estabelecimento\": \"(NOME_ESTABELECIMENTO)\",\n\"quando\": \"(DATA E HORA NO FORMATO TIMESTAMP)\",\n\"valorTotal\": \"(VALOR TOTAL NO FORMATO FLOAT)\",\n\"detalhes\": \"(EXPLIQUE O QUE PODE SER A COMPRA E NOME DOS ITENS)\",\n\"tipo\": \"(IDENTIFIQUE SE O VALOR É UMA RECEITA O DESPESA)\",\n\"categoria\": \"(INFORME A CATEGORIA)\",\n}\n*CATEGORIAS*\nLazer, Alimentação, Cuidados Pessoais, Despesa, Receita, Saúde, Compras, Casa e Outros.\n\n*ATENÇÃO*\nCaso não identifique as informações necessárias na imagem, retorne FALSE.","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-440,100],"id":"b30c333f-217f-457c-b11b-e58cf24ae92d","name":"Analiza a Imagem"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f3f27a8f-ef57-42aa-8209-e6d3070be1c0","leftValue":"={{ $json.content }}","rightValue":"FALSE","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-220,100],"id":"da63902a-67e9-493e-9043-7fb518785d4d","name":"Verifica se é uma imagem com dados de compra"},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-680,100],"id":"93c691c7-04b7-4c2f-9621-4298f9060ade","name":"Converte o base64 em imagem"},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{"fileName":"audio.mp3","mimeType":"audio/mpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-700,1260],"id":"5f6c32e3-e4b5-4843-ad0d-5322e673f0b0","name":"Converte o base64 em áudio"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-440,1260],"id":"add10191-a279-41f3-aea5-b9c003567285","name":"Transcreve o audio"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-160,1260],"id":"88a9c16e-980c-4249-ab2c-ccf4a38ed5a1","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-200,1480],"id":"95f558fb-c180-473a-830d-c482caf8bd4b","name":"OpenAI Chat Model2"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[0,1480],"id":"332d8df6-033f-4b0a-97d0-862a022ad50f","name":"registraDAdos1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f3f27a8f-ef57-42aa-8209-e6d3070be1c0","leftValue":"={{ $json.output }}","rightValue":"FALSE","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[280,1260],"id":"1468918b-92da-4e74-91d4-2daf57ea5304","name":"If"},{"parameters":{"resource":"messages-api","instanceName":"zanini","remoteJid":"={{ $('Filtra Dados').item.json.whatsapp }}","messageText":"Oops! Não foi possível registrar as informações/","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[500,1180],"id":"ecffb3af-30f2-4979-bf12-c55e5cdc63c7","name":"Mensagem de Erro2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[500,1380],"id":"15dab863-7892-4e19-8fb0-c1a1a28cb144","name":"No Operation, do nothing2"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"zanini","messageId":"={{ $('Webhook').item.json.body.data.key.id }}","convertToMp4":true},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-920,1260],"id":"4c8ecb72-68ff-4064-bc76-33a2b3330739","name":"Caso não recebemos o Base64 consultamos no EVOAPI"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"zanini","messageId":"={{ $('Webhook').item.json.body.data.key.id }}","convertToMp4":true},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-940,100],"id":"7b6de370-d4c7-4c6c-8d4f-5e6613743bbe","name":"Caso não recebemos o Base64 consultamos no EVOAPI1"},{"parameters":{"assignments":{"assignments":[{"id":"d0e66d32-363a-44dd-99da-01d8ec7d9178","name":"estabelecimento","value":"={{ $json.estabelecimento }}","type":"string"},{"id":"9412a0d4-078a-4ec3-a4e1-ac2838a2991e","name":"valor","value":"={{ $json.valor }}","type":"string"},{"id":"9b638857-dd2e-49ad-9d00-6956c55f6ca5","name":"quando","value":"={{ $json.quando }}","type":"string"},{"id":"26525693-5aae-48b8-857a-ec9660c06977","name":"detalhes","value":"={{ $json.detalhes }}","type":"string"},{"id":"146697e5-134f-468c-ba93-e9c5f544e56b","name":"tipo","value":"={{ $json.tipo }}","type":"string"},{"id":"da7a2f3f-41ca-418d-a3cc-24912ff384b0","name":"categoria","value":"={{ $json.categoria }}","type":"string"},{"id":"949faa29-e733-46d3-b080-086951c97e59","name":"whatsapp","value":"={{ $json.whatsapp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1700,600],"id":"65886b08-bdcf-4706-a21e-52b3222b2054","name":"filtraDados"},{"parameters":{"tableId":"transacoes","fieldsUi":{"fieldValues":[{"fieldId":"estabelecimento","fieldValue":"={{ $json.estabelecimento }}"},{"fieldId":"valor","fieldValue":"={{ $json.valor }}"},{"fieldId":"quando","fieldValue":"={{ $json.quando }}"},{"fieldId":"detalhes","fieldValue":"={{ $json.detalhes }}"},{"fieldId":"tipo","fieldValue":"={{ $json.tipo }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1920,600],"id":"1001a0bd-6ad7-40fd-b248-b4322c156493","name":"Supabase"}],"connections":{"Webhook":{"main":[[{"node":"Filtra Dados","type":"main","index":0}]]},"Code":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Filtra Dados":{"main":[[{"node":"Verifica o Tipo de mensagem","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Responde o Cliente","type":"main","index":0}]]},"Verifica o Tipo de mensagem":{"main":[[{"node":"Caso não recebemos o Base64 consultamos no EVOAPI1","type":"main","index":0}],[{"node":"Listar Mensagens","type":"main","index":0}],[{"node":"Caso não recebemos o Base64 consultamos no EVOAPI","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Puxar Mensagens","type":"main","index":0}]]},"Listar Mensagens":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Puxar Mensagens":{"main":[[{"node":"If1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Redis","type":"main","index":0}]]},"If1":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"filtraDados","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"If2":{"main":[[{"node":"Mensagem de Erro1","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Analiza a Imagem":{"main":[[{"node":"Verifica se é uma imagem com dados de compra","type":"main","index":0}]]},"Verifica se é uma imagem com dados de compra":{"main":[[{"node":"Mensagem de Erro","type":"main","index":0}],[{"node":"Code","type":"main","index":0}]]},"Converte o base64 em imagem":{"main":[[{"node":"Analiza a Imagem","type":"main","index":0}]]},"Converte o base64 em áudio":{"main":[[{"node":"Transcreve o audio","type":"main","index":0}]]},"If":{"main":[[{"node":"Mensagem de Erro2","type":"main","index":0}],[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Caso não recebemos o Base64 consultamos no EVOAPI":{"main":[[{"node":"Converte o base64 em áudio","type":"main","index":0}]]},"Caso não recebemos o Base64 consultamos no EVOAPI1":{"main":[[{"node":"Converte o base64 em imagem","type":"main","index":0}]]},"filtraDados":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7c48cfaf-76ea-4a8c-a73c-2667f8ae2f7a","triggerCount":0,"tags":[]}