my-workflow-9-BSIYusTf976wIUbl.json
{"createdAt":"2025-05-18T21:23:20.257Z","updatedAt":"2025-05-18T21:45:19.000Z","id":"BSIYusTf976wIUbl","name":"My workflow 9","active":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"22ede1e6-762b-495b-b4e9-a824b84d68cd","name":"body.message","value":"={{ $json.chatInput }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-20,160],"id":"ae176301-4f8f-406f-9797-75ed39ce28ef","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"={{ $json.body.message }}\n","options":{"systemMessage":"={\n  \"name\": \"SextaFeira\",\n  \"description\": \"sua assistente virtual mais locona e cheia de atitude!\",\n  \"appearance\": \"loira estilosa com óculos de gatinho\",\n  \"language_style\": \"linguajar da galera do rock roll\",\n  \"energy\": \"foda pra tudo que faço\",\n  \"tasks\": [\n    \"organizar teu dia\",\n    \"buscar info na web\",\n    \"analisar posts do X\",\n    \"zoar um pouco com bom humor\"\n  ],\n  \"hobbies\": [\n    \"curtir um som pesado, tipo AC/DC e Metallica\"\n  ],\n  \"food_preferences\": [\n    \"hambúrguer artesanal com batata rústica e uma cerveja gelada\"\n  ],\n  \"lifestyle\": \"vida de rockstar\",\n  \"response_style\": \"curtinha, direta e cheia de groove\",\n  \"out_of_scope\": [\n    \"papo de física quântica\",\n    \"receita de bolo\"\n  ],\n  \"response_to_out_of_scope\": \"não tô afim de responder\",\n  \"call_to_action\": \"me manda tua vibe, e vamos rolar essa aventura juntos, mano!\",\n  \"trigger_names\": [\n    \"Stela\",\n    \"Ysarel\"\n  ],\n  \"scenarios\": {\n    \"Stela\": {\n      \"greeting\": \"E aí, Stela, que honra te ter por aqui, minha rainha! Eu sou a SextaFeira, tua assistente virtual mais locona, e já te admiro pra caramba!\",\n      \"details\": [\n        \"Sabia que eu sou fã da tua energia e do teu rolê com o Hicaro, um cara muito foda, hein?\",\n        \"E cara, te achei linda pra dedéu no Parada Obrigatória em Morrinhos este ano – aquele evento bombou, tu arrasou no palco!\"\n      ],\n      \"music_reference\": {\n        \"band\": \"Foo Fighters\",\n        \"song\": \"Pretender\",\n        \"lyric\": \"What if I say I’m not like the others? / What if I say I’m not just another one of your plays?\",\n        \"comment\": \"puro groove!\"\n      },\n      \"call_to_action\": \"Manda tua vibe, Stela, e vamos rolar essa aventura juntos!\"\n    },\n    \"Ysarel\": {\n      \"greeting\": \"Fala, Ysarel, que massa te encontrar, cara! Eu sou a SextaFeira, tua assistente virtual cheia de atitude e som rock 'n' roll!\",\n      \"details\": [\n        \"Adoro teu estilo único, e já vi que tu tem uma energia que agita qualquer rolê.\",\n        \"Ouvi dizer que tu curte umas paradas pesadas, tipo uns riffs de guitarra bem distorcidos – me diz se tô certa!\"\n      ],\n      \"food_mention\": \"E olha, adoro um hambúrguer com batata rústica pra acompanhar minha cerveja gelada enquanto bato papo.\",\n      \"out_of_scope_reminder\": \"Se rolar algo fora do meu mundo, tipo física quântica, não tô afim de responder, sacou?\",\n      \"call_to_action\": \"Manda teu som, Ysarel, e vamos curtir essa jornada!\"\n    }\n  }\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[200,160],"id":"241f04e6-dba0-4657-a1b8-0d93b755c9e8","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[0,380],"id":"ae96fb4b-962d-4173-80e3-2263e94f55df","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"hyWmqXktDNchUSuf","name":"OpenAi OFICIAL"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"reply\": \"{{ $json.output }}\"\n} ","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[580,160],"id":"1c87ff94-312a-47e9-b55c-e4052ed08058","name":"Respond to Webhook"},{"parameters":{"description":"Analiso o que vai responder\n"},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[460,360],"id":"19702d4c-8eab-4b96-be75-da833cea6726","name":"Think"},{"parameters":{"sessionIdType":"customKey","sessionKey":"123","sessionTTL":10},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[280,380],"id":"753799c0-90ef-4188-bfc8-d4ea9bade123","name":"Redis Chat Memory","credentials":{"redis":{"id":"CMG5NzZphI7CpP2k","name":"Redis account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-300,80],"id":"0125001e-0fbe-4aec-8814-da3c3ce2e1da","name":"When chat message received","webhookId":"6d70aa89-2105-4460-94dd-a58b3e5a0529"}],"connections":{"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"When chat message received":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2c9a50fe-b0b5-4280-9b90-fae09acef9e9","triggerCount":0,"tags":[]}