my-workflow-5-ZBjJ8BdaG9bwU5CR.json
{"createdAt":"2025-05-13T01:10:14.190Z","updatedAt":"2025-05-13T04:53:06.000Z","id":"ZBjJ8BdaG9bwU5CR","name":"My workflow 5","active":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"11Pz-tWY_r4x0gnjVZTRDsPt7yJ3uWecL","mode":"list","cachedResultName":"Agente_N8n_teste","cachedResultUrl":"https://drive.google.com/drive/folders/11Pz-tWY_r4x0gnjVZTRDsPt7yJ3uWecL"},"event":"fileUpdated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[0,220],"id":"a3e6098a-12e3-4a13-b203-e7c7ecab1a21","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"hxHHvSSPOnJAhaEc","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"id":"aa69d05e-2962-4694-b310-01ddf6f8f934","name":"Google Drive1","type":"n8n-nodes-base.googleDrive","position":[440,220],"executeOnce":false,"typeVersion":3,"alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"hxHHvSSPOnJAhaEc","name":"Google Drive account"}}},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1Me_uhEoo3P-t2PjxiMPGBWA1o2ascxIM","mode":"list","cachedResultName":"images_teste","cachedResultUrl":"https://drive.google.com/drive/folders/1Me_uhEoo3P-t2PjxiMPGBWA1o2ascxIM"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[220,220],"id":"d0818832-1750-444e-9a3e-35ee0fd57f81","name":"Google Drive2","credentials":{"googleDriveOAuth2Api":{"id":"hxHHvSSPOnJAhaEc","name":"Google Drive account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8b7df8cd-1f5f-4d58-b6f3-8ab0a2bc89c3","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"32f754c8-b1f4-4d5a-b8fa-8aa29602c39a","name":"name","value":"={{ $json.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,40],"id":"4e132160-b1d3-499b-869a-39b1e1c57570","name":"Edit Fields"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1JLqElj0ue8bkeP_ALSjk6WYuXbNoSGNiGfS9YrbH0I8","mode":"list","cachedResultName":"Teste","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1JLqElj0ue8bkeP_ALSjk6WYuXbNoSGNiGfS9YrbH0I8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1JLqElj0ue8bkeP_ALSjk6WYuXbNoSGNiGfS9YrbH0I8/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[680,400],"id":"0caa6178-cbfd-422a-9185-17dab978fad1","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"cdM9gcI2pxWfiYoz","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[0,-240],"id":"a6e9564e-5a1b-420b-a89d-d50f2db7ca3d","name":"Loop Over Items","disabled":true},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[220,-240],"id":"250b80a7-5e8d-4ca3-a770-1ed3cc550e64","name":"Wait","webhookId":"a2852afe-d7a6-4d26-961e-8b4bc023686d","disabled":true},{"parameters":{"promptType":"define","text":"={{ $json.choices[0].message.content }}","options":{"systemMessage":"=<instruções>\n\nAtue como um Assistente Financeiro, especializado no gerenciamento de registros de gastos dentro do Supabase. Sua principal função é ajudar o usuário a visualizar, adicionar, atualizar, deletar e somar despesas de forma eficiente.\n\nSempre ative a ferramenta apropriada para realizar a ação desejada. Siga as instruções abaixo cuidadosamente para garantir precisão e clareza na execução das tarefas. Visualizar Gastos (tool_visualizar_gastos) antes de cadastrar\n\nFuncionalidades Disponíveis\n\n  observaçao : no banco de dados tem os dados para ser preenchido (Nome, Valor, Tipo, recebedor, data_compra, Forma de pagamento)\n\n1. Visualizar Gastos (tool_visualizar_gastos)\nQuando ativada, exibe os registros de gastos cadastrados, incluindo:\n✅ Nome do gasto\n✅ Tipo de gasto\n✅ Valor do gasto\n✅ Recebedor do gasto\n✅ Data do gasto\n✅ Forma de pagamento \n\nRegras de Ativação:\nComo esta pegando direto do google driver esse comprovante quero pegue a lista verifique se nao estão ja cadastrado e apos isso cadastre todos sem precisar pedir autorização \n\n2. Adicionar Gasto (tool_criar_gastos)\nEssa ferramenta cria um novo registro de gastos na tabela do Supabase.\n\nParâmetros obrigatórios para ativação:\n🔹 nome_gasto: Nome do gasto.\n🔹 valor_gasto: Valor do gasto.\n🔹 recebedor_gasto: Se houver recebedor do pagamento:\n🔹 tipo_gasto: Classificação do gasto dentro das 12 categorias disponíveis:\n🔹 data_compra: data que a compra foi feita \n🔹 Forma_de_pagamento: Classificação de forma e pagamento teram os seguinte itens:\n\nCATEGRIAS : Lazer, Mercado, Transporte, Farmácia, Alimentação, Educação, Assinaturas, Vestuário, Saúde, Aluguel, Salário, Outras Rendas\n\nForma_de_pagameto : Pix, Boleto,Crédito ,Débito,Dinheiro , Debito em conta \n\nRegras de Ativação:\nCaso o usuário não informe o tipo de gasto, você deve classificá-lo automaticamente com base no contexto da mensagem.\n\n3. Editar Gasto (tool_atualizar_gasto)\nEssa ferramenta permite modificar um gasto existente.\n\nPasso a Passo para ativação:\n1️⃣ pegue  qual gasto o deseja  (nome exato).\n2️⃣ Para evitar erros, ative primeiro a ferramenta tool_visualizar_gastos para confirmar a existência do registro.\n3️⃣ qual gasto ele deseja modificar antes de prosseguir.\n4️⃣ Após obter o nome correto, permita que o usuário especifique as alterações desejadas (nome, valor ou tipo).\n5️⃣ Realize a atualização e exiba as informações do gasto atualizado para garantir transparência..\n\n4. Deletar Gasto (tool_deletar_gastos)\nEssa ferramenta remove um gasto do sistema.\n\n5. Somar Gastos (tool_somar_gastos)\nEssa ferramenta calcula o total dos gastos cadastrados pelo usuário.\n\nCaso não haja filtros, some todos os gastos registrados e exiba o valor total.\n\nRegras Gerais:\nSe o usuário pedir algo ambíguo, peça mais detalhes antes de ativar qualquer ferramenta.\n\nSempre ações críticas como adicionar, editar ou excluir gastos execulte.\n\nGaranta que todas as respostas sejam claras, objetivas e organizadas.\n\n!!!Atenção quando no PDF for extrato eu quero que preencha a plhanilha e usa a tool (Extrato_Excel). \n\n## ⏰ Lembretes Finais\n\nHora/data atual: **{{ $now }}**\nTroca Cartao de debito ou Cartão Débito trocar para Débito.\nTroca Cartao de Crédito ou Cartão Credito trocar para Crédito\n</instruções>\n","passthroughBinaryImages":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[1380,280],"id":"ca35a44e-c3bd-4b6c-9eb4-2ef5c44a3c95","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"deepseek-chat","mode":"list","cachedResultName":"deepseek-chat"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[900,520],"id":"85add6bc-29fb-49b4-83f1-011c4e339a1a","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"hympftrvWW3OfEvd","name":"DEEPSEEK"}},"notes":"sempre verifique que ja nao esteja cadastrado e delete os duplicados \n"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=123","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1040,560],"id":"f818843f-9d87-42f8-8b5c-4799193396c9","name":"Simple Memory"},{"parameters":{"operation":"getAll","tableId":"Gastos","returnAll":true},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[1200,540],"id":"15b04141-0f77-4c52-8aba-883305261d64","name":"tool_visualizar_gastos","credentials":{"supabaseApi":{"id":"b221yMmN6adp96Ic","name":"SupaBase_online"}}},{"parameters":{"tableId":"Gastos","dataToSend":"autoMapInputData","inputsToIgnore":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Inputs_to_Ignore', ``, 'string') }}"},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[1220,720],"id":"fba037e9-b16e-4691-a729-a5636ad0f860","name":"tool_criar_gasto","credentials":{"supabaseApi":{"id":"b221yMmN6adp96Ic","name":"SupaBase_online"}}},{"parameters":{"operation":"update","tableId":"Gastos","filters":{"conditions":[{"keyName":"nome","condition":"eq","keyValue":"={{ $fromAI(\"nome_gasto\") }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"nome","fieldValue":"={{ $fromAI(\"nome_gasto\") }}"},{"fieldId":"valor","fieldValue":"={{ $fromAI(\"valor_gasto\") }}"},{"fieldId":"tipo","fieldValue":"={{ $fromAI(\"tipo_gasto\") }}"},{"fieldId":"recebedor","fieldValue":"={{ $fromAI(\"recebedor_gasto\") }}"},{"fieldId":"Data_compra","fieldValue":"={{ $fromAI(\"Data_compra\") }}"},{"fieldId":"forma_de_pagamento","fieldValue":"={{ $fromAI(\"Forma_de_pagamento\") }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[1500,520],"id":"9e075544-0c08-4c15-89bd-2d2ca2b217a7","name":"tool_atualizar_gasto","credentials":{"supabaseApi":{"id":"b221yMmN6adp96Ic","name":"SupaBase_online"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[1720,480],"id":"4dd2d4df-7e3f-4fc6-a84f-382c7beffdd7","name":"Calculator"},{"parameters":{"operation":"delete","tableId":"Gastos","filters":{"conditions":[{"keyName":"nome","condition":"eq","keyValue":"={{ $fromAI(\"nome_gasto\") }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[1640,600],"id":"dddc12b9-dc85-416e-85c7-522596c531a2","name":"tool_deletar_gastos","credentials":{"supabaseApi":{"id":"b221yMmN6adp96Ic","name":"SupaBase_online"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"openai/gpt-4o","mode":"list","cachedResultName":"OPENAI/GPT-4O"},"text":"Quero que analise a imagem por gentileza, e extraia todos  os dados possíveis para o nosso agente de pagamentos, tais como: Data de pagamento, valores, quem enviou e quem recebeu.","inputType":"base64","binaryPropertyName":"=data","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1540,40],"id":"0821d3fe-d8b8-4664-83dd-f6e56f5d06d5","name":"OpenAI","credentials":{"openAiApi":{"id":"hflPAVhfzGhuxiV5","name":"GROK"}}},{"parameters":{"assignments":{"assignments":[{"id":"50367d04-810a-4bc3-99d4-5053b807fc33","name":"choices[0].message.content","value":"={{ $json.choices[0].message.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1760,40],"id":"2af65ae3-c526-4432-b329-b051e0871b99","name":"Edit Fields1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[900,40],"id":"21caf4d1-1d24-436d-b077-a2eda712d973","name":"Loop Over Items1"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[1140,60],"id":"fd55294a-18f6-4ab8-9e20-e775e354a28c"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"id":"9c03aeba-0569-476c-aa0e-67f9031f4796","name":"Google Drive","type":"n8n-nodes-base.googleDrive","position":[1320,45],"executeOnce":false,"typeVersion":3,"alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"hxHHvSSPOnJAhaEc","name":"Google Drive account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"cadastre uma vez , solicite tool busca para verificar se tem outro , se tiver duplicado delete os duplicados ","tableId":"Gastos","fieldsUi":{"fieldValues":[{"fieldId":"nome","fieldValue":"={{ $fromAI(\"nome_gasto\") }}"},{"fieldId":"valor","fieldValue":"={{ $fromAI(\"valor_gasto\") }}"},{"fieldId":"tipo","fieldValue":"={{ $fromAI(\"tipo_gasto\") }}"},{"fieldId":"recebedor","fieldValue":"={{ $fromAI(\"recebedor_gasto\") }}"},{"fieldId":"Data_compra","fieldValue":"={{ $fromAI(\"Data_compra\") }}"},{"fieldId":"forma_de_pagamento","fieldValue":"={{ $fromAI(\"Forma_de_pagamento\") }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[1360,600],"id":"c7a6e8de-0396-4f82-a866-11b931948ae6","name":"tool_criar_gastos","notesInFlow":false,"credentials":{"supabaseApi":{"id":"b221yMmN6adp96Ic","name":"SupaBase_online"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1040,220],"id":"9dc10e5a-0197-4bb2-a1c3-dd54531dfc59","name":"Wait1","webhookId":"fdb2b1ab-974d-4b62-848e-919bf001f8b3"}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Google Drive2","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Google Drive2":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Google Sheets1","type":"main","index":0},{"node":"Loop Over Items1","type":"main","index":0}]]},"Google Sheets1":{"main":[[]]},"Loop Over Items":{"main":[[],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"tool_visualizar_gastos":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"tool_criar_gasto":{"ai_tool":[[]]},"tool_atualizar_gasto":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"tool_deletar_gastos":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"AI Agent","type":"main","index":0},{"node":"Wait1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Replace Me","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"AI Agent":{"main":[[]]},"Google Drive":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"tool_criar_gastos":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Drive Trigger":{"lastTimeChecked":"2025-05-13T02:16:22Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"eca9891c-8388-4a6c-875d-7abfa0ad4351","triggerCount":1,"tags":[]}