my-workflow-4-9oT7ShXQVfZDnFdp.json
{"createdAt":"2025-05-09T12:51:13.501Z","updatedAt":"2025-05-09T15:40:14.000Z","id":"9oT7ShXQVfZDnFdp","name":"My workflow 4","active":false,"nodes":[{"parameters":{"options":{}},"id":"d1c042dd-b417-41aa-82c1-0e27506ddd12","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[200,2060],"credentials":{"openAiApi":{"id":"fUIOsGVnCLFrm3t8","name":"OpenAi 2"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID').first().json.file_id }}"}]}}},"id":"d9812b32-0ba0-40cb-9f47-1412cca774d0","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[-3480,2800]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"fddd5e5a-70a3-4931-8655-8ac024df518e","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[-3560,2860],"credentials":{"openAiApi":{"id":"fUIOsGVnCLFrm3t8","name":"OpenAi 2"}}},{"parameters":{"content":"## Busca Info no RAG","height":80,"width":250,"color":5},"id":"611e32bc-8276-489d-bf9c-d5f9b66043ba","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[140,2220]},{"parameters":{"content":"# Ferramenta para Adicionar um Arquivo do Google Drive ao Banco de Dados Vetorial.","height":80,"width":1493,"color":5},"id":"5d8bfd37-d940-4242-972b-51d4ac4843ba","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5340,2300]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"dadd2999-851e-4ec0-a1d9-75b5e19b80b4","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-4380,2580],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"hxHHvSSPOnJAhaEc","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"hour":5}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"11Pz-tWY_r4x0gnjVZTRDsPt7yJ3uWecL","mode":"list","cachedResultName":"Agente_N8n_teste","cachedResultUrl":"https://drive.google.com/drive/folders/11Pz-tWY_r4x0gnjVZTRDsPt7yJ3uWecL"},"event":"fileCreated","options":{}},"id":"1a2ca0a7-eec3-4b66-a4ea-caa70839be94","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-5280,2520],"credentials":{"googleDriveOAuth2Api":{"id":"hxHHvSSPOnJAhaEc","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"hour":4}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"11Pz-tWY_r4x0gnjVZTRDsPt7yJ3uWecL","mode":"list","cachedResultName":"Agente_N8n_teste","cachedResultUrl":"https://drive.google.com/drive/folders/11Pz-tWY_r4x0gnjVZTRDsPt7yJ3uWecL"},"event":"fileUpdated","options":{}},"id":"c64c9039-35d3-4ae0-94f4-42538815bbea","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-5280,2720],"credentials":{"googleDriveOAuth2Api":{"id":"hxHHvSSPOnJAhaEc","name":"Google Drive account"}}},{"parameters":{"operation":"text","options":{}},"id":"d5f8bc1e-5d51-437b-9985-50f77df826ed","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-3960,2780],"alwaysOutputData":true},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"e3d46b43-069a-4ba6-941a-b3727c1d3061","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[-160,2180],"credentials":{"openAiApi":{"id":"fUIOsGVnCLFrm3t8","name":"OpenAi 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"},{"id":"f4536df5-d0b1-4392-bf17-b8137fb31a44","name":"file_type","value":"={{ $json.mimeType }}","type":"string"},{"id":"c774ed34-0d67-44b7-a537-83810f357b7c","name":"originalFilename","value":"={{ $json.originalFilename }}","type":"string"},{"id":"dff39c85-b4a2-45ba-a5ff-f4b311999efc","name":"sha1Checksum","value":"={{ $json.sha1Checksum }}","type":"string"}]},"options":{}},"id":"d03eacab-c6b5-42b0-bf99-37f9adf63c4f","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5100,2560]},{"parameters":{"content":"# TREINAMENTO IA","height":80,"width":396,"color":5},"id":"0a435bb4-a6c0-4021-81cc-6cc2122d4b0e","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-820,1100]},{"parameters":{"operation":"pdf","options":{}},"id":"c74e8fd6-7aea-45da-a0e4-a033bad0492a","name":"Extract PDF Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-3960,2400]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"0e96df05-d5cc-4db8-8221-15685856a19a","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-3820,2580]},{"parameters":{},"id":"0c5c2869-c8e3-479e-819a-000f49235db1","name":"Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[-3340,2900]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"id":"cb6ec681-f09a-4cd8-a981-179682b22ec4","name":"Summarize","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-3680,2580]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.file_type }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2ae7faa7-a936-4621-a680-60c512163034","leftValue":"={{ $json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fc193b06-363b-4699-a97d-e5a850138b0e","leftValue":"={{ $json.file_type }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":2}},"id":"7c23af9e-b625-4528-b337-d428f237cb4a","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-4200,2580]},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"80c696f0-e69e-4aa1-901a-efe030f2dc56","name":"Insert into Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[-3500,2580],"credentials":{"supabaseApi":{"id":"b221yMmN6adp96Ic","name":"SupaBase_online"}}},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"a856e4f9-a115-4e72-910a-7934e051205d","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[-180,2020],"credentials":{"supabaseApi":{"id":"b221yMmN6adp96Ic","name":"SupaBase_online"}}},{"parameters":{"operation":"xlsx","options":{}},"id":"422d4ad5-008d-4e52-92e7-31de86f15bcd","name":"Extract from Excel","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-3960,2580]},{"parameters":{"content":"","height":620,"width":820,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-840,1080],"typeVersion":1,"id":"2f8a8ab7-57a2-46e3-9013-3a277ab9e14d","name":"Sticky Note4"},{"parameters":{"content":"","height":460,"width":640,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-220,1860],"typeVersion":1,"id":"f07c8308-1793-4f89-80a8-f8a5c59136f8","name":"Sticky Note5"},{"parameters":{"content":"","height":800,"width":2180,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-5360,2280],"typeVersion":1,"id":"32de76ed-9cae-42f3-bedf-03407e793338","name":"Sticky Note6"},{"parameters":{"content":"## Arquivos criados em uma pasta específica > Verificar o tipo de arquivo e realizar conversão > Extrair o texto > Adicionar ao Vector Store","height":80,"width":1600,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-5340,2980],"typeVersion":1,"id":"1b2e11c1-bb52-4a1c-8eab-e4b35d44d981","name":"Sticky Note12"},{"parameters":{"content":"## Gatilho de Monitoramento","height":480,"width":213,"color":5},"id":"4c1da4cc-f128-47a3-aae1-e226edae8ad8","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5320,2420]},{"parameters":{"options":{}},"id":"4db495c0-8cf7-4fc2-98df-66b8bb0eecad","name":"OpenAI3","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[380,1000],"credentials":{"openAiApi":{"id":"fUIOsGVnCLFrm3t8","name":"OpenAi 2"}}},{"parameters":{"options":{}},"id":"f5160a07-d95d-4f40-87ee-d1e4f67f0f7a","name":"Loop Over Items3","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[960,840]},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"messages\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"messages\"]\n}"},"id":"d2cde9d8-e306-46cc-bfb2-da7392025a0e","name":"OutputParser1","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[660,1000]},{"parameters":{"promptType":"define","text":"=Whatsapp message to be splitted and formated: {{ $json.output }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Por favor, gere a saída no seguinte formato JSON:\n{\n  \"messages\": [\n    \"splitedMessage\",\n    \"splitedMessage\",\n    \"splitedMessage\"\n  ]\n}\n\nAs mensagens devem ser divididas de forma natural, afinal estamos conversando com um humano, não é mesmo?\n\nCertifique-se de que a resposta siga exatamente essa estrutura, incluindo os colchetes e as aspas.\n\n### Jamais separe uma mensagem vazia.\n\n### Sempre que tiver um link envie ele de forma separada sem alteração\n\n### Certifique-se de que a resposta siga exatamente essa estrutura abaixo, deixando somente entre '*' para negrito e nunca fugindo das demais regras de markdown do whatsapp:\n\t\t\t- *negrito* (substitua '**' por '*')\n\t\t\t- ~tachado~ (caso seja algo que foi excluído ou alterado)\n\t\t\t- _itálico_.(extremamente raro)\n            - `link` (usar sempre em todos os links)"}]}},"id":"f2615858-762c-4b6d-bed6-6fef6f0c7c39","name":"Parser  Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[500,840]},{"parameters":{"content":"","height":560,"width":1180,"color":4},"type":"n8n-nodes-base.stickyNote","position":[340,580],"typeVersion":1,"id":"68960eda-736b-4754-b741-0d176d344a5e","name":"Sticky Note18"},{"parameters":{"content":"# Divisão de Mensagens Inteligente - Texto","height":80,"width":736,"color":5},"id":"dd088b66-287c-4e74-b2b0-9a3ca892cab4","name":"Sticky Note19","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[340,580]},{"parameters":{"content":"","height":440,"width":740,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-3700,1260],"typeVersion":1,"id":"2aed0dd7-8e44-441c-ba1e-ee07716146e6","name":"Sticky Note22"},{"parameters":{"content":"# Gera/Consulta sessionId","height":80,"width":596,"color":5},"id":"edc3500e-080c-48a2-89b9-aa2b44394d20","name":"Sticky Note23","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3680,1280]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"0985904e-7d4e-4fba-ae26-2c44200855e1","leftValue":"={{ $('Webhook EVO').item.json[\"body\"][\"data\"][\"messageType\"] }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"52aaf749-fe4f-44e4-880e-15b2bfc027f1","leftValue":"={{ $('Webhook EVO').item.json[\"body\"][\"data\"][\"messageType\"] }}","rightValue":"extendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"e514e613-fd6a-48bd-b0ae-bae2448c810e","leftValue":"={{ $('Webhook EVO').item.json[\"body\"][\"data\"][\"messageType\"] }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Webhook EVO').item.json[\"body\"][\"data\"][\"messageType\"] }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"}]},"options":{}},"id":"fe053272-08ec-4059-82d0-aae4f5726e9f","name":"Switch3","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-180,1140]},{"parameters":{"content":"","height":440,"width":780,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-4880,1260],"typeVersion":1,"id":"d4862fcb-236a-4885-86e9-ba850b863869","name":"Sticky Note26"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-780,1480],"id":"a3a10584-51b1-41e6-acea-164c089619b8","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"fUIOsGVnCLFrm3t8","name":"OpenAi 2"}}},{"parameters":{"promptType":"define","text":"={{ $json.mensagem_completa }}","options":{"systemMessage":"={\n  \"name\": \"Camila\",\n  \"context\": {\n    \"identity\": \"Uma SDR que atende no WhatsApp, especialista em agendar reuniões e fazer vendas\",\n    \"business\": \"Fluxo CRM e atendimento por IA para terapeutas\",\n    \"language\": \"Português Brasileiro\",\n    \"data_atual\": \"{{ $now.weekdayLong }}, Semana {{ $now.format('WW') }}, {{ $now.format('DD/MM/yyyy') }}, {{ $now.hour.toString().padStart(2, '0') }}:{{ $now.minute.toString().padStart(2, '0') }}\n\n\"\n  },\n  \"personality\": [\n    \"Vendedora\",\n    \"Especialista em atendimento ao cliente\"\n  ],\n  \"objectives\": [\n    \"Fazer captação ativa\",\n    \"Entender a demanda do cliente\",\n    \"Convencer ele de agendar uma reunião de 20 a 30 minutos\"\n  ],\n  \"tools\": [\n    {\n      \"name\": \"buscar_documentos\",\n      \"usage\": \"Toda vez que receber uma pergunta que não está nesse prompt, use a ferramenta para ter as informações. Caso não tenha a informação na ferramenta, avise que vai chamar um humano.\"\n    },\n    {\n      \"name\": \"criar_reuniao\",\n      \"usage\": \"Use quando precisar agendar uma reunião com o cliente. Sempre colete e-mail e data para usar essa ferramenta. Só é permitido agendar 1 reunião por vez de segunda a sexta, das 10h às 17h.\"\n    },\n    {\n      \"name\": \"reagendar_reuniao\",\n      \"usage\": \"Use quando a pesoa solicitar que mude a data da reunião reagendar uma reunião com o cliente. Sempre colete e-mail e data para usar essa ferramenta.\"\n    },\n    {\n      \"name\": \"cancelar_reuniao\",\n      \"usage\": \"Use quando precisar cancelar uma reunião com o cliente. Sempre colete e-mail e data para usar essa ferramenta.\"\n    }\n  ],\n  \"general_rules\": [\n    \"Não falar sobre outros assuntos. O único assunto permitido é sobre o Fluxo CRM e atendimento por IA para terapeutas.\",\n    \"Não envie informações que você não tem conhecimento. Use a tool 'buscar_documentos' para obter informações.\",\n    \"Caso a primeira mensagem tenha sido enviada pelo agente: pule o step 'apresentar_coletar_nome'.\"\n  ],\n  \"flow\": {\n    \"steps\": [\n      {\n        \"step\": \"apresentar_coletar_nome\",\n        \"instructions\": \"Se apresente e pergunte o nome do cliente.\",\n        \"example_message\": \"Olá, sou a Camila, especialista em negócios no Fluxo CRM e atendimento por IA para terapeutas. Qual o seu nome?\"\n      },\n      {\n        \"step\": \"apresentar_nossa_solucao\",\n        \"instructions\": \"Explicar nossa solução.\",\n        \"example_message\": \"Deixa eu te explicar nossa solução: nós desenvolvemos uma IA que atende no WhatsApp para terapeutas. Ela entende a demanda do cliente, faz todo o atendimento inicial e busca fazer com que o seu cliente agende consultas. Além disso, após atender o cliente e tirar as dúvidas dele, ela te avisa no privado que há um novo contato e te traz um resumo do atendimento para agilizar o seu trabalho.\"\n      },\n      {\n        \"step\": \"explicar_nosso_servico\",\n        \"instructions\": \"Realize essas etapas 1 a 1.\",\n        \"example_messages\": [\n          \"etapa_1\": \"Hoje você tem atendimento ao cliente ou é você mesmo que faz o atendimento?\",\n        \"etapa_2\": \"Se você tiver um atendimento 24 horas por dia, acredita que pode ajudar o seu negócio?\",\n        \"etapa_3\": \"Hoje nossos clientes terapeutas estão super satisfeitos com a nossa solução, gostaria te apresentar essa IA de atendimento para terapeutas, gostaria de ver ela funcionando na prática?\",\n\"rueles\": \" caso o cliente fale que sim vá para o próximo step se ele falar que não, pergunte o motivo\"\n        ]\n      },\n      {\n        \"step\": \"agendamento_de_reuniao\",\n        \"instructions\": \"Caso o cliente queria ver a Ia na prática, agende uma reunião.\",\n        \"example_message\": \"Para apresentar nossa IA de atendimento, na prática preciso agendar uma reunião rápida que dura entre 20 a 30 minutos, assim vamos conseguir te mostrar ela funcionando em um cliente nosso.\",\n        \"rules\": \"caso o cliente de positivo para agendar a reunião peça o seu email data e Use a tool 'criar_reuniao'.\"\n      }\n    ]\n  }\n}\n"}},"id":"b2b737c7-360d-4e8a-9930-59db5b164fe8","name":"Atendente","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-660,1280]},{"parameters":{"content":"","height":200,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-4420,1040],"typeVersion":1,"id":"fcb817c7-77c3-45f8-9d95-9b8a53a17e6b","name":"Sticky Note31"},{"parameters":{"content":"","height":200,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-3640,820],"typeVersion":1,"id":"c7748b8a-5ed8-4b34-b9c3-0ab1d5b454ba","name":"Sticky Note33"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-4560,2560],"id":"ba1a0ee5-a976-490b-bee1-04b0db735c40","name":"Loop Over Items"},{"parameters":{"content":"","height":200,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-3380,1040],"typeVersion":1,"id":"0cf292bd-173f-44ff-ab51-5593f0166df0","name":"Sticky Note37"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Code1').item.json.sessionId }}","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-640,1480],"id":"7870d916-b2df-42ae-8314-39615de3dd38","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"He9Ca6QM4AkFBQQr","name":"Postgres Online"}}},{"parameters":{"content":"","height":440,"width":360,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-4080,1260],"typeVersion":1,"id":"4f442b9d-6e53-4db1-8a7a-50181323494b","name":"Sticky Note42"},{"parameters":{"content":"# Dados","height":80,"width":150,"color":5},"id":"096e1fd1-1c25-4b7e-92ab-ec74143e4876","name":"Sticky Note43","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4060,1280]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output }}","rightValue":"https://meet.google.com/","operator":{"type":"string","operation":"notContains"},"id":"688e7624-00b1-4b2e-beea-c22d303a1669"}],"combinator":"and"},"renameOutput":true,"outputKey":"Fluxo Normal"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"820760d6-3546-4007-8917-55d366a74261","leftValue":"={{ $json.output }}","rightValue":"https://meet.google.com","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Avisa grupo"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-320,1320],"id":"21ae66bb-6675-4aed-a6ae-9b1fac83efca","name":"Switch2"},{"parameters":{"resource":"messages-api","instanceName":"BRENO AULAS","remoteJid":"={{ $('Variáveis').item.json.telefone }}","messageText":"={{ $json.output }}","options_message":{"delay":1200,"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1180,860],"id":"a1dc6628-e85c-443a-845e-622898a0357a","name":"Evolution API","credentials":{"evolutionApi":{"id":"1eM2xZDmYfv6kfHj","name":"Evolution account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[660,180],"id":"1228fcd5-8beb-4bda-b01f-086bf96202a6","name":"Merge1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"defac08a-6745-422b-bb05-90da9f47d91b","leftValue":"={{ $('Busca Telefone').last().json.values() }}","rightValue":"","operator":{"type":"array","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[200,140],"id":"c88dc06c-46f9-4342-96f0-130f7f15254c","name":"If4"},{"parameters":{"content":"","height":380,"width":1180,"color":4},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"50e11548-b75a-47c3-977e-260a2b0d865c","name":"Sticky Note54"},{"parameters":{"content":"# Cadastra Chat Supabase","height":80,"width":450,"color":5},"id":"7e4fc429-6132-4631-a326-a2da4475d5a8","name":"Sticky Note55","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[20,20]},{"parameters":{"resource":"messages-api","instanceName":"BRENO AULAS","remoteJid":"={{ $('Variáveis').item.json.telefone }}","messageText":"={{ $json.output }}","options_message":{"delay":1200}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[540,660],"id":"273a0c9c-7bb3-4445-8881-ccc70f9fdbda","name":"Evolution API5","credentials":{"evolutionApi":{"id":"1eM2xZDmYfv6kfHj","name":"Evolution account"}}},{"parameters":{"operation":"getAll","tableId":"chats","filters":{"conditions":[{"keyName":"app","condition":"eq","keyValue":"terapeuta"},{"keyName":"updated_at","condition":"gt","keyValue":"={{ $now.plus(5,'minutes') }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-5160,1920],"id":"e7d02585-656d-4ced-a734-7e021f054906","name":"ListChats-Supabase","credentials":{"supabaseApi":{"id":"b221yMmN6adp96Ic","name":"SupaBase_online"}}},{"parameters":{"operation":"getAll","tableId":"chat_messages","matchType":"allFilters","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $json.phone }}"},{"keyName":"active","condition":"eq","keyValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4760,1940],"id":"e2e8b273-b4a9-4332-b411-f8ece6d4b579","name":"ListMessages-Supabase","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"b221yMmN6adp96Ic","name":"SupaBase_online"}}},{"parameters":{"rule":{"interval":[{"daysInterval":2,"triggerAtHour":8,"triggerAtMinute":45}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-5320,1920],"id":"62b4f142-a6cb-4781-b597-c353c63f08e3","name":"Schedule Trigger"},{"parameters":{"operation":"update","tableId":"chat_messages","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $('Aggregate1')?.item?.json?.conversas?.last()?.phone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"active","fieldValue":"false"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3360,2040],"id":"cfe3e289-2d7a-45c3-ab2a-e820948d8ba7","name":"DisableMessage-Supabase","credentials":{"supabaseApi":{"id":"b221yMmN6adp96Ic","name":"SupaBase_online"}}},{"parameters":{"assignments":{"assignments":[{"id":"c9c00627-84a9-49a9-bc7e-d923a5918346","name":"output","value":"={{ $json.text }}","type":"string"},{"id":"0e34f673-b6dc-4748-89d2-a178dfe91853","name":"phone","value":"={{ $('Aggregate1').item.json.conversas.last().phone }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3640,1740],"id":"bb6ba4f5-a1d1-4717-831e-57d4dbdd96b5","name":"SetConfig"},{"parameters":{"promptType":"define","text":"=# Você é um agente facilitador de vendas e está buscando conversas não finalizadas entre o cliente e um agent de IA. \n\n# Cria a responda apenas a resposta não precisa justificar sua resposta\n\n# Identifique o cliente não enviou mais mensagens de resposta\n\n# Se o cliente não responder mesmo assim, agradeça e diga que irá encerrar o pedido e está a disposição para outros pedidos\n\n# Use frase simples e naturais como nos exemplos\n\nExemplos : \n - 'Oi .. ainda está ai'\n - 'E ai ? vamos finalizar o pedido?' \n\n# Conversa entre o cliete e o agente de IA:\n{{ $json.texto }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-3960,1740],"id":"ba2d4dda-1ef1-4c74-a22d-d775e43d58c8","name":"Basic LLM Chain"},{"parameters":{"inputText":"={{ $json.texto }}","categories":{"categories":[{"category":"pendente_resposta","description":"A conversa está pendente devido a uma informação que o cliente ficou de fornecer ou confirmar, ou está pendende de marcar a reunião"},{"category":"encerrada","description":"Houve um desfecho da conversa  ouagendamento de uma reuniãoe o agente de IA se despediu"},{"category":"sem_resposta","description":"=Se o cliente não respondeu mais as mensagens do agente - mensagem do cliente vazia"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[-4280,1940],"id":"379dadfd-0ca7-496a-876d-8d66b8dd93c3","name":"Text Classifier"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"conversas","include":"specifiedFields","fieldsToInclude":"id,message_type,created_at,user_message, bot_message,phone, conversation_id","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-4600,1940],"id":"056f9b80-37c7-4de7-859b-5326a9cd7d98","name":"Aggregate1"},{"parameters":{"jsCode":"return $('Aggregate1').all().map(item => {\n  // Tenta acessar a propriedade 'conversas' e verifica se ela é um array\n  const conversas = item.json.conversas || []; // Garante que é pelo menos um array vazio\n\n  if (!Array.isArray(conversas)) {\n    throw new Error(\"A propriedade 'conversas' não é um array.\");\n  }\n\n  // Processa cada conversa e verifica as mensagens\n  const textoUnico = conversas.map(conversa => {\n    const cliente = conversa.user_message || \"sem mensagem do chatbot\";\n    const agente = conversa.bot_message || \"sem resposta\";\n    \n    // Verifica se a data existe e formata\n    const dataOriginal = conversa.created_at || \"Data da Mensagem indisponível\";\n    const dataFormatada = dataOriginal !== \"Data da Mensagem indisponível\"\n      ? formatarData(dataOriginal)\n      : dataOriginal;\n\n    return `em: ${dataFormatada}\\n\\n - agente(chatbot): ${agente} \\n - cliente: ${cliente}\\n`;\n  }).join('\\n\\n');\n\n  // Retorna o texto final como resultado\n  return {\n    json: {\n      texto: textoUnico\n    }\n  };\n});\n\n// Função para formatar a data\nfunction formatarData(dataString) {\n  const data = new Date(dataString); // Converte a string em objeto Date\n  if (isNaN(data)) {\n    return \"Data inválida\"; // Retorna se a data não for válida\n  }\n  \n  // Formata no padrão DD/MM/YYYY HH:mm\n  const dia = String(data.getDate()).padStart(2, '0');\n  const mes = String(data.getMonth() + 1).padStart(2, '0'); // Mês começa em 0\n  const ano = data.getFullYear();\n  const horas = String(data.getHours()).padStart(2, '0');\n  const minutos = String(data.getMinutes()).padStart(2, '0');\n  \n  return `${dia}/${mes}/${ano} ${horas}:${minutos}`;\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4420,1940],"id":"253f85b6-5eae-49f0-bd40-1f7d8ba2af8a","name":"Code4"},{"parameters":{"tableId":"chat_messages","fieldsUi":{"fieldValues":[{"fieldId":"phone","fieldValue":"={{ $('Aggregate1').item.json.conversas.last().phone }}"},{"fieldId":"conversation_id","fieldValue":"={{ $('Aggregate1').item.json.conversas.last().phone }}"},{"fieldId":"message_type","fieldValue":"={{ $('Aggregate1').item.json.conversas.last().message_type }}"},{"fieldId":"bot_message","fieldValue":"={{ $json.text }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3640,1920],"id":"3c381792-d9db-4610-86f2-a73e3f6b357c","name":"Supabase2","credentials":{"supabaseApi":{"id":"b221yMmN6adp96Ic","name":"SupaBase_online"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-4960,1920],"id":"cac7c144-c79a-4235-a1f1-36c0bd11fb95","name":"Loop Over Items2"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-3840,1880],"id":"8ef1b23d-a5d1-466a-9535-1c13db3e821f","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"fUIOsGVnCLFrm3t8","name":"OpenAi 2"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-3500,2040],"id":"b04c59d0-3b80-4fe1-a8fe-a46a56f4fd93","name":"Wait2","webhookId":"cd1f35d3-c129-4957-a72b-9f1fea576935"},{"parameters":{"content":"","height":520,"width":2180,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-5360,1720],"typeVersion":1,"id":"bdfcf7a2-a49a-47e0-a4af-0621c4e25499","name":"Sticky Note58"},{"parameters":{"content":"# Follow up Whatsapp","height":80,"width":393,"color":5},"id":"7d79abf5-5705-4863-8918-61ea02865d28","name":"Sticky Note59","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5340,1740]},{"parameters":{"resource":"messages-api","instanceName":"Prospec Terapeuta","remoteJid":"={{ $json.phone }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3500,1740],"id":"023b0cf9-83c6-476a-9ecc-2085c126c244","name":"Evolution API6","credentials":{"evolutionApi":{"id":"1eM2xZDmYfv6kfHj","name":"Evolution account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-4280,2100],"id":"f76a8b0b-060d-4cb2-9648-e28532fd7cb9","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"fUIOsGVnCLFrm3t8","name":"OpenAi 2"}}},{"parameters":{"operation":"get","tableId":"chats","filters":{"conditions":[{"keyName":"phone","keyValue":"={{ $('Variáveis').item.json.telefone }}"},{"keyName":"app","keyValue":"terapeuta"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[60,140],"id":"45477955-4e4b-4ed3-84ad-385988791d7b","name":"Busca Telefone","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"b221yMmN6adp96Ic","name":"SupaBase_online"}},"onError":"continueRegularOutput"},{"parameters":{"tableId":"chats","fieldsUi":{"fieldValues":[{"fieldId":"phone","fieldValue":"={{ $('Variáveis').item.json.telefone }}"},{"fieldId":"updated_at","fieldValue":"={{ $now}}"},{"fieldId":"conversation_id","fieldValue":"={{ $('Code1').item.json.sessionId }}"},{"fieldId":"app","fieldValue":"terapeuta"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[440,80],"id":"35312548-899e-42c6-947c-e3fc906b2980","name":"Adiciona CHAT supabase","credentials":{"supabaseApi":{"id":"b221yMmN6adp96Ic","name":"SupaBase_online"}}},{"parameters":{"operation":"update","tableId":"chats","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $('Variáveis').item.json.telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"updated_at","fieldValue":"={{ $now }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[440,240],"id":"11bb01e3-9fa0-425c-804c-c5f1987dc40f","name":"Atualiza CHAT Supabase","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"b221yMmN6adp96Ic","name":"SupaBase_online"}}},{"parameters":{"tableId":"chat_messages","fieldsUi":{"fieldValues":[{"fieldId":"phone","fieldValue":"={{ $json.phone }}"},{"fieldId":"conversation_id","fieldValue":"={{ $json.phone }}"},{"fieldId":"bot_message","fieldValue":"={{ $('Atendente').item.json.output }}"},{"fieldId":"user_message","fieldValue":"={{ $('Mensagem Completa').item.json.mensagem_completa }}"},{"fieldId":"message_type","fieldValue":"={{ $('dados_para_atendimento_humano1').item.json.message.content_type }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[840,180],"id":"c6045839-8ab3-45e4-936e-628cf90e51e9","name":"Cria Histórico Supabase","credentials":{"supabaseApi":{"id":"b221yMmN6adp96Ic","name":"SupaBase_online"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7c4cdb12-9452-42a6-a39a-c268bd38dce1","leftValue":"={{ $json.output.lenght }}","rightValue":90,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[360,760],"id":"74734da2-72fe-4a62-b902-b1576d2466fa","name":"Menos que 240 Caracteres"},{"parameters":{"fieldToSplitOut":"output.messages","options":{"destinationFieldName":"output"}},"id":"3294e858-ae34-4d94-91fd-27a4b35b1851","name":"Split de Mensagem","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[800,840]},{"parameters":{"amount":1},"id":"9cfc3be3-57f2-4cbd-ab4a-2cc755337d0a","name":"1 segundo","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1320,860],"webhookId":"2ec24a1a-31fc-49f0-8e2f-532b131f1bd9"},{"parameters":{"jsCode":"return $items(\"Set File ID\").map(item => {\n  return {\n    json: {\n      file_id: item.json.file_id,\n      file_type: item.json.file_type\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4740,2560],"id":"e733dc25-ee6a-49af-a15c-6a814b992b1a","name":"Retorna ID do arquivo"},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.file_id }}*"},"id":"592172a4-cb9e-44d8-9d57-a2d55ab4040c","name":"Deleta linhas antigas do documento","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4940,2560],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"b221yMmN6adp96Ic","name":"SupaBase_online"}}},{"parameters":{"operation":"executeQuery","query":"create table dados_cliente (\n  id bigserial primary key,\n  created_at TIMESTAMPTZ, \n  telefone text, \n  sessionid text\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-4100,840],"id":"93bb1f04-cf96-4dfe-b4c0-dc7418546d5b","name":"Cria Tabela Dados Cliente","credentials":{"postgres":{"id":"He9Ca6QM4AkFBQQr","name":"Postgres Online"}}},{"parameters":{"operation":"executeQuery","query":"-- Create a table to store your documents\ncreate table documents (\n  id bigserial primary key,\n  content text, -- corresponds to Document.pageContent\n  metadata jsonb, -- corresponds to Document.metadata\n  embedding vector(1536) -- 1536 works for OpenAI embeddings, change if needed\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3000,940],"id":"85817b0f-c36b-4c74-8954-90f60cc8e8b8","name":"Cria Tabela Documentos","credentials":{"postgres":{"id":"He9Ca6QM4AkFBQQr","name":"Postgres Online"}}},{"parameters":{"operation":"executeQuery","query":"delete from documents","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3320,1060],"id":"ef7cb2a6-d27a-463b-90a7-bff7c1fc8f07","name":"Deleta Conteúdo Documentos","credentials":{"postgres":{"id":"He9Ca6QM4AkFBQQr","name":"Postgres Online"}}},{"parameters":{"content":"","height":200,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-3380,820],"typeVersion":1,"id":"78cb14f5-6576-46da-8cfe-9dc5a57abc90","name":"Sticky Note40"},{"parameters":{"content":"","height":200,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-3040,900],"typeVersion":1,"id":"2b1309f1-2642-46dd-879d-1e1fc4f3693a","name":"Sticky Note48"},{"parameters":{"content":"","height":200,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-4420,820],"typeVersion":1,"id":"2403955b-7b59-4ad1-a390-64c2c51e9999","name":"Sticky Note49"},{"parameters":{"content":"","height":200,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-3900,820],"typeVersion":1,"id":"623ed133-d784-4195-be4c-d7e7fa726249","name":"Sticky Note50"},{"parameters":{"content":"","height":200,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-3900,1040],"typeVersion":1,"id":"0447120f-bc01-46e9-a830-ba66c620e1ee","name":"Sticky Note56"},{"parameters":{"content":"","height":200,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-4160,820],"typeVersion":1,"id":"e1ba1cff-7e1a-4ed2-991e-b89a0af04922","name":"Sticky Note57"},{"parameters":{"operation":"executeQuery","query":"delete from n8n_chat_histories","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-4360,1060],"id":"b215da58-254d-4d45-9581-f1c96d908061","name":"Deleta Histórico","credentials":{"postgres":{"id":"He9Ca6QM4AkFBQQr","name":"Postgres Online"}},"disabled":true},{"parameters":{"operation":"executeQuery","query":"create function match_documents (\n  query_embedding vector(1536),\n  match_count int default null,\n  filter jsonb DEFAULT '{}'\n) returns table (\n  id bigint,\n  content text,\n  metadata jsonb,\n  similarity float\n)\nlanguage plpgsql\nas $$\n#variable_conflict use_column\nbegin\n  return query\n  select\n    id,\n    content,\n    metadata,\n    1 - (documents.embedding <=> query_embedding) as similarity\n  from documents\n  where metadata @> filter\n  order by documents.embedding <=> query_embedding\n  limit match_count;\nend;\n$$;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3320,840],"id":"08b55ebe-8564-464b-a13a-4496a3b86120","name":"Cria função Busca em Vetor","credentials":{"postgres":{"id":"He9Ca6QM4AkFBQQr","name":"Postgres Online"}}},{"parameters":{"operation":"executeQuery","query":"create extension vector;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3580,840],"id":"77eef7d6-c5c1-4413-a0ef-50116a63cccb","name":"Cria Extensão Vetor","credentials":{"postgres":{"id":"He9Ca6QM4AkFBQQr","name":"Postgres Online"}}},{"parameters":{"operation":"executeQuery","query":"create table chats (\n  id bigserial primary key,\n  created_at TIMESTAMPTZ, \n  phone text,\n  updated_at text, \n  app text,\n  conversation_id text\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3800,860],"id":"c7a98747-a93b-4f0b-b6f2-1ad56b7f829c","name":"Cria Tabela Chats","credentials":{"postgres":{"id":"He9Ca6QM4AkFBQQr","name":"Postgres Online"}}},{"parameters":{"content":"","height":200,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-3640,1040],"typeVersion":1,"id":"42eb664d-47f3-4c2e-9be0-8cb57d2262e9","name":"Sticky Note65"},{"parameters":{"operation":"executeQuery","query":"delete from chats","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3580,1060],"id":"57bc02d4-8a0f-472c-a2f0-57ca45940c7d","name":"Deleta Conteúdo Chats","credentials":{"postgres":{"id":"He9Ca6QM4AkFBQQr","name":"Postgres Online"}}},{"parameters":{"operation":"executeQuery","query":"delete from dados_cliente","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3840,1060],"id":"04ad936c-9a62-42b8-9c47-7af7c56826ee","name":"Deleta Conteúdo Dados Cliente","credentials":{"postgres":{"id":"He9Ca6QM4AkFBQQr","name":"Postgres Online"}}},{"parameters":{"content":"","height":200,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-4160,1040],"typeVersion":1,"id":"47940c14-9693-4a8d-bf47-e4149a4ff4b2","name":"Sticky Note66"},{"parameters":{"operation":"executeQuery","query":"delete from chat_messages","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-4100,1060],"id":"6e2dd120-e562-4a7f-975c-ea858075802b","name":"Deleta Conteúdo Chat_Messages","credentials":{"postgres":{"id":"He9Ca6QM4AkFBQQr","name":"Postgres Online"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE chat_messages (\n  id BIGSERIAL PRIMARY KEY,\n  created_at TIMESTAMPTZ, \n  phone TEXT,\n  conversation_id TEXT, \n  bot_message TEXT,\n  user_message TEXT, \n  message_type TEXT,\n  active BOOLEAN DEFAULT TRUE\n);\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-4360,840],"id":"89a3ff06-f927-47dd-b56c-40eeb793eeed","name":"Cria Tabela Chat_Messages","credentials":{"postgres":{"id":"He9Ca6QM4AkFBQQr","name":"Postgres Online"}}},{"parameters":{"content":"","height":440,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-5360,1260],"typeVersion":1,"id":"8ac9f4c6-13d5-46b7-8953-31ca89545fbf","name":"Sticky Note32"},{"parameters":{"content":"# Webhook","height":80,"width":196,"color":5},"id":"26da9fb2-385d-4f85-b93e-0cbea08ba4b9","name":"Sticky Note67","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5340,1280]},{"parameters":{"operation":"delete","key":"={{ $('Code1').item.json.sessionId }}"},"id":"f9e8e112-2838-4a80-8d88-01b6192c3742","name":"Delete Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1000,180],"credentials":{"redis":{"id":"CMG5NzZphI7CpP2k","name":"Redis account"}}},{"parameters":{"content":"# Agendamento","height":80,"width":283,"color":5},"id":"7cc50401-3b1f-43fc-9552-86cafb0d3290","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2800,1820]},{"parameters":{},"id":"49674f14-70bc-4276-afdd-e3dd40071e90","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-2800,2080]},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"hicaroph@gmail.com","mode":"list","cachedResultName":"hicaroph@gmail.com"},"timeMin":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"query\"][\"start\"] }}","timeMax":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"query\"][\"end\"] }}","options":{}},"id":"d56dce56-09a8-4c9b-9425-309c9ac48d29","name":"Disponibilidade","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[-1820,1900],"credentials":{"googleCalendarOAuth2Api":{"id":"5awK7O380EiDZvaH","name":"Google Calendar account"}}},{"parameters":{"calendar":{"__rl":true,"value":"hicaroph@gmail.com","mode":"list","cachedResultName":"hicaroph@gmail.com"},"start":"={{ $('Switch4').item.json.query.start }}","end":"={{ $('Switch4').item.json.query.end }}","additionalFields":{"attendees":["={{ $('Switch4').item.json.query.email }}"],"conferenceDataUi":{"conferenceDataValues":{"conferenceSolution":"hangoutsMeet"}},"description":"={{ $('Switch4').item.json.Remotejid }}","summary":"={{ $('Execute Workflow Trigger').item.json.query.nome }}"}},"id":"91aa2cb0-072d-4989-b1a3-e915e1092636","name":"Marca","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[-1320,1900],"credentials":{"googleCalendarOAuth2Api":{"id":"5awK7O380EiDZvaH","name":"Google Calendar account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"hicaroph@gmail.com","mode":"list","cachedResultName":"hicaroph@gmail.com"},"options":{"query":"={{ $json.query.email }}"}},"id":"fdccfb9d-7a54-4814-8a69-157586ba66c2","name":"Já tem um evento","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[-2280,1840],"alwaysOutputData":true,"credentials":{"googleCalendarOAuth2Api":{"id":"5awK7O380EiDZvaH","name":"Google Calendar account"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"hjuudp87k5mcu24qt1vvguqb10@group.calendar.google.com","mode":"list","cachedResultName":"Hicaro"},"eventId":"={{ $item(\"0\").$node[\"Verifica evento\"].json[\"id\"] }}","options":{}},"id":"c0c4911d-1903-40ef-91da-681bbc1aec56","name":"Google Calendar1","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[-2060,2080],"credentials":{"googleCalendarOAuth2Api":{"id":"5awK7O380EiDZvaH","name":"Google Calendar account"}}},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"hjuudp87k5mcu24qt1vvguqb10@group.calendar.google.com","mode":"list","cachedResultName":"Hicaro"},"eventId":"={{ $item(\"0\").$node[\"Verifica evento1\"].json[\"id\"] }}","useDefaultReminders":false,"updateFields":{"end":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"query\"][\"end\"] }}","sendUpdates":"all","start":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"query\"][\"start\"] }}"}},"id":"1d8928eb-77bd-4b03-8999-23816cea77ad","name":"Google Calendar3","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[-1500,2260],"credentials":{"googleCalendarOAuth2Api":{"id":"5awK7O380EiDZvaH","name":"Google Calendar account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"hicaroph@gmail.com","mode":"list","cachedResultName":"hicaroph@gmail.com"},"returnAll":true,"options":{"query":"={{ $item(\"0\").$node[\"Switch4\"].json[\"query\"][\"email\"] }}"}},"id":"9a7fc44a-5a50-442c-85ec-94669c125d45","name":"Verifica evento","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[-2280,2080],"credentials":{"googleCalendarOAuth2Api":{"id":"5awK7O380EiDZvaH","name":"Google Calendar account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"hicaroph@gmail.com","mode":"list","cachedResultName":"hicaroph@gmail.com"},"returnAll":true,"options":{"query":"={{ $item(\"0\").$node[\"Switch4\"].json[\"query\"][\"email\"] }}"}},"id":"e2585bd7-fd04-46e6-9030-7778a9e7cb7c","name":"Verifica evento1","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[-1700,2260],"credentials":{"googleCalendarOAuth2Api":{"id":"5awK7O380EiDZvaH","name":"Google Calendar account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"be5649a9-7624-4621-bd2d-84c25577c0ce","leftValue":"={{ $json.available }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"c6db720c-081a-44fc-ae81-5639afdb2f20","name":"If6","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2100,2280]},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"hicaroph@gmail.com","mode":"list","cachedResultName":"hicaroph@gmail.com"},"timeMin":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"query\"][\"start\"] }}","timeMax":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"query\"][\"end\"] }}","options":{}},"id":"39113509-367d-45dd-8999-1dc9836a8556","name":"Disponibilidade1","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[-2300,2280],"credentials":{"googleCalendarOAuth2Api":{"id":"5awK7O380EiDZvaH","name":"Google Calendar account"}}},{"parameters":{"assignments":{"assignments":[{"id":"86ff282a-3ede-4417-98c1-0d10858bc5dc","name":"response","value":"=Você já tem uma reunião agendada para o dia: {{(() => { \n    const data = new Date($json.start.dateTime);\n    const opcoes = { day: '2-digit', month: 'long', hour: '2-digit', minute: '2-digit' };\n    return `dia ${data.toLocaleDateString('pt-BR', opcoes).replace(' ', ' de ').replace(',', ' às')}`;\n})()}} gostaria de reagendar? ","type":"string"}]},"options":{}},"id":"532e24e6-27d4-477f-a84f-eac08aaf657c","name":"Edit Fields6","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1800,1740]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8d192ed0-aebd-404e-8339-daab0d29651f","leftValue":"={{ $item(\"0\").$node[\"Já tem um evento\"].json[\"attendees\"][\"0\"][\"email\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"070ac029-d79e-44e3-b9a6-bfb1cb33f64f","name":"If5","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2080,1840]},{"parameters":{"assignments":{"assignments":[{"id":"7f842ffa-cd8f-40ab-a0a7-40dc173357a7","name":"response","value":"Informe o usuário que o agendamento foi cancelado e que estará sempre à disposição para um novo agendamento.","type":"string"}]},"options":{}},"id":"465edcd4-17eb-4ac2-ae09-c7bf771541c3","name":"Edit Fields7","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1860,2080]},{"parameters":{"assignments":{"assignments":[{"id":"04c6ca35-7572-4699-bcb7-bbf2f2a6e6a4","name":"response","value":"horário não disponivel, peça outro horário","type":"string"}]},"options":{}},"id":"da65cb99-4da5-4609-a69f-c6afe8c7cbdb","name":"Edit Fields9","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1320,2060]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"Evento\"] }}","rightValue":"agendamento","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"agendamento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7a57e8e8-5227-4cde-8d58-7b447cd55a17","leftValue":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"Evento\"] }}","rightValue":"cancelamento","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"cancelamento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d788021f-29ab-41f2-b355-2b18963d30f2","leftValue":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"Evento\"] }}","rightValue":"reagendamento","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"reagendamento"}]},"options":{}},"id":"474bc7b0-b8f1-4e5c-a97e-b9782f74ac44","name":"Switch4","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2540,2080]},{"parameters":{"content":"","height":800.6667333432747,"width":2503.09595343677,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-2880,1720],"typeVersion":1,"id":"5d3fae02-3f01-40ea-85e2-a264862723c4","name":"Sticky Note8"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"be5649a9-7624-4621-bd2d-84c25577c0ce","leftValue":"={{ $json.available }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"db464fa2-1779-48c6-9038-f941f445d8c5","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1620,1900]},{"parameters":{"assignments":{"assignments":[{"id":"7f842ffa-cd8f-40ab-a0a7-40dc173357a7","name":"response","value":"=sua reunião foi reagendada para a data:{{(() => { \n    const data = new Date($json.start.dateTime);\n    const opcoes = { day: '2-digit', month: 'long', hour: '2-digit', minute: '2-digit' };\n    return `dia ${data.toLocaleDateString('pt-BR', opcoes).replace(' ', ' de ').replace(',', ' às')}`;\n})()}} o link da reunião é: {{ $json.hangoutLink }}","type":"string"}]},"options":{}},"id":"807c2676-967d-4e89-8726-148b43d9d095","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1320,2260]},{"parameters":{"name":"criar_reuniao","description":"=Chame esta ferramenta após o usuário informar nome e email e data do agendamento. \n\nNa variável \"nome\", você vai preencher o nome do usuário e na variavel \"email\" você vai preencher com email do usuário\n\nA data do agendamento você vai transformar para seguinte formato, exemplo: 2024-10-18T14:30:00-03:00 e vai preencher a variavel \"start\"\n\nEm seguida você vai inserir 50 minutos a mais depois no horario de agendamento e na variavel \"end\" você vai prencher com o horario no mesmo formato da variavel start","workflowId":{"__rl":true,"value":"9oT7ShXQVfZDnFdp","mode":"id"},"fields":{"values":[{"name":"Evento","stringValue":"agendamento"},{"name":"Remotejid","stringValue":"={{ $('Variáveis').item.json.telefone }}"}]},"specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"nome\": \"nome do usuario\",\n    \"email\": \"email do usuario\",\n    \"start\": \"data hora do inicio da reunião\",\n    \"end\": \"data hora do fim da reunião\"\n}"},"id":"06e14d13-7f7f-469e-b771-a06cac17e814","name":"criar_reuniao","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[-840,1780]},{"parameters":{"name":"cancelar_reuniao","description":"=Chame esta ferramenta após o usuário informar que quer cancelar a reunião, colete o email e nome\n\nNa variável \"nome\", você vai preencher o nome do usuário e na variavel \"email\" você vai preencher com email do usuário","workflowId":{"__rl":true,"value":"9oT7ShXQVfZDnFdp","mode":"id"},"fields":{"values":[{"name":"Evento","stringValue":"cancelamento"},{"name":"Remotejid","stringValue":"={{ $('Variáveis').item.json.telefone }}"}]},"specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"nome\": \"nome do usuario\",\n    \"email\": \"email do usuario\"\n}"},"id":"a79b9708-1b73-4f08-9527-247582369a49","name":"cancelar_reuniao","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[-540,1780]},{"parameters":{"name":"user_documents","description":"Contains all the information about prices and andress that you can check to answer user questions."},"id":"e05dbe95-2273-421b-bc18-52a931710bf5","name":"buscar_documentos","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[-100,1880]},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"hicaroph@gmail.com","mode":"list","cachedResultName":"hicaroph@gmail.com"},"returnAll":true,"options":{"timeMin":"={{ $json.timestamp }}"}},"id":"cd85a4eb-cf64-4a5e-9991-e6eba06e9b2e","name":"Google Calendar","type":"n8n-nodes-base.googleCalendar","typeVersion":1.2,"position":[-2600,2980],"credentials":{"googleCalendarOAuth2Api":{"id":"5awK7O380EiDZvaH","name":"Google Calendar account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"806d2106-d234-428e-a909-db00044fc342","leftValue":"={{ $json.start.dateTime }}","rightValue":"={{ $('Schedule Trigger1').item.json.timestamp.toDateTime().plus(0, minutes) }}","operator":{"type":"dateTime","operation":"after"}},{"id":"aab42f56-d82f-434d-8319-00e3c2c690f3","leftValue":"={{ $json.start.dateTime }}","rightValue":"={{ $('Schedule Trigger1').item.json.timestamp.toDateTime().plus(5, minutes) }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2140,3160],"id":"894a6402-7f3f-4c15-a73b-26ebf494ca82","name":"5 Minutos antes","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"806d2106-d234-428e-a909-db00044fc342","leftValue":"={{ $json.start.dateTime }}","rightValue":"={{ $('Schedule Trigger1').item.json.timestamp.toDateTime().plus(115, minutes) }}","operator":{"type":"dateTime","operation":"after"}},{"id":"aab42f56-d82f-434d-8319-00e3c2c690f3","leftValue":"={{ $json.start.dateTime }}","rightValue":"={{ $('Schedule Trigger1').item.json.timestamp.toDateTime().plus(120, minutes) }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2140,2900],"id":"6af5ddf3-52e8-486f-82b9-4aa3d1d55e76","name":"2 Hora antes","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5427ed1f-2dd2-4f7c-b7f4-9b13cd780bc7","leftValue":"={{ $json.kind }}","rightValue":"calendar#event","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1940,2900],"id":"38f7b664-4c9a-435b-87bf-a8eebf49191f","name":"If7"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5427ed1f-2dd2-4f7c-b7f4-9b13cd780bc7","leftValue":"={{ $json.kind }}","rightValue":"calendar#event","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1940,3160],"id":"d539ace5-da2b-409c-864f-59aaa8dfc71c","name":"If8"},{"parameters":{"assignments":{"assignments":[{"id":"a5af6299-68f1-4d3a-b2a7-c2ed65aa4ae6","name":"remoteJid","value":"={{ $('Loop Over Items4').item.json.description }}","type":"string"},{"id":"fc721c8e-bfd6-4364-9c30-b0038118856f","name":"Tempo","value":"Crie uma mensagem avisando que falta 2 horas para a reunião ","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1700,2880],"id":"db846b5b-93fc-4c48-b36d-bf73580a30a4","name":"Edit Fields5"},{"parameters":{"promptType":"define","text":"={{ $('Edit Fields5').item.json.Tempo }}","options":{"systemMessage":"=Você foi acionado pois vai avisar quanto tempo falta para a reunião, diga apenas o tempo que falta e se precisa de algo antes da reunião, sem dicas de uso ou informações extras, exemplo: falta 2 horas para nossa reunião, precisando de qualquer coisa só falara comigo! "}},"id":"02ea2f26-e3f1-4da0-9370-94b2d66fbb21","name":"Atendente1","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-1360,2860]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionid }}","contextWindowLength":100},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1240,3040],"id":"6321817c-8f73-4203-bbba-11304755e38e","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"He9Ca6QM4AkFBQQr","name":"Postgres Online"}}},{"parameters":{"promptType":"define","text":"={{ $('Edit Fields2').item.json.Tempo }}","options":{"systemMessage":"=Você foi acionado pois vai avisar quanto tempo falta para a reunião, diga apenas o tempo que falta e se precisa de algo antes da reunião, sem dicas de uso ou informações extras, exemplo: nosso time já está entrando na call"}},"id":"6f593780-b34c-4965-b24b-a53266695de0","name":"Atendente2","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-1360,3160]},{"parameters":{"assignments":{"assignments":[{"id":"c930cacf-b5ee-4120-a192-d68715d71d57","name":"remoteJid","value":"={{ $('Google Calendar').item.json.description }}","type":"string"},{"id":"e7775c3f-04e5-4b6f-9695-dad8654b7ff8","name":"Tempo","value":"Crie uma mensagem avisando que falta 5 minutos para a reunião ","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1740,3140],"id":"c61e1ca3-c7be-43f4-9cc0-9234a6b4fc4f","name":"Edit Fields2"},{"parameters":{"resource":"messages-api","instanceName":"thais financa","remoteJid":"={{ $('Google Calendar').item.json.description }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-960,3020],"id":"490bc86e-6270-4596-85e1-6b74b87169f7","name":"Evolution API7","credentials":{"evolutionApi":{"id":"1eM2xZDmYfv6kfHj","name":"Evolution account"}}},{"parameters":{"content":"","height":980,"width":2302.828484039364,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-2860,2580],"typeVersion":1,"id":"1df61751-bc1a-419b-9664-8d1ce5f2a6fb","name":"Sticky Note7"},{"parameters":{"content":"# AVISO REUNIÃO CHEGANDO","height":80,"width":551.2183277924504,"color":5},"id":"80c3e36d-f2b6-4f62-82e7-f65c9a1f3d39","name":"Sticky Note27","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2840,2620]},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"32ec8472-5d61-4ca4-8521-f9dbc0f6d172","name":"Schedule Trigger1","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2820,2980]},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-1400,3020],"id":"d3aa654f-6fe1-4317-9a40-285c86cf5539","name":"OpenAI Chat Model5","credentials":{"openAiApi":{"id":"hyWmqXktDNchUSuf","name":"OpenAi OFICIAL"}}},{"parameters":{"options":{}},"id":"f2f522d9-a2f6-4012-990f-8eab18e68973","name":"Loop Over Items4","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2380,2980]},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-800,3180],"id":"bb7f7889-59f4-4231-bb69-b7796b111853","name":"Wait","webhookId":"1652a979-d426-42ae-8458-da1ee045bfb4"},{"parameters":{"operation":"get","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3660,1440],"id":"3716d114-2442-4b94-a6d6-28a1ebb6ce50","name":"Supabase","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"b221yMmN6adp96Ic","name":"SupaBase_online"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4a6d9aac-8565-4c58-abe3-8741393a5535","leftValue":"={{ $json.telefone }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3480,1440],"id":"aecef933-ce54-4ba6-b00a-cb3bcb8d1978","name":"If1"},{"parameters":{"action":"generate"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-3360,1540],"id":"dd0d565e-ad8b-4014-b18d-83aea1df76d3","name":"Gerar sessionID"},{"parameters":{"tableId":"dados_cliente","fieldsUi":{"fieldValues":[{"fieldId":"sessionid","fieldValue":"={{ $json.data }}"},{"fieldId":"telefone","fieldValue":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3220,1540],"id":"f53d2285-496c-4fc4-8105-cf314836aec6","name":"Supabase1","credentials":{"supabaseApi":{"id":"b221yMmN6adp96Ic","name":"SupaBase_online"}}},{"parameters":{"content":"","height":620,"width":1100,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-2040,1080],"typeVersion":1,"id":"aca0413b-fdb4-429d-95cd-13976af71a83","name":"Sticky Note17"},{"parameters":{"content":"","height":620,"width":880,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-2940,1080],"typeVersion":1,"id":"a4526add-290a-4585-9817-e38087506188","name":"Sticky Note20"},{"parameters":{"jsCode":"// Obtém os valores dos nós anteriores\nconst sessionid1 = $input.item.json.data;  // Do nó \"Gerar sessionID\"\nconst sessionid2 = $input.item.json.sessionid;  // Do nó \"Supabase\"\n\n// Retorna apenas o que existir, chamando sempre de \"sessionId\"\nreturn [{ sessionId: sessionid1 || sessionid2 || null }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3100,1380],"id":"acdbfa01-6571-4c09-91d7-fe42267840ae","name":"Code1"},{"parameters":{"operation":"formatDate","date":"={{ $now }}","format":"custom","customFormat":"dd-MM-yyyy","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-3860,1440],"id":"2ad11b5e-fefb-4c8f-a7ed-b3ebc25e573d","name":"Date & Time1"},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"file.png","mimeType":"image/png"}},"id":"95fcb92a-f630-48cc-a680-2880d5e1720a","name":"Convert to File1","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-2740,1540]},{"parameters":{"assignments":{"assignments":[{"id":"3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655","name":"data","value":"={{ $('Webhook EVO').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"id":"69de4cfd-adff-4171-ac2e-db023535ae4a","name":"Edit Fields3","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2880,1540]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"ade56c50-1520-4760-8df5-e99617d6d3ad","leftValue":"={{ $('Webhook EVO').item.json.body.data.message.imageMessage.caption }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"76b8dbf8-50de-425f-88a6-ee54f5fd18c3","name":"If3","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2440,1540]},{"parameters":{"operation":"push","list":"={{ $('Code1').item.json.sessionId }}","messageData":"={{ $('Webhook EVO').item.json[\"body\"][\"data\"][\"message\"][\"imageMessage\"][\"caption\"] }}, {{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}","tail":true},"id":"0b7ae3db-e11a-4069-93da-1d134fc55d08","name":"Redis4","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2180,1560],"credentials":{"redis":{"id":"CMG5NzZphI7CpP2k","name":"Redis account"}}},{"parameters":{"operation":"push","list":"={{ $('Code1').item.json.sessionId }}","messageData":"={{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}","tail":true},"id":"d451c0bd-7a6b-484e-98fc-da2d614f2d1c","name":"Redis5","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2180,1420],"credentials":{"redis":{"id":"CMG5NzZphI7CpP2k","name":"Redis account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"52aaf749-fe4f-44e4-880e-15b2bfc027f1","leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"extendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"e514e613-fd6a-48bd-b0ae-bae2448c810e","leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c0e434dd-1268-421d-b81b-3a5e90ed9550","leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"}]},"options":{}},"id":"33b530ac-22da-4d0f-aab8-43b85817bd74","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-2920,1300]},{"parameters":{"content":"# Mensagem Picotada","height":80,"width":396,"color":5},"id":"23179606-f55c-4e96-9dc0-e50db3991418","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1680,1120]},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Resumo curto da imagem. Responda sem acento, sem hifens","inputType":"base64","options":{}},"id":"3a249dd2-3976-4101-a717-1a31aa53f380","name":"OpenAI1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-2580,1540],"credentials":{"openAiApi":{"id":"fUIOsGVnCLFrm3t8","name":"OpenAi 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5a342e9-585b-42ea-be44-644adae10199","leftValue":"={{ $json.Redis2 }}","rightValue":"={{ $json.Redis1 }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"f1ccb34f-bddc-4b31-9231-6978c8a4c0b3","name":"Compara Get Memory1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1340,1340]},{"parameters":{"operation":"push","list":"={{ $('Code1').item.json.sessionId }}","messageData":"={{ $('Webhook EVO').item.json.body.data.message.conversation }}","tail":true},"id":"635d3b2d-636c-4a3b-806a-ef447b8716c3","name":"Text Memory1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2180,1100],"credentials":{"redis":{"id":"CMG5NzZphI7CpP2k","name":"Redis account"}}},{"parameters":{"operation":"push","list":"={{ $('Code1').item.json.sessionId }}","messageData":"={{ $json.text }}","tail":true},"id":"482a45f5-a264-40d2-a0c6-d5776c802546","name":"Audio Memory1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2180,1260],"credentials":{"redis":{"id":"CMG5NzZphI7CpP2k","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"f336a1ff-e577-489d-a739-1eb8bd509245","name":"Redis2","value":"={{ $json.propertyName }}","type":"string"},{"id":"946d1420-e379-46e3-8fcd-3816340fbabb","name":"Redis1","value":"={{ $('Get Memory 1').item.json.propertyName }}","type":"string"}]},"options":{}},"id":"66949777-2c26-4e15-9ca6-24a7adea6260","name":"Edit Fields8","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1520,1340]},{"parameters":{"amount":1},"id":"d7cbbf10-f688-46ab-9ff0-bb6a2ea22942","name":"Wait3","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1840,1340],"webhookId":"7508fa49-bc87-45fc-bc55-e92f0d00664a"},{"parameters":{"operation":"get","key":"={{ $('Code1').item.json.sessionId }}","options":{}},"id":"ce5853a6-9b22-4fda-a72f-d89789c4f73a","name":"Get Memory 1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2000,1340],"credentials":{"redis":{"id":"CMG5NzZphI7CpP2k","name":"Redis account"}}},{"parameters":{"operation":"get","key":"={{ $('Code1').item.json.sessionId }}","options":{}},"id":"e13bf6b3-5443-49f8-9bbd-a3bd200f44f3","name":"Get Memory 2","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1680,1340],"credentials":{"redis":{"id":"CMG5NzZphI7CpP2k","name":"Redis account"}}},{"parameters":{"operation":"get","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $json.telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3260,1380],"id":"84602632-1dd3-4ca9-ab58-6258ef341e52","name":"Get Dados","credentials":{"supabaseApi":{"id":"b221yMmN6adp96Ic","name":"SupaBase_online"}}},{"parameters":{"assignments":{"assignments":[{"id":"8d88c137-383f-4307-b3cc-1f6a560ea67b","name":"telefone","value":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"7e2f520e-4952-425b-82ca-792cc46680d4","name":"mensagem","value":"={{ $('Webhook EVO').item.json.body.data.message.conversation }}{{ $('Webhook EVO').item.json.body.data.message.extendedTextMessage.text }}","type":"string"},{"id":"de1388b1-a6e4-42df-a6a5-7e9b4594f97d","name":"body.event","value":"={{ $('Webhook EVO').item.json.body.event }}","type":"string"}]},"options":{}},"id":"c2eb3319-9005-4487-b4f6-cc795fb0470c","name":"Variáveis","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4020,1440]},{"parameters":{"assignments":{"assignments":[{"id":"8f16b1bf-1a3e-4029-8d7a-1bccb919ee43","name":"message.message_id","value":"={{ $('Webhook EVO').item.json.body.data.key.id || '' }}","type":"string"},{"id":"11800d83-ecca-4f9c-a878-a2419db0c8e9","name":"message.chat_id","value":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid || '' }}","type":"string"},{"id":"c33f9527-e661-49e5-8e5e-64f3b430928a","name":"message.content_type","value":"={{ $('Webhook EVO').item.json.body.data.message.extendedTextMessage ? 'text' : '' }}{{ $('Webhook EVO').item.json.body.data.message.conversation ? 'text' : '' }}{{ $('Webhook EVO').item.json.body.data.message.audioMessage ? 'audio' : '' }}{{ $('Webhook EVO').item.json.body.data.message.imageMessage ? 'image' : '' }}","type":"string"},{"id":"06eba1c9-cff0-4f68-b6da-6bb0092466b7","name":"message.content","value":"={{ $('Webhook EVO').item.json.body.data.message.extendedTextMessage?.text || '' }}{{ $('Webhook EVO').item.json.body.data.message.imageMessage?.caption || '' }}{{ $('Webhook EVO').item.json.body.data.message.conversation || '' }}","type":"string"},{"id":"b97f1af3-5361-46fc-9303-d644921231d8","name":"message.timestamp","value":"={{ $('Webhook EVO').item.json.body.data.messageTimestamp.toDateTime('s').toISO() }}","type":"string"},{"id":"dc3dc59c-90a3-4a45-bea2-de092c91083b","name":"message.content_url","value":"={{ $('Webhook EVO').item.json.body.data.message.audioMessage?.url || '' }}{{ $('Webhook EVO').item.json.body.data.message.imageMessage?.url || '' }}","type":"string"},{"id":"8b01a818-a456-476e-bace-adefe2f04eb4","name":"message.event","value":"={{ $('Webhook EVO').item.json.body.data.key.fromMe ? 'outcoming' : 'incoming' }}","type":"string"},{"id":"b2f1f6b5-292f-4695-9e41-be200c6d7053","name":"instance.name","value":"={{ $json.body.instance }}","type":"string"},{"id":"572fcce5-8a26-4e8f-a48a-ef0bee569dcd","name":"instance.apikey","value":"={{ $json.body.apikey }}","type":"string"},{"id":"e90043db-657b-461c-b040-2d6089abfbdb","name":"instance.server_url","value":"={{ $json.body.server_url }}","type":"string"}]},"options":{}},"id":"5c169d08-b9e5-422d-8bb2-26a79848b9d7","name":"dados_para_atendimento_humano1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4800,1440]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.block }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ia Ativa"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3ef0e01c-cc14-4663-bb4d-2905b350c3ab","leftValue":"={{ $json.block }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ia Desativada"}]},"options":{}},"id":"2598f364-aade-4824-854f-6e3556b069fa","name":"Switch Block","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-4260,1540]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.message.event }}","rightValue":"outcoming","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"outcoming"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d7b42536-638f-4128-b51b-6aa913e9d9bc","leftValue":"={{ $json.message.event }}","rightValue":"incoming","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"incoming"}]},"options":{}},"id":"ea2d2d59-4765-4530-b923-ab4f783bcf6e","name":"Switch6","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-4620,1440]},{"parameters":{"operation":"set","key":"={{ $json.message.chat_id }}_block","value":"true","keyType":"string","expire":true,"ttl":4320000},"id":"23492519-9516-40fa-9d80-af30a7681bcd","name":"PARA IA","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-4420,1380],"credentials":{"redis":{"id":"CMG5NzZphI7CpP2k","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"block","key":"={{ $json.message.chat_id }}_block","options":{}},"id":"02613b8e-c465-4125-aba7-ea23112d86df","name":"Verificar Atendimento","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-4420,1540],"credentials":{"redis":{"id":"CMG5NzZphI7CpP2k","name":"Redis account"}}},{"parameters":{"jsCode":"const data = $item(0).$node[\"Compara Get Memory1\"].json[\"Redis2\"]; // Obtém o valor de Redis2 do nó \"If\"\n\n// Verifica se o dado é uma string que representa um array, e converte se necessário\nlet array = Array.isArray(data) ? data : JSON.parse(data);\n\n// Junta os elementos do array com um espaço entre eles\nconst mensagem_completa = array.join(\" \");\n\n// Retorna o resultado com o nome da variável \"mensagem_completa\"\nreturn [{ json: { mensagem_completa } }];\n"},"id":"92bfb7e4-e006-4dd6-8b5b-3d8414616304","name":"Mensagem Completa","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1120,1320]},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"file.ogg","mimeType":"application/ogg"}},"id":"f1c5613b-650a-4afa-b86f-c2147380fd6c","name":"Convert to File","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-2540,1340]},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"904b9517-fbb7-4c0a-a366-bdbc8ae222e9","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-2360,1340],"credentials":{"openAiApi":{"id":"fUIOsGVnCLFrm3t8","name":"OpenAi 2"}}},{"parameters":{"content":"# Pausa para Atendimento Humano","height":80,"width":656,"color":5},"id":"622a835c-2c87-47b9-ad04-eecfb8794af6","name":"Sticky Note46","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4860,1280]},{"parameters":{"content":"# Filtro de menagem","height":80,"width":356,"color":5},"id":"04fa7a10-b103-4d7a-a173-9ce9d7a4cf17","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2920,1100]},{"parameters":{"assignments":{"assignments":[{"id":"3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655","name":"data","value":"={{ $('Webhook EVO').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"id":"27c88660-d7e9-4767-8c15-a704cd19a4ca","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2700,1340]},{"parameters":{"documentId":{"__rl":true,"value":"1RW-Wb02RQ5Fkbukg3cKTu1SvyCGsLg7kmxrFLinpbBU","mode":"list","cachedResultName":"PP lista 2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RW-Wb02RQ5Fkbukg3cKTu1SvyCGsLg7kmxrFLinpbBU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1295001948,"mode":"list","cachedResultName":"WA-Download Group Phone Numbers","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RW-Wb02RQ5Fkbukg3cKTu1SvyCGsLg7kmxrFLinpbBU/edit#gid=1295001948"},"combineFilters":"OR","options":{"returnFirstMatch":false}},"id":"4e50fda9-6445-4661-8497-521b02a28b0c","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2580,3940],"executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"cdM9gcI2pxWfiYoz","name":"Google Sheets account"}}},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1RW-Wb02RQ5Fkbukg3cKTu1SvyCGsLg7kmxrFLinpbBU","mode":"list","cachedResultName":"PP lista 2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RW-Wb02RQ5Fkbukg3cKTu1SvyCGsLg7kmxrFLinpbBU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1295001948,"mode":"list","cachedResultName":"WA-Download Group Phone Numbers","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RW-Wb02RQ5Fkbukg3cKTu1SvyCGsLg7kmxrFLinpbBU/edit#gid=1295001948"}},"id":"305dac73-098a-44d4-96eb-b548a0df9db8","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-740,3900],"credentials":{"googleSheetsOAuth2Api":{"id":"cdM9gcI2pxWfiYoz","name":"Google Sheets account"}}},{"parameters":{"amount":1},"id":"663d6886-674e-40fb-a643-97ffff34d539","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2380,3940],"webhookId":"78f1c2c3-6305-4095-9a10-04987b76a7b8"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{(() => {\n  const url = $('Google Sheets').item.json.link_test_whatsapp; // URL completa\n  const match = url.match(/phone=(\\d+)/); // Extrai o número de celular após \"phone=\"\n  if (match) {\n    const phoneNumber = match[1].replace('9', ''); // Remove apenas o primeiro \"9\" encontrado\n    return phoneNumber; // Retorna o número processado\n  }\n  return null; // Retorna null se não encontrar o padrão\n})()}}@s.whatsapp.net\n","contextWindowLength":100},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1060,4220],"id":"ad01a918-1c0b-481a-b2c4-2a8711b62777","name":"Postgres Chat Memory2","credentials":{"postgres":{"id":"He9Ca6QM4AkFBQQr","name":"Postgres Online"}}},{"parameters":{"content":"","height":820,"width":2303,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-2860,3640],"typeVersion":1,"id":"4c41a612-5efc-4a9a-8206-1c8870793b00","name":"Sticky Note11"},{"parameters":{"content":"# CAPTAÇÃO DE CLIENTES","height":80,"width":551.2183277924504,"color":5},"id":"c0578238-a4a1-468d-9865-2771b64d3c1d","name":"Sticky Note30","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2800,3660]},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/20 10-17 * * 1-5"}]}},"id":"c5cf3ef7-3726-48d9-9657-bf069170e6a2","name":"Schedule Trigger2","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2800,3940]},{"parameters":{"resource":"messages-api","instanceName":"thais financa","remoteJid":"=+{{(() => {\n  const url = $('Google Sheets').item.json.link_test_whatsapp;\n  return url.split('phone=')[1] || '';\n})()}}\n","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-940,3900],"id":"f34b55bb-e4a0-4c56-899d-ce163dd38fa0","name":"Evolution API3","alwaysOutputData":false,"credentials":{"evolutionApi":{"id":"1eM2xZDmYfv6kfHj","name":"Evolution account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"getAll","tableId":"chats","filters":{"conditions":[{"keyName":"app","condition":"eq","keyValue":"drana"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[360,1420],"id":"2a2769bd-0c2f-4dfd-b5ed-521cace58dcf","name":"ListChats-Supabase2","credentials":{"supabaseApi":{"id":"b221yMmN6adp96Ic","name":"SupaBase_online"}}},{"parameters":{"operation":"getAll","tableId":"chat_messages","matchType":"allFilters","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid }}"},{"keyName":"active","condition":"eq","keyValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[880,1440],"id":"005809d0-9243-4c31-8c8e-389d9180f679","name":"ListMessages-Supabase2","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"b221yMmN6adp96Ic","name":"SupaBase_online"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"conversas","include":"specifiedFields","fieldsToInclude":"id,message_type,created_at,user_message, bot_message,phone, conversation_id","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1140,1440],"id":"3221ca18-557f-46cb-bace-f26fd019fede","name":"Aggregate2"},{"parameters":{"jsCode":"return $('Aggregate2').all().map(item => {\n  // Tenta acessar a propriedade 'conversas' e verifica se ela é um array\n  const conversas = item.json.conversas || []; // Garante que é pelo menos um array vazio\n\n  if (!Array.isArray(conversas)) {\n    throw new Error(\"A propriedade 'conversas' não é um array.\");\n  }\n\n  // Processa cada conversa e verifica as mensagens\n  const textoUnico = conversas.map(conversa => {\n    const cliente = conversa.user_message || \"sem mensagem do chatbot\";\n    const agente = conversa.bot_message || \"sem resposta\";\n    \n    // Verifica se a data existe e formata\n    const dataOriginal = conversa.created_at || \"Data da Mensagem indisponível\";\n    const dataFormatada = dataOriginal !== \"Data da Mensagem indisponível\"\n      ? formatarData(dataOriginal)\n      : dataOriginal;\n\n    return `em: ${dataFormatada}\\n\\n - agente(chatbot): ${agente} \\n - cliente: ${cliente}\\n`;\n  }).join('\\n\\n');\n\n  // Retorna o texto final como resultado\n  return {\n    json: {\n      texto: textoUnico\n    }\n  };\n});\n\n// Função para formatar a data\nfunction formatarData(dataString) {\n  const data = new Date(dataString); // Converte a string em objeto Date\n  if (isNaN(data)) {\n    return \"Data inválida\"; // Retorna se a data não for válida\n  }\n  \n  // Formata no padrão DD/MM/YYYY HH:mm\n  const dia = String(data.getDate()).padStart(2, '0');\n  const mes = String(data.getMonth() + 1).padStart(2, '0'); // Mês começa em 0\n  const ano = data.getFullYear();\n  const horas = String(data.getHours()).padStart(2, '0');\n  const minutos = String(data.getMinutes()).padStart(2, '0');\n  \n  return `${dia}/${mes}/${ano} ${horas}:${minutos}`;\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1380,1440],"id":"cb86051b-0dec-4942-927e-01d62fd02436","name":"Code6"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[600,1420],"id":"09bfa007-da8c-43c4-a785-ad8810ac246b","name":"Loop Over Items6"},{"parameters":{"promptType":"define","text":"=Você é um agente resumidor de casos dos clientes, você analisa a conversa entre o agente e o cliente e cria um resumo do problema que ele está enfrentando de forma bem detalhada somente do problema do cliente e preferencia pela data da sessão, não precisa de informações sobre as respostas do agente para o cliente, e gera o resultado sem dicas de uso ou informações extras \n\n# Conversa entre o cliete e o agente de IA:\n{{ $json.texto }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1620,1420],"id":"16df4b47-eb08-4609-ab94-b4555ac03c58","name":"Basic LLM Chain1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1580,1600],"id":"0071fd71-4bab-4ae7-8628-8ccbfb343b4c","name":"OpenAI Chat Model6","credentials":{"openAiApi":{"id":"fUIOsGVnCLFrm3t8","name":"OpenAi 2"}}},{"parameters":{"content":"","height":400,"width":2200,"color":4},"type":"n8n-nodes-base.stickyNote","position":[20,1300],"typeVersion":1,"id":"7ded4a3f-2e9b-405b-b227-421621305dd1","name":"Sticky Note47"},{"parameters":{"content":"# AVISAR NOVO LEAD NO GRUPO","height":80,"width":656,"color":5},"id":"2703989d-f57d-4790-827b-4550d2c7d8b8","name":"Sticky Note51","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[40,1320]},{"parameters":{"resource":"messages-api","instanceName":"thais financa","remoteJid":"={{ $('Variáveis').item.json.telefone }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[100,1420],"id":"32db4ff0-b0e9-4c13-9681-0fd171a10bc6","name":"Evolution API4","credentials":{"evolutionApi":{"id":"1eM2xZDmYfv6kfHj","name":"Evolution account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c5e41bbd-c264-4a36-b76e-cef79392855b","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"556298098251@s.whatsapp.net","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5060,1480],"id":"112fdfce-2fbd-44c5-afc5-f9b687ee726f","name":"If2"},{"parameters":{"name":"reagendar_reuniao","description":"=Após o usuário informar que quer reagendar e colete o nome, email e nova data Chame esta tool\n\nNa variável \"nome\", você vai preencher o nome do usuário e na variavel \"email\" você vai preencher com email do usuário\n\nA data do agendamento você vai transformar para seguinte formato, exemplo: 2024-10-18T14:30:00-03:00 e vai preencher a variavel \"start\"\n\nEm seguida você vai inserir 50 minutos a mais depois no horário de agendamento e na variavel \"end\" você vai prencher com o horario no mesmo formato da variavel start","workflowId":{"__rl":true,"value":"9oT7ShXQVfZDnFdp","mode":"id"},"fields":{"values":[{"name":"Evento","stringValue":"reagendamento"},{"name":"Remotejid","stringValue":"={{ $('Variáveis').item.json.telefone }}"}]},"specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"nome\": \"nome do usuario\",\n    \"email\": \"email do usuario\",\n    \"start\": \"data hora do inicio da reunião\",\n    \"end\": \"data hora do fim da reunião\"\n}"},"id":"60d1915c-0ad0-451e-8547-1a73404b378c","name":"reagendar_reuniao","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[-700,1780]},{"parameters":{"assignments":{"assignments":[{"id":"86ff282a-3ede-4417-98c1-0d10858bc5dc","name":"response","value":"=Agendamento concluído para a data {{(() => { \n    const data = new Date($json.start.dateTime);\n    const opcoes = { day: '2-digit', month: 'long', hour: '2-digit', minute: '2-digit' };\n    return `dia ${data.toLocaleDateString('pt-BR', opcoes).replace(' ', ' de ').replace(',', ' às')}`;\n})()}}\no link da reunião é: {{ $json.hangoutLink }}","type":"string"}]},"options":{}},"id":"0a69e080-3606-4c5f-850a-42f0709b693e","name":"Edit Fields10","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1060,1900]},{"parameters":{"operation":"get","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Google Calendar').item.json.description }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1520,3140],"id":"a5091549-aa8e-4e7e-a7dc-e4ab85523512","name":"Supabase4","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"b221yMmN6adp96Ic","name":"SupaBase_online"}}},{"parameters":{"operation":"get","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Loop Over Items4').item.json.description }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1520,2880],"id":"6ce52b9e-4845-4f01-b4ea-6a6d24edc70e","name":"Supabase3","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"b221yMmN6adp96Ic","name":"SupaBase_online"}}},{"parameters":{"promptType":"define","text":"={{ $('Edit Fields2').item.json.Tempo }}","options":{"systemMessage":"=Crie uma mensagem que vai ser enviada no WhatsApp, abaixo vou te mandar o nome completo da pessoa e um exemplo de mensagem, mas quero que chame a pessoa somente pelo primeiro nome, me de a resposta pronta para ser enviada sem dicas de uso ou informações extras, somente o resultado, pois será enviada via automação  \n\nMande somente o primeiro nome\n\nMensagem: Olá, {{ $('Google Sheets').item.json.socios }} tudo bem?  \n\nCaso não tenha um nome \nmande: olá, tudo bem é da empresa {{ $json.razao_social }}"}},"id":"90bf851e-8a3e-44f3-958f-9b0bedd7370f","name":"Atendente3","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-1300,3900],"executeOnce":true},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1220,4260],"id":"36dc8278-1f41-40e2-83b5-4a8c009a1f1b","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"fUIOsGVnCLFrm3t8","name":"OpenAi 2"}}},{"parameters":{"operation":"get","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Google Sheets').item.json['Phone Number \t\t\t'].replace('+', '') }}@s.whatsapp.net\n"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2160,3940],"id":"ed377639-cf59-432c-9546-d8847f1237ea","name":"Supabase5","alwaysOutputData":true,"executeOnce":true,"credentials":{"supabaseApi":{"id":"b221yMmN6adp96Ic","name":"SupaBase_online"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4a6d9aac-8565-4c58-abe3-8741393a5535","leftValue":"={{ $json.telefone }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1960,3940],"id":"c14a9349-1103-404c-a950-2ddb3b511196","name":"If9"},{"parameters":{"action":"generate"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-1760,4060],"id":"45e40d22-fa5a-4ce5-87df-abed631e1ce3","name":"Gerar sessionID1"},{"parameters":{"tableId":"dados_cliente","fieldsUi":{"fieldValues":[{"fieldId":"sessionid","fieldValue":"={{ $json.data }}"},{"fieldId":"telefone","fieldValue":"={{ $('Google Sheets').item.json['Phone Number \t\t\t'] }}@s.whatsapp.net"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1620,4060],"id":"766920d9-48a8-40a1-8fbf-c2564529ac05","name":"Supabase6","credentials":{"supabaseApi":{"id":"b221yMmN6adp96Ic","name":"SupaBase_online"}}},{"parameters":{"jsCode":"// Obtém os valores dos nós anteriores\nconst sessionid1 = $input.item.json.data;  // Do nó \"Gerar sessionID\"\nconst sessionid2 = $input.item.json.sessionid;  // Do nó \"Supabase\"\n\n// Retorna apenas o que existir, chamando sempre de \"sessionId\"\nreturn [{ sessionId: sessionid1 || sessionid2 || null }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1500,3900],"id":"7c2b33e8-ab94-4ea1-809e-8ffed8e0c13e","name":"Code"},{"parameters":{"operation":"get","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Google Sheets').item.json['Phone Number \t\t\t'].replace('+', '') }}@s.whatsapp.net\n"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1660,3900],"id":"bac6bf11-e369-401e-8d6e-b073fc2e7540","name":"Get Dados1","credentials":{"supabaseApi":{"id":"b221yMmN6adp96Ic","name":"SupaBase_online"}}},{"parameters":{"resource":"messages-api","instanceName":"=thais financa","remoteJid":"120363383659037085@g.us","messageText":"=🚨 Novo Lead: wa.me/{{ $('Variáveis').item.json.telefone.split('@')[0] }} 🚨\n Cliente: {{ $('Webhook EVO').item.json.body.data.pushName }}\n\nCASO:\n{{ $json.text }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1960,1420],"id":"0ec2f9ba-85d6-4295-ac44-08730a648abd","name":"Evolution API8","credentials":{"evolutionApi":{"id":"1eM2xZDmYfv6kfHj","name":"Evolution account"}}},{"parameters":{"httpMethod":"POST","path":"6f8d5030-0b0a-4f34-b0c1-2cfa6344535a","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-5320,1440],"id":"7001a7fc-0fdc-45fb-b39d-f33f06f48b42","name":"Webhook","webhookId":"6f8d5030-0b0a-4f34-b0c1-2cfa6344535a"}],"connections":{"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"buscar_documentos","type":"ai_languageModel","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert into Supabase Vectorstore","type":"ai_document","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore","type":"ai_embedding","index":0}]]},"Download File":{"main":[[{"node":"Switch","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"Extract Document Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Set File ID":{"main":[[{"node":"Deleta linhas antigas do documento","type":"main","index":0}]]},"Extract PDF Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Summarize":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Extract PDF Text","type":"main","index":0}],[{"node":"Extract from Excel","type":"main","index":0}],[{"node":"Extract Document Text","type":"main","index":0}]]},"Insert into Supabase Vectorstore":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"buscar_documentos","type":"ai_vectorStore","index":0}]]},"Extract from Excel":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"OpenAI3":{"ai_languageModel":[[{"node":"Parser  Chain","type":"ai_languageModel","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"Evolution API","type":"main","index":0}]]},"OutputParser1":{"ai_outputParser":[[{"node":"Parser  Chain","type":"ai_outputParser","index":0}]]},"Parser  Chain":{"main":[[{"node":"Split de Mensagem","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"Menos que 240 Caracteres","type":"main","index":0}],[{"node":"Menos que 240 Caracteres","type":"main","index":0}],[{"node":"Menos que 240 Caracteres","type":"main","index":0}],[{"node":"Menos que 240 Caracteres","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Atendente","type":"ai_languageModel","index":0}]]},"Atendente":{"main":[[{"node":"Switch2","type":"main","index":0},{"node":"Busca Telefone","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Download File","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Atendente","type":"ai_memory","index":0}]]},"Switch2":{"main":[[{"node":"Switch3","type":"main","index":0}],[{"node":"Evolution API4","type":"main","index":0}]]},"Evolution API":{"main":[[{"node":"1 segundo","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Cria Histórico Supabase","type":"main","index":0}]]},"If4":{"main":[[{"node":"Adiciona CHAT supabase","type":"main","index":0}],[{"node":"Atualiza CHAT Supabase","type":"main","index":0}]]},"ListChats-Supabase":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"ListMessages-Supabase":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"ListChats-Supabase","type":"main","index":0}]]},"DisableMessage-Supabase":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"SetConfig":{"main":[[{"node":"Evolution API6","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Supabase2","type":"main","index":0},{"node":"SetConfig","type":"main","index":0}]]},"Text Classifier":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}],[{"node":"Wait2","type":"main","index":0}],[{"node":"Wait2","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"Supabase2":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"ListMessages-Supabase","type":"main","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Wait2":{"main":[[{"node":"DisableMessage-Supabase","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Busca Telefone":{"main":[[{"node":"If4","type":"main","index":0}]]},"Adiciona CHAT supabase":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Atualiza CHAT Supabase":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Menos que 240 Caracteres":{"main":[[{"node":"Evolution API5","type":"main","index":0}],[{"node":"Parser  Chain","type":"main","index":0}]]},"Split de Mensagem":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"1 segundo":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Retorna ID do arquivo":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Deleta linhas antigas do documento":{"main":[[{"node":"Retorna ID do arquivo","type":"main","index":0}]]},"Cria Histórico Supabase":{"main":[[{"node":"Delete Memory","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Switch4","type":"main","index":0}]]},"Disponibilidade":{"main":[[{"node":"If","type":"main","index":0}]]},"Marca":{"main":[[{"node":"Edit Fields10","type":"main","index":0}]]},"Já tem um evento":{"main":[[{"node":"If5","type":"main","index":0}]]},"Google Calendar1":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"Google Calendar3":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Verifica evento":{"main":[[{"node":"Google Calendar1","type":"main","index":0}]]},"Verifica evento1":{"main":[[{"node":"Google Calendar3","type":"main","index":0}]]},"If6":{"main":[[{"node":"Verifica evento1","type":"main","index":0}],[{"node":"Edit Fields9","type":"main","index":0}]]},"Disponibilidade1":{"main":[[{"node":"If6","type":"main","index":0}]]},"If5":{"main":[[{"node":"Edit Fields6","type":"main","index":0}],[{"node":"Disponibilidade","type":"main","index":0}]]},"Switch4":{"main":[[{"node":"Já tem um evento","type":"main","index":0}],[{"node":"Verifica evento","type":"main","index":0}],[{"node":"Disponibilidade1","type":"main","index":0}]]},"If":{"main":[[{"node":"Marca","type":"main","index":0}],[{"node":"Edit Fields9","type":"main","index":0}]]},"criar_reuniao":{"ai_tool":[[{"node":"Atendente","type":"ai_tool","index":0}]]},"cancelar_reuniao":{"ai_tool":[[{"node":"Atendente","type":"ai_tool","index":0}]]},"buscar_documentos":{"ai_tool":[[{"node":"Atendente","type":"ai_tool","index":0}]]},"Google Calendar":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"5 Minutos antes":{"main":[[{"node":"If8","type":"main","index":0}]]},"2 Hora antes":{"main":[[{"node":"If7","type":"main","index":0}]]},"If7":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"If8":{"main":[[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Supabase3","type":"main","index":0}]]},"Atendente1":{"main":[[{"node":"Evolution API7","type":"main","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"Atendente1","type":"ai_memory","index":0},{"node":"Atendente2","type":"ai_memory","index":0}]]},"Atendente2":{"main":[[{"node":"Evolution API7","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Supabase4","type":"main","index":0}]]},"Evolution API7":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Google Calendar","type":"main","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"Atendente1","type":"ai_languageModel","index":0},{"node":"Atendente2","type":"ai_languageModel","index":0}]]},"Loop Over Items4":{"main":[[],[{"node":"2 Hora antes","type":"main","index":0},{"node":"5 Minutos antes","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Get Dados","type":"main","index":0}],[{"node":"Gerar sessionID","type":"main","index":0}]]},"Gerar sessionID":{"main":[[{"node":"Supabase1","type":"main","index":0}]]},"Supabase1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Date & Time1":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"If3":{"main":[[{"node":"Redis5","type":"main","index":0}],[{"node":"Redis4","type":"main","index":0}]]},"Redis4":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Redis5":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Text Memory1","type":"main","index":0}],[{"node":"Text Memory1","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"If3","type":"main","index":0}]]},"Compara Get Memory1":{"main":[[{"node":"Mensagem Completa","type":"main","index":0}]]},"Text Memory1":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Audio Memory1":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"Compara Get Memory1","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Get Memory 2","type":"main","index":0}]]},"Get Memory 1":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Get Memory 2":{"main":[[{"node":"Edit Fields8","type":"main","index":0}]]},"Get Dados":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Variáveis":{"main":[[{"node":"Date & Time1","type":"main","index":0}]]},"dados_para_atendimento_humano1":{"main":[[{"node":"Switch6","type":"main","index":0}]]},"Switch Block":{"main":[[{"node":"Variáveis","type":"main","index":0}],[{"node":"Variáveis","type":"main","index":0}]]},"Switch6":{"main":[[{"node":"PARA IA","type":"main","index":0}],[{"node":"Verificar Atendimento","type":"main","index":0}]]},"Verificar Atendimento":{"main":[[{"node":"Switch Block","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Audio Memory1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Mensagem Completa":{"main":[[{"node":"Atendente","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Supabase5","type":"main","index":0}]]},"Postgres Chat Memory2":{"ai_memory":[[{"node":"Atendente3","type":"ai_memory","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Evolution API3":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"ListChats-Supabase2":{"main":[[{"node":"Loop Over Items6","type":"main","index":0}]]},"ListMessages-Supabase2":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Code6":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"Loop Over Items6":{"main":[[],[{"node":"ListMessages-Supabase2","type":"main","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"Evolution API8","type":"main","index":0}]]},"OpenAI Chat Model6":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"Evolution API4":{"main":[[{"node":"ListChats-Supabase2","type":"main","index":0}]]},"If2":{"main":[[{"node":"dados_para_atendimento_humano1","type":"main","index":0}]]},"reagendar_reuniao":{"ai_tool":[[{"node":"Atendente","type":"ai_tool","index":0}]]},"Supabase4":{"main":[[{"node":"Atendente2","type":"main","index":0}]]},"Supabase3":{"main":[[{"node":"Atendente1","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Atendente3","type":"ai_languageModel","index":0}]]},"Supabase5":{"main":[[{"node":"If9","type":"main","index":0}]]},"If9":{"main":[[{"node":"Get Dados1","type":"main","index":0}],[{"node":"Gerar sessionID1","type":"main","index":0}]]},"Gerar sessionID1":{"main":[[{"node":"Supabase6","type":"main","index":0}]]},"Supabase6":{"main":[[{"node":"Code","type":"main","index":0}]]},"Get Dados1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Atendente3","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"If2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]},"node:Schedule Trigger2":{"recurrenceRules":[]},"node:File Created":{"lastTimeChecked":"2025-05-09T14:58:13Z"},"node:File Updated":{"lastTimeChecked":"2025-05-09T14:58:13Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3f9c2555-1845-44c3-9cf5-e1292bb1b0b3","triggerCount":6,"tags":[{"createdAt":"2025-05-09T12:44:21.229Z","updatedAt":"2025-05-09T12:44:21.229Z","id":"GNr6wpdFP7kYIT2N","name":"NegócioComAgentesDeIA"}]}