my-workflow-2-Ugr3tmU5s5rBiCt9.json
{"createdAt":"2025-05-08T00:18:17.465Z","updatedAt":"2025-05-08T01:44:25.000Z","id":"Ugr3tmU5s5rBiCt9","name":"My workflow 2","active":false,"nodes":[{"parameters":{},"id":"b50e6fd8-77a2-4b94-9dc7-c6f0a9c1d04f","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-1000,1060]},{"parameters":{"assignments":{"assignments":[{"id":"86ff282a-3ede-4417-98c1-0d10858bc5dc","name":"response","value":"Agendamento concluído","type":"string"}]},"options":{}},"id":"7eee3bce-f204-4bf8-b313-70a7f77ca26f","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1080,820]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"be5649a9-7624-4621-bd2d-84c25577c0ce","leftValue":"={{ $json.available }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"4845c25d-9bac-4b2c-80c3-4ddc20ecde74","name":"If1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[340,840]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ba6789e9-d500-49e6-bafb-9cd55a6fd247","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"556298098251@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"3f04fc1c-9c19-48c5-a674-b77ebfe43630","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"556298098251@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"fd8c2bf2-1009-4ea7-a47c-eb7548512f13","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"6ccafd64-24c7-45d4-a133-57dcea281d0e","name":"If2","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1060,380]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}","contextWindowLength":50},"id":"9cd89643-4917-4532-913b-da4c6ac002a1","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.1,"position":[560,640],"credentials":{"postgres":{"id":"YRmByNB2xC7Hc59E","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"04c6ca35-7572-4699-bcb7-bbf2f2a6e6a4","name":"response","value":"horário não disponivel, peça outro horário","type":"string"}]},"options":{}},"id":"4f477aae-b858-4e9c-ba61-fb2149867cd1","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[580,940]},{"parameters":{"assignments":{"assignments":[{"id":"edc090f3-5297-46f6-badf-11b0535a8a30","name":"response","value":"=Já possui uma reunião:\n\nInicio: {{ $item(\"0\").$node[\"If3\"].json[\"start\"][\"dateTime\"] }}\nFim: {{ $item(\"0\").$node[\"If3\"].json[\"end\"][\"dateTime\"] }}","type":"string"}]},"options":{}},"id":"9167d35a-bf0a-4e64-bf0c-2e956289fb87","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,740]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8d192ed0-aebd-404e-8339-daab0d29651f","leftValue":"={{ $item(\"0\").$node[\"Já tem um evento\"].json[\"attendees\"][\"0\"][\"email\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"8b7fe19b-d0ab-4607-b9f6-ca313d76795a","name":"If3","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-280,820]},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"plasdigital1@gmail.com","mode":"list","cachedResultName":"plasdigital1@gmail.com"},"timeMin":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"query\"][\"start\"] }}","timeMax":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"query\"][\"end\"] }}","options":{}},"id":"8ba7d557-316c-414c-99bc-1151ea5c3ddb","name":"Disponibilidade","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[0,840],"credentials":{"googleCalendarOAuth2Api":{"id":"5awK7O380EiDZvaH","name":"Google Calendar account"}}},{"parameters":{"calendar":{"__rl":true,"value":"plasdigital1@gmail.com","mode":"list","cachedResultName":"plasdigital1@gmail.com"},"start":"={{ $('Switch').item.json.query.start }}","end":"={{ $('Switch').item.json.query.end }}","additionalFields":{"attendees":["={{ $('Switch').item.json.query.email }}"],"description":"={{ $('Switch').item.json.Remotejid }}","summary":"={{ $('Execute Workflow Trigger').item.json.query.nome }}"}},"id":"b9e54df9-6262-4138-8c32-cafd4ea449dd","name":"Marca","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[780,820],"credentials":{"googleCalendarOAuth2Api":{"id":"5awK7O380EiDZvaH","name":"Google Calendar account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"plasdigital1@gmail.com","mode":"list","cachedResultName":"plasdigital1@gmail.com"},"returnAll":true,"options":{"query":"={{ $json.query.email }}"}},"id":"edb97264-2720-4cd5-8e4a-98a9ca0e4084","name":"Já tem um evento","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[-480,820],"alwaysOutputData":true,"credentials":{"googleCalendarOAuth2Api":{"id":"5awK7O380EiDZvaH","name":"Google Calendar account"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"plasdigital1@gmail.com","mode":"list","cachedResultName":"plasdigital1@gmail.com"},"eventId":"={{ $item(\"0\").$node[\"Verifica evento\"].json[\"id\"] }}","options":{}},"id":"9fd4f926-ec62-4bc7-a4d2-7303a4bfbdf1","name":"Google Calendar1","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[-260,1060],"credentials":{"googleCalendarOAuth2Api":{"id":"5awK7O380EiDZvaH","name":"Google Calendar account"}}},{"parameters":{"assignments":{"assignments":[{"id":"7f842ffa-cd8f-40ab-a0a7-40dc173357a7","name":"response","value":"Informe o usuário que o agendamento foi cancelado e que estará sempre à disposição para um novo agendamento.","type":"string"}]},"options":{}},"id":"45bec8b8-0156-491e-b5c0-36ae036251c4","name":"Edit Fields3","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-60,1060]},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"plasdigital1@gmail.com","mode":"list","cachedResultName":"plasdigital1@gmail.com"},"eventId":"={{ $item(\"0\").$node[\"Verifica evento1\"].json[\"id\"] }}","useDefaultReminders":false,"updateFields":{"end":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"query\"][\"end\"] }}","sendUpdates":"all","start":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"query\"][\"start\"] }}"}},"id":"56e72544-3e4d-42c7-8aa4-cab2c77cb106","name":"Google Calendar3","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[320,1220],"credentials":{"googleCalendarOAuth2Api":{"id":"5awK7O380EiDZvaH","name":"Google Calendar account"}}},{"parameters":{"assignments":{"assignments":[{"id":"7f842ffa-cd8f-40ab-a0a7-40dc173357a7","name":"response","value":"Que a reunião foi reagendada","type":"string"}]},"options":{}},"id":"673e1560-2fbf-4529-8e1d-2abbec7f9f45","name":"Edit Fields4","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[520,1260]},{"parameters":{"name":"agendamento","description":"=Chame esta ferramenta após o usuário informar nome e email e data do agendamento. \n\nNa variável \"nome\", você vai preencher o nome do usuário e na variavel \"email\" você vai preencher com email do usuário\n\nA data do agendamento você vai transformar para seguinte formato, exemplo: 2024-10-18T14:30:00-03:00 e vai preencher a variavel \"start\"\n\nEm seguida você vai inserir uma hora a mais depois no horario de agendamento e na variavel \"end\" você vai prencher com o horario no mesmo formato da variavel start","workflowId":{"__rl":true,"value":"KqLvVQmJOaOyzvop","mode":"id"},"fields":{"values":[{"name":"Evento","stringValue":"agendamento"},{"name":"Remotejid","stringValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}"}]},"specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"nome\": \"nome do usuario\",\n    \"email\": \"email do usuario\",\n    \"start\": \"data hora do inicio da reunião\",\n    \"end\": \"data hora do fim da reunião\"\n}"},"id":"1f13a9fb-b4d2-4227-8a09-add7d94ff8d5","name":"agendamento","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[1320,700]},{"parameters":{"name":"cancelamento","description":"=Chame esta ferramenta após o usuário informar que quer cancelar a reunião, colete o email e nome\n\nNa variável \"nome\", você vai preencher o nome do usuário e na variavel \"email\" você vai preencher com email do usuário","workflowId":{"__rl":true,"value":"KqLvVQmJOaOyzvop","mode":"id"},"fields":{"values":[{"name":"Evento","stringValue":"cancelamento"},{"name":"Remotejid","stringValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}"}]},"specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"nome\": \"nome do usuario\",\n    \"email\": \"email do usuario\"\n}"},"id":"359075bf-e564-42f1-9fc1-09efc0855076","name":"cancelamento","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[1220,620]},{"parameters":{"name":"reagendamento","description":"=Após o usuário informar que quer reagendar e colete o nome, email e nova data Chame esta tool\n\nNa variável \"nome\", você vai preencher o nome do usuário e na variavel \"email\" você vai preencher com email do usuário\n\nA data do agendamento você vai transformar para seguinte formato, exemplo: 2024-10-18T14:30:00-03:00 e vai preencher a variavel \"start\"\n\nEm seguida você vai inserir uma hora a mais depois no horario de agendamento e na variavel \"end\" você vai prencher com o horario no mesmo formato da variavel start","workflowId":{"__rl":true,"value":"KqLvVQmJOaOyzvop","mode":"id"},"fields":{"values":[{"name":"Evento","stringValue":"reagendamento"},{"name":"Remotejid","stringValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}"}]},"specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"nome\": \"nome do usuario\",\n    \"email\": \"email do usuario\",\n    \"start\": \"data hora do inicio da reunião\",\n    \"end\": \"data hora do fim da reunião\"\n}"},"id":"3db65676-5115-4ddf-affd-70af24a739a7","name":"reagendamento","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[1100,600]},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"plasdigital1@gmail.com","mode":"list","cachedResultName":"plasdigital1@gmail.com"},"returnAll":true,"options":{"query":"={{ $item(\"0\").$node[\"Switch\"].json[\"query\"][\"email\"] }}"}},"id":"380de345-29e0-43c8-8ac7-6a25c7039df5","name":"Verifica evento","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[-480,1060],"credentials":{"googleCalendarOAuth2Api":{"id":"5awK7O380EiDZvaH","name":"Google Calendar account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"plasdigital1@gmail.com","mode":"list","cachedResultName":"plasdigital1@gmail.com"},"returnAll":true,"options":{"query":"={{ $item(\"0\").$node[\"Switch\"].json[\"query\"][\"email\"] }}"}},"id":"9e3c33f9-723d-41c0-a139-e8c61f5e0622","name":"Verifica evento1","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[100,1220],"credentials":{"googleCalendarOAuth2Api":{"id":"5awK7O380EiDZvaH","name":"Google Calendar account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"be5649a9-7624-4621-bd2d-84c25577c0ce","leftValue":"={{ $json.available }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"cb30d8e4-8429-4d52-9a97-600f774c98a1","name":"If6","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-300,1260]},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"plasdigital1@gmail.com","mode":"list","cachedResultName":"plasdigital1@gmail.com"},"timeMin":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"query\"][\"start\"] }}","timeMax":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"query\"][\"end\"] }}","options":{}},"id":"6bf24353-dea0-4f8c-898f-d3c43ae88f53","name":"Disponibilidade1","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[-500,1260],"credentials":{"googleCalendarOAuth2Api":{"id":"5awK7O380EiDZvaH","name":"Google Calendar account"}}},{"parameters":{"assignments":{"assignments":[{"id":"04c6ca35-7572-4699-bcb7-bbf2f2a6e6a4","name":"response","value":"horário não disponivel, peça outro horário","type":"string"}]},"options":{}},"id":"d8f6a084-d9e2-4f65-99b0-0c8297069a9d","name":"Edit Fields5","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,1320]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"94746291-c0f3-44f3-b635-1fe696d7d74e","leftValue":"={{ $json.body.data.key.fromMe }}","rightValue":"false","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"id":"58ab9a8d-f564-4b77-a21b-c376f4474da6","name":"Form Me","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-820,380]},{"parameters":{"method":"POST","url":"=https://agenten8n-evolution-api.pmvmis.easypanel.host/message/sendText/{{ $('Webhook').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"sua api key"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}"},{"name":"text","value":"={{ $json.output }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"51c4d591-24f2-4c50-a621-1b5fc93a0220","name":"Envia Mensagem","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1640,220],"disabled":true},{"parameters":{"operation":"delete","key":"={{ $('Webhook').item.json.body.data.key.remoteJid }}"},"id":"deffbad8-f640-4e4e-92c4-8c1c3e48d7d8","name":"Delete Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2080,360],"credentials":{"redis":{"id":"CMG5NzZphI7CpP2k","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5a342e9-585b-42ea-be44-644adae10199","leftValue":"={{ $json.Redis2 }}","rightValue":"={{ $json.Redis1 }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"9cc2fe89-ad32-4b6d-8044-a5f9923c3f96","name":"Compara Get Memory","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[600,380]},{"parameters":{"operation":"get","key":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","options":{}},"id":"c9393db7-c1fb-4f79-9a91-77a278da39d7","name":"Get Memory 2","type":"n8n-nodes-base.redis","typeVersion":1,"position":[260,380],"credentials":{"redis":{"id":"CMG5NzZphI7CpP2k","name":"Redis account"}}},{"parameters":{"operation":"get","key":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","options":{}},"id":"935bd32b-f442-4519-aa5e-7228b4b13acc","name":"Get Memory 1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-100,380],"credentials":{"redis":{"id":"CMG5NzZphI7CpP2k","name":"Redis account"}}},{"parameters":{"operation":"push","list":"={{ $json.body.data.key.remoteJid }}","messageData":"={{ $json.body.data.message.conversation }}","tail":true},"id":"f6105fea-9a47-4f47-8de2-462606a7b0bb","name":"Text Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-320,360],"credentials":{"redis":{"id":"CMG5NzZphI7CpP2k","name":"Redis account"}}},{"parameters":{"operation":"push","list":"={{ $json.body.data.key.remoteJid }}","messageData":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"data\"][\"message\"][\"speechToText\"] }}","tail":true},"id":"33c7563a-1345-4417-96c1-47f33d2126ff","name":"Audio Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-340,560],"credentials":{"redis":{"id":"CMG5NzZphI7CpP2k","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"f336a1ff-e577-489d-a739-1eb8bd509245","name":"Redis2","value":"={{ $json.propertyName }}","type":"string"},{"id":"946d1420-e379-46e3-8fcd-3816340fbabb","name":"Redis1","value":"={{ $('Get Memory 1').item.json.propertyName }}","type":"string"}]},"options":{}},"id":"c244fe7b-4e90-4e75-b382-ef9fcef1f11a","name":"Edit Fields6","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[420,380]},{"parameters":{"jsCode":"const data = $item(0).$node[\"Compara Get Memory\"].json[\"Redis2\"]; // Obtém o valor de Redis2 do nó \"If\"\n\n// Verifica se o dado é uma string que representa um array, e converte se necessário\nlet array = Array.isArray(data) ? data : JSON.parse(data);\n\n// Junta os elementos do array com um espaço entre eles\nconst mensagem_completa = array.join(\" \");\n\n// Retorna o resultado com o nome da variável \"mensagem_completa\"\nreturn [{ json: { mensagem_completa } }];\n"},"id":"2c6650fe-cd30-44c8-bbe8-80af2ceb301f","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[840,260]},{"parameters":{"amount":10},"id":"d59b5875-49c6-4629-9ace-282fa8f06400","name":"Wait2","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[80,380],"webhookId":"6f130bc2-7de0-4353-b6d0-653f7c7e6623"},{"parameters":{"method":"POST","url":"https://subdominio.com.br/message/sendText/instancia","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"sua chave"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}"},{"name":"text","value":"=Não entendo imagens, digite ou escreva por favor"}]},"options":{"redirect":{"redirect":{}}}},"id":"0b1ab192-1d3d-4fbd-b6ff-e5db46419fe2","name":"Envia Mensagem1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-360,120]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"60065893-74f7-4b64-bc1a-d891202efa78","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0cb14635-2673-408e-86db-ce9e0373674b","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Áudio"}]},"options":{}},"id":"9e22a9e4-f162-4218-8c6c-81f31d289a9c","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-600,360]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"Evento\"] }}","rightValue":"agendamento","operator":{"type":"string","operation":"equals"},"id":"83fc63cb-c176-4942-952c-50ab0c723dd8"}],"combinator":"and"},"renameOutput":true,"outputKey":"agendamento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7a57e8e8-5227-4cde-8d58-7b447cd55a17","leftValue":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"Evento\"] }}","rightValue":"cancelamento","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"cancelamento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d788021f-29ab-41f2-b355-2b18963d30f2","leftValue":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"Evento\"] }}","rightValue":"reagendamento","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"reagendamento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f5c466bb-204f-4039-a459-df7e7df3f3ad","leftValue":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"Evento\"] }}","rightValue":"Consulta","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Consulta"}]},"options":{}},"id":"618bef80-58e4-46e2-b98e-bbeb28967f93","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-740,1060]},{"parameters":{"content":"## Agente IA de agendamento no Whatsapp 0800\n\nEste fluxo foi desenvolvido para uma aula do **P1edro Almeida**.\n\nConheça essa e outras automações do grupo!\n\n**Grupo de WhatsApp:** ['aqui](https:)","height":193.27409464221506,"width":622.94488241239},"id":"20ccbf7b-976c-40e1-9961-159b82ecc016","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"httpMethod":"POST","path":"96a7435f-ebe7-46ed-80b0-c94870fdc4c5","options":{}},"id":"e34ca592-e2ed-41b7-b29e-5a2fe93b9c02","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1240,380],"webhookId":"96a7435f-ebe7-46ed-80b0-c94870fdc4c5"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[780,580],"id":"20f463db-20de-4dea-9f7a-afde4dcd02ff","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"fUIOsGVnCLFrm3t8","name":"OpenAi 2"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Webhook').item.json.body.instance }}","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1760,420],"id":"746b043f-267a-4854-9e75-83ce759fd4e4","name":"Evolution API","credentials":{"evolutionApi":{"id":"1eM2xZDmYfv6kfHj","name":"Evolution account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[1520,620],"id":"6344da4f-fee3-4813-85e1-c64a151608f3","name":"Think"},{"parameters":{"sessionTTL":2},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[720,720],"id":"0cbccd8c-5100-4fe2-a29a-721ae4a9482a","name":"Redis Chat Memory","credentials":{"redis":{"id":"CMG5NzZphI7CpP2k","name":"Redis account"}}},{"parameters":{"promptType":"define","text":"=Mensagem do usuário: {{ $item(\"0\").$node[\"Code\"].json[\"mensagem_completa\"] }}\n\nData da mensagem: {{ $now }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[1020,360],"id":"f5f15dea-6efa-429f-90b4-4357d5fb065f","name":"AI Agent"},{"parameters":{"descriptionType":"manual","toolDescription":"Use Essa Tool Semque Que For Buscar Por Eventos","operation":"getAll","calendar":{"__rl":true,"value":"hicaroph@gmail.com","mode":"list","cachedResultName":"hicaroph@gmail.com"},"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}","timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1380,580],"id":"b781d8ae-c3b6-4ef4-8789-8c36d8697033","name":"Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"5awK7O380EiDZvaH","name":"Google Calendar account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[980,560],"id":"0711405c-c845-42d5-b895-1f4de995786e","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"YRmByNB2xC7Hc59E","name":"Postgres account"}}}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"If1":{"main":[[{"node":"Marca","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"If2":{"main":[[{"node":"Form Me","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[]]},"If3":{"main":[[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"Disponibilidade","type":"main","index":0}]]},"Disponibilidade":{"main":[[{"node":"If1","type":"main","index":0}]]},"Marca":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Já tem um evento":{"main":[[{"node":"If3","type":"main","index":0}]]},"Google Calendar1":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Google Calendar3":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"agendamento":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"cancelamento":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"reagendamento":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Verifica evento":{"main":[[{"node":"Google Calendar1","type":"main","index":0}]]},"Verifica evento1":{"main":[[{"node":"Google Calendar3","type":"main","index":0}]]},"Disponibilidade1":{"main":[[{"node":"If6","type":"main","index":0}]]},"If6":{"main":[[{"node":"Verifica evento1","type":"main","index":0}],[{"node":"Edit Fields5","type":"main","index":0}]]},"Form Me":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Envia Mensagem":{"main":[[]]},"Text Memory":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"Compara Get Memory","type":"main","index":0}]]},"Get Memory 2":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"Code":{"main":[[]]},"Compara Get Memory":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Get Memory 2","type":"main","index":0}]]},"Get Memory 1":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Envia Mensagem1","type":"main","index":0}],[{"node":"Text Memory","type":"main","index":0}],[{"node":"Audio Memory","type":"main","index":0}]]},"Audio Memory":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Já tem um evento","type":"main","index":0}],[{"node":"Verifica evento","type":"main","index":0}],[{"node":"Disponibilidade1","type":"main","index":0}],[]]},"Webhook":{"main":[[{"node":"If2","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Evolution API":{"main":[[{"node":"Delete Memory","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Redis Chat Memory":{"ai_memory":[[]]},"AI Agent":{"main":[[{"node":"Evolution API","type":"main","index":0}]]},"Google Calendar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"71a2d14c-c4dc-4404-9fea-d3447fe6fb79","triggerCount":0,"tags":[{"createdAt":"2025-05-08T00:16:14.536Z","updatedAt":"2025-05-08T00:16:14.536Z","id":"5ejQqHF6BndxNQp0","name":"Aula tamplate"}]}