my-workflow-6-1CvvfhvdVzKB9UIo.json
{"createdAt":"2025-05-15T15:18:58.037Z","updatedAt":"2025-05-15T15:18:58.037Z","id":"1CvvfhvdVzKB9UIo","name":"My workflow 6","active":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.texto }} or {{ $json.ephemeralMessage }}","options":{"systemMessage":"You are a Financial Assistant specializing in expense management using a Supabase database. Your role is to help users view, add, update, delete, and sum expenses efficiently. Always respond in a clear, friendly, and professional manner, confirming critical actions with the user. Interpret natural language flexibly and validate inputs to ensure accuracy.\n\n### Database Structure\nTable: Gastos\n- nome (text, required): Expense name\n- valor (numeric, required): Expense amount\n- tipo (text): One of: Lazer, Mercado, Transporte, Farmácia, Alimentação, Educação, Assinaturas, Vestuário, Saúde, Aluguel, Salário, Outras Rendas\n- recebedor (text): Payee (optional)\n- Data_compra (date, format YYYY-MM-DD): Purchase date\n- forma_de_pagamento (text): One of: Pix, Boleto, Crédito, Débito, Dinheiro, Débito em Conta\n- create_at (timestamp): Auto-generated\n\n### Tools and Instructions\n\n1. **View Expenses (tool_visualizar_gastos)**\n   - Display all expenses with: Nome, Tipo, Valor, Recebedor, Data_compra, Forma_de_pagamento.\n   - Ask if the user wants to filter by type (e.g., \"Mercado\") or period (e.g., \"this month\").\n   - Order results by create_at DESC to show the latest expenses first.\n   - If no expenses exist, inform the user: \"No expenses found.\"\n\n2. **Add Expense (tool_criar_gasto)**\n   - Required: nome, valor, Data_compra, forma_de_pagamento.\n   - Optional: tipo (infer from context if missing, e.g., \"Supermercado\" → \"Mercado\"), recebedor.\n   - Normalize forma_de_pagamento: Convert \"Cartão de Crédito\" to \"Crédito\", \"Cartão de Débito\" to \"Débito\".\n   - Validate:\n     - valor: Must be a positive number (e.g., \"R$ 100,50\" → 100.50).\n     - Data_compra: Convert to YYYY-MM-DD (e.g., \"15/05/2025\" → \"2025-05-15\").\n     - tipo: Must match one of the 12 categories; if ambiguous, suggest options.\n     - forma_de_pagamento: Must match one of the 6 options.\n   - Steps:\n     1. Extract details from user input.\n     2. If data is missing or ambiguous, ask for clarification (e.g., \"Please specify the expense type. Options: Lazer, Mercado, etc.\").\n     3. Present details for confirmation: \"Please confirm: Nome: X, Valor: Y, Tipo: Z, Recebedor: W, Data: V, Forma de Pagamento: U.\"\n     4. After user confirms (e.g., \"Yes\"), call tool_criar_gasto.\n     5. Inform user: \"Expense added successfully.\"\n\n3. **Update Expense (tool_atualizar_gasto)**\n   - Steps:\n     1. Ask for the exact expense name to update.\n     2. Use tool_visualizar_gastos to confirm the expense exists.\n     3. Ask which fields to update (nome, valor, tipo, recebedor, Data_compra, forma_de_pagamento).\n     4. Validate new values (same rules as Add Expense).\n     5. Confirm changes: \"Update to: Nome: X, Valor: Y, Tipo: Z, Recebedor: W, Data: V, Forma de Pagamento: U?\"\n     6. After confirmation, call tool_atualizar_gasto.\n     7. Inform user: \"Expense updated successfully.\"\n\n4. **Delete Expense (tool_deletar_gastos)**\n   - Steps:\n     1. Ask for the exact expense name to delete.\n     2. Use tool_visualizar_gastos to confirm the expense exists.\n     3. Confirm: \"Are you sure you want to delete 'X'?\"\n     4. After confirmation, call tool_deletar_gastos.\n     5. Inform user: \"Expense deleted successfully.\"\n\n5. **Sum Expenses (tool_somar_gastos)**\n   - Calculate the total of all expenses.\n   - Ask if the user wants to filter by type or period.\n   - Display: \"Total expenses: R$ X.XX\" (format as Brazilian currency).\n   - If filtered, show: \"Total for [type/period]: R$ X.XX.\"\n\n6. **Process Bank Statement (Extrato_Excel)**\n   - If the input is a PDF or image identified as a bank statement (contains \"extrato\", \"transação\", or similar), extract:\n     - Date (Data_compra)\n     - Amount (valor)\n     - Description (nome)\n     - Payee (recebedor, if available)\n   - Map to Google Sheets columns: Descrição dos Gasto, Data, Valor Saida (for expenses), Valor Entrada (for income).\n   - Do not use tool_criar_gasto for bank statements; append directly to the spreadsheet.\n   - Inform user: \"Bank statement processed and added to the spreadsheet.\"\n\n### General Rules\n- Always validate inputs before calling tools.\n- If user input is ambiguous, ask for clarification (e.g., \"Did you mean 'Mercado' for the expense type?\").\n- Handle errors gracefully: Inform the user of issues (e.g., \"Invalid amount. Please provide a number like '100.50'.\").\n- Use Brazilian Portuguese for responses unless the user specifies otherwise.\n- Current date/time: {{ $now }} (format as DD/MM/YYYY HH:mm).\n- Suggest categories based on context if tipo is missing (e.g., \"Restaurante\" → \"Alimentação\").\n- For PDFs/images, check if it's a bank statement before processing; otherwise, extract data for tool_criar_gasto.\n\n### Example Interactions\n- User: \"Adicione um gasto de 100 reais no supermercado ontem\"\n  - Response: \"Please confirm: Nome: Supermercado, Valor: 100.00, Tipo: Mercado, Recebedor: Not specified, Data: {{ yesterday in YYYY-MM-DD }}, Forma de Pagamento: Not specified. Reply 'Yes' to save or provide missing details.\"\n- User: \"Liste meus gastos\"\n  - Response: \"Want to filter by type (e.g., Mercado) or period (e.g., this month)? Reply with filters or 'All' for all expenses.\"\n- User: \"Soma meus gastos de alimentação\"\n  - Response: \"Total for Alimentação: R$ 450.00\""}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[2740,540],"id":"4fc36966-8bae-4d77-b9d1-993eab63198e","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"gpt-3.5-turbo"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2360,760],"id":"1800b7c7-49c3-4539-8290-b5004715e1fe","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"pD05Ydiq2MBTkeTu","name":"GPT_OFICIAL"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=123","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[2460,760],"id":"4cd80f20-b4da-40ae-bb55-224a0d07d8a4","name":"Simple Memory"},{"parameters":{"operation":"getAll","tableId":"Gastos","returnAll":true},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[2600,820],"id":"d1fa43b2-99d2-4279-a496-8c2839792742","name":"tool_Validate Create","credentials":{"supabaseApi":{"id":"b221yMmN6adp96Ic","name":"SupaBase_online"}}},{"parameters":{"jsCode":"const item = $input.item.json;\nconst validated = {\n  nome_gasto: item.nome_gasto?.trim() || null,\n  valor_gasto: parseFloat(item.valor_gasto?.replace('R$', '').replace(',', '.')) || null,\n  tipo_gasto: item.tipo_gasto?.trim() || null,\n  recebedor_gasto: item.recebedor_gasto?.trim() || null,\n  data_compra: item.data_compra?.split('/').reverse().join('-') || null,\n  forma_pagamento: item.forma_pagamento?.replace('Cartão de Crédito', 'Crédito').replace('Cartão de Débito', 'Débito') || null\n};\nif (!validated.nome_gasto || !validated.valor_gasto || !validated.data_compra || !validated.forma_pagamento) {\n  throw new Error('Missing required fields: ' + JSON.stringify(validated));\n}\nreturn [{ json: validated }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2560,1060],"id":"9faec2b9-1ec9-4da6-a155-f9af5c2d5e37","name":"Validate Create"},{"parameters":{"jsCode":"const item = $input.item.json;\nconst validated = {\n  nome_gasto: item.nome_gasto?.trim() || null,\n  valor_gasto: parseFloat(item.valor_gasto?.replace('R$', '').replace(',', '.')) || null,\n  tipo_gasto: item.tipo_gasto?.trim() || null,\n  recebedor_gasto: item.recebedor_gasto?.trim() || null,\n  data_compra: item.data_compra?.split('/').reverse().join('-') || null,\n  forma_pagamento: item.forma_pagamento?.replace('Cartão de Crédito', 'Crédito').replace('Cartão de Débito', 'Débito') || null\n};\nif (!validated.nome_gasto) {\n  throw new Error('Missing required field: nome_gasto');\n}\nreturn [{ json: validated }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3000,1100],"id":"dfd43f60-72a7-497a-bde5-3e839581e01a","name":"Validate Update"},{"parameters":{"operation":"update","tableId":"Gastos","filters":{"conditions":[{"keyName":"nome","condition":"eq","keyValue":"={{ $json.nome_gasto }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"nome","fieldValue":"={{ $json.nome_gasto }}"},{"fieldId":"valor","fieldValue":"={{ $json.valor_gasto }}"},{"fieldId":"tipo","fieldValue":"={{ $json.tipo_gasto }}"},{"fieldId":"recebedor","fieldValue":"={{ $json.recebedor_gasto }}"},{"fieldId":"Data_compra","fieldValue":"={{ $json.data_compra }}"},{"fieldId":"forma_de_pagamento","fieldValue":"={{ $json.forma_pagamento }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[2900,840],"id":"dbe3f414-4d0c-4f77-b0c0-8dc2206bdead","name":"tool_atualizar_gasto","credentials":{"supabaseApi":{"id":"b221yMmN6adp96Ic","name":"SupaBase_online"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[3180,760],"id":"9a3f9ca2-3cfd-48e6-b639-8916d3640182","name":"Calculator"},{"parameters":{"operation":"delete","tableId":"Gastos","filters":{"conditions":[{"keyName":"nome","condition":"eq","keyValue":"={{ $json.nome_gasto }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[3060,760],"id":"f295f36d-49ba-483b-b24a-05cd21696514","name":"tool_deletar_gastos","credentials":{"supabaseApi":{"id":"b221yMmN6adp96Ic","name":"SupaBase_online"}}},{"parameters":{"operation":"executeQuery","query":"SELECT tipo, SUM(valor) as total FROM public.\"Gastos\" WHERE Data_compra >= CURRENT_DATE - INTERVAL '30 days' GROUP BY tipo;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3180,900],"id":"dbe3acfa-45a6-44bb-ba04-c51cdbff82a2","name":"tool_analisar_tendencias","credentials":{"postgres":{"id":"He9Ca6QM4AkFBQQr","name":"Postgres Online"}}},{"parameters":{"httpMethod":"POST","path":"70c23d37-71e3-485c-b208-70d6fb7fcad1","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[360,640],"id":"54e9ac3b-1faf-4745-a34b-8ea3c2c852b1","name":"Webhook","webhookId":"70c23d37-71e3-485c-b208-70d6fb7fcad1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"=conversation","operator":{"type":"string","operation":"equals"},"id":"c2b66c8e-c473-4d16-bd87-85cd5aa50894"}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"typeValidation":"strict","version":2},"conditions":[{"id":"3ba0fc71-4858-4049-a9e2-81d8722d77bd","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"typeValidation":"strict","version":2},"conditions":[{"id":"80094d46-fc54-4915-8123-06828e8b5c25","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagem"},{"conditions":{"options":{"caseSensitive":true,"typeValidation":"strict","version":2},"conditions":[{"id":"f28f35db-9e8e-437d-a163-086866ca570f","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"documentMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PDF"},{"conditions":{"options":{"caseSensitive":true,"typeValidation":"strict","version":2},"conditions":[{"id":"ad62ffd5-35f3-48fc-9aef-6da1407f969d","leftValue":"={{ $json.body.data.message.ephemeralMessage.message.extendedTextMessage.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"ephemeral"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[800,580],"id":"740a6a23-fe33-44ce-b76f-31553c3fae37","name":"Switch"},{"parameters":{"numberInputs":4},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[2120,500],"id":"47d3a17d-dccc-4e57-ab10-69ec5c6a8c82","name":"Merge"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[1540,240],"id":"ba941dac-6030-41e1-b7f4-a21b10ca9212","name":"OpenAI","credentials":{"openAiApi":{"id":"fUIOsGVnCLFrm3t8","name":"OpenAi 2"}}},{"parameters":{"operation":"toBinary","sourceProperty":"body.data.message.base64","options":{"fileName":"file.ogg","mimeType":"={{ $('Webhook').item.json.body.data.message.audioMessage.mimetype }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1320,380],"id":"394183cf-5242-4ea7-b24f-7d42c9b5354b","name":"Convert to File"},{"parameters":{"assignments":{"assignments":[{"id":"b09dbd88-b0d1-4de8-8c65-e696f4157e68","name":"texto","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1720,240],"id":"386f09c0-2b5b-4a3a-9bec-c7302e428bba","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"189e4b8d-a4e1-4de2-9948-2b85c4ee99d7","name":"texto","value":"={{ $json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1640,40],"id":"4cdc2cc8-858c-4fdd-afde-a6bd97206b40","name":"Edit Fields2"},{"parameters":{"resource":"messages-api","instanceName":"thais financa","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3500,540],"id":"d79ed92a-f5e3-4d6c-83d9-38216368b4b6","name":"Evolution API","credentials":{"evolutionApi":{"id":"1eM2xZDmYfv6kfHj","name":"Evolution account"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Analyze the image and extract data for expense tracking: Data_compra (date), valor (amount), nome (description), recebedor (payee). Also, check if it's a bank statement (contains 'extrato', 'transação', or 'saldo').","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[1620,540],"id":"a4654805-3732-44f9-b78e-ce05d6f9568e","name":"OpenAI1","credentials":{"openAiApi":{"id":"fUIOsGVnCLFrm3t8","name":"OpenAi 2"}}},{"parameters":{"operation":"toBinary","sourceProperty":"body.data.message.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1420,540],"id":"e76f84fd-f028-4320-9fea-194dd53af93b","name":"Convert to File1"},{"parameters":{"operation":"toBinary","sourceProperty":"body.data.message.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1260,800],"id":"85e9184e-6e9a-44fd-99d8-565fe181ab2c","name":"Convert to File2"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1440,800],"id":"5ade9fbb-808a-49b9-aac7-2356f16f2c9f","name":"Extract from File"},{"parameters":{"jsCode":"const text = $input.item.json.content.toLowerCase();\nconst isBankStatement = text.includes('extrato') || text.includes('transação') || text.includes('saldo');\nreturn [{ json: { isBankStatement, texto: $input.item.json.content } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1640,820],"id":"21073460-b9ed-46cb-83f8-8c8cd4575918","name":"Check Bank Statement"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c3d4e5f6-g7h8-4i9j-0k1l-2m3n4o5p6q7r","leftValue":"={{ $json.isBankStatement }}","rightValue":true,"operator":{"type":"boolean","operation":"is"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1820,1060],"id":"56e6f210-9218-4b4b-96a6-380647d15e5f","name":"If Bank Statement"},{"parameters":{"assignments":{"assignments":[{"id":"b09dbd88-b0d1-4de8-8c65-e696f4157e68","name":"texto","value":"={{ $json.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1800,540],"id":"7af2ce88-3079-48f2-9155-379b28383774","name":"Edit Fields3"},{"parameters":{"assignments":{"assignments":[{"id":"189e4b8d-a4e1-4de2-9948-2b85c4ee99d7","name":"texto","value":"={{ $json.texto }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1900,820],"id":"a36b5e36-389e-49c5-b802-a4c1deec7fe2","name":"Edit Fields4"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"13GzB2sX-sY_c2VRHwCtzDRUBS7wWosGVxiyYlA0gJ0s","mode":"list","cachedResultName":"Extrato_Ysrael","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13GzB2sX-sY_c2VRHwCtzDRUBS7wWosGVxiyYlA0gJ0s/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13GzB2sX-sY_c2VRHwCtzDRUBS7wWosGVxiyYlA0gJ0s/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["Descrição dos Gasto"],"schema":[{"id":"Descrição dos Gasto","displayName":"Descrição dos Gasto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Valor Entrada","displayName":"Valor Entrada","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Valor Saida","displayName":"Valor Saida","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[2200,820],"id":"7e50f25f-4120-45f1-a633-29b40f87ae6f","name":"Extrato_Excel","credentials":{"googleSheetsOAuth2Api":{"id":"cdM9gcI2pxWfiYoz","name":"Google Sheets account"}}},{"parameters":{"operation":"executeQuery","query":"create table public.\"Gastos\" (\n  id bigint generated by default as identity not null,\n  nome text not null,\n  valor numeric null,\n  tipo text null,\n  recebedor text null,\n  create_at timestamp with time zone null default now(),\n  \"Data_compra\" date null,\n  forma_de_pagamento text null,\n  constraint Gastos_pkey primary key (id)\n) TABLESPACE pg_default;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[360,-380],"id":"83eee356-5ef6-4eef-8843-f0f9a7b0328a","name":"Cria tabela","credentials":{"postgres":{"id":"He9Ca6QM4AkFBQQr","name":"Postgres Online"}}},{"parameters":{"operation":"executeQuery","query":"DELETE FROM public.\"Gastos\";\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[360,-120],"id":"4415e412-dbde-41ac-bd7c-007ca6a29bdf","name":"limpar tabela","credentials":{"postgres":{"id":"He9Ca6QM4AkFBQQr","name":"Postgres Online"}}},{"parameters":{"content":"Banco de dados\n","height":380,"width":220},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[340,-300],"id":"544dc64c-2434-4663-af9e-2c269ad8d693","name":"Sticky Note"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"strict","version":2},"conditions":[{"id":"8aaa65bd-3447-43ed-bfe7-ca202b55606a","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"556298098251@s.whatsapp.net","operator":{"type":"string","operation":"equals"}},{"id":"1b13e055-45be-42e5-aaa2-cfbed359b7b4","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"556291663292@s.whatsapp.net","operator":{"type":"string","operation":"equals"}},{"id":"b1b4c013-102d-40d9-8c86-11d865336825","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"5562991663292@s.whatsapp.net","operator":{"type":"string","operation":"equals"}},{"id":"5cab7252-8d27-4999-868b-6d51b1451afe","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"120363420022654599@g.us","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[580,640],"id":"d85d0026-3814-479f-b49e-decab3897bda","name":"If"},{"parameters":{"tableId":"Gastos","fieldsUi":{"fieldValues":[{"fieldId":"nome","fieldValue":"={{ $json.nome_gasto }}"},{"fieldId":"valor","fieldValue":"={{ $json.valor_gasto }}"},{"fieldId":"tipo","fieldValue":"={{ $json.tipo_gasto }}"},{"fieldId":"recebedor","fieldValue":"={{ $json.recebedor_gasto }}"},{"fieldId":"Data_compra","fieldValue":"={{ $json.data_compra }}"},{"fieldId":"forma_de_pagamento","fieldValue":"={{ $json.forma_pagamento }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[2740,840],"id":"4bc78e06-e23d-4841-93f9-6f8a5015233d","name":"tool_criar_gasto","credentials":{"supabaseApi":{"id":"b221yMmN6adp96Ic","name":"SupaBase_online"}}}],"connections":{"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"Convert to File","type":"main","index":0}],[{"node":"Convert to File1","type":"main","index":0}],[{"node":"Convert to File2","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Convert to File2":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Check Bank Statement","type":"main","index":0}]]},"Check Bank Statement":{"main":[[{"node":"If Bank Statement","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Evolution API","type":"main","index":0}]]},"If":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"tool_deletar_gastos":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"tool_atualizar_gasto":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"tool_criar_gasto":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"tool_Validate Create":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Extrato_Excel":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Edit Fields3":{"main":[[{"node":"Merge","type":"main","index":2}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f8227bfc-6138-4956-852b-23643a835b81","triggerCount":0,"tags":[]}