my-workflow-10-KRJeUUSSLi553iBZ.json
{"createdAt":"2025-05-19T03:52:39.741Z","updatedAt":"2025-05-19T03:56:31.000Z","id":"KRJeUUSSLi553iBZ","name":"My workflow 10","active":false,"nodes":[{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Gerador de QR Code</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            height: 100vh;\n            margin: 0;\n            background-color: #f0f0f0;\n        }\n        .container {\n            background-color: white;\n            padding: 2rem;\n            border-radius: 8px;\n            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);\n            text-align: center;\n        }\n        input {\n            width: 100%;\n            padding: 0.5rem;\n            margin-bottom: 1rem;\n            border: 1px solid #ccc;\n            border-radius: 4px;\n        }\n        button {\n            background-color: #4CAF50;\n            color: white;\n            border: none;\n            padding: 0.5rem 1rem;\n            border-radius: 4px;\n            cursor: pointer;\n        }\n        button:hover {\n            background-color: #45a049;\n        }\n        button:disabled {\n            background-color: #cccccc;\n            cursor: not-allowed;\n        }\n        #qrcode {\n            margin-top: 1rem;\n        }\n        #timer {\n            margin-top: 1rem;\n            font-weight: bold;\n        }\n        .loader {\n            border: 5px solid #f3f3f3;\n            border-top: 5px solid #3498db;\n            border-radius: 50%;\n            width: 50px;\n            height: 50px;\n            animation: spin 1s linear infinite;\n            margin: 20px auto;\n            display: none;\n        }\n        @keyframes spin {\n            0% { transform: rotate(0deg); }\n            100% { transform: rotate(360deg); }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <h1>Gerador de QR Code</h1>\n        <input type=\"text\" id=\"instanceName\" placeholder=\"Nome da instância\">\n        <button id=\"generateButton\" onclick=\"generateQRCode()\">Gerar QR Code</button>\n        <div id=\"loader\" class=\"loader\"></div>\n        <div id=\"qrcode\"></div>\n        <div id=\"timer\"></div>\n    </div>\n\n    <script>\n        let timerInterval;\n        let timeLeft = 30;\n        let currentInstanceName = '';\n\n        async function generateQRCode() {\n            const instanceName = document.getElementById('instanceName').value;\n            if (!instanceName) {\n                alert('Por favor, insira o nome da instância.');\n                return;\n            }\n\n            currentInstanceName = instanceName;\n            await fetchAndDisplayQRCode(instanceName, true);\n\n            // Reset and start the timer\n            clearInterval(timerInterval);\n            timeLeft = 30;\n            updateTimer();\n            timerInterval = setInterval(updateTimer, 1000);\n        }\n\n        async function fetchAndDisplayQRCode(instanceName, isInitial = false) {\n            const loader = document.getElementById('loader');\n            const generateButton = document.getElementById('generateButton');\n            const qrcodeElement = document.getElementById('qrcode');\n\n            loader.style.display = 'block';\n            generateButton.disabled = true;\n            qrcodeElement.innerHTML = '';\n\n            try {\n                const endpoint = isInitial \n                    ? 'https://n8n.webhook.dev.illumiai.com/webhook/criar-instancia-evolution'\n                    : 'https://n8n.webhook.dev.illumiai.com/webhook/atualizar-qr-code';\n\n                const response = await fetch(endpoint, {\n                    method: 'POST',\n                    headers: {\n                        'Content-Type': 'application/json',\n                    },\n                    body: JSON.stringify({ instanceName: instanceName }),\n                });\n\n                if (!response.ok) {\n                    throw new Error('Erro na resposta do servidor');\n                }\n\n                // Verifica o tipo de conteúdo da resposta\n                const contentType = response.headers.get('content-type');\n\n                let imgSrc;\n                if (contentType && contentType.includes('application/json')) {\n                    // Se for JSON, assume que é uma string base64\n                    const data = await response.json();\n                    imgSrc = `data:image/png;base64,${data.qrCodeBase64}`;\n                } else {\n                    // Se não for JSON, assume que é um arquivo binário\n                    const blob = await response.blob();\n                    imgSrc = URL.createObjectURL(blob);\n                }\n\n                // Exibe o QR code\n                qrcodeElement.innerHTML = `<img src=\"${imgSrc}\" alt=\"QR Code\">`;\n            } catch (error) {\n                console.error('Erro ao gerar QR code:', error);\n                alert('Erro ao gerar QR code. Por favor, tente novamente.');\n            } finally {\n                loader.style.display = 'none';\n                generateButton.disabled = false;\n            }\n        }\n\n        async function updateQRCode() {\n            if (currentInstanceName) {\n                await fetchAndDisplayQRCode(currentInstanceName);\n            }\n        }\n\n        function updateTimer() {\n            const timerElement = document.getElementById('timer');\n            timerElement.textContent = `Novo QR Code em: ${timeLeft}s`;\n\n            if (timeLeft === 0) {\n                clearInterval(timerInterval);\n                updateQRCode();\n                timeLeft = 30;\n                timerInterval = setInterval(updateTimer, 1000);\n            } else {\n                timeLeft--;\n            }\n        }\n    </script>\n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[220,0],"id":"abe61e5b-6077-4f33-88d0-c078dc744f78","name":"HTML"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0],"id":"66c96119-7593-4198-9126-7ec43865415c","name":"Respond to Webhook"},{"parameters":{"path":"instanciaevolution","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"b8a4f39b-9001-4c24-91d4-1cd2015b9d09","name":"Pagina do QR code","webhookId":"cce5e6b5-f99a-48a3-8b18-cf524f03c4ce"},{"parameters":{"httpMethod":"POST","path":"criar-instancia-evolution","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,200],"id":"a5f03c95-9444-412a-abc5-0aeb5bab060b","name":"criar-instancia-evolution","webhookId":"f3988766-f52b-4be0-b0bd-254e485671a3"},{"parameters":{"method":"POST","url":"SEUDOMINIO/instance/create","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"SUA-APIKEY-"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"instanceName","value":"={{ $json.body.instanceName }}"},{"name":"qrcode","value":true},{"name":"integration","value":"WHATSAPP-BAILEYS"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,200],"id":"733ae39e-bfb7-458d-9b03-25c75b39f71e","name":"Criar instancia evolution"},{"parameters":{"respondWith":"binary","responseDataSource":"set","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[800,200],"id":"0a9f65d1-c176-4bc0-91d9-87402b3bb7d7","name":"Respond to Webhook1"},{"parameters":{"respondWith":"binary","responseDataSource":"set","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[800,400],"id":"55a578d6-fe6c-446a-8bff-99e2b5adc18d","name":"Respond to Webhook2"},{"parameters":{"url":"=SEUDOMINIO/instance/connect/{{ $json.body.instanceName }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"SEU-api-Key"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,400],"id":"6fad2694-8205-4a22-b4d6-4ab3e5f2cac6","name":"Criar instancia evolution1"},{"parameters":{"httpMethod":"POST","path":"atualizar-qr-code","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,400],"id":"2cdd092f-8315-4e79-9586-340473962178","name":"Atualiza qr code","webhookId":"f3988766-f52b-4be0-b0bd-254e485671a3"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[580,200],"id":"6f2f86b4-0e02-4606-a73f-60218f47fb7b","name":"Convert to File"},{"parameters":{"assignments":{"assignments":[{"id":"7997d699-2380-48aa-8dc3-b1eac974e16e","name":"base64","value":"={{ $json.qrcode.base64.split(',').last() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[400,200],"id":"34f0609c-bddc-4606-8449-24bca59e7cdf","name":"Edit Fields"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[580,400],"id":"ae8f3dfd-b285-4744-80c5-29f865fdf142","name":"Convert to File1"},{"parameters":{"assignments":{"assignments":[{"id":"7997d699-2380-48aa-8dc3-b1eac974e16e","name":"base64","value":"={{ $json.base64.split(',').last() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[400,400],"id":"87188628-5587-4797-b1c9-fc88335da995","name":"Edit Fields1"}],"connections":{"HTML":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Pagina do QR code":{"main":[[{"node":"HTML","type":"main","index":0}]]},"criar-instancia-evolution":{"main":[[{"node":"Criar instancia evolution","type":"main","index":0}]]},"Criar instancia evolution":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Criar instancia evolution1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Atualiza qr code":{"main":[[{"node":"Criar instancia evolution1","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"af093acd-67d5-4f1e-b332-db61f5545a68","triggerCount":3,"tags":[]}