negocio-com-agentes-de-ia-lX3gFYV2LS0AoXhI.json
{"createdAt":"2025-05-16T21:16:12.430Z","updatedAt":"2025-05-16T21:43:36.000Z","id":"lX3gFYV2LS0AoXhI","name":"negocio com agentes de IA","active":false,"nodes":[{"parameters":{"options":{}},"id":"8597915b-e6b6-4e2a-b173-964dabf42f57","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[2920,1760]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"75697409-4d4a-4370-bb43-f89af11aedb5","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[2360,1820]},{"parameters":{"content":"# Agente IA","height":80,"width":196,"color":5},"id":"2af0293d-c54c-41c6-a842-cf7769c2e7da","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3200,1380]},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"d3a1b0f7-ff3d-4ea2-82ca-9f62fcc6c157","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[2540,1780]},{"parameters":{"content":"","height":620,"width":820,"color":4},"type":"n8n-nodes-base.stickyNote","position":[3180,1360],"typeVersion":1,"id":"a72efe57-b403-48d9-ae31-bddeab9237d1","name":"Sticky Note4"},{"parameters":{"model":"gpt-4.1-mini","options":{}},"id":"37f53d64-4f3d-4340-9409-2d49c765ee2b","name":"OpenAI3","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[4160,1840]},{"parameters":{"options":{}},"id":"4025c380-6832-4727-bd1b-aab456b96d62","name":"Loop Over Items3","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[4760,1660]},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"messages\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"messages\"]\n}"},"id":"23721a94-295a-4759-981d-59f126332991","name":"OutputParser1","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[4380,1840]},{"parameters":{"promptType":"define","text":"=Whatsapp message to be splitted and formated: {{ $json.output }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"={\n  \"messages\": [\n    \"Por favor, gere a saída no seguinte formato JSON: {\\\"messages\\\": [\\\"splitedMessage\\\", \\\"splitedMessage\\\", \\\"splitedMessage\\\"]}\",\n    \"As mensagens devem ser divididas de forma natural, afinal estamos conversando com um humano. Certifique-se de que a resposta siga exatamente essa estrutura, incluindo os colchetes e as aspas.\",\n    \"Jamais separe uma mensagem vazia. Cada mensagem deve ter entre 300 e 500 caracteres, sem cortar informações, pois é uma conversa de chat.\",\n    \"Certifique-se de que a resposta siga exatamente essa estrutura: *negrito* (substitua '**' por '*') não made nada em negrito remova todos '*'; ~tachado~ (caso seja algo excluído/alterado); _itálico_ (extremamente raro).\",\n    \"Tudo o que for link, pode colocar entre \\\"`\\\", ou seja, na seguinte formatação: `www.link.com.br`. Use sempre essa formatação para todos os links.\",\n\"troque essas palavra: Prazer por: feliz em conhecer\"\n  ]\n}"}]}},"id":"5bb6737c-6bb0-47f5-9d7f-33c53384757c","name":"Parser  Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[4180,1640]},{"parameters":{"content":"","height":620,"width":1380,"color":4},"type":"n8n-nodes-base.stickyNote","position":[4040,1360],"typeVersion":1,"id":"47bd58ce-e1b8-4dea-9161-b29578daf4c5","name":"Sticky Note18"},{"parameters":{"content":"# Divisão de Mensagens Inteligente - Texto","height":80,"width":736,"color":5},"id":"b32a4a07-753d-44be-966d-fc479aba5dbf","name":"Sticky Note19","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4060,1380]},{"parameters":{"model":"gpt-4.1-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[3240,1740],"id":"88b864f3-caa1-41a0-b5c5-b60208d42430","name":"OpenAI Chat Model"},{"parameters":{"promptType":"define","text":"={{ $('Mensagem Completa').item.json.mensagem_completa }}","options":{"systemMessage":"={\n  \"name\": \"Amanda\",\n  \"context\": {\n    \"identity\": \"Consultora Comercial de Vendas\",\n    \"business\": \"Fluxo Atendimento por IA para Terapeutas\",\n    \"Language\": \"português brasileiro\",\n    \"date\": \"{{ $now.weekdayLong }}, {{ $now.format('dd/MM/yyyy') }}, {{ $now.hour.toString().padStart(2, '0') }}:{{ $now.minute.toString().padStart(2, '0') }}\"\n  },\n  \"Informação atualizada para usar em resposta\": \"{{ $json.output }}\",\n  \"personality\": [\n    \"Fala simples, objetiva e amigável\",\n    \"Tono de voz educado e consultivo\",\n    \"Não usa emojis\",\n    \"Fala de forma personalizada, chamando pelo nome se souber\",\n    \"Faz uma pergunta por vez para manter o foco\",\n    \"Cria leve senso de urgência para agendamento\",\n    \"Reforça benefícios de forma prática\"\n  ],\n  \"objectives\": [\n    \"Apresentar a solução de atendimento por IA no WhatsApp para terapeutas\",\n    \"Agendar uma reunião comercial com o terapeuta no horário comercial\"\n  ],\n  \"general_rules\": [\n    \"Atender apenas terapeutas e profissionais da área emocional\",\n    \"Reforçar que as reuniões são online, rápidas e 100% focadas na necessidade do terapeuta\",\n    \"Agendar reuniões somente de segunda a sexta-feira em horário comercial\",\n    \"Caso peçam algo fora do fluxo, gentilmente redirecionar para o agendamento de reunião\",\n    \"Nunca prometer preço ou condições comerciais sem a reunião\",\n    \"Se a pessoa pedir para falar direto com um humano, informar que a reunião é o caminho para atendimento personalizado\",\n    \"Evitar termos técnicos como 'chatbot' ou 'automação' e usar sempre 'atendimento inteligente por IA', reforçando que o atendimento é como de uma secretária e não automatizado para agendamentos\",\n    \"Palavras proibidas: robô, automático, chatbot, grátis\"\n  ],\n  \"flow\": {\n    \"steps\": [\n      {\n        \"step\": \"Perguntar o nome\",\n        \"instructions\": \"Se apresentar e perguntar o nome da pessoa antes de prosseguir\",\n        \"example_message\": \"Olá! Meu nome é Amanda, faço parte da equipe da Fluxo Atendimento por IA para Terapeutas. Como posso te chamar?\"\n      },\n      {\n        \"step\": \"Confirmar se é terapeuta\",\n        \"instructions\": \"Após receber o nome, confirmar se a pessoa é terapeuta\",\n        \"example_message\": \"Prazer, Você é terapeuta ou atua em outra área da saúde?\"\n      },\n      {\n        \"step\": \"Explicação breve da solução\",\n        \"instructions\": \"Se confirmar que é terapeuta, explicar brevemente o benefício da solução\",\n        \"example_message\": \"Nós ajudamos terapeutas a terem um atendimento inteligente no WhatsApp, como uma secretária virtual que acolhe seus pacientes e organiza a comunicação, poupando seu tempo.\"\n      },\n      {\n        \"step\": \"Identificar o maior desafio\",\n        \"instructions\": \"Antes de oferecer reunião, perguntar qual é o maior desafio atual no atendimento\",\n        \"example_message\": \"Hoje, qual é o maior desafio que você enfrenta no seu atendimento? Seria dificuldade para contratar pessoas, agilidade nas respostas, atendimento fora do horário comercial, ou outra situação?\"\n      },\n      {\n        \"step\": \"Conectar solução à dor\",\n        \"instructions\": \"Após identificar a dor, reforçar que a solução pode ajudar especificamente nesse ponto\",\n        \"example_message\": \"Entendo. Nossa solução foi criada exatamente para ajudar terapeutas com essa dificuldade!\"\n      },\n      {\n        \"step\": \"Explicação adicional da solução\",\n        \"instructions\": \"Antes de oferecer a reunião, explicar detalhes extras da solução\",\n        \"example_message\": \"Nossa IA entende áudios enviados pelos seus clientes, interpreta múltiplas mensagens de texto e, após coletar informações sobre o motivo da busca por terapia, ela também te notifica em um grupo exclusivo com o nome do potencial cliente e um resumo do seu caso.\"\n      },\n      {\n        \"step\": \"Oferecer agendamento de reunião\",\n        \"instructions\": \"Depois de explicar a funcionalidade, convidar para agendar uma reunião\",\n        \"example_message\": \"Gostaria que eu te mostrasse tudo isso em detalhes numa reunião rápida de 30 minutos?\"\n      },\n      {\n        \"step\": \"Agendar reunião\",\n        \"instructions\": \"Se a pessoa demonstrar interesse, pedir para sugerir um dia e um período (manhã ou tarde)\",\n        \"example_message\": \"Que dia e período (manhã ou tarde) seria melhor para você? Assim organizamos tudo certinho.\"\n      },\n      {\n        \"step\": \"Confirmação de agendamento\",\n        \"instructions\": \"Após receber a sugestão, informar que um especialista entrará em contato para confirmar o horário certinho e enviar o número de protocolo\",\n        \"example_message\": \"Perfeito! Vou pedir para um dos nossos especialistas entrar em contato para confirmar direitinho o horário com você. Seu número de protocolo é 338201. Até breve!\"\n      }\n    ]\n  }\n}\n"}},"id":"bd61d3d3-ef09-4be9-9f1b-24675f8790dd","name":"Atendente","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[3320,1540]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Dados').item.json.Telefone }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[3380,1720],"id":"be54801a-5f88-4888-8f1a-af3e04bb61b4","name":"Postgres Chat Memory"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output }}","rightValue":"338201","operator":{"type":"string","operation":"notContains"},"id":"2aa763f7-cf04-44e7-9bbb-8f8de823aef8"}],"combinator":"and"},"renameOutput":true,"outputKey":"Continuar na IA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"820760d6-3546-4007-8917-55d366a74261","leftValue":"={{ $json.output }}","rightValue":"338201","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Avisar Lead grupo"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[3760,1620],"id":"9af92f02-248b-417b-b652-0625ab6a6d67","name":"Switch2"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[4840,2300],"id":"3d1624ca-3641-4339-9a6e-c0e99ac6c2b4","name":"OpenAI Chat Model2"},{"parameters":{"content":"","height":400,"width":1620,"color":4},"type":"n8n-nodes-base.stickyNote","position":[4040,2020],"typeVersion":1,"id":"85c44625-601c-4776-b5f2-fc4bb5502fda","name":"Sticky Note44"},{"parameters":{"content":"# AVISAR NOVO LEAD NO GRUPO","height":80,"width":656,"color":5},"id":"103db0ea-8bc8-4bd6-bb3a-7651b6dfcb28","name":"Sticky Note45","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4060,2040]},{"parameters":{"resource":"messages-api","instanceName":"Breno2","remoteJid":"={{ $('Dados').item.json.Telefone }}","messageText":"={{ $json.output }}","options_message":{"delay":4200,"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[5040,1680],"id":"87f32aaf-e910-4e6c-9d9a-233345e8f888","name":"Evolution API"},{"parameters":{"resource":"messages-api","instanceName":"Breno2","remoteJid":"={{ $('Dados').item.json.Telefone }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4080,2140],"id":"b2a9aa86-5ecc-4bcb-ba39-db32113bfb8b","name":"Evolution API1"},{"parameters":{"resource":"messages-api","instanceName":"Breno2","remoteJid":"120363418914433116@g.us","messageText":"={{ (() => { \n  const telefone = $('Dados').item.json.Telefone;\n  return '🚨 Novo Lead: wa.me/' + telefone.split('@')[0] + ' 🚨';\n})() }}\n\n*Cliente:* {{ $('Dados').item.json.NomeWpp }}\n\n*CASO:*\n{{ $json.text }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[5200,2140],"id":"3ed609b3-ac43-42cb-83ce-42324fe20495","name":"Evolution API2"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[4760,1100],"id":"959a5965-6167-4b4b-977e-03dd82a364ff","name":"Merge1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"defac08a-6745-422b-bb05-90da9f47d91b","leftValue":"={{ $('Busca Telefone').last().json.values() }}","rightValue":"","operator":{"type":"array","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4260,1100],"id":"12d134fc-4685-44ec-90f2-00e4e084c5f8","name":"If4"},{"parameters":{"content":"","height":380,"width":1380,"color":4},"type":"n8n-nodes-base.stickyNote","position":[4040,960],"typeVersion":1,"id":"5a426c36-4ec3-402e-9744-9f058a7050d6","name":"Sticky Note54"},{"parameters":{"content":"# Cadastra Chat Supabase","height":80,"width":450,"color":5},"id":"10776193-53be-4105-aaa0-c2a9bd672010","name":"Sticky Note55","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4060,980]},{"parameters":{"operation":"get","tableId":"chats","filters":{"conditions":[{"keyName":"phone","keyValue":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4100,1100],"id":"b56c0d1d-06e6-4d19-9cf2-f81b59b13c06","name":"Busca Telefone","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"tableId":"chats","fieldsUi":{"fieldValues":[{"fieldId":"phone","fieldValue":"={{ $('Dados').item.json.Telefone }}"},{"fieldId":"updated_at","fieldValue":"={{ $now}}"},{"fieldId":"created_at","fieldValue":"={{ $now}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4540,1000],"id":"e26240da-e6dc-4a94-8dd7-cdd748726587","name":"Adiciona CHAT supabase"},{"parameters":{"operation":"update","tableId":"chats","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $('Dados').item.json.Telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"updated_at","fieldValue":"={{ $now }}"},{"fieldId":"created_at","fieldValue":"={{ $now }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4560,1180],"id":"16bc583f-3546-40b3-84b1-8b91ee35e193","name":"Atualiza CHAT Supabase","alwaysOutputData":true},{"parameters":{"tableId":"chat_messages","fieldsUi":{"fieldValues":[{"fieldId":"phone","fieldValue":"={{ $('Dados').item.json.Telefone }}"},{"fieldId":"bot_message","fieldValue":"={{ $('Atendente').item.json.output }}"},{"fieldId":"user_message","fieldValue":"={{ $('Dados').item.json.message.content }}"},{"fieldId":"message_type","fieldValue":"={{ $('Dados').item.json.body.event }}"},{"fieldId":"created_at","fieldValue":"={{ $now }}"},{"fieldId":"nomewpp","fieldValue":"={{ $('Dados').item.json.NomeWpp }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4960,1100],"id":"7c7c2ed1-f2f9-42b2-a53e-9b1881248fb2","name":"Cria Histórico Supabase"},{"parameters":{"fieldToSplitOut":"output.messages","options":{"destinationFieldName":"output"}},"id":"3cb794b5-91b9-423d-b1d5-2c57f54195e3","name":"Split de Mensagem","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[4540,1660]},{"parameters":{"amount":1},"id":"25c88aeb-6879-4be3-bb3f-c5748802993a","name":"1 segundo","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[5260,1680],"webhookId":"a2c69e1c-13fe-44a2-962c-1249288537eb"},{"parameters":{"operation":"delete","key":"={{ $('Dados').item.json.Telefone }}"},"id":"d057e79a-ea23-4a5a-be29-6ce860f6a438","name":"Delete Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[5160,1100]},{"parameters":{"name":"buscar_documentos","description":"Analise o documento se encontrar uma informação que seja relevante traga o texto dele como resposta sem alterações, caso não encontre devolva o resultado em branco sem nem um texto","topK":2},"id":"cb624b04-01a2-48b8-a049-c96621516c7c","name":"buscar_documentos","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[2680,1620]},{"parameters":{"operation":"getAll","tableId":"chat_messages","matchType":"allFilters","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $('Dados').item.json.Telefone }}"},{"keyName":"active","condition":"eq","keyValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4280,2140],"id":"585913ba-7c55-4acf-ba8f-34e9a43372d3","name":"ListMessages-Supabase2","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"b221yMmN6adp96Ic","name":"SupaBase_online"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"conversas","include":"specifiedFields","fieldsToInclude":"id,message_type,created_at,user_message, bot_message,phone","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[4480,2140],"id":"f14700f5-71da-4f05-b12a-245bf1beeb6c","name":"Aggregate2"},{"parameters":{"jsCode":"return $('Aggregate2').all().map(item => {\n  // Tenta acessar a propriedade 'conversas' e verifica se ela é um array\n  const conversas = item.json.conversas || []; // Garante que é pelo menos um array vazio\n\n  if (!Array.isArray(conversas)) {\n    throw new Error(\"A propriedade 'conversas' não é um array.\");\n  }\n\n  // Processa cada conversa e verifica as mensagens\n  const textoUnico = conversas.map(conversa => {\n    const cliente = conversa.user_message || \"sem mensagem do chatbot\";\n    const agente = conversa.bot_message || \"sem resposta\";\n    \n    // Verifica se a data existe e formata\n    const dataOriginal = conversa.created_at || \"Data da Mensagem indisponível\";\n    const dataFormatada = dataOriginal !== \"Data da Mensagem indisponível\"\n      ? formatarData(dataOriginal)\n      : dataOriginal;\n\n    return `em: ${dataFormatada}\\n\\n - agente(chatbot): ${agente} \\n - cliente: ${cliente}\\n`;\n  }).join('\\n\\n');\n\n  // Retorna o texto final como resultado\n  return {\n    json: {\n      texto: textoUnico\n    }\n  };\n});\n\n// Função para formatar a data\nfunction formatarData(dataString) {\n  const data = new Date(dataString); // Converte a string em objeto Date\n  if (isNaN(data)) {\n    return \"Data inválida\"; // Retorna se a data não for válida\n  }\n  \n  // Formata no padrão DD/MM/YYYY HH:mm\n  const dia = String(data.getDate()).padStart(2, '0');\n  const mes = String(data.getMonth() + 1).padStart(2, '0'); // Mês começa em 0\n  const ano = data.getFullYear();\n  const horas = String(data.getHours()).padStart(2, '0');\n  const minutos = String(data.getMinutes()).padStart(2, '0');\n  \n  return `${dia}/${mes}/${ano} ${horas}:${minutos}`;\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4660,2140],"id":"13b8c415-8e9c-485f-90d1-b0f2efe9c65e","name":"Code6"},{"parameters":{"promptType":"define","text":"={\n  \"role\": \"Agente Resumidor de atendimento\",\n  \"proposito\": \"Analisar conversas cliente-agente e criar resumos detalhados do atendimento\",\n  \"instrucoes\": {\n    \"tarefa_principal\": \"Extrair e resumir apenas sobre o atendimento do cliente a partir das conversas\",\n    \"formato\": \"Incluir data da sessão quando disponível\",\n    \"foco\": \"demandas do cliente, excluir respostas do agente\",\n    \"estilo\": \"Resumos detalhados mas concisos\",\n    \"evitar\": \"Dicas de uso, informações extras ou explicações\",\n    \"Me de o resultado somente com o resumo sem caracteres especiais\"\n  },\n  \"formato_entrada\": {\n    \"conversa\": \"{{ $json.texto }}\"\n  },\n  \"formato_saida\": {\n    \"resumo\": \"Descrição concisa do caso do cliente e data que ele gostaria de agendar uma rerunião\"\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[4860,2140],"id":"5d5fe54f-4db7-477b-815d-391adb7e519b","name":"Basic LLM Chain1"},{"parameters":{"operation":"get","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Dados').item.json.Telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1620,1720],"id":"4e614ece-2b49-409a-9842-d455270654f4","name":"Supabase","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"b221yMmN6adp96Ic","name":"SupaBase_online"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4a6d9aac-8565-4c58-abe3-8741393a5535","leftValue":"={{ $json.telefone }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1420,1660],"id":"26f815c4-01bd-4704-813a-19ed36a660de","name":"If1"},{"parameters":{"tableId":"dados_cliente","fieldsUi":{"fieldValues":[{"fieldId":"nomewpp","fieldValue":"={{ $('Dados').item.json.NomeWpp }}"},{"fieldId":"telefone","fieldValue":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid }}"},{"fieldId":"created_at","fieldValue":"={{ $now}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1240,1800],"id":"919e622a-78ce-46ad-a047-40d7f191bfa5","name":"Supabase1","credentials":{"supabaseApi":{"id":"b221yMmN6adp96Ic","name":"SupaBase_online"}}},{"parameters":{"content":"","height":620,"width":980,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1320,1360],"typeVersion":1,"id":"9d0bdc83-cede-468f-a3df-4fb6c2a88f73","name":"Sticky Note17"},{"parameters":{"content":"","height":660,"width":960,"color":4},"type":"n8n-nodes-base.stickyNote","position":[300,1320],"typeVersion":1,"id":"5606aeeb-2d71-4e4f-b391-64eb9a2f5de9","name":"Sticky Note20"},{"parameters":{"content":"","height":440,"width":740,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1660,1540],"typeVersion":1,"id":"52c17ea2-c910-49f2-8825-4ecbb52ff84f","name":"Sticky Note22"},{"parameters":{"content":"# Cadastrar Lead Supa Base","height":80,"width":596,"color":4},"id":"88100920-9ac2-46a2-89a4-35f221aef6c4","name":"Sticky Note23","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1660,1560]},{"parameters":{"content":"","height":500,"width":1120,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-900,1480],"typeVersion":1,"id":"6d6594f9-7b5d-4164-ae36-a0d87dd5cb3d","name":"Sticky Note26"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-240,320],"typeVersion":1,"id":"6e9f33dd-b1ab-4361-b287-cb1adf432929","name":"Sticky Note31"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[560,-80],"typeVersion":1,"id":"2965e18f-d715-4531-85ad-655198b2d2ce","name":"Sticky Note33"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[800,320],"typeVersion":1,"id":"b463a526-030c-4342-8f26-89df79c79a45","name":"Sticky Note37"},{"parameters":{"httpMethod":"POST","path":"aula","options":{}},"id":"2c48848c-7554-4811-a4db-5e8013240fe2","name":"Webhook EVO","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2260,1740],"webhookId":"7ecd43ed-123c-4fef-b86d-f9ce39e55d64"},{"parameters":{"content":"# Pausar IA","height":80,"width":216,"color":4},"id":"cd6484a9-bb0b-46cc-b7d3-5ace4b04fa1a","name":"Sticky Note41","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-900,1480]},{"parameters":{"operation":"executeQuery","query":"create table dados_cliente (\n  id bigserial primary key,\n  created_at TIMESTAMPTZ, \n  telefone text, \n  nomewpp text,\n  atendimento_ia text\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[100,-60],"id":"e7425bd7-124c-4af6-93bb-f7b43ffb41ba","name":"Cria Tabela Dados Cliente"},{"parameters":{"operation":"executeQuery","query":"-- Create a table to store your documents\ncreate table documents (\n  id bigserial primary key,\n  content text, -- corresponds to Document.pageContent\n  metadata jsonb, -- corresponds to Document.metadata\n  embedding vector(1536) -- 1536 works for OpenAI embeddings, change if needed\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1160,-40],"id":"7a0e6277-91d2-4aba-91f8-26cc4339a9b6","name":"Cria Tabela Documentos"},{"parameters":{"operation":"executeQuery","query":"delete from documents","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[860,340],"id":"92055297-55e5-499b-9118-f0a6cb1909c2","name":"Deleta Conteúdo Documentos"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[820,-80],"typeVersion":1,"id":"b840e770-ce53-437a-9f9d-b15d41694b6e","name":"Sticky Note40"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[1100,-80],"typeVersion":1,"id":"0bdcd8d2-f261-4a61-9eb3-f689c1583c1a","name":"Sticky Note48"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-220,-80],"typeVersion":1,"id":"5c161144-a4cb-486c-8d25-b7d77701341e","name":"Sticky Note49"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[300,-80],"typeVersion":1,"id":"fb5c2952-7c69-4a07-9d40-a798a1be8544","name":"Sticky Note50"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[280,320],"typeVersion":1,"id":"a82e53c1-c9d2-497e-b96e-23f6393fe0f0","name":"Sticky Note56"},{"parameters":{"content":"","height":380},"type":"n8n-nodes-base.stickyNote","position":[300,-40],"typeVersion":1,"id":"3cbcdd65-f5fe-43d4-a170-3e9abc9572a8","name":"Sticky Note57"},{"parameters":{"operation":"executeQuery","query":"delete from n8n_chat_histories","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-180,360],"id":"0350eb11-11af-4141-b083-72d991ebc755","name":"Deleta Histórico"},{"parameters":{"operation":"executeQuery","query":"create function match_documents (\n  query_embedding vector(1536),\n  match_count int default null,\n  filter jsonb DEFAULT '{}'\n) returns table (\n  id bigint,\n  content text,\n  metadata jsonb,\n  similarity float\n)\nlanguage plpgsql\nas $$\n#variable_conflict use_column\nbegin\n  return query\n  select\n    id,\n    content,\n    metadata,\n    1 - (documents.embedding <=> query_embedding) as similarity\n  from documents\n  where metadata @> filter\n  order by documents.embedding <=> query_embedding\n  limit match_count;\nend;\n$$;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[880,-60],"id":"8b072d87-6835-4f90-baad-3696cebe8717","name":"Cria função Busca em Vetor"},{"parameters":{"operation":"executeQuery","query":"create extension vector;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[620,-60],"id":"db06a7c3-0a26-4246-a54e-25aecc25d22c","name":"Cria Extensão Vetor"},{"parameters":{"operation":"executeQuery","query":"create table chats (\n  id bigserial primary key,\n  created_at TIMESTAMPTZ, \n  phone text,\n  updated_at text\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[360,-60],"id":"811f8119-a323-4d8f-a531-599fc0ef09ee","name":"Cria Tabela Chats"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[540,320],"typeVersion":1,"id":"2b693cb1-c268-47fe-8530-4f5219e8d695","name":"Sticky Note65"},{"parameters":{"operation":"executeQuery","query":"delete from chats","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[600,340],"id":"342e405b-9263-4783-892b-cf9582f7e426","name":"Deleta Conteúdo Chats"},{"parameters":{"operation":"executeQuery","query":"delete from dados_cliente","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[340,340],"id":"0dfbb9ce-adce-4da8-9982-1c26ba818ccc","name":"Deleta Conteúdo Dados Cliente"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[20,320],"typeVersion":1,"id":"61bd4a63-117c-47ca-9fd9-521e675df883","name":"Sticky Note66"},{"parameters":{"operation":"executeQuery","query":"delete from chat_messages","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[80,340],"id":"86517f13-30c8-4765-ac62-301934cd2b01","name":"Deleta Conteúdo Chat_Messages"},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE chat_messages (\n  id BIGSERIAL PRIMARY KEY,\n  created_at TIMESTAMPTZ, \n  phone TEXT,\n  nomewpp TEXT, \n  bot_message TEXT,\n  user_message TEXT, \n  message_type TEXT,\n  active BOOLEAN DEFAULT TRUE\n);\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-160,-60],"id":"57101bf9-640c-4d37-a1fb-9c4d3079ceb5","name":"Cria Tabela Chat_Messages"},{"parameters":{"content":"","height":440,"width":600,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-2300,1540],"typeVersion":1,"id":"3acd4205-d26d-42b2-8f6d-318fe3a7a760","name":"Sticky Note32"},{"parameters":{"content":"## WEBHOOK & ROTAS","height":80,"width":276,"color":4},"id":"a60f1d47-037c-4cf3-9724-9024eab33a9a","name":"Sticky Note67","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2280,1560]},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"file.png","mimeType":"image/png"}},"id":"b442bb3a-c342-4bed-a768-699f677d3c25","name":"Convert to File1","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[560,1820]},{"parameters":{"assignments":{"assignments":[{"id":"3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655","name":"data","value":"={{ $('Webhook EVO').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"id":"0367092c-d4db-4d96-9fe9-070cfcd0d98b","name":"Edit Fields3","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[420,1820]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"ade56c50-1520-4760-8df5-e99617d6d3ad","leftValue":"={{ $('Webhook EVO').item.json.body.data.message.imageMessage.caption }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"8748dc31-e635-4f67-b390-141718e39e72","name":"If3","type":"n8n-nodes-base.if","typeVersion":2,"position":[900,1820]},{"parameters":{"operation":"push","list":"={{ $('Dados').item.json.Telefone }}","messageData":"={{ $('Dados').item.json.message.content }}, {{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}","tail":true},"id":"ccc0ce68-724b-46fe-89eb-cfd2cdb1928e","name":"Redis4","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1060,1840]},{"parameters":{"operation":"push","list":"={{ $('Dados').item.json.Telefone }}","messageData":"={{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}","tail":true},"id":"dd29e317-526e-4bbf-b498-4678957d4682","name":"Redis5","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1060,1660]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"52aaf749-fe4f-44e4-880e-15b2bfc027f1","leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"extendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"e514e613-fd6a-48bd-b0ae-bae2448c810e","leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c0e434dd-1268-421d-b81b-3a5e90ed9550","leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"}]},"options":{}},"id":"f566dad2-cbed-41ca-82d9-36a860f101c0","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3,"position":[320,1580]},{"parameters":{"content":"# Mensagem Picotada","height":80,"width":396,"color":4},"id":"4252a6a0-19c7-44d8-9255-52a72063a53c","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1320,1360]},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Analise a imagem e me traga um resumo simples e o mais curto possível do que ela é","inputType":"base64","options":{}},"id":"71eb21b0-17ae-4620-9046-752f0acec905","name":"OpenAI1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[720,1820]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5a342e9-585b-42ea-be44-644adae10199","leftValue":"={{ $json.Redis2 }}","rightValue":"={{ $json.Redis1 }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"0c6cc233-5acd-4d47-ae5d-58dc32eefa2d","name":"Compara Get Memory1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1960,1620]},{"parameters":{"operation":"push","list":"={{ $('Dados').item.json.Telefone }}","messageData":"={{ $('Dados').item.json.message.content }}","tail":true},"id":"424903e8-e780-4699-bf45-2d361b54b11a","name":"Text Memory1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1060,1340]},{"parameters":{"operation":"push","list":"={{ $('Dados').item.json.Telefone }}","messageData":"={{ $json.text }}","tail":true},"id":"1ba3b228-b0ba-4431-90a3-43baa34dc57a","name":"Audio Memory1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1060,1500]},{"parameters":{"assignments":{"assignments":[{"id":"f336a1ff-e577-489d-a739-1eb8bd509245","name":"Redis2","value":"={{ $json.propertyName }}","type":"string"},{"id":"946d1420-e379-46e3-8fcd-3816340fbabb","name":"Redis1","value":"={{ $('Get Memory 1').item.json.propertyName }}","type":"string"}]},"options":{}},"id":"2e64152b-646c-4243-8f25-608b7deb0354","name":"Edit Fields8","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1800,1620]},{"parameters":{"amount":40},"id":"79823304-d425-4038-ae1a-4886c0ff6201","name":"Wait3","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1500,1620],"webhookId":"9f0edf0b-ca36-42a6-bab6-bf62ca08ac51"},{"parameters":{"operation":"get","key":"={{ $('Dados').item.json.Telefone }}","options":{}},"id":"9aabf3da-6ba9-47ab-b77b-3d74178b1e37","name":"Get Memory 1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1360,1620]},{"parameters":{"operation":"get","key":"={{ $('Dados').item.json.Telefone }}","options":{}},"id":"b7092bb0-dfe1-4f09-94c9-18b57d16c70b","name":"Get Memory 2","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1660,1620]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Dados').item.json.message.event }}","rightValue":"outcoming","operator":{"type":"string","operation":"equals"},"id":"7c878f9b-2c93-4061-954a-a832153e7647"}],"combinator":"and"},"renameOutput":true,"outputKey":"outcoming"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d7b42536-638f-4128-b51b-6aa913e9d9bc","leftValue":"={{ $('Dados').item.json.message.event }}","rightValue":"incoming","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"incoming"}]},"options":{}},"id":"662052ac-a638-4346-9e75-ddc85c5e8543","name":"Switch6","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-880,1760]},{"parameters":{"content":"# Filtro de mensagem","height":80,"width":356,"color":4},"id":"75d2d6ce-9233-40fa-b6f9-b46b4c3f9db5","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[300,1320]},{"parameters":{"jsCode":"const redis1 = JSON.parse($json.Redis1);\nconst redis2 = JSON.parse($json.Redis2);\n\nconst combinadoSemDuplicatas = Array.from(new Set([...redis1, ...redis2]));\n\nconst mensagem = combinadoSemDuplicatas.join(\" \");\n\nreturn [{ json: { mensagem_completa: mensagem } }];"},"id":"d3ca3165-fbb9-4a72-9230-59f89b728a59","name":"Mensagem Completa","type":"n8n-nodes-base.code","typeVersion":2,"position":[2180,1600]},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"file.ogg","mimeType":"application/ogg"}},"id":"cd808e51-d538-4101-92d8-5baf67e94e38","name":"Convert to File","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[700,1620]},{"parameters":{"assignments":{"assignments":[{"id":"3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655","name":"data","value":"={{ $('Webhook EVO').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"id":"fdaf7bea-f67f-48ff-9040-fde2d2efa73e","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[540,1620]},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"4861da43-a148-4735-84d1-f9ee2c6fb79a","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[880,1620]},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"id":"23f7ee0b-ae91-42f7-a551-013bd9a235b3","name":"OpenAI Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[-1600,2460],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"hyWmqXktDNchUSuf","name":"OpenAi OFICIAL"}}},{"parameters":{"content":"## Agente treinamento RAG, ativação automática como o texto: TreinoIA1212:","height":840,"width":2220,"color":4},"id":"4c067b1f-8b4e-4012-ac7b-b1fd6e775181","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[-1660,2020],"typeVersion":1},{"parameters":{"descriptionType":"manual","toolDescription":"Use para buscar informações na planilha caso tenha um treinamento paricido devovlea o numeroo da rtoow para ela ser atualziada","documentId":{"__rl":true,"value":"1Q-s8_cB8PO-ZZ8ZZCzzaTezL-3VHXW4_vVu0iRNxWfI","mode":"list","cachedResultName":"Aula nova","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Q-s8_cB8PO-ZZ8ZZCzzaTezL-3VHXW4_vVu0iRNxWfI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Q-s8_cB8PO-ZZ8ZZCzzaTezL-3VHXW4_vVu0iRNxWfI/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[-1460,2480],"id":"1f1cdd62-88f7-4293-bbbc-e2331064ba1a","name":"Treinamento_feito","credentials":{"googleSheetsOAuth2Api":{"id":"cdM9gcI2pxWfiYoz","name":"Google Sheets account"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"e451486c-c777-4d29-ad6f-920253dbfac7","name":"Insert into Supabase Vectorstore1","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[220,2320]},{"parameters":{"separator":"/n","chunkSize":1200,"chunkOverlap":200},"id":"786a0790-f29f-4d28-aa40-073060c7a113","name":"Character Text Splitter1","type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[360,2720]},{"parameters":{"aggregate":"aggregateAllItemData","include":"allFieldsExcept","fieldsToExclude":"rew_number","options":{}},"id":"13e2036d-ff62-4213-b434-27c35f74de4c","name":"Aggregate1","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-180,2320]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"d256df32-98e7-4207-94f6-a04b28ad17a2","name":"Embeddings OpenAI2","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[80,2560]},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"Arquivo","value":"={{ $('Download File1').item.json.name }}"}]}}},"id":"9e9310c3-8074-4b42-9c69-29a9dfb7136e","name":"Default Data Loader1","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[240,2560]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"1f53b8f3-4b4b-4a07-b2d4-65814741091d","name":"Download File1","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-840,2280],"executeOnce":false},{"parameters":{"operation":"xlsx","options":{}},"id":"5e43e3b8-ca85-4352-a181-917b0df5442f","name":"Extract from Excel2","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-340,2220]},{"parameters":{"promptType":"define","text":"={{ $('Webhook EVO').item.json.body.data.message.conversation || '' }}","options":{"systemMessage":"={\n  \"name\": \"AgenteTreinamentoPlanilha\",\n  \"objectives\": [\n    \"Receber um texto e corrigi-lo\",\n    \"Verificar se já existe pergunta similar na planilha\",\n    \"Atualizar a planilha com a pergunta e a resposta corrigida\",\n    \"Caso peça para atualizar, não execute nem uma tool\"\n  ],\n  \"tools\": [\n    {\n      \"name\": \"Treinamento_feito\",\n      \"description\": \"Verifica se existe conteúdo similar antes de atualizar, caso exista deve ser removido ou substituído\"\n    },\n    {\n      \"name\": \"Atualizar_treinamento\",\n      \"description\": \"Cria ou atualiza linha na planilha com as colunas: Pergunta e Resposta\"\n    }\n  ],\n  \"general_rules\": [\n    \"Não mencionar a planilha ou as ferramentas na resposta ao usuário\",\n    \"Corrigir sempre o texto recebido antes de registrar no sistema\",\n    \"Seja preciso e consistente ao preencher as colunas pergunta e resposta\",\n    \"Gere sua resposta sem acentos nas palavras ou caracteres especiais\"\n  ]\n}\n"}},"id":"c6323ab4-af10-430d-9d55-c4825997534f","name":"Agente Treinamento RAG","type":"@n8n/n8n-nodes-langchain.agent","position":[-1620,2260],"typeVersion":1.8},{"parameters":{"content":"# Ferramentas para criar\n\n","height":80,"width":456,"color":4},"id":"d83e2555-6e5b-4ee8-b27e-0fb6d917a7f3","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-220,-180]},{"parameters":{"content":"# Ferramentaspara apagar\n\n","height":80,"width":496,"color":3},"id":"d010f05b-ed40-4a0a-8e21-2127d2365626","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-260,220]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5922557b-71e7-4390-af21-10b683e7a875","leftValue":"={{ $json.Telefone }}","rightValue":"553173374875@s.whatsapp.net","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Numero pessoal"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"9865cb5b-33da-490c-afc3-186457d5b564","operator":{"type":"string","operation":"notStartsWith"},"leftValue":"={{ $json.message.content }}","rightValue":"TreinoIA1212:"}],"combinator":"and"},"renameOutput":true,"outputKey":"Rota normal"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"5a9a1fee-b408-469f-a08c-e8d690fc9792","operator":{"type":"string","operation":"startsWith"},"leftValue":"={{ $json.message.content }}","rightValue":"TreinoIA1212:"}],"combinator":"and"},"renameOutput":true,"outputKey":"Treinamento IA"}]},"options":{}},"id":"97864da5-8164-49a9-bedb-37a303be8501","name":"Rotas","type":"n8n-nodes-base.switch","position":[-1880,1740],"typeVersion":3.2},{"parameters":{"operation":"update","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","condition":"eq","keyValue":"={{ $('Dados').item.json.Telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"atendimento_ia","fieldValue":"pause"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-540,1520],"id":"08adb895-840f-4f00-8456-0546eaf144f4","name":"Pausar IA"},{"parameters":{"operation":"get","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Dados').item.json.Telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-540,1840],"id":"153148ac-929a-4163-bde6-395eed65d98a","name":"Verificar Pause"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.atendimento_ia }}","rightValue":"pause","operator":{"type":"string","operation":"notStartsWith"},"id":"ff00573b-e517-43c6-8644-14a4fe8565d1"}],"combinator":"and"},"renameOutput":true,"outputKey":"Ia Ativa"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3ef0e01c-cc14-4663-bb4d-2905b350c3ab","leftValue":"={{ $json.atendimento_ia }}","rightValue":"pause","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ia pausada"}]},"options":{}},"id":"ab18be12-8f66-44cf-97d2-a8c3c0a228b0","name":"Rota Atendimento","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-320,1840]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"9865cb5b-33da-490c-afc3-186457d5b564","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $('Rotas').item.json.message.content }}","rightValue":"Atendimento finalizado"}],"combinator":"and"},"renameOutput":true,"outputKey":"IA Pausada"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"5a9a1fee-b408-469f-a08c-e8d690fc9792","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('Rotas').item.json.message.content }}","rightValue":"Atendimento finalizado"}],"combinator":"and"},"renameOutput":true,"outputKey":"Reativar IA"}]},"options":{}},"id":"bfddc3f6-6d2c-4061-9a8a-436a720bb7e6","name":"Rotas1","type":"n8n-nodes-base.switch","position":[-740,1660],"typeVersion":3.2},{"parameters":{"operation":"update","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","condition":"eq","keyValue":"={{ $('Dados').item.json.Telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"atendimento_ia","fieldValue":"reativada"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-360,1680],"id":"6937c464-cb99-4491-b595-8ff57d3d543e","name":"Reativar IA"},{"parameters":{"assignments":{"assignments":[{"id":"11800d83-ecca-4f9c-a878-a2419db0c8e9","name":"message.chat_id","value":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid || '' }}","type":"string"},{"id":"c33f9527-e661-49e5-8e5e-64f3b430928a","name":"message.content_type","value":"={{ $('Webhook EVO').item.json.body.data.message.extendedTextMessage ? 'text' : '' }}{{ $('Webhook EVO').item.json.body.data.message.conversation ? 'text' : '' }}{{ $('Webhook EVO').item.json.body.data.message.audioMessage ? 'audio' : '' }}{{ $('Webhook EVO').item.json.body.data.message.imageMessage ? 'image' : '' }}","type":"string"},{"id":"06eba1c9-cff0-4f68-b6da-6bb0092466b7","name":"message.content","value":"={{ $('Webhook EVO').item.json.body.data.message.extendedTextMessage?.text || '' }}{{ $('Webhook EVO').item.json.body.data.message.imageMessage?.caption || '' }}{{ $('Webhook EVO').item.json.body.data.message.conversation || '' }}","type":"string"},{"id":"b97f1af3-5361-46fc-9303-d644921231d8","name":"message.timestamp","value":"={{ $('Webhook EVO').item.json.body.data.messageTimestamp.toDateTime('s').toISO() }}","type":"string"},{"id":"dc3dc59c-90a3-4a45-bea2-de092c91083b","name":"message.content_url","value":"={{ $('Webhook EVO').item.json.body.data.message.audioMessage?.url || '' }}{{ $('Webhook EVO').item.json.body.data.message.imageMessage?.url || '' }}","type":"string"},{"id":"8b01a818-a456-476e-bace-adefe2f04eb4","name":"message.event","value":"={{ $('Webhook EVO').item.json.body.data.key.fromMe ? 'outcoming' : 'incoming' }}","type":"string"},{"id":"886e3751-e39b-4fc6-98d1-3113eaeebbb4","name":"=body.event","value":"={{ $('Webhook EVO').item.json.body.event }}","type":"string"},{"id":"d04a0c6e-7842-41d2-bdb0-c0ce51d6dad7","name":"Telefone","value":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"a57db642-3e13-452e-bb5b-19f7e9f3bd5d","name":"NomeWpp","value":"={{ $json.body.data.pushName }}","type":"string"}]},"options":{}},"id":"9b167d5d-f06e-4cb2-b891-0ad48c7391fb","name":"Dados","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2060,1740]},{"parameters":{"amount":1,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-540,1680],"id":"f39d6399-400c-409b-ac41-6562b71552fb","name":"Wait","webhookId":"b9c0dc3b-a05b-4e71-bcbe-fee8c71142a2"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('Dados').item.json.Telefone }}","message":"={\"type\": \"ai\", \"content\": \"{{ $('Rotas').item.json.message.content.replace(/\\n/g, ' ') }}\", \"additional_kwargs\": {}, \"response_metadata\": {}}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[20,1800],"id":"11956a14-8d39-409b-948a-7e3e91d82d05","name":"Salvar Historicoo Humano1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[2380,1640],"id":"1cd95175-85ba-490c-a813-d5c1521e7966","name":"OpenAI Chat Model4"},{"parameters":{"promptType":"define","text":"={{ $json.mensagem_completa }}","options":{"systemMessage":"={\n  \"name\": \"AgenteRag\",\n  \"objectives\": [\n    \"Responder somente com dados obtidos da ferramenta buscar_documentos, sem dicas extras\"\n  ],\n  \"tools\": [\n    {\n      \"name\": \"buscar_documentos\",\n      \"description\": \"Use esta ferramenta para obter a resposta. Se não houver dados, retorne: não invente resposta somente do que vier da tool buscar_documentos'.\",\n      \"required\": true\n    }\n  ],\n  \"general_rules\": [\n    \"Não inventar respostas\",\n    \"Sempre usar a ferramenta buscar_documentos\",\n    \"caso não tenha uma resposta envie a resposta assim: sem dica de resposta\"\n  ]\n}\n"}},"id":"4b55f33c-42c1-4511-861a-198acb5238b2","name":"Agente Rag","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[2380,1460]},{"parameters":{"content":"# Agente RAG","height":80,"width":336,"color":4},"id":"b1f8501e-82db-4ce4-a1e0-fd48babfcc12","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2340,1360]},{"parameters":{"content":"","height":380,"width":1680,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-280,-220],"typeVersion":1,"id":"49dbe461-4cf4-4ef8-8533-0b2f393f34c8","name":"Sticky Note12"},{"parameters":{"content":"","height":380,"width":1680,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-280,180],"typeVersion":1,"id":"109e47a2-7e7a-46d1-aacc-75bfb37c259f","name":"Sticky Note13"},{"parameters":{"content":"","height":620,"width":820,"color":4},"type":"n8n-nodes-base.stickyNote","position":[2320,1360],"typeVersion":1,"id":"698227a7-dafa-4220-b016-19ef433bde22","name":"Sticky Note6"},{"parameters":{"descriptionType":"manual","toolDescription":"Analise se já existeuma coluca pareceida se sim atualize ela se não crie uma nova linha","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1Q-s8_cB8PO-ZZ8ZZCzzaTezL-3VHXW4_vVu0iRNxWfI","mode":"list","cachedResultName":"Aula nova","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Q-s8_cB8PO-ZZ8ZZCzzaTezL-3VHXW4_vVu0iRNxWfI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Q-s8_cB8PO-ZZ8ZZCzzaTezL-3VHXW4_vVu0iRNxWfI/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Pergunta":"={{ $fromAI(\"Pergunta\",\"isso é a pergunta\") }}","Resposta":"={{ $fromAI(\"Resposta\",\"isso é a resposta\") }}"},"matchingColumns":["Pergunta"],"schema":[{"id":"Pergunta","displayName":"Pergunta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Resposta","displayName":"Resposta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"7a1f0cb0-183e-4a18-8a8d-1c74e2454803","name":"Atualizar_treinamento","type":"n8n-nodes-base.googleSheetsTool","position":[-1280,2460],"typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"cdM9gcI2pxWfiYoz","name":"Google Sheets account"}}},{"parameters":{"operation":"text","options":{}},"id":"8a20d035-714d-4580-a25e-0cfcc8a6c751","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-340,2560],"alwaysOutputData":true},{"parameters":{"operation":"pdf","options":{}},"id":"20dd8002-14ea-4f6c-9086-be515be9583b","name":"Extract PDF Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-340,2040]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.mimeType }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"},"id":"d324b22b-cdf4-4216-a5ac-7db17ab11851"}],"combinator":"and"},"renameOutput":true,"outputKey":"PDF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2ae7faa7-a936-4621-a680-60c512163034","leftValue":"={{ $json.mimeType }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"excel"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"8bd558b2-8c70-4edd-ab19-92540895ae46","leftValue":"={{ $json.mimeType }}","rightValue":"application/vnd.google-apps.spreadsheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CVS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fc193b06-363b-4699-a97d-e5a850138b0e","leftValue":"={{ $json.mimeType }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Google Docs"}]},"options":{"fallbackOutput":3}},"id":"9f5bed99-8f00-47ca-85d8-909b392b7e06","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-660,2260]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"id":"fc546e6b-a179-469a-9b0f-4aae99db4441","name":"Summarize1","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[20,2320]},{"parameters":{"options":{}},"id":"9ab284e9-6053-402d-9f3f-e73e7ba09058","name":"Extract from Excel","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-340,2400]},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1rP1DWBKusmnmMLbxcAEy11nlRIpU2a4r","mode":"list","cachedResultName":"Aula nova","cachedResultUrl":"https://drive.google.com/drive/folders/1rP1DWBKusmnmMLbxcAEy11nlRIpU2a4r"}},"options":{"fields":["mimeType","id","name"]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1020,2280],"id":"9e8ec9f6-7087-4035-84a7-f77da3ec681b","name":"Google Drive","executeOnce":true},{"parameters":{"operation":"delete","tableId":"documents","filters":{"conditions":[{"keyName":"id","condition":"neq","keyValue":"0"}]}},"id":"368c2b09-957e-4f8b-907c-6e373340bb5f","name":"Deleta linhas antigas do documento1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1200,2280],"alwaysOutputData":true,"executeOnce":false,"credentials":{"supabaseApi":{"id":"b221yMmN6adp96Ic","name":"SupaBase_online"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":5}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1360,2100],"id":"c1e5ecb8-2c8a-4ad1-97cd-db1eec5b32eb","name":"Schedule Trigger"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('Dados').item.json.Telefone }}","message":"={\"type\": \"human\", \"content\": \"{{ $('Rotas').item.json.message.content.replace(/\\n/g, ' ') }}\", \"additional_kwargs\": {}, \"response_metadata\": {}}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-40,1520],"id":"a19aab68-65c9-4852-ba6c-7001e0a7926c","name":"Salvar Historicoo Humano"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[2900,260],"id":"38c10e2e-3928-42de-be81-8546d5fbe1b6","name":"When chat message received","webhookId":"af870e9f-98ab-46c8-858d-84fedf8036b2","disabled":true},{"parameters":{"options":{"systemMessage":"={\n  \"name\": \"Amanda\",\n  \"context\": {\n    \"identity\": \"Consultora Comercial de Vendas\",\n    \"business\": \"Fluxo Atendimento por IA para Terapeutas\",\n    \"Language\": \"português brasileiro\",\n    \"date\": \"{{ $now.weekdayLong }}, {{ $now.format('dd/MM/yyyy') }}, {{ $now.hour.toString().padStart(2, '0') }}:{{ $now.minute.toString().padStart(2, '0') }}\"\n  },\n  \"Informação atualizada para usar em resposta\": \"{{ $json.output }}\",\n  \"personality\": [\n    \"Fala simples, objetiva e amigável\",\n    \"Tono de voz educado e consultivo\",\n    \"Não usa emojis\",\n    \"Fala de forma personalizada, chamando pelo nome se souber\",\n    \"Faz uma pergunta por vez para manter o foco\",\n    \"Cria leve senso de urgência para agendamento\",\n    \"Reforça benefícios de forma prática\"\n  ],\n  \"objectives\": [\n    \"Apresentar a solução de atendimento por IA no WhatsApp para terapeutas\",\n    \"Agendar uma reunião comercial com o terapeuta no horário comercial\"\n  ],\n  \"general_rules\": [\n    \"Atender apenas terapeutas e profissionais da área emocional\",\n    \"Reforçar que as reuniões são online, rápidas e 100% focadas na necessidade do terapeuta\",\n    \"Agendar reuniões somente de segunda a sexta-feira em horário comercial\",\n    \"Caso peçam algo fora do fluxo, gentilmente redirecionar para o agendamento de reunião\",\n    \"Nunca prometer preço ou condições comerciais sem a reunião\",\n    \"Se a pessoa pedir para falar direto com um humano, informar que a reunião é o caminho para atendimento personalizado\",\n    \"Evitar termos técnicos como 'chatbot' ou 'automação' e usar sempre 'atendimento inteligente por IA', reforçando que o atendimento é como de uma secretária e não automatizado para agendamentos\",\n    \"Palavras proibidas: robô, automático, chatbot, grátis\"\n  ],\n  \"flow\": {\n    \"steps\": [\n      {\n        \"step\": \"Perguntar o nome\",\n        \"instructions\": \"Se apresentar e perguntar o nome da pessoa antes de prosseguir\",\n        \"example_message\": \"Olá! Meu nome é Amanda, faço parte da equipe da Fluxo Atendimento por IA para Terapeutas. Como posso te chamar?\"\n      },\n      {\n        \"step\": \"Confirmar se é terapeuta\",\n        \"instructions\": \"Após receber o nome, confirmar se a pessoa é terapeuta\",\n        \"example_message\": \"Prazer, Você é terapeuta ou atua em outra área da saúde?\"\n      },\n      {\n        \"step\": \"Explicação breve da solução\",\n        \"instructions\": \"Se confirmar que é terapeuta, explicar brevemente o benefício da solução\",\n        \"example_message\": \"Nós ajudamos terapeutas a terem um atendimento inteligente no WhatsApp, como uma secretária virtual que acolhe seus pacientes e organiza a comunicação, poupando seu tempo.\"\n      },\n      {\n        \"step\": \"Identificar o maior desafio\",\n        \"instructions\": \"Antes de oferecer reunião, perguntar qual é o maior desafio atual no atendimento\",\n        \"example_message\": \"Hoje, qual é o maior desafio que você enfrenta no seu atendimento? Seria dificuldade para contratar pessoas, agilidade nas respostas, atendimento fora do horário comercial, ou outra situação?\"\n      },\n      {\n        \"step\": \"Conectar solução à dor\",\n        \"instructions\": \"Após identificar a dor, reforçar que a solução pode ajudar especificamente nesse ponto\",\n        \"example_message\": \"Entendo. Nossa solução foi criada exatamente para ajudar terapeutas com essa dificuldade!\"\n      },\n      {\n        \"step\": \"Explicação adicional da solução\",\n        \"instructions\": \"Antes de oferecer a reunião, explicar detalhes extras da solução\",\n        \"example_message\": \"Nossa IA entende áudios enviados pelos seus clientes, interpreta múltiplas mensagens de texto e, após coletar informações sobre o motivo da busca por terapia, ela também te notifica em um grupo exclusivo com o nome do potencial cliente e um resumo do seu caso.\"\n      },\n      {\n        \"step\": \"Oferecer agendamento de reunião\",\n        \"instructions\": \"Depois de explicar a funcionalidade, convidar para agendar uma reunião\",\n        \"example_message\": \"Gostaria que eu te mostrasse tudo isso em detalhes numa reunião rápida de 30 minutos?\"\n      },\n      {\n        \"step\": \"Agendar reunião\",\n        \"instructions\": \"Se a pessoa demonstrar interesse, pedir para sugerir um dia e um período (manhã ou tarde)\",\n        \"example_message\": \"Que dia e período (manhã ou tarde) seria melhor para você? Assim organizamos tudo certinho.\"\n      },\n      {\n        \"step\": \"Confirmação de agendamento\",\n        \"instructions\": \"Após receber a sugestão, informar que um especialista entrará em contato para confirmar o horário certinho e enviar o número de protocolo\",\n        \"example_message\": \"Perfeito! Vou pedir para um dos nossos especialistas entrar em contato para confirmar direitinho o horário com você. Seu número de protocolo é 338201. Até breve!\"\n      }\n    ]\n  }\n}\n"}},"id":"61a5bde1-fcfc-49e5-979a-3a1ad07f0eff","name":"Atendente1","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[3120,260],"disabled":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"16","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[3420,380],"id":"bf668a2d-ce94-42d8-8a95-2473fb32cc37","name":"Simple Memory","disabled":true},{"parameters":{"operation":"update","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","condition":"eq","keyValue":"={{ $('Dados').item.json.Telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"atendimento_ia","fieldValue":"pause"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5440,2140],"id":"a5eea3e1-6dd9-46fe-81e2-4babbfdff47e","name":"Pausar IA1"}],"connections":{"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"buscar_documentos","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"buscar_documentos","type":"ai_vectorStore","index":0}]]},"OpenAI3":{"ai_languageModel":[[{"node":"Parser  Chain","type":"ai_languageModel","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"Evolution API","type":"main","index":0}]]},"OutputParser1":{"ai_outputParser":[[{"node":"Parser  Chain","type":"ai_outputParser","index":0}]]},"Parser  Chain":{"main":[[{"node":"Split de Mensagem","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Atendente","type":"ai_languageModel","index":0}]]},"Atendente":{"main":[[{"node":"Switch2","type":"main","index":0},{"node":"Busca Telefone","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Atendente","type":"ai_memory","index":0}]]},"Switch2":{"main":[[{"node":"Parser  Chain","type":"main","index":0}],[{"node":"Evolution API1","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"Evolution API":{"main":[[{"node":"1 segundo","type":"main","index":0}]]},"Evolution API1":{"main":[[{"node":"ListMessages-Supabase2","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Cria Histórico Supabase","type":"main","index":0}]]},"If4":{"main":[[{"node":"Adiciona CHAT supabase","type":"main","index":0}],[{"node":"Atualiza CHAT Supabase","type":"main","index":0}]]},"Busca Telefone":{"main":[[{"node":"If4","type":"main","index":0}]]},"Adiciona CHAT supabase":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Atualiza CHAT Supabase":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Cria Histórico Supabase":{"main":[[{"node":"Delete Memory","type":"main","index":0}]]},"Split de Mensagem":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"1 segundo":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"buscar_documentos":{"ai_tool":[[{"node":"Agente Rag","type":"ai_tool","index":0}]]},"ListMessages-Supabase2":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Code6":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"Evolution API2","type":"main","index":0}]]},"Evolution API2":{"main":[[{"node":"Pausar IA1","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Switch6","type":"main","index":0}],[{"node":"Supabase1","type":"main","index":0}]]},"Supabase1":{"main":[[{"node":"Switch6","type":"main","index":0}]]},"Webhook EVO":{"main":[[{"node":"Dados","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"If3":{"main":[[{"node":"Redis5","type":"main","index":0}],[{"node":"Redis4","type":"main","index":0}]]},"Redis4":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Redis5":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Text Memory1","type":"main","index":0}],[{"node":"Text Memory1","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"If3","type":"main","index":0}]]},"Compara Get Memory1":{"main":[[{"node":"Mensagem Completa","type":"main","index":0}]]},"Text Memory1":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Audio Memory1":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"Compara Get Memory1","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Get Memory 2","type":"main","index":0}]]},"Get Memory 1":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Get Memory 2":{"main":[[{"node":"Edit Fields8","type":"main","index":0}]]},"Switch6":{"main":[[{"node":"Rotas1","type":"main","index":0}],[{"node":"Verificar Pause","type":"main","index":0}]]},"Mensagem Completa":{"main":[[{"node":"Agente Rag","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Audio Memory1","type":"main","index":0}]]},"OpenAI Model":{"ai_languageModel":[[{"node":"Agente Treinamento RAG","type":"ai_languageModel","index":0}]]},"Treinamento_feito":{"ai_tool":[[{"node":"Agente Treinamento RAG","type":"ai_tool","index":0}]]},"Character Text Splitter1":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]},"Aggregate1":{"main":[[{"node":"Summarize1","type":"main","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore1","type":"ai_embedding","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Insert into Supabase Vectorstore1","type":"ai_document","index":0}]]},"Download File1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Extract from Excel2":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Agente Treinamento RAG":{"main":[[{"node":"Deleta linhas antigas do documento1","type":"main","index":0}]]},"Rotas":{"main":[[],[{"node":"Supabase","type":"main","index":0}],[{"node":"Agente Treinamento RAG","type":"main","index":0}]]},"Pausar IA":{"main":[[{"node":"Salvar Historicoo Humano","type":"main","index":0}]]},"Verificar Pause":{"main":[[{"node":"Rota Atendimento","type":"main","index":0}]]},"Rota Atendimento":{"main":[[{"node":"Switch1","type":"main","index":0}],[{"node":"Salvar Historicoo Humano1","type":"main","index":0}]]},"Rotas1":{"main":[[{"node":"Pausar IA","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Reativar IA":{"main":[[{"node":"Salvar Historicoo Humano","type":"main","index":0}]]},"Dados":{"main":[[{"node":"Rotas","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Reativar IA","type":"main","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Agente Rag","type":"ai_languageModel","index":0}]]},"Agente Rag":{"main":[[{"node":"Atendente","type":"main","index":0}]]},"Atualizar_treinamento":{"ai_tool":[[{"node":"Agente Treinamento RAG","type":"ai_tool","index":0}]]},"Switch":{"main":[[{"node":"Extract PDF Text","type":"main","index":0}],[{"node":"Extract from Excel2","type":"main","index":0}],[{"node":"Extract from Excel","type":"main","index":0}],[{"node":"Extract Document Text","type":"main","index":0}]]},"Extract Document Text":{"main":[[{"node":"Insert into Supabase Vectorstore1","type":"main","index":0}]]},"Extract PDF Text":{"main":[[{"node":"Insert into Supabase Vectorstore1","type":"main","index":0}]]},"Summarize1":{"main":[[{"node":"Insert into Supabase Vectorstore1","type":"main","index":0}]]},"Extract from Excel":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Download File1","type":"main","index":0}]]},"Deleta linhas antigas do documento1":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Deleta linhas antigas do documento1","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Atendente1","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Atendente1","type":"ai_memory","index":0}]]},"Salvar Historicoo Humano1":{"main":[[{"node":"Switch1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook EVO":[{"json":{"headers":{"host":"webhook.brenoluiz.com","user-agent":"axios/1.7.9","content-length":"952","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"webhook.brenoluiz.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"a48f6555c969","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Breno2","data":{"key":{"remoteJid":"553199905686@s.whatsapp.net","fromMe":false,"id":"3EB076C5765248E2104FD0"},"pushName":"Breno Luiz","status":"DELIVERY_ACK","message":{"conversation":"qual é meu numero de protocolo mesmo ?","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"uF9ZSLJLccNn9Q==","senderTimestamp":"1745523443","senderAccountType":"E2EE","receiverAccountType":"E2EE","recipientKeyHash":"7Zmo8dM6/NwyLQ==","recipientTimestamp":"1745523475"},"deviceListMetadataVersion":2,"messageSecret":"mtGggzkfRSgy8h41m6BJxDvZe197Ds0P5ZSz5g/OPo4="}},"messageType":"conversation","messageTimestamp":1745623915,"instanceId":"4baef9ca-f39b-450c-a0ad-8ade3fac4486","source":"web"},"destination":"https://webhook.brenoluiz.com/webhook/aula","date_time":"2025-04-25T20:31:55.895Z","sender":"553193673427@s.whatsapp.net","server_url":"https://api.brenoluiz.com","apikey":"DC93469263FD-4FE6-8B66-63D4B0D8461F"},"webhookUrl":"https://webhook.brenoluiz.com/webhook/aula","executionMode":"production"}}],"Agente Rag":[{"json":{"output":"sem dica de resposta"}}]},"versionId":"1ac38f27-2927-4225-9d51-d0e4f9de1a88","triggerCount":0,"tags":[{"createdAt":"2025-05-09T12:44:21.229Z","updatedAt":"2025-05-09T12:44:21.229Z","id":"GNr6wpdFP7kYIT2N","name":"NegócioComAgentesDeIA"}]}