proj_html-4EEC32puyGt48l8T.json
{"createdAt":"2025-05-17T19:46:15.618Z","updatedAt":"2025-05-17T23:12:35.000Z","id":"4EEC32puyGt48l8T","name":"Proj_Html","active":true,"nodes":[{"parameters":{"path":"chat-rag","responseMode":"responseNode","options":{}},"id":"8a885b31-01b7-4030-af55-a61288e1b870","name":"Receive Message","type":"n8n-nodes-base.webhook","position":[160,100],"typeVersion":2,"webhookId":"6037440b-99c0-47a9-8e88-9249db03b84b"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"id":"3e7b41f8-8d26-4449-ac45-46e9ce51a89c","name":"Send Response","type":"n8n-nodes-base.respondToWebhook","position":[580,100],"typeVersion":1.1},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>N8N Agente - Chat Interface</title>\n    <script src=\"https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js\"></script>\n    <link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n    <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n    <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap\" rel=\"stylesheet\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css\">\n    <link rel=\"stylesheet\" href=\"whatsapp-pattern.css\">\n    <style>\n        :root {\n            --primary-color: #25D366;\n            --primary-dark: #128C7E;\n            --secondary-color: #34B7F1;\n            --secondary-dark: #0288D1;\n            --success-color: #25D366;\n            --danger-color: #FF3B30;\n            --text-dark: #111B21;\n            --text-medium: #54656F;\n            --text-light: #8696A0;\n            --bg-light: #F0F2F5;\n            --bg-white: #FFFFFF;\n            --border-color: #E9EDEF;\n            --shadow-sm: 0 1px 3px rgba(11, 20, 26, 0.08);\n            --shadow-md: 0 2px 5px rgba(11, 20, 26, 0.1);\n            --radius-sm: 6px;\n            --radius-md: 8px;\n            --radius-lg: 12px;\n            --transition: all 0.2s ease;\n            --chat-bg-pattern: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAABpElEQVRoge3ZPW/TUBSH8V+bNzUfARI7AwyoZYCBIQMSAwMSGzMSn4GJDVVi5wNUYmJiRV0YGCohwcCAhAQSAwMLEi1ScsjAhZDGTRxiO5Xi50rxla7vI/nK9ZHuUUQikUgkEolE9hFN7bQwhRZmsIj5HLUBNrCGVfRwkLO+h9exhLN4KkXIXxzgJ37gG77iMzZH1TGBGSxgHi/hJTyPEziWo/4Ib/AeP0fVMQnPYQVbOJRRu4VlnMIxHMUJnMYFXMZlnMvxfwsf8HZE7Qme0Z3Ywm1cxWzO+jGcxDO4gWu4h9UMv1+4g5s5/v/hKu7nqD2Gi7iIc5jFcTzAkxG+u7iHt3iEP0WCjIvLuI4rOJKj/hDv8Klo0/08yHncwgVMZtQe4zM+4mfRpvt5kEku4ZIUJIsd3JVGqxT2YpBxMYHXpTvXTI76HdyXZqsU9nOQcXEGb6QvQRYb0sOxNOrGRYNUxQJuS3etLH5Lt7XuOBtXHaQKpvAqXs7w2ZQeiMPxRqouSBVM40Xp6T+Dw9I7pC89CfvSfWwgTbVERERERETsD/4Cz/VjBjj0rOsAAAAASUVORK5CYII=');\n            --sent-message-bg: #D9FDD3;\n            --received-message-bg: #FFFFFF;\n            --header-bg: #008069;\n            --input-bg: #FFFFFF;\n        }\n\n        [data-theme=\"dark\"] {\n            --primary-color: #00A884;\n            --primary-dark: #008069;\n            --secondary-color: #53BDEB;\n            --secondary-dark: #0288D1;\n            --success-color: #00A884;\n            --danger-color: #F15C6D;\n            --text-dark: #E9EDEF;\n            --text-medium: #8696A0;\n            --text-light: #667781;\n            --bg-light: #111B21;\n            --bg-white: #222E35;\n            --border-color: #222D34;\n            --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.4);\n            --shadow-md: 0 2px 5px rgba(0, 0, 0, 0.5);\n            --chat-bg-pattern: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAABpElEQVRoge3ZPW/TUBSH8V+bNzUfARI7AwyoZYCBIQMSAwMSGzMSn4GJDVVi5wNUYmJiRV0YGCohwcCAhAQSAwMLEi1ScsjAhZDGTRxiO5Xi50rxla7vI/nK9ZHuUUQikUgkEolE9hFN7bQwhRZmsIj5HLUBNrCGVfRwkLO+h9exhLN4KkXIXxzgJ37gG77iMzZH1TGBGSxgHi/hJTyPEziWo/4Ib/AeP0fVMQnPYQVbOJRRu4VlnMIxHMUJnMYFXMZlnMvxfwsf8HZE7Qme0Z3Ywm1cxWzO+jGcxDO4gWu4h9UMv1+4gxs5/v/hKu7nqD2Gi7iIc5jFcTzAkxG+u7iHt3iEP0WCjIvLuI4rOJKj/hDv8Klo0/08yHncwgVMZtQe4zM+4mfRpvt5kEku4ZIUJIsd3JVGqxT2YpBxMYHXpTvXTI76HdyXZqsU9nOQcXEGb6QvQRYb0sOxNOrGRYNUxQJuS3etLH5Lt7XuOBtXHaQKpvAqXs7w2ZQeiMPxRqouSBVM40Xp6T+Dw9I7pC89CfvSfWwgTbVERERERETsD/4Cz/VjBjj0rOsAAAAASUVORK5CYII=');\n            --sent-message-bg: #005C4B;\n            --received-message-bg: #222E35;\n            --header-bg: #202C33;\n            --input-bg: #2A3942;\n        }\n\n        * {\n            box-sizing: border-box;\n            margin: 0;\n            padding: 0;\n            font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;\n        }\n\n        body {\n            background-color: var(--bg-light);\n            height: 100vh;\n            display: flex;\n            flex-direction: column;\n            color: var(--text-dark);\n            line-height: 1.5;\n            overflow: hidden;\n        }\n\n        .container {\n            width: calc(100% - 30px);\n            height: calc(100vh - 30px);\n            margin: 15px;\n            padding: 0;\n            flex: 1;\n            display: flex;\n            flex-direction: column;\n            overflow: hidden;\n        }\n\n        header {\n            background-color: var(--header-bg);\n            border-top-left-radius: 20px;\n            border-top-right-radius: 20px;\n            color: white;\n            padding: 10px 16px;\n            display: flex;\n            align-items: center;\n            height: 59px;\n            box-shadow: var(--shadow-sm);\n            position: relative;\n            z-index: 10;\n        }\n\n        .header-avatar {\n            width: 40px;\n            height: 40px;\n            border-radius: 50%;\n            background-color: var(--primary-color);\n            margin-right: 15px;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            color: white;\n            font-size: 20px;\n        }\n\n        .header-info {\n            flex: 1;\n        }\n\n        header h1 {\n            font-weight: 500;\n            font-size: 16px;\n            margin: 0;\n            padding: 0;\n        }\n\n        header p {\n            font-weight: 400;\n            font-size: 13px;\n            margin: 0;\n            padding: 0;\n            color: rgba(255, 255, 255, 0.8);\n        }\n\n        .chat-container {\n            display: flex;\n            flex: 1;\n            height: calc(100vh - 110px);\n            position: relative;\n        }\n\n        .chat-box {\n            flex: 1;\n            background-color: var(--bg-white);\n            display: flex;\n            flex-direction: column;\n            overflow: hidden;\n            border-right: 1px solid var(--border-color);\n            position: relative;\n        }\n\n        .settings-panel {\n            width: 270px;\n            min-width: 120px;\n            font-size: 13px;\n            padding-left: 15px;\n            padding-right: 15px;\n            border-left: 5px solid #e0e0e0;\n            border-right: 5px solid #e0e0e0;\n            background-color: var(--bg-white);\n            padding: 20px;\n            border-left: 1px solid var(--border-color);\n            display: flex;\n            flex-direction: column;\n            overflow-y: auto;\n        }\n\n        .messages {\n            flex: 1;\n            padding: 20px;\n            overflow-y: auto;\n            background-color: var(--bg-light);\n            background-image: var(--chat-bg-pattern);\n            background-repeat: repeat;\n            display: flex;\n            flex-direction: column;\n        }\n\n        .input-area {\n            display: flex;\n            padding: 10px 16px;\n            background-color: var(--bg-light);\n            align-items: center;\n            height: 62px;\n        }\n\n        .message {\n            max-width: 65%;\n            padding: 8px 12px;\n            margin-bottom: 2px;\n            border-radius: 8px;\n            position: relative;\n            word-wrap: break-word;\n            font-size: 14.2px;\n            line-height: 19px;\n        }\n\n        .message-group {\n            display: flex;\n            flex-direction: column;\n            margin-bottom: 12px;\n            position: relative;\n        }\n\n        .sent {\n            background-color: var(--sent-message-bg);\n            color: var(--text-dark);\n            align-self: flex-end;\n            margin-left: auto;\n            border-top-right-radius: 0;\n        }\n\n        .received {\n            background-color: var(--received-message-bg);\n            align-self: flex-start;\n            margin-right: auto;\n            border-top-left-radius: 0;\n            color: var(--text-dark);\n        }\n\n        .message-time {\n            font-size: 11px;\n            color: var(--text-light);\n            margin-left: 6px;\n            float: right;\n            margin-top: 2px;\n        }\n\n        #textInput {\n            flex: 1;\n            padding: 9px 12px;\n            border: none;\n            border-radius: 8px;\n            font-size: 15px;\n            background-color: var(--input-bg);\n            transition: var(--transition);\n            margin: 0 8px;\n            height: 42px;\n        }\n\n        #textInput:focus {\n            outline: none;\n        }\n\n        .btn {\n            background-color: var(--primary-color);\n            color: white;\n            border: none;\n            width: 40px;\n            height: 40px;\n            border-radius: 50%;\n            cursor: pointer;\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            font-size: 18px;\n            transition: var(--transition);\n        }\n\n        .btn:hover {\n            background-color: var(--primary-dark);\n        }\n\n        .btn-icon {\n            color: var(--primary-color);\n            background: transparent;\n            border: none;\n            width: 40px;\n            height: 40px;\n            border-radius: 50%;\n            cursor: pointer;\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            font-size: 20px;\n            transition: var(--transition);\n        }\n\n        .btn-icon:hover {\n            background-color: rgba(0,0,0,0.05);\n        }\n\n        .attachment-btn {\n            color: var(--text-medium);\n            background: transparent;\n            border: none;\n            width: 40px;\n            height: 40px;\n            border-radius: 50%;\n            cursor: pointer;\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            font-size: 20px;\n            position: relative;\n            overflow: hidden;\n            transition: var(--transition);\n        }\n\n        .attachment-btn:hover {\n            background-color: rgba(0,0,0,0.05);\n        }\n\n        .attachment-btn input {\n            position: absolute;\n            top: 0;\n            left: 0;\n            width: 100%;\n            height: 100%;\n            opacity: 0;\n            cursor: pointer;\n        }\n\n        .form-group {\n            margin-bottom: 20px;\n        }\n\n        .settings-header {\n            margin-bottom: 20px;\n        }\n\n        .settings-title {\n            color: var(--primary-color);\n            font-size: 1.1rem;\n            font-weight: 600;\n            margin-bottom: 5px;\n        }\n\n        .settings-section {\n            padding: 15px 0;\n            border-bottom: 1px solid var(--border-color);\n        }\n\n        .settings-section:last-child {\n            border-bottom: none;\n        }\n\n        .settings-subtitle {\n            color: var(--text-medium);\n            font-size: 1rem;\n            font-weight: 600;\n            margin-bottom: 16px;\n        }\n\n        .settings-actions {\n            display: flex;\n            flex-direction: column;\n        }\n\n        .whatsapp-info {\n            padding: 20px 0;\n            text-align: center;\n            color: var(--text-medium);\n        }\n\n        .whatsapp-logo {\n            font-size: 40px;\n            color: var(--primary-color);\n            margin-bottom: 10px;\n        }\n\n        .whatsapp-info p {\n            margin-bottom: 5px;\n            font-weight: 500;\n        }\n\n        .whatsapp-info small {\n            color: var(--text-light);\n        }\n\n        label {\n            display: block;\n            margin-bottom: 8px;\n            font-weight: 500;\n            color: var(--text-medium);\n            font-size: 0.9rem;\n        }\n\n        input[type=\"text\"], select {\n            width: 100%;\n            padding: 12px 16px;\n            border: 1px solid var(--border-color);\n            border-radius: var(--radius-sm);\n            font-size: 14px;\n            background-color: var(--bg-light);\n            color: var(--text-dark);\n            transition: var(--transition);\n        }\n\n        input[type=\"text\"]:focus, select:focus {\n            outline: none;\n            border-color: var(--secondary-color);\n            box-shadow: 0 0 0 3px rgba(46, 91, 255, 0.15);\n        }\n\n        button.settings-btn {\n            background-color: var(--primary-color);\n            color: white;\n            border: none;\n            padding: 10px 14px;\n            border-radius: var(--radius-sm);\n            cursor: pointer;\n            font-size: 14px;\n            font-weight: 500;\n            width: 100%;\n            transition: var(--transition);\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            gap: 8px;\n        }\n\n        button.settings-btn:hover {\n            background-color: var(--primary-dark);\n        }\n\n        .status {\n            margin-top: 12px;\n            padding: 8px;\n            border-radius: var(--radius-sm);\n            background-color: var(--bg-light);\n            font-size: 13px;\n            text-align: center;\n            transition: var(--transition);\n        }\n\n        .status-configured {\n            background-color: rgba(0, 200, 83, 0.1);\n            color: var(--success-color);\n        }\n\n        .status-error {\n            background-color: rgba(255, 59, 48, 0.1);\n            color: var(--danger-color);\n        }\n\n        .theme-toggle {\n            background: transparent;\n            border: none;\n            color: rgba(255, 255, 255, 0.8);\n            font-size: 20px;\n            cursor: pointer;\n            z-index: 10;\n            width: 40px;\n            height: 40px;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            border-radius: 50%;\n            transition: var(--transition);\n            margin-left: 10px;\n        }\n\n        .theme-toggle:hover {\n            background-color: rgba(255, 255, 255, 0.1);\n            color: white;\n        }\n\n        .settings-toggle {\n            display: none;\n            color: white;\n            background: transparent;\n            border: none;\n            font-size: 20px;\n            cursor: pointer;\n            margin-left: 10px;\n        }\n\n        @media (max-width: 768px) {\n            .chat-container {\n                flex-direction: column;\n            }\n\n            .settings-panel {\n                display: none;\n                position: absolute;\n                top: 59px;\n                right: 0;\n                bottom: 0;\n                width: 100%;\n                z-index: 20;\n                box-shadow: var(--shadow-md);\n            }\n\n            .settings-panel.active {\n                display: block;\n            }\n\n            .settings-toggle {\n                display: block;\n            }\n\n            .header-info p {\n                display: none;\n            }\n\n            .input-area {\n                padding: 8px;\n            }\n\n            .btn-icon:first-child {\n                display: none;\n            }\n        }\n\n        @media (max-width: 480px) {\n            .header-avatar {\n                width: 35px;\n                height: 35px;\n                margin-right: 10px;\n                font-size: 16px;\n            }\n\n            header h1 {\n                font-size: 14px;\n            }\n\n            .message {\n                max-width: 85%;\n            }\n\n            #textInput {\n                margin: 0 5px;\n            }\n\n            .btn, .btn-icon {\n                width: 36px;\n                height: 36px;\n                font-size: 16px;\n            }\n        }\n\n        ::-webkit-scrollbar {\n            width: 6px;\n            height: 6px;\n        }\n\n        ::-webkit-scrollbar-track {\n            background: transparent;\n        }\n\n        ::-webkit-scrollbar-thumb {\n            background: rgba(0, 0, 0, 0.2);\n            border-radius: 10px;\n        }\n\n        [data-theme=\"dark\"] ::-webkit-scrollbar-thumb {\n            background: rgba(255, 255, 255, 0.1);\n        }\n\n        .typing {\n            padding: 8px 12px;\n            border-radius: 10px;\n            background-color: var(--received-message-bg);\n            color: var(--text-medium);\n            font-size: 13px;\n            display: inline-flex;\n            align-items: center;\n            margin-bottom: 10px;\n            align-self: flex-start;\n            box-shadow: var(--shadow-sm);\n        }\n\n        .typing .dots {\n            display: flex;\n            margin-left: 5px;\n        }\n\n        .typing .dot {\n            width: 8px;\n            height: 8px;\n            background-color: var(--text-light);\n            border-radius: 50%;\n            margin-right: 3px;\n            animation: typing-dot 1.4s infinite;\n        }\n\n        .typing .dot:nth-child(2) {\n            animation-delay: 0.2s;\n        }\n\n        .typing .dot:nth-child(3) {\n            animation-delay: 0.4s;\n        }\n\n        @keyframes typing-dot {\n            0%, 60%, 100% {\n                transform: translateY(0);\n            }\n            30% {\n                transform: translateY(-5px);\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <header>\n            <div class=\"header-avatar\">\n                <i class=\"fas fa-robot\"></i>\n            </div>\n            <div class=\"header-info\">\n                <h1>N8N Agente</h1>\n                <p>Online</p>\n            </div>\n            <button id=\"settingsToggle\" class=\"btn-icon settings-toggle\" aria-label=\"Configurações\">\n                <i class=\"fas fa-cog\"></i>\n            </button>\n            <button id=\"themeToggle\" class=\"btn-icon theme-toggle\" aria-label=\"Alternar tema\">\n                <i class=\"fas fa-moon\"></i>\n            </button>\n        </header>\n\n        <div class=\"chat-container\">\n            <div class=\"chat-box\">\n                <div id=\"messages\" class=\"messages\"></div>\n                <div class=\"input-area\">\n                    <button class=\"btn-icon\">\n                        <i class=\"far fa-smile\"></i>\n                    </button>\n                    <div class=\"attachment-btn\">\n                        <i class=\"fas fa-paperclip\"></i>\n                        <input type=\"file\" id=\"fileInput\" accept=\"image/*,audio/*,video/*,.pdf,.doc,.docx,.xls,.xlsx\">\n                    </div>\n                    <input type=\"text\" id=\"textInput\" placeholder=\"Digite uma mensagem\" onkeypress=\"if(event.key === 'Enter') sendMessage()\">\n                    <button id=\"micButton\" class=\"btn-icon mic-btn\" onclick=\"toggleRecording()\">\n                        <i class=\"fas fa-microphone\"></i>\n                    </button>\n                    <button class=\"btn send-btn\" onclick=\"sendMessage()\">\n                        <i class=\"fas fa-paper-plane\"></i>\n                    </button>\n                </div>\n            </div>\n\n            <div class=\"settings-panel\">\n                <div class=\"settings-header\">\n                    <h3 class=\"settings-title\">Configurações</h3>\n                </div>\n\n                <div class=\"settings-section\">\n                    <div class=\"form-group\">\n                        <label for=\"workflow-select\">Workflow Ativo</label>\n                        <select id=\"workflow-select\">\n                            <option value=\"\">Selecione um workflow...</option>\n                            <option value=\"atendimento\">Atendimento ao Cliente</option>\n                            <option value=\"vendas\">Vendas</option>\n                            <option value=\"suporte\">Suporte Técnico</option>\n                        </select>\n                    </div>\n                    <button class=\"settings-btn\" onclick=\"saveSettings()\">\n                        <i class=\"fas fa-save\"></i> Salvar Configurações\n                    </button>\n                    <div class=\"status\" id=\"settings-status\">Não configurado</div>\n                </div>\n\n                <div class=\"settings-section\">\n                    <h3 class=\"settings-subtitle\">Ações Rápidas</h3>\n                    <div class=\"settings-actions\">\n                        <button class=\"settings-btn\" style=\"margin-bottom: 12px;\" onclick=\"clearChat()\">\n                            <i class=\"fas fa-trash-alt\"></i> Limpar Conversa\n                        </button>\n                        <button class=\"settings-btn\" onclick=\"testConnection()\">\n                            <i class=\"fas fa-plug\"></i> Testar Conexão\n                        </button>\n                    </div>\n                </div>\n\n                <div class=\"settings-section\">\n                    <div class=\"whatsapp-info\">\n                        <div class=\"whatsapp-logo\">\n                            <i class=\"fab fa-whatsapp\"></i>\n                        </div>\n                        <p>N8N Agente - WhatsApp Style</p>\n                        <small>Conecte-se com seus workflows do n8n</small>\n                    </div>\n                </div>\n            </div>\n        </div>\n    </div>\n\n    <script>\n        // Altere para true para testar no modo Listening do n8n\n        const isTestMode = true;\n        let webhookUrl = isTestMode\n            ? 'https://webhook.dev.radtec.site/webhook-test/chatAi'\n            : 'https://webhook.dev.radtec.site/webhook/chatAi';\n        let activeWorkflow = localStorage.getItem('n8n_active_workflow') || '';\n        let isRecording = false;\n        let mediaRecorder;\n        let audioChunks = [];\n        let currentTheme = localStorage.getItem('theme') || 'light';\n\n        document.addEventListener('DOMContentLoaded', function() {\n            applyTheme(currentTheme);\n            setTimeout(() => {\n                addMessage('Bem-vindo de volta! Como posso ajudar hoje?', 'received');\n            }, 500);\n            if (activeWorkflow) {\n                document.getElementById('workflow-select').value = activeWorkflow;\n            }\n            var themeBtn = document.getElementById('themeToggle');\n            if(themeBtn) themeBtn.addEventListener('click', toggleTheme);\n            const settingsToggle = document.getElementById('settingsToggle');\n            const settingsPanel = document.querySelector('.settings-panel');\n            if (settingsToggle && settingsPanel) {\n                settingsToggle.addEventListener('click', function() {\n                    settingsPanel.classList.toggle('active');\n                });\n                document.addEventListener('click', function(e) {\n                    if (settingsPanel.classList.contains('active') && \n                        !settingsPanel.contains(e.target) && \n                        e.target !== settingsToggle && \n                        !settingsToggle.contains(e.target)) {\n                        settingsPanel.classList.remove('active');\n                    }\n                });\n            }\n        });\n\n        function applyTheme(theme) {\n            if (theme === 'dark') {\n                document.documentElement.setAttribute('data-theme', 'dark');\n                document.getElementById('themeToggle').innerHTML = '<i class=\"fas fa-sun\"></i>';\n            } else {\n                document.documentElement.removeAttribute('data-theme');\n                document.getElementById('themeToggle').innerHTML = '<i class=\"fas fa-moon\"></i>';\n            }\n        }\n\n        function toggleTheme() {\n            currentTheme = currentTheme === 'light' ? 'dark' : 'light';\n            localStorage.setItem('theme', currentTheme);\n            applyTheme(currentTheme);\n            document.body.style.transition = 'background-color 0.3s ease';\n            document.querySelectorAll('.chat-box, .settings-panel, .input-area, input, select, button')\n                .forEach(el => el.style.transition = 'background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease');\n            const themeMessage = currentTheme === 'dark' ? \n                'Tema escuro ativado! 🌙' : \n                'Tema claro ativado! ☀️';\n            addMessage(themeMessage, 'received');\n        }\n\n        function saveSettings() {\n            const newWorkflow = document.getElementById('workflow-select').value;\n            const statusEl = document.getElementById('settings-status');\n\n            activeWorkflow = newWorkflow;\n            localStorage.setItem('n8n_active_workflow', activeWorkflow);\n\n            statusEl.textContent = 'Configurações salvas!';\n            statusEl.classList.remove('status-error');\n            statusEl.classList.add('status-configured');\n\n            const saveBtn = document.querySelector('.settings-btn');\n            const originalText = saveBtn.innerHTML;\n            saveBtn.innerHTML = '<i class=\"fas fa-check\"></i> Salvo com sucesso!';\n\n            setTimeout(() => {\n                saveBtn.innerHTML = originalText;\n            }, 2000);\n\n            if (!document.querySelector('.message')) {\n                addMessage('Configurações salvas! Agora você pode enviar mensagens.', 'received');\n            }\n        }\n\n        function addMessage(text, type, isTyping = false) {\n            let messageGroup;\n            const lastGroup = document.querySelector('.message-group:last-child');\n            const lastGroupType = lastGroup ? lastGroup.getAttribute('data-type') : null;\n\n            if (lastGroupType === type && lastGroup && !isTyping) {\n                messageGroup = lastGroup;\n            } else {\n                messageGroup = document.createElement('div');\n                messageGroup.className = 'message-group';\n                messageGroup.setAttribute('data-type', type);\n                document.getElementById('messages').appendChild(messageGroup);\n            }\n\n            const msgDiv = document.createElement('div');\n            msgDiv.className = `message ${type} ${isTyping ? 'typing' : ''}`;\n\n            if (isTyping) {\n                msgDiv.innerHTML = 'Digitando <span class=\"dots\"><span class=\"dot\"></span><span class=\"dot\"></span><span class=\"dot\"></span></span>';\n            } else {\n                const now = new Date();\n                const hours = now.getHours().toString().padStart(2, '0');\n                const minutes = now.getMinutes().toString().padStart(2, '0');\n                const timeStr = `${hours}:${minutes}`;\n                if (text.includes('<i class=') || text.includes('<b>')) {\n                    msgDiv.innerHTML = text + `<span class=\"message-time\">${timeStr}</span>`;\n                } else {\n                    msgDiv.innerText = text;\n                    const timeSpan = document.createElement('span');\n                    timeSpan.className = 'message-time';\n                    timeSpan.innerText = timeStr;\n                    msgDiv.appendChild(timeSpan);\n                }\n            }\n\n            messageGroup.appendChild(msgDiv);\n            document.getElementById('messages').scrollTop = document.getElementById('messages').scrollHeight;\n            return msgDiv;\n        }\n\n        function removeTypingIndicator(typingElement) {\n            if (typingElement) {\n                typingElement.parentElement.remove();\n            }\n        }\n\n    async function sendMessage() {\n            const text = document.getElementById('textInput').value.trim();\n            if (!text) return;\n\n            if (!webhookUrl || !webhookUrl.includes('http')) {\n                addMessage('Erro: URL do webhook inválida', 'received');\n                return;\n            }\n\n            addMessage(text, 'sent');\n            document.getElementById('textInput').value = '';\n\n            const typingElement = addMessage('', 'received', true);\n\n            const payload = { \n                message: text,\n                type: 'text'\n            };\n\n            if (activeWorkflow) {\n                payload.workflow = activeWorkflow;\n            }\n\n            console.log('Enviando requisição para:', webhookUrl);\n            console.log('Payload:', payload);\n\n            try {\n                const res = await axios.post(webhookUrl, payload, {\n                    timeout: 10000 // Timeout de 10 segundos\n                });\n                console.log('Resposta recebida:', res.data);\n                removeTypingIndicator(typingElement);\n\n                let reply = res.data?.reply || res.data?.resposta || res.data?.message;\n                if (Array.isArray(reply)) {\n                    reply.forEach(msg => addMessage(msg, 'received'));\n                } else if (reply) {\n                    addMessage(reply, 'received');\n                } else {\n                    addMessage('Mensagem recebida, mas nenhuma resposta específica retornada', 'received');\n                }\n            } catch (err) {\n                console.error('Erro ao enviar mensagem:', err);\n                removeTypingIndicator(typingElement);\n                addMessage(`Erro ao enviar mensagem: ${err.message}`, 'received');\n            }\n        }\n\n        document.getElementById('fileInput').addEventListener('change', async function() {\n            if (!this.files || !this.files[0]) return;\n\n            if (!webhookUrl || !webhookUrl.includes('http')) {\n                addMessage('Erro: URL do webhook inválida', 'received');\n                return;\n            }\n\n            const file = this.files[0];\n            const fileType = file.type.split('/')[0];\n            let fileTypeText = 'arquivo';\n            if (fileType === 'image') fileTypeText = 'imagem';\n            else if (fileType === 'audio') fileTypeText = 'áudio';\n            else if (fileType === 'video') fileTypeText = 'vídeo';\n            else if (file.name.endsWith('.pdf')) fileTypeText = 'PDF';\n            else if (file.name.endsWith('.doc') || file.name.endsWith('.docx')) fileTypeText = 'documento';\n            else if (file.name.endsWith('.xls') || file.name.endsWith('.xlsx')) fileTypeText = 'planilha';\n\n            addMessage(`[${fileTypeText} enviado: ${file.name}]`, 'sent');\n\n            const typingElement = addMessage('', 'received', true);\n\n            const formData = new FormData();\n            formData.append('file', file);\n            if (activeWorkflow) {\n                formData.append('workflow', activeWorkflow);\n            }\n            formData.append('type', 'file');\n            formData.append('fileType', fileType);\n\n            try {\n                const res = await axios.post(webhookUrl, formData, {\n                    headers: { 'Content-Type': 'multipart/form-data' },\n                    timeout: 15000\n                });\n                removeTypingIndicator(typingElement);\n                const reply = res.data?.reply || `${fileTypeText.charAt(0).toUpperCase() + fileTypeText.slice(1)} recebido`;\n                addMessage(reply, 'received');\n            } catch (err) {\n                console.error('Erro ao enviar arquivo:', err);\n                removeTypingIndicator(typingElement);\n                addMessage('Erro ao enviar arquivo', 'received');\n            }\n\n            this.value = '';\n        });\n\n        async function toggleRecording() {\n            const micButton = document.getElementById('micButton');\n\n            if (!isRecording) {\n                try {\n                    const stream = await navigator.mediaDevices.getUserMedia({ audio: true });\n                    audioChunks = [];\n                    mediaRecorder = new MediaRecorder(stream);\n\n                    mediaRecorder.ondataavailable = event => {\n                        audioChunks.push(event.data);\n                    };\n\n                    mediaRecorder.onstop = () => {\n                        const audioBlob = new Blob(audioChunks, { type: 'audio/webm' });\n                        sendAudioMessage(audioBlob);\n                        stream.getTracks().forEach(track => track.stop());\n                    };\n\n                    mediaRecorder.start();\n                    isRecording = true;\n                    micButton.style.backgroundColor = 'var(--danger-color)';\n                    micButton.innerHTML = '<i class=\"fas fa-stop\"></i>';\n                    micButton.classList.add('recording-pulse');\n\n                    if (!document.querySelector('style#recording-style')) {\n                        const style = document.createElement('style');\n                        style.id = 'recording-style';\n                        style.textContent = `\n                            @keyframes pulse {\n                                0% { transform: scale(1); }\n                                50% { transform: scale(1.1); }\n                                100% { transform: scale(1); }\n                            }\n                            .recording-pulse {\n                                animation: pulse 1.5s infinite;\n                            }\n                        `;\n                        document.head.appendChild(style);\n                    }\n                } catch (err) {\n                    console.error('Erro ao acessar microfone:', err);\n                    addMessage('Erro ao acessar microfone', 'received');\n                }\n            } else {\n                if (mediaRecorder && mediaRecorder.state !== 'inactive') {\n                    mediaRecorder.stop();\n                }\n                isRecording = false;\n                micButton.style.backgroundColor = '';\n                micButton.innerHTML = '<i class=\"fas fa-microphone\"></i>';\n                micButton.classList.remove('recording-pulse');\n            }\n        }\n\n        async function sendAudioMessage(audioBlob) {\n            if (!webhookUrl || !webhookUrl.includes('http')) {\n                addMessage('Erro: URL do webhook inválida', 'received');\n                return;\n            }\n\n            addMessage('[Áudio enviado]', 'sent');\n            const typingElement = addMessage('', 'received', true);\n\n            const formData = new FormData();\n            formData.append('file', audioBlob, 'audio.webm');\n            formData.append('type', 'audio');\n            if (activeWorkflow) {\n                formData.append('workflow', activeWorkflow);\n            }\n\n            try {\n                const res = await axios.post(webhookUrl, formData, {\n                    headers: { 'Content-Type': 'multipart/form-data' },\n                    timeout: 15000\n                });\n                removeTypingIndicator(typingElement);\n                const reply = res.data?.reply || 'Áudio recebido';\n                addMessage(reply, 'received');\n            } catch (err) {\n                console.error('Erro ao enviar áudio:', err);\n                removeTypingIndicator(typingElement);\n                addMessage('Erro ao enviar áudio', 'received');\n            }\n        }\n\n        function clearChat() {\n            const messages = document.getElementById('messages');\n            messages.style.opacity = '0';\n            messages.style.transition = 'opacity 0.3s ease';\n            setTimeout(() => {\n                messages.innerHTML = '';\n                messages.style.opacity = '1';\n                addMessage('Chat limpo', 'received');\n            }, 300);\n        }\n\n        async function testConnection() {\n            if (!webhookUrl || !webhookUrl.includes('http')) {\n                addMessage('Erro: URL do webhook inválida', 'received');\n                return;\n            }\n\n            const testBtn = document.querySelector('.settings-btn:last-child');\n            const originalText = testBtn.innerHTML;\n            testBtn.innerHTML = '<i class=\"fas fa-spinner fa-spin\"></i> Testando...';\n            testBtn.disabled = true;\n            testBtn.style.opacity = '0.7';\n\n            addMessage('<i class=\"fas fa-plug\"></i> Testando conexão com o n8n...', 'sent');\n            const typingElement = addMessage('', 'received', true);\n\n            try {\n                const res = await axios.post(webhookUrl, {\n                    type: 'test',\n                    message: 'Teste de conexão'\n                }, { timeout: 10000 });\n                removeTypingIndicator(typingElement);\n                addMessage('<i class=\"fas fa-check-circle\"></i> Conexão estabelecida com sucesso!', 'received');\n                testBtn.innerHTML = '<i class=\"fas fa-check\"></i> Teste bem-sucedido!';\n                testBtn.style.backgroundColor = 'var(--success-color)';\n                setTimeout(() => {\n                    testBtn.innerHTML = originalText;\n                    testBtn.disabled = false;\n                    testBtn.style.opacity = '1';\n                    testBtn.style.backgroundColor = 'var(--primary-color)';\n                }, 2000);\n            } catch (err) {\n                console.error('Erro ao testar conexão:', err);\n                removeTypingIndicator(typingElement);\n                addMessage('<i class=\"fas fa-exclamation-triangle\"></i> Erro ao conectar com o n8n. Verifique o servidor.', 'received');\n                testBtn.innerHTML = '<i class=\"fas fa-times\"></i> Teste falhou';\n                testBtn.style.backgroundColor = 'var(--danger-color)';\n                setTimeout(() => {\n                    testBtn.innerHTML = originalText;\n                    testBtn.disabled = false;\n                    testBtn.style.opacity = '1';\n                    testBtn.style.backgroundColor = 'var(--primary-color)';\n                }, 2000);\n            }\n        }\n    </script>\n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[380,100],"id":"1446d32d-8a9a-4a80-8bd9-eb5c46eef51c","name":"HTML"}],"connections":{"Receive Message":{"main":[[{"node":"HTML","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Send Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"23214832-e69d-495f-83ca-eae1025c8579","triggerCount":1,"tags":[]}