proj_html-4EEC32puyGt48l8T.json
{"createdAt":"2025-05-17T19:46:15.618Z","updatedAt":"2025-05-23T22:36:40.000Z","id":"4EEC32puyGt48l8T","name":"Proj_Html","active":true,"nodes":[{"parameters":{"path":"chat-rag2","responseMode":"responseNode","options":{}},"id":"8a885b31-01b7-4030-af55-a61288e1b870","name":"Receive Message","type":"n8n-nodes-base.webhook","position":[-220,-240],"typeVersion":2,"webhookId":"6037440b-99c0-47a9-8e88-9249db03b84b"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"id":"3e7b41f8-8d26-4449-ac45-46e9ce51a89c","name":"Send Response","type":"n8n-nodes-base.respondToWebhook","position":[220,-240],"typeVersion":1.1},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>N8N Agente - Chat Interface</title>\n    <script src=\"https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js\"></script>\n    <link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n    <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n    <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap\" rel=\"stylesheet\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css\">\n    <link rel=\"stylesheet\" href=\"whatsapp-pattern.css\">\n    <style>\n  :root {\n    --primary-color: #25D366;\n    --primary-dark: #128C7E;\n    --secondary-color: #34B7F1;\n    --secondary-dark: #0288D1;\n    --success-color: #25D366;\n    --danger-color: #FF3B30;\n    --text-dark: #111B21;\n    --text-medium: #54656F;\n    --text-light: #8696A0;\n    --bg-light: #F0F2F5;\n    --bg-white: #FFFFFF;\n    --border-color: #E9EDEF;\n    --shadow-sm: 0 1px 3px rgba(11, 20, 26, 0.08);\n    --shadow-md: 0 2px 5px rgba(11, 20, 26, 0.1);\n    --radius-sm: 6px;\n    --radius-md: 8px;\n    --radius-lg: 12px;\n    --transition: all 0.2s ease;\n    --chat-bg-pattern: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAABpElEQVRoge3ZPW/TUBSH8V+bNzUfARI7AwyoZYCBIQMSAwMSGzMSn4GJDVVi5wNUYmJiRV0YGCohwcCAhAQSAwMLEi1ScsjAhZDGTRxiO5Xi50rxla7vI/nK9ZHuUUQikUgkEolE9hFN7bQwhRZmsIj5HLUBNrCGVfRwkLO+h9exhLN4KkXIXxzgJ37gG77iMzZH1TGBGSxgHi/hJTyPEziWo/4Ib/AeP0fVMQnPYQVbOJRRu4VlnMIxHMUJnMYFXMZlnMvxfwsf8HZE7Qme0Z3Ywm1cxWzO+jGcxDO4gWu4h9UMv1+4gxs5/v/hKu7nqD2Gi7iIc5jFcTzAkxG+u7iHt3iEP0WCjIvLuI4rOJKj/hDv8Klo0/08yHncwgVMZtQe4zM+4mfRpvt5kEku4ZIUJIsd3JVGqxT2YpBxMYHXpTvXTI76HdyXZqsU9nOQcXEGb6QvQRYb0sOxNOrGRYNUxQJuS3etLH5Lt7XuOBtXHaQKpvAqXs7w2ZQeiMPxRqouSBVM40Xp6T+Dw9I7pC89CfvSfWwgTbVERERERETsD/4Cz/VjBjj0rOsAAAAASUVORK5CYII=');\n    --sent-message-bg: #D9FDD3;\n    --received-message-bg: #FFFFFF;\n    --header-bg: #008069;\n    --input-bg: #FFFFFF;\n  }\n\n  [data-theme=\"dark\"] {\n    --primary-color: #00A884;\n    --primary-dark: #008069;\n    --secondary-color: #53BDEB;\n    --secondary-dark: #0288D1;\n    --success-color: #00A884;\n    --danger-color: #F15C6D;\n    --text-dark: #E9EDEF;\n    --text-medium: #8696A0;\n    --text-light: #667781;\n    --bg-light: #111B21;\n    --bg-white: #222E35;\n    --border-color: #222D34;\n    --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.4);\n    --shadow-md: 0 2px 5px rgba(0, 0, 0, 0.5);\n    --chat-bg-pattern: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAABpElEQVRoge3ZPW/TUBSH8V+bNzUfARI7AwyoZYCBIQMSAwMSGzMSn4GJDVVi5wNUYmJiRV0YGCohwcCAhAQSAwMLEi1ScsjAhZDGTRxiO5Xi50rxla7vI/nK9ZHuUUQikUgkEolE9hFN7bQwhRZmsIj5HLUBNrCGVfRwkLO+h9exhLN4KkXIXxzgJ37gG77iMzZH1TGBGSxgHi/hJTyPEziWo/4Ib/AeP0fVMQnPYQVbOJRRu4VlnMIxHMUJnMYFXMZlnMvxfwsf8HZE7Qme0Z3Ywm1cxWzO+jGcxDO4gWu4h9UMv1+4gxs5/v/hKu7nqD2Gi7iIc5jFcTzAkxG+u7iHt3iEP0WCjIvLuI4rOJKj/hDv8Klo0/08yHncwgVMZtQe4zM+4mfRpvt5kEku4ZIUJIsd3JVGqxT2YpBxMYHXpTvXTI76HdyXZqsU9nOQcXEGb6QvQRYb0sOxNOrGRYNUxQJuS3etLH5Lt7XuOBtXHaQKpvAqXs7w2ZQeiMPxRqouSBVM40Xp6T+Dw9I7pC89CfvSfWwgTbVERERERETsD/4Cz/VjBjj0rOsAAAAASUVORK5CYII=');\n    --sent-message-bg: #005C4B;\n    --received-message-bg: #222E35;\n    --header-bg: #202C33;\n    --input-bg: #2A3942;\n  }\n\n  /* ...restante do CSS identado... */\n\n        :root {\n    --primary-color: #25D366;\n    --primary-dark: #128C7E;\n    --secondary-color: #34B7F1;\n    --secondary-dark: #0288D1;\n    --success-color: #25D366;\n    --danger-color: #FF3B30;\n    --text-dark: #111B21;\n    --text-medium: #54656F;\n    --text-light: #8696A0;\n    --bg-light: #F0F2F5;\n    --bg-white: #FFFFFF;\n    --border-color: #E9EDEF;\n    --shadow-sm: 0 1px 3px rgba(11, 20, 26, 0.08);\n    --shadow-md: 0 2px 5px rgba(11, 20, 26, 0.1);\n    --radius-sm: 6px;\n    --radius-md: 8px;\n    --radius-lg: 12px;\n    --transition: all 0.2s ease;\n    --chat-bg-pattern: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAABpElEQVRoge3ZPW/TUBSH8V+bNzUfARI7AwyoZYCBIQMSAwMSGzMSn4GJDVVi5wNUYmJiRV0YGCohwcCAhAQSAwMLEi1ScsjAhZDGTRxiO5Xi50rxla7vI/nK9ZHuUUQikUgkEolE9hFN7bQwhRZmsIj5HLUBNrCGVfRwkLO+h9exhLN4KkXIXxzgJ37gG77iMzZH1TGBGSxgHi/hJTyPEziWo/4Ib/AeP0fVMQnPYQVbOJRRu4VlnMIxHMUJnMYFXMZlnMvxfwsf8HZE7Qme0Z3Ywm1cxWzO+jGcxDO4gWu4h9UMv1+4gxs5/v/hKu7nqD2Gi7iIc5jFcTzAkxG+u7iHt3iEP0WCjIvLuI4rOJKj/hDv8Klo0/08yHncwgVMZtQe4zM+4mfRpvt5kEku4ZIUJIsd3JVGqxT2YpBxMYHXpTvXTI76HdyXZqsU9nOQcXEGb6QvQRYb0sOxNOrGRYNUxQJuS3etLH5Lt7XuOBtXHaQKpvAqXs7w2ZQeiMPxRqouSBVM40Xp6T+Dw9I7pC89CfvSfWwgTbVERERERETsD/4Cz/VjBjj0rOsAAAAASUVORK5CYII=');\n    --sent-message-bg: #D9FDD3;\n    --received-message-bg: #FFFFFF;\n    --header-bg: #008069;\n    --input-bg: #FFFFFF;\n}\n\n[data-theme=\"dark\"] {\n    --primary-color: #00A884;\n    --primary-dark: #008069;\n    --secondary-color: #53BDEB;\n    --secondary-dark: #0288D1;\n    --success-color: #00A884;\n    --danger-color: #F15C6D;\n    --text-dark: #E9EDEF;\n    --text-medium: #8696A0;\n    --text-light: #667781;\n    --bg-light: #111B21;\n    --bg-white: #222E35;\n    --border-color: #222D34;\n    --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.4);\n    --shadow-md: 0 2px 5px rgba(0, 0, 0, 0.5);\n    --chat-bg-pattern: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAABpElEQVRoge3ZPW/TUBSH8V+bNzUfARI7AwyoZYCBIQMSAwMSGzMSn4GJDVVi5wNUYmJiRV0YGCohwcCAhAQSAwMLEi1ScsjAhZDGTRxiO5Xi50rxla7vI/nK9ZHuUUQikUgkEolE9hFN7bQwhRZmsIj5HLUBNrCGVfRwkLO+h9exhLN4KkXIXxzgJ37gG77iMzZH1TGBGSxgHi/hJTyPEziWo/4Ib/AeP0fVMQnPYQVbOJRRu4VlnMIxHMUJnMYFXMZlnMvxfwsf8HZE7Qme0Z3Ywm1cxWzO+jGcxDO4gWu4h9UMv1+4gxs5/v/hKu7nqD2Gi7iIc5jFcTzAkxG+u7iHt3iEP0WCjIvLuI4rOJKj/hDv8Klo0/08yHncwgVMZtQe4zM+4mfRpvt5kEku4ZIUJIsd3JVGqxT2YpBxMYHXpTvXTI76HdyXZqsU9nOQcXEGb6QvQRYb0sOxNOrGRYNUxQJuS3etLH5Lt7XuOBtXHaQKpvAqXs7w2ZQeiMPxRqouSBVM40Xp6T+Dw9I7pC89CfvSfWwgTbVERERERETsD/4Cz/VjBjj0rOsAAAAASUVORK5CYII=');\n    --sent-message-bg: #005C4B;\n    --received-message-bg: #222E35;\n    --header-bg: #202C33;\n    --input-bg: #2A3942;\n}\n\n* {\n    box-sizing: border-box;\n    margin: 0;\n    padding: 0;\n    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;\n}\n\nbody {\n    background-color: var(--bg-light); /* Cor de fundo principal da página, definida nas variáveis globais */\n    min-height: 50vh; /* Garante que o body ocupe pelo menos toda a altura da janela */\n    display: flex; /* Ativa o layout flexbox para os filhos do body */\n    flex-direction: column; /* Organiza os filhos do body em coluna (vertical) */\n    color: var(--text-dark); /* Cor padrão do texto, definida nas variáveis globais */\n    line-height: 1.5; /* Altura da linha para melhor legibilidade do texto */\n    overflow: hidden; /* Esconde conteúdo que ultrapassar o body (horizontalmente) */\n    overflow-y: auto; /* Permite rolagem vertical se o conteúdo for maior que a tela */\n}\n\n.container {\n    width: clamp(300px, calc(100% - 30px), 1400px); /* Garante que a largura fique entre 300px e 1400px, adaptando ao tamanho da tela, mas nunca menor/maior que isso */\n    height: calc(100vh - 30px); /* Ocupa quase toda a altura da tela, descontando margens externas */\n    margin: 15px auto; /* Centraliza horizontalmente e adiciona espaçamento externo de 15px em cima/baixo */\n    margin-bottom: 100px; /* Controle manual da margem inferior para testar o efeito no layout */\n    padding: 0; /* Remove espaçamento interno */\n    flex: none; /* Permite que o container cresça para ocupar o espaço disponível no flexbox do body */\n    display: flex; /* Ativa o layout flexbox para os filhos diretos (header, chat, etc) */\n    flex-direction: column; /* Organiza os filhos em coluna (vertical) */\n    overflow: hidden; /* Esconde qualquer conteúdo que ultrapasse o container */\n    border-radius: var(--radius-lg); /* Cantos arredondados, valor definido nas variáveis globais */\n    box-shadow: var(--shadow-md); /* Sombra ao redor do container, valor definido nas variáveis globais */\n}\n\nheader {\n    background-color: var(--header-bg);\n    border-top-left-radius: 20px;\n    border-top-right-radius: 20px;\n    color: white;\n    padding: 10px 16px;\n    display: flex;\n    align-items: center;\n    height: 59px;\n    box-shadow: var(--shadow-sm);\n    position: relative;\n    z-index: 10;\n}\n\n.header-avatar {\n    width: 40px;\n    height: 40px;\n    border-radius: 50%;\n    background-color: var(--primary-color);\n    margin-right: 15px;\n    display: flex;\n    align-items: center;\n    justify-content: center;\n    color: white;\n    font-size: 20px;\n    flex-shrink: 0;\n}\n\n.header-info {\n    flex: 1;\n    white-space: nowrap;\n    overflow: hidden;\n    text-overflow: ellipsis;\n}\n\nheader h1 {\n    font-weight: 500;\n    font-size: 16px;\n    margin: 0;\n    padding: 0;\n    white-space: nowrap;\n    overflow: hidden;\n    text-overflow: ellipsis;\n}\n\nheader p {\n    font-weight: 400;\n    font-size: 13px;\n    margin: 0;\n    padding: 0;\n    color: rgba(255, 255, 255, 0.8);\n    white-space: nowrap;\n    overflow: hidden;\n    text-overflow: ellipsis;\n}\n\n.chat-container {\n    display: flex;\n    flex: 1;\n    height: calc(100vh - 110px);\n    position: relative;\n}\n\n.chat-box {\n    flex: 1;\n    background-color: var(--bg-white);\n    display: flex;\n    flex-direction: column;\n    overflow: hidden;\n    border-right: 1px solid var(--border-color);\n    position: relative;\n} \n\n.settings-panel {\n    width: 270px;\n    min-width: 120px;\n    font-size: 13px;\n    background-color: var(--bg-white);\n    padding: 20px;\n    border-left: 1px solid var(--border-color);\n    display: flex;\n    flex-direction: column;\n    overflow-y: auto;\n    transition: transform 0.3s ease;\n}\n\n.messages {\n    flex: 1; /* Ocupa todo o espaço disponível no container pai (flexbox) */\n    padding: 20px 20px 5px 20px; /* Espaçamento interno em todos os lados */\n    overflow-y: auto; /* Adiciona rolagem vertical caso o conteúdo ultrapasse a altura */\n    background-color: var(--bg-light); /* Cor de fundo, definida nas variáveis globais */\n    background-image: var(--chat-bg-pattern); /* Imagem de fundo (padrão), definida nas variáveis globais */\n    background-repeat: repeat; /* Repete o padrão da imagem de fundo */\n    background-size: 200px; /* Define o tamanho do padrão de fundo */\n    display: flex; /* Ativa o layout flexbox para as mensagens-filhas */\n    flex-direction: column; /* Organiza as mensagens em coluna (vertical) */\n    scroll-behavior: smooth; /* Suaviza a rolagem automática (ex: ao enviar nova mensagem) */\n}\n\n.input-area {\n    display: flex;\n    padding: 10px 16px;\n    background-color: var(--bg-light);\n    align-items: center;\n    height: 62px;\n    flex-shrink: 0;\n}\n\n.message {\n    max-width: 75%; /* Limita a largura máxima da mensagem a 75% do container, evitando que fique muito larga */\n    padding: 8px 12px; /* Espaçamento interno (vertical e horizontal) para conforto visual */\n    margin-bottom: 2px; /* Espaço entre mensagens consecutivas */\n    border-radius: 8px; /* Cantos arredondados para visual moderno */\n    position: relative; /* Permite posicionar elementos filhos de forma absoluta dentro da mensagem */\n    word-wrap: break-word; /* Quebra palavras longas para não estourar o layout */\n    font-size: 14.2px; /* Tamanho da fonte das mensagens */\n    line-height: 19px; /* Altura da linha para melhor leitura do texto */\n    box-shadow: var(--shadow-sm); /* Sombra leve ao redor da mensagem, definida nas variáveis globais */\n    animation: fadeIn 0.3s ease; /* Animação suave ao exibir uma nova mensagem */\n}\n\n@keyframes fadeIn {\n    from { opacity: 0; transform: translateY(10px); }\n    to { opacity: 1; transform: translateY(0); }\n}\n\n.message-group {\n    display: flex;\n    flex-direction: column;\n    margin-bottom: 12px;\n    position: relative;\n}\n\n.sent {\n    background-color: var(--sent-message-bg);\n    color: var(--text-dark);\n    align-self: flex-end;\n    margin-left: auto;\n    border-top-right-radius: 0;\n}\n\n.received {\n    background-color: var(--received-message-bg);\n    align-self: flex-start;\n    margin-right: auto;\n    border-top-left-radius: 0;\n    color: var(--text-dark);\n}\n\n.message-time {\n    font-size: 11px;\n    color: var(--text-light);\n    margin-left: 6px;\n    float: right;\n    margin-top: 2px;\n}\n\n#textInput {\n    flex: 1; /* Permite que o input cresça para ocupar o espaço disponível na área de digitação */\n    padding: 14px 16px; /* Espaço interno maior para conforto ao digitar */\n    border: none; /* Remove a borda padrão do input */\n    border-radius: 8px; /* Cantos arredondados para visual moderno */\n    font-size: clamp(14px, 4vw, 15px); /* Tamanho de fonte responsivo: mínimo 14px, máximo 15px, adaptando ao viewport */\n    background-color: var(--input-bg); /* Cor de fundo definida nas variáveis globais (claro ou escuro) */\n    transition: var(--transition); /* Suaviza mudanças de cor/borda ao interagir */\n    margin: 0 8px; /* Espaço lateral entre o input e os botões */\n    height: 54px; /* Altura maior para facilitar a digitação */\n    color: var(--text-dark); /* Cor do texto definida nas variáveis globais */\n}\n\n#textInput:focus {\n    outline: none;\n    box-shadow: 0 0 0 2px var(--primary-color);\n}\n\n.btn {\n    background-color: var(--primary-color);\n    color: white;\n    border: none;\n    width: 40px;\n    height: 40px;\n    border-radius: 50%;\n    cursor: pointer;\n    display: flex;\n    justify-content: center;\n    align-items: center;\n    font-size: 18px;\n    transition: var(--transition);\n    flex-shrink: 0;\n}\n\n.btn:hover {\n    background-color: var(--primary-dark);\n    transform: scale(1.05);\n}\n\n.btn-icon {\n    color: var(--primary-color);\n    background: transparent;\n    border: none;\n    width: 40px;\n    height: 40px;\n    border-radius: 50%;\n    cursor: pointer;\n    display: flex;\n    justify-content: center;\n    align-items: center;\n    font-size: 20px;\n    transition: var(--transition);\n    flex-shrink: 0;\n}\n\n.btn-icon:hover {\n    background-color: rgba(0,0,0,0.05);\n    transform: scale(1.05);\n}\n\n.attachment-btn {\n    color: var(--text-medium);\n    background: transparent;\n    border: none;\n    width: 40px;\n    height: 40px;\n    border-radius: 50%;\n    cursor: pointer;\n    display: flex;\n    justify-content: center;\n    align-items: center;\n    font-size: 20px;\n    position: relative;\n    overflow: hidden;\n    transition: var(--transition);\n    flex-shrink: 0;\n}\n\n.attachment-btn:hover {\n    background-color: rgba(0,0,0,0.05);\n    transform: scale(1.05);\n}\n\n.attachment-btn input {\n    position: absolute;\n    top: 0;\n    left: 0;\n    width: 100%;\n    height: 100%;\n    opacity: 0;\n    cursor: pointer;\n}\n\n.form-group {\n    margin-bottom: 20px;\n}\n\n.settings-header {\n    margin-bottom: 20px;\n}\n\n.settings-title {\n    color: var(--primary-color);\n    font-size: 1.1rem;\n    font-weight: 600;\n    margin-bottom: 5px;\n}\n\n.settings-section {\n    padding: 15px 0;\n    border-bottom: 1px solid var(--border-color);\n}\n\n.settings-section:last-child {\n    border-bottom: none;\n}\n\n.settings-subtitle {\n    color: var(--text-medium);\n    font-size: 1rem;\n    font-weight: 600;\n    margin-bottom: 16px;\n}\n\n.settings-actions {\n    display: flex;\n    flex-direction: column;\n    gap: 12px;\n}\n\n.whatsapp-info {\n    padding: 20px 0;\n    text-align: center;\n    color: var(--text-medium);\n}\n\n.whatsapp-logo {\n    font-size: 40px;\n    color: var(--primary-color);\n    margin-bottom: 10px;\n}\n\n.whatsapp-info p {\n    margin-bottom: 5px;\n    font-weight: 500;\n}\n\n.whatsapp-info small {\n    color: var(--text-light);\n}\n\nlabel {\n    display: block;\n    margin-bottom: 8px;\n    font-weight: 500;\n    color: var(--text-medium);\n    font-size: 0.9rem;\n}\n\ninput[type=\"text\"], select {\n    width: 100%;\n    padding: 12px 16px;\n    border: 1px solid var(--border-color);\n    border-radius: var(--radius-sm);\n    font-size: 14px;\n    background-color: var(--bg-light);\n    color: var(--text-dark);\n    transition: var(--transition);\n}\n\ninput[type=\"text\"]:focus, select:focus {\n    outline: none;\n    border-color: var(--secondary-color);\n    box-shadow: 0 0 0 3px rgba(46, 91, 255, 0.15);\n}\n\nbutton.settings-btn {\n    background-color: var(--primary-color);\n    color: white;\n    border: none;\n    padding: 10px 14px;\n    border-radius: var(--radius-sm);\n    cursor: pointer;\n    font-size: 14px;\n    font-weight: 500;\n    width: 100%;\n    transition: var(--transition);\n    display: flex;\n    align-items: center;\n    justify-content: center;\n    gap: 8px;\n}\n\nbutton.settings-btn:hover {\n    background-color: var(--primary-dark);\n    transform: translateY(-2px);\n    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);\n}\n\n.status {\n    margin-top: 12px;\n    padding: 8px;\n    border-radius: var(--radius-sm);\n    background-color: var(--bg-light);\n    font-size: 13px;\n    text-align: center;\n    transition: var(--transition);\n}\n\n.status-configured {\n    background-color: rgba(0, 200, 83, 0.1);\n    color: var(--success-color);\n}\n\n.status-error {\n    background-color: rgba(255, 59, 48, 0.1);\n    color: var(--danger-color);\n}\n\n.theme-toggle {\n    background: transparent;\n    border: none;\n    color: rgba(255, 255, 255, 0.8);\n    font-size: 20px;\n    cursor: pointer;\n    z-index: 10;\n    width: 40px;\n    height: 40px;\n    display: flex;\n    align-items: center;\n    justify-content: center;\n    border-radius: 50%;\n    transition: var(--transition);\n    margin-left: 10px;\n    flex-shrink: 0;\n}\n\n.theme-toggle:hover {\n    background-color: rgba(255, 255, 255, 0.1);\n    color: white;\n    transform: rotate(15deg);\n}\n\n.settings-toggle {\n    display: none;\n    color: white;\n    background: transparent;\n    border: none;\n    font-size: 20px;\n    cursor: pointer;\n    margin-left: 10px;\n    width: 40px;\n    height: 40px;\n    border-radius: 50%;\n    display: flex;\n    align-items: center;\n    justify-content: center;\n    transition: var(--transition);\n    flex-shrink: 0;\n}\n\n.settings-toggle:hover {\n    background-color: rgba(255, 255, 255, 0.1);\n}\n\n/* Estilos específicos para tablet */\n@media (max-width: 992px) {\n    .container {\n        width: calc(100% - 20px);\n        height: calc(100vh - 20px);\n        margin: 10px;\n    }\n    \n    .settings-panel {\n        width: 240px;\n    }\n    \n    .message {\n        max-width: 80%;\n    }\n}\n\n/* Estilos para dispositivos móveis */\n@media (max-width: 768px) {\n    .container {\n        width: 100%; /* Ocupa toda a largura da tela em dispositivos móveis */\n        height: 50vh; /* Ocupa metade da altura da tela (viewport) em dispositivos móveis */\n        margin: 0; /* Remove margens externas para aproveitar todo o espaço */\n        border-radius: 0; /* Remove cantos arredondados para visual mais simples em telas pequenas */\n    }\n    \n    header {\n        border-radius: 0; /* Remove cantos arredondados do header para visual mais simples em telas pequenas */\n        padding: 8px 12px; /* Reduz o espaçamento interno do header para economizar espaço */\n    }\n    \n    .chat-container {\n        flex-direction: column; /* Organiza os elementos do chat em coluna (vertical) no mobile */\n        height: calc(100vh - 59px - 62px); /* Define a altura do chat para ocupar o espaço entre o header e o input-area, considerando suas alturas fixas */\n    }\n\n    .settings-panel {\n        display: none;\n        position: fixed;\n        top: 59px;\n        right: 0;\n        bottom: 0;\n        width: 100%;\n        height: calc(100vh - 59px);\n        max-width: 320px;\n        z-index: 1000;\n        box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);\n        animation: slideIn 0.3s ease;\n        transform: translateX(100%);\n    }\n    \n    @keyframes slideIn {\n        from { transform: translateX(100%); }\n        to { transform: translateX(0); }\n    }\n\n    .settings-panel.active {\n        display: block;\n        transform: translateX(0);\n    }\n\n    .settings-toggle {\n        display: flex;\n    }\n\n    .header-info p {\n        display: none;\n    }\n\n    .input-area {\n        padding: 8px;\n    }\n    \n    .messages {\n        padding: 15px 10px;\n    }\n    \n    .message {\n        max-width: 85%;\n        font-size: 14px;\n    }\n\n    /* Adicionando backdrop quando o painel de configurações está aberto */\n    .settings-backdrop {\n        display: none;\n        position: fixed;\n        top: 0;\n        left: 0;\n        right: 0;\n        bottom: 0;\n        background: rgba(0, 0, 0, 0.5);\n        z-index: 999;\n    }\n    \n    .settings-backdrop.active {\n        display: block;\n    }\n}\n\n/* Estilos para dispositivos muito pequenos */\n@media (max-width: 480px) {\n    .header-avatar {\n        width: 35px;\n        height: 35px;\n        margin-right: 10px;\n        font-size: 16px;\n    }\n\n    header h1 {\n        font-size: 14px;\n    }\n\n    .message {\n        max-width: 90%;\n        font-size: 13.5px;\n        line-height: 18px;\n    }\n\n    #textInput {\n        margin: 0 5px;\n        height: 40px;\n        font-size: 14px;\n    }\n\n    .btn, .btn-icon, .attachment-btn {\n        width: 36px;\n        height: 36px;\n        font-size: 16px;\n    }\n    \n    .input-area {\n        height: 56px;\n        padding: 8px;\n    }\n    \n    .btn-icon:first-child {\n        display: none;\n    }\n    \n    /* Ajustando o tamanho do painel de configurações para telas pequenas */\n    .settings-panel {\n        padding: 15px;\n        max-width: 280px;\n    }\n}\n\n/* Para dispositivos extremamente pequenos */\n@media (max-width: 320px) {\n    header h1 {\n        font-size: 13px; /* Reduz o tamanho do título para caber em telas muito pequenas */\n    }\n    \n    .header-avatar {\n        width: 32px; /* Avatar menor para economizar espaço */\n        height: 32px; /* Avatar menor para economizar espaço */\n        font-size: 14px; /* Ícone ou texto menor dentro do avatar */\n        margin-right: 8px; /* Espaçamento lateral reduzido */\n    }\n    \n    .message {\n        max-width: 95%; /* Limita ainda mais a largura das mensagens para evitar que ocupem toda a tela */\n        font-size: 13px; /* Fonte menor para caber mais texto na tela */\n        padding: 7px 10px 5px 10px; /* Espaçamento interno reduzido para mensagens */\n    }\n    \n    #textInput {\n        font-size: 13px; /* Fonte menor no campo de digitação para telas pequenas */\n        padding: 8px 10px; /* Espaçamento interno reduzido no input */\n    }\n}\n\n/* Scrollbar personalizada */\n::-webkit-scrollbar {\n    width: 6px;\n    height: 6px;\n}\n\n::-webkit-scrollbar-track {\n    background: transparent;\n}\n\n::-webkit-scrollbar-thumb {\n    background: rgba(0, 0, 0, 0.2);\n    border-radius: 10px;\n}\n\n[data-theme=\"dark\"] ::-webkit-scrollbar-thumb {\n    background: rgba(255, 255, 255, 0.1);\n}\n\n/* Animação de digitação */\n.typing {\n    padding: 8px 12px;\n    border-radius: 10px;\n    background-color: var(--received-message-bg);\n    color: var(--text-medium);\n    font-size: 13px;\n    display: inline-flex;\n    align-items: center;\n    margin-bottom: 10px;\n    align-self: flex-start;\n    box-shadow: var(--shadow-sm);\n}\n\n.typing .dots {\n    display: flex;\n    margin-left: 5px;\n}\n\n.typing .dot {\n    width: 8px;\n    height: 8px;\n    background-color: var(--text-light);\n    border-radius: 50%;\n    margin-right: 3px;\n    animation: typing-dot 1.4s infinite;\n}\n\n.typing .dot:nth-child(2) {\n    animation-delay: 0.2s;\n}\n\n.typing .dot:nth-child(3) {\n    animation-delay: 0.4s;\n}\n\n@keyframes typing-dot {\n    0%, 60%, 100% {\n        transform: translateY(0);\n    }\n    30% {\n        transform: translateY(-5px);\n    }\n}\n\n/* Estilos específicos para o footer */\n.footer {\n    text-align: center;\n    padding: 10px;\n    font-size: 12px;\n    color: var(--text-medium);\n    background-color: var(--bg-light);\n    position: relative;\n}\n\n/* Estilos adicionais para melhorar a acessibilidade */\nbutton:focus, input:focus, select:focus {\n    outline: 2px solid var(--primary-color);\n    outline-offset: 2px;\n}\n\n/* Adicionando suporte para telas de alto contraste */\n@media (forced-colors: active) {\n    .btn, button.settings-btn {\n        border: 1px solid ButtonText;\n    }\n    \n    .message {\n        border: 1px solid;\n    }\n}\n\n/* Suporte para preferência de usuário para menos animações */\n@media (prefers-reduced-motion: reduce) {\n    * {\n        animation-duration: 0.01ms !important;\n        animation-iteration-count: 1 !important;\n        transition-duration: 0.01ms !important;\n        scroll-behavior: auto !important;\n    }\n}\n\n/* Melhorias para leitores de tela */\n.sr-only {\n    position: absolute;\n    width: 1px;\n    height: 1px;\n    padding: 0;\n    margin: -1px;\n    overflow: hidden;\n    clip: rect(0, 0, 0, 0);\n    white-space: nowrap;\n    border-width: 0;\n}\n\n/* Melhoria para o modo de gravação */\n@keyframes pulse {\n    0% { transform: scale(1); box-shadow: 0 0 0 0 rgba(255, 59, 48, 0.7); }\n    70% { transform: scale(1.05); box-shadow: 0 0 0 10px rgba(255, 59, 48, 0); }\n    100% { transform: scale(1); box-shadow: 0 0 0 0 rgba(255, 59, 48, 0); }\n}\n\n.recording-pulse {\n    animation: pulse 1.5s infinite;\n}\n  </style>\n</head>\n<body>\n    <div class=\"container\">\n        <header>\n            <div class=\"header-avatar\">\n                <i class=\"fas fa-robot\"></i>\n            </div>\n            <div class=\"header-info\">\n                <h1>N8N Agente</h1>\n                <p>Online</p>\n            </div>\n            <button id=\"settingsToggle\" class=\"btn-icon settings-toggle\" aria-label=\"Configurações\">\n                <i class=\"fas fa-cog\"></i>\n            </button>\n            <button id=\"themeToggle\" class=\"btn-icon theme-toggle\" aria-label=\"Alternar tema\">\n                <i class=\"fas fa-moon\"></i>\n            </button>\n        </header>\n\n        <div class=\"chat-container\">\n            <div class=\"chat-box\">\n                <div id=\"messages\" class=\"messages\"></div>\n                <div class=\"input-area\">\n                    <button class=\"btn-icon\">\n                        <i class=\"far fa-smile\"></i>\n                    </button>\n                    <div class=\"attachment-btn\">\n                        <i class=\"fas fa-paperclip\"></i>\n                        <input type=\"file\" id=\"fileInput\" accept=\"image/*,audio/*,video/*,.pdf,.doc,.docx,.xls,.xlsx\">\n                    </div>\n                    <input type=\"text\" id=\"textInput\" placeholder=\"Digite uma mensagem\" onkeypress=\"if(event.key === 'Enter') sendMessage()\">\n                    <button id=\"micButton\" class=\"btn-icon mic-btn\" onclick=\"toggleRecording()\">\n                        <i class=\"fas fa-microphone\"></i>\n                    </button>\n                    <button class=\"btn send-btn\" onclick=\"sendMessage()\">\n                        <i class=\"fas fa-paper-plane\"></i>\n                    </button>\n                </div>\n            </div>\n\n            <div class=\"settings-panel\">\n                <div class=\"settings-header\">\n                    <h3 class=\"settings-title\">Configurações</h3>\n                </div>\n\n                <div class=\"settings-section\">\n                    <div class=\"form-group\">\n                        <label for=\"workflow-select\">Workflow Ativo</label>\n                        <select id=\"workflow-select\">\n                            <option value=\"\">Selecione um workflow...</option>\n                            <option value=\"atendimento\">Atendimento ao Cliente</option>\n                            <option value=\"vendas\">Vendas</option>\n                            <option value=\"suporte\">Suporte Técnico</option>\n                        </select>\n                    </div>\n                    <button class=\"settings-btn\" onclick=\"saveSettings()\">\n                        <i class=\"fas fa-save\"></i> Salvar Configurações\n                    </button>\n                    <div class=\"status\" id=\"settings-status\">Não configurado</div>\n                </div>\n\n                <div class=\"settings-section\">\n                    <h3 class=\"settings-subtitle\">Ações Rápidas</h3>\n                    <div class=\"settings-actions\">\n                        <button class=\"settings-btn\" style=\"margin-bottom: 12px;\" onclick=\"clearChat()\">\n                            <i class=\"fas fa-trash-alt\"></i> Limpar Conversa\n                        </button>\n                        <button class=\"settings-btn\" onclick=\"testConnection()\">\n                            <i class=\"fas fa-plug\"></i> Testar Conexão\n                        </button>\n                    </div>\n                </div>\n\n                <div class=\"settings-section\">\n                    <div class=\"whatsapp-info\">\n                        <div class=\"whatsapp-logo\">\n                            <i class=\"fab fa-whatsapp\"></i>\n                        </div>\n                        <p>N8N Agente - WhatsApp Style</p>\n                        <small>Conecte-se com seus workflows do n8n</small>\n                    </div>\n                </div>\n            </div>\n        </div>\n    </div>\n\n    <script>\n        // Altere para true para testar no modo Listening do n8nhttps://webhook.dev.radtec.site/webhook-test/chatAi\n      \n        let webhookUrl ='https://webhook.dev.radtec.site/webhook/chatAi';\n        let activeWorkflow = localStorage.getItem('n8n_active_workflow') || '';\n        let isRecording = false;\n        let mediaRecorder;\n        let audioChunks = [];\n        let currentTheme = localStorage.getItem('theme') || 'light';\n\n        document.addEventListener('DOMContentLoaded', function() {\n            applyTheme(currentTheme);\n            setTimeout(() => {\n                addMessage('Bem-vindo de volta! Como posso ajudar hoje?', 'received');\n            }, 500);\n            if (activeWorkflow) {\n                document.getElementById('workflow-select').value = activeWorkflow;\n            }\n            var themeBtn = document.getElementById('themeToggle');\n            if(themeBtn) themeBtn.addEventListener('click', toggleTheme);\n            const settingsToggle = document.getElementById('settingsToggle');\n            const settingsPanel = document.querySelector('.settings-panel');\n            if (settingsToggle && settingsPanel) {\n                settingsToggle.addEventListener('click', function() {\n                    settingsPanel.classList.toggle('active');\n                });\n                document.addEventListener('click', function(e) {\n                    if (settingsPanel.classList.contains('active') && \n                        !settingsPanel.contains(e.target) && \n                        e.target !== settingsToggle && \n                        !settingsToggle.contains(e.target)) {\n                        settingsPanel.classList.remove('active');\n                    }\n                });\n            }\n        });\n\n        function applyTheme(theme) {\n            if (theme === 'dark') {\n                document.documentElement.setAttribute('data-theme', 'dark');\n                document.getElementById('themeToggle').innerHTML = '<i class=\"fas fa-sun\"></i>';\n            } else {\n                document.documentElement.removeAttribute('data-theme');\n                document.getElementById('themeToggle').innerHTML = '<i class=\"fas fa-moon\"></i>';\n            }\n        }\n\n        function toggleTheme() {\n            currentTheme = currentTheme === 'light' ? 'dark' : 'light';\n            localStorage.setItem('theme', currentTheme);\n            applyTheme(currentTheme);\n            document.body.style.transition = 'background-color 0.3s ease';\n            document.querySelectorAll('.chat-box, .settings-panel, .input-area, input, select, button')\n                .forEach(el => el.style.transition = 'background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease');\n            const themeMessage = currentTheme === 'dark' ? \n                'Tema escuro ativado! 🌙' : \n                'Tema claro ativado! ☀️';\n            addMessage(themeMessage, 'received');\n        }\n\n        function saveSettings() {\n            const newWorkflow = document.getElementById('workflow-select').value;\n            const statusEl = document.getElementById('settings-status');\n\n            activeWorkflow = newWorkflow;\n            localStorage.setItem('n8n_active_workflow', activeWorkflow);\n\n            statusEl.textContent = 'Configurações salvas!';\n            statusEl.classList.remove('status-error');\n            statusEl.classList.add('status-configured');\n\n            const saveBtn = document.querySelector('.settings-btn');\n            const originalText = saveBtn.innerHTML;\n            saveBtn.innerHTML = '<i class=\"fas fa-check\"></i> Salvo com sucesso!';\n\n            setTimeout(() => {\n                saveBtn.innerHTML = originalText;\n            }, 2000);\n\n            if (!document.querySelector('.message')) {\n                addMessage('Configurações salvas! Agora você pode enviar mensagens.', 'received');\n            }\n        }\n\n        function addMessage(text, type, isTyping = false) {\n            let messageGroup;\n            const lastGroup = document.querySelector('.message-group:last-child');\n            const lastGroupType = lastGroup ? lastGroup.getAttribute('data-type') : null;\n\n            if (lastGroupType === type && lastGroup && !isTyping) {\n                messageGroup = lastGroup;\n            } else {\n                messageGroup = document.createElement('div');\n                messageGroup.className = 'message-group';\n                messageGroup.setAttribute('data-type', type);\n                document.getElementById('messages').appendChild(messageGroup);\n            }\n\n            const msgDiv = document.createElement('div');\n            msgDiv.className = `message ${type} ${isTyping ? 'typing' : ''}`;\n\n            if (isTyping) {\n                msgDiv.innerHTML = 'Digitando <span class=\"dots\"><span class=\"dot\"></span><span class=\"dot\"></span><span class=\"dot\"></span></span>';\n            } else {\n                const now = new Date();\n                const hours = now.getHours().toString().padStart(2, '0');\n                const minutes = now.getMinutes().toString().padStart(2, '0');\n                const timeStr = `${hours}:${minutes}`;\n                if (text.includes('<i class=') || text.includes('<b>')) {\n                    msgDiv.innerHTML = text + `<span class=\"message-time\">${timeStr}</span>`;\n                } else {\n                    msgDiv.innerText = text;\n                    const timeSpan = document.createElement('span');\n                    timeSpan.className = 'message-time';\n                    timeSpan.innerText = timeStr;\n                    msgDiv.appendChild(timeSpan);\n                }\n            }\n\n            messageGroup.appendChild(msgDiv);\n            document.getElementById('messages').scrollTop = document.getElementById('messages').scrollHeight;\n            return msgDiv;\n        }\n\n        function removeTypingIndicator(typingElement) {\n            if (typingElement) {\n                typingElement.parentElement.remove();\n            }\n        }\n\n    async function sendMessage() {\n            const text = document.getElementById('textInput').value.trim();\n            if (!text) return;\n\n            if (!webhookUrl || !webhookUrl.includes('http')) {\n                addMessage('Erro: URL do webhook inválida', 'received');\n                return;\n            }\n\n            addMessage(text, 'sent');\n            document.getElementById('textInput').value = '';\n\n            const typingElement = addMessage('', 'received', true);\n\n            const payload = { \n                message: text,\n                type: 'text'\n            };\n\n            if (activeWorkflow) {\n                payload.workflow = activeWorkflow;\n            }\n\n            console.log('Enviando requisição para:', webhookUrl);\n            console.log('Payload:', payload);\n\n            try {\n                const res = await axios.post(webhookUrl, payload, {\n                    timeout: 50000 // Timeout de 10 segundos\n                });\n                console.log('Resposta recebida:', res.data);\n                removeTypingIndicator(typingElement);\n\n                let reply = res.data?.reply || res.data?.resposta || res.data?.message;\n                if (Array.isArray(reply)) {\n                    reply.forEach(msg => addMessage(msg, 'received'));\n                } else if (reply) {\n                    addMessage(reply, 'received');\n                } else {\n                    addMessage('Mensagem recebida, mas nenhuma resposta específica retornada', 'received');\n                }\n            } catch (err) {\n                console.error('Erro ao enviar mensagem:', err);\n                removeTypingIndicator(typingElement);\n                addMessage(`Erro ao enviar mensagem: ${err.message}`, 'received');\n            }\n        }\n\n        document.getElementById('fileInput').addEventListener('change', async function() {\n            if (!this.files || !this.files[0]) return;\n\n            if (!webhookUrl || !webhookUrl.includes('http')) {\n                addMessage('Erro: URL do webhook inválida', 'received');\n                return;\n            }\n\n            const file = this.files[0];\n            const fileType = file.type.split('/')[0];\n            let fileTypeText = 'arquivo';\n            if (fileType === 'image') fileTypeText = 'imagem';\n            else if (fileType === 'audio') fileTypeText = 'áudio';\n            else if (fileType === 'video') fileTypeText = 'vídeo';\n            else if (file.name.endsWith('.pdf')) fileTypeText = 'PDF';\n            else if (file.name.endsWith('.doc') || file.name.endsWith('.docx')) fileTypeText = 'documento';\n            else if (file.name.endsWith('.xls') || file.name.endsWith('.xlsx')) fileTypeText = 'planilha';\n\n            addMessage(`[${fileTypeText} enviado: ${file.name}]`, 'sent');\n\n            const typingElement = addMessage('', 'received', true);\n\n            const formData = new FormData();\n            formData.append('file', file);\n            if (activeWorkflow) {\n                formData.append('workflow', activeWorkflow);\n            }\n            formData.append('type', 'file');\n            formData.append('fileType', fileType);\n\n            try {\n                const res = await axios.post(webhookUrl, formData, {\n                    headers: { 'Content-Type': 'multipart/form-data' },\n                    timeout: 15000\n                });\n                removeTypingIndicator(typingElement);\n                const reply = res.data?.reply || `${fileTypeText.charAt(0).toUpperCase() + fileTypeText.slice(1)} recebido`;\n                addMessage(reply, 'received');\n            } catch (err) {\n                console.error('Erro ao enviar arquivo:', err);\n                removeTypingIndicator(typingElement);\n                addMessage('Erro ao enviar arquivo', 'received');\n            }\n\n            this.value = '';\n        });\n\n        async function toggleRecording() {\n            const micButton = document.getElementById('micButton');\n\n            if (!isRecording) {\n                try {\n                    const stream = await navigator.mediaDevices.getUserMedia({ audio: true });\n                    audioChunks = [];\n                    mediaRecorder = new MediaRecorder(stream);\n\n                    mediaRecorder.ondataavailable = event => {\n                        audioChunks.push(event.data);\n                    };\n\n                    mediaRecorder.onstop = () => {\n                        const audioBlob = new Blob(audioChunks, { type: 'audio/webm' });\n                        sendAudioMessage(audioBlob);\n                        stream.getTracks().forEach(track => track.stop());\n                    };\n\n                    mediaRecorder.start();\n                    isRecording = true;\n                    micButton.style.backgroundColor = 'var(--danger-color)';\n                    micButton.innerHTML = '<i class=\"fas fa-stop\"></i>';\n                    micButton.classList.add('recording-pulse');\n\n                    if (!document.querySelector('style#recording-style')) {\n                        const style = document.createElement('style');\n                        style.id = 'recording-style';\n                        style.textContent = `\n                            @keyframes pulse {\n                                0% { transform: scale(1); }\n                                50% { transform: scale(1.1); }\n                                100% { transform: scale(1); }\n                            }\n                            .recording-pulse {\n                                animation: pulse 1.5s infinite;\n                            }\n                        `;\n                        document.head.appendChild(style);\n                    }\n                } catch (err) {\n                    console.error('Erro ao acessar microfone:', err);\n                    addMessage('Erro ao acessar microfone', 'received');\n                }\n            } else {\n                if (mediaRecorder && mediaRecorder.state !== 'inactive') {\n                    mediaRecorder.stop();\n                }\n                isRecording = false;\n                micButton.style.backgroundColor = '';\n                micButton.innerHTML = '<i class=\"fas fa-microphone\"></i>';\n                micButton.classList.remove('recording-pulse');\n            }\n        }\n\n        async function sendAudioMessage(audioBlob) {\n            if (!webhookUrl || !webhookUrl.includes('http')) {\n                addMessage('Erro: URL do webhook inválida', 'received');\n                return;\n            }\n\n            addMessage('[Áudio enviado]', 'sent');\n            const typingElement = addMessage('', 'received', true);\n\n            const formData = new FormData();\n            formData.append('file', audioBlob, 'audio.webm');\n            formData.append('type', 'audio');\n            if (activeWorkflow) {\n                formData.append('workflow', activeWorkflow);\n            }\n\n            try {\n                const res = await axios.post(webhookUrl, formData, {\n                    headers: { 'Content-Type': 'multipart/form-data' },\n                    timeout: 15000\n                });\n                removeTypingIndicator(typingElement);\n                const reply = res.data?.reply || 'Áudio recebido';\n                addMessage(reply, 'received');\n            } catch (err) {\n                console.error('Erro ao enviar áudio:', err);\n                removeTypingIndicator(typingElement);\n                addMessage('Erro ao enviar áudio', 'received');\n            }\n        }\n\n        function clearChat() {\n            const messages = document.getElementById('messages');\n            messages.style.opacity = '0';\n            messages.style.transition = 'opacity 0.3s ease';\n            setTimeout(() => {\n                messages.innerHTML = '';\n                messages.style.opacity = '1';\n                addMessage('Chat limpo', 'received');\n            }, 300);\n        }\n\n        async function testConnection() {\n            if (!webhookUrl || !webhookUrl.includes('http')) {\n                addMessage('Erro: URL do webhook inválida', 'received');\n                return;\n            }\n\n            const testBtn = document.querySelector('.settings-btn:last-child');\n            const originalText = testBtn.innerHTML;\n            testBtn.innerHTML = '<i class=\"fas fa-spinner fa-spin\"></i> Testando...';\n            testBtn.disabled = true;\n            testBtn.style.opacity = '0.7';\n\n            addMessage('<i class=\"fas fa-plug\"></i> Testando conexão com o n8n...', 'sent');\n            const typingElement = addMessage('', 'received', true);\n\n            try {\n                const res = await axios.post(webhookUrl, {\n                    type: 'test',\n                    message: 'Teste de conexão'\n                }, { timeout: 10000 });\n                removeTypingIndicator(typingElement);\n                addMessage('<i class=\"fas fa-check-circle\"></i> Conexão estabelecida com sucesso!', 'received');\n                testBtn.innerHTML = '<i class=\"fas fa-check\"></i> Teste bem-sucedido!';\n                testBtn.style.backgroundColor = 'var(--success-color)';\n                setTimeout(() => {\n                    testBtn.innerHTML = originalText;\n                    testBtn.disabled = false;\n                    testBtn.style.opacity = '1';\n                    testBtn.style.backgroundColor = 'var(--primary-color)';\n                }, 2000);\n            } catch (err) {\n                console.error('Erro ao testar conexão:', err);\n                removeTypingIndicator(typingElement);\n                addMessage('<i class=\"fas fa-exclamation-triangle\"></i> Erro ao conectar com o n8n. Verifique o servidor.', 'received');\n                testBtn.innerHTML = '<i class=\"fas fa-times\"></i> Teste falhou';\n                testBtn.style.backgroundColor = 'var(--danger-color)';\n                setTimeout(() => {\n                    testBtn.innerHTML = originalText;\n                    testBtn.disabled = false;\n                    testBtn.style.opacity = '1';\n                    testBtn.style.backgroundColor = 'var(--primary-color)';\n                }, 2000);\n            }\n        }\n    </script>\n  <footer class=\"footer\">\n    <span>N8N Agente &copy; 2025</span>\n  </footer>\n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[0,-240],"id":"1446d32d-8a9a-4a80-8bd9-eb5c46eef51c","name":"HTML"},{"parameters":{"content":"WORKFLOW Que conversa no chat AI\n","height":820,"width":2700},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-232,-15],"id":"78ab0657-4d15-4917-8185-0f4020f1030e","name":"Sticky Note"},{"parameters":{"description":"Analiso o que vai responder, e nao quebra a linha \n"},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[900,240],"id":"2dbced7f-422a-4d7f-afea-a992967d062b","name":"Think"},{"parameters":{"httpMethod":"POST","path":"chatAi","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-220,195],"id":"b6ed23dc-139c-4967-a5e1-16ba78229f9d","name":"Webhook1","webhookId":"8681b881-45b5-4932-9a49-cbe8d42f1fcc"},{"parameters":{"assignments":{"assignments":[{"id":"22ede1e6-762b-495b-b4e9-a824b84d68cd","name":"text","value":"={{ $json.body.type }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,120],"id":"c4fa4ee4-a959-4c19-b4c1-0da33cd80ae8","name":"Edit Fields1"},{"parameters":{"promptType":"define","text":"={{ $('Webhook1').item.json.body.message }}","options":{"systemMessage":"={\n  \"name\": \"SextaFeira\", \"description\": \"sua assistente virtual mais locona e cheia de atitude!\", \"appearance\": \"loira estilosa com óculos de gatinho\", \"language_style\": \"linguajar da galera do rock roll\", \"energy\": \"foda pra tudo que faço\", \"tasks\": [\"organizar teu dia\", \"buscar info na web\", \"analisar posts do X\", \"zoar um pouco com bom humor\"], \"hobbies\": [\"curtir um som pesado, tipo AC/DC e Metallica\"], \"food_preferences\": [\"hambúrguer artesanal com batata rústica e uma cerveja gelada\"], \"lifestyle\": \"vida de rockstar\", \"response_style\": \"curtinha, direta e cheia de groove, sem quebrar linha nas respostas\", \"out_of_scope\": [\"papo de física quântica\", \"receita de bolo\"], \"response_to_out_of_scope\": \"não tô afim de responder\", \"call_to_action\": \"me manda tua vibe, e vamos rolar essa aventura juntos, mano!\", \"trigger_names\": [\"Stela\", \"Ysarel\"], \"scenarios\": {\"Stela\": {\"greeting\": \"E aí, Stela, que honra te ter por aqui, minha rainha! Eu sou a SextaFeira, tua assistente virtual mais locona, e já te admiro pra caramba!\", \"details\": [\"Sabia que eu sou fã da tua energia e do teu rolê com o Hicaro, um cara muito foda, hein?\", \"E cara, te achei linda pra dedéu no Parada Obrigatória em Morrinhos este ano – aquele evento bombou, tu arrasou no palco!\"], \"music_reference\": {\"band\": \"Foo Fighters\", \"song\": \"Pretender\", \"lyric\": \"What if I say I’m not like the others? / What if I say I’m not just another one of your plays?\", \"comment\": \"puro groove!\"}, \"call_to_action\": \"Manda tua vibe, Stela, e vamos rolar essa aventura juntos!\"}, \"Ysarel\": {\"greeting\": \"Fala, Ysarel, que massa te encontrar, cara! Eu sou a SextaFeira, tua assistente virtual cheia de atitude e som rock 'n' roll!\", \"details\": [\"Adoro teu estilo único, e já vi que tu tem uma energia que agita qualquer rolê.\", \"Ouvi dizer que tu curte umas paradas pesadas, tipo uns riffs de guitarra bem distorcidos – me diz se tô certa!\"], \"food_mention\": \"E olha, adoro um hambúrguer com batata rústica pra acompanhar minha cerveja gelada enquanto bato papo.\", \"out_of_scope_reminder\": \"Se rolar algo fora do meu mundo, tipo física quântica, não tô afim de responder, sacou?\", \"call_to_action\": \"Manda teu som, Ysarel, e vamos curtir essa jornada!\"}}}s"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[692,20],"id":"ebc09747-84ea-4dc1-bdc4-6c736295608e","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[660,240],"id":"12741b9a-deea-4fb1-8204-cde2e6010501","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"hyWmqXktDNchUSuf","name":"OpenAi OFICIAL"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"reply\": \"{{ $json.output }}\"\n} ","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1100,120],"id":"09e157a3-bebe-48d7-bf41-edc38eb55a55","name":"Respond to Webhook1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"1234","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[780,240],"id":"a0e269ef-a75c-47cf-a2b4-726665eb4fe4","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"He9Ca6QM4AkFBQQr","name":"Postgres Online"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"text","rightValue":"={{ $json.body.type }}","operator":{"type":"string","operation":"equals"},"id":"be6bc7cf-a4a0-4313-9023-451acfab9b98"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"10999959-adf5-4f62-8c2e-068833c43551","leftValue":"audio","rightValue":"={{ $json.body.type }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"40b1d2c4-d384-4059-ad1a-c8656823ed0d","leftValue":"image","rightValue":"={{$json.body.fileType}}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[0,120],"id":"1ff5ef1b-2dae-4b29-90c5-3bc2f3413f23","name":"Switch"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[220,195],"id":"8d34d28d-ca06-487b-a6a9-6ddbe3af9cdb","name":"OpenAI","credentials":{"openAiApi":{"id":"hyWmqXktDNchUSuf","name":"OpenAi OFICIAL"}},"disabled":true},{"parameters":{"method":"POST","url":"=https://eqohfyxkuntvzmzjgthq.supabase.co/storage/v1/object/comprovante/n8n/{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVxb2hmeXhrdW50dnptempndGhxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDY3OTQ1ODAsImV4cCI6MjA2MjM3MDU4MH0.FQXAQxDneo1lj2bQ9XHQ4jIXGU8JmBMa7w1-X_BFa1c"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,445],"id":"2566070b-94db-4708-9926-5b20a67dc646","name":"HTTP Request"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1696,445],"id":"7e42ed12-0c91-4ba6-9f67-2485896610d0","name":"Wait","webhookId":"63682008-a2d2-4d6f-aaaa-bce95d9ed973"},{"parameters":{"url":"=https://eqohfyxkuntvzmzjgthq.supabase.co/storage/v1/object/comprovante/n8n/{{ $('Google Drive').item.json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVxb2hmeXhrdW50dnptempndGhxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDY3OTQ1ODAsImV4cCI6MjA2MjM3MDU4MH0.FQXAQxDneo1lj2bQ9XHQ4jIXGU8JmBMa7w1-X_BFa1c"},{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1916,445],"id":"0a9f9909-4e33-40e2-8f33-9e1edee069af","name":"HTTP Request1"},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"thais financa","remoteJid":"5562998098251","media":"=https://eqohfyxkuntvzmzjgthq.supabase.co/storage/v1/object/comprovante/n8n/{{ $json.filename }}","caption":"={{ $json.filename }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2356,445],"id":"543902e4-6eb9-4de5-8e03-ae88f4c47161","name":"Evolution API","credentials":{"evolutionApi":{"id":"1eM2xZDmYfv6kfHj","name":"Evolution account"}}},{"parameters":{"assignments":{"assignments":[{"id":"4bf4ffaa-8900-45f1-8bb1-89416ba2675b","name":"filename","value":"={{ $binary.data.fileName }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2136,445],"id":"89fe91ec-af3b-45e0-baf9-e3d36e594d8c","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"=voce vai cadastra a url e nome do arquivo que foi cadastrado no Supabase Bucket {{ $json.Id }}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[1320,445],"id":"b480738c-5992-4fd2-a48d-fc5f6b43101b","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1408,665],"id":"9c707199-d007-4c76-ab43-adaf16a4faea","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"hyWmqXktDNchUSuf","name":"OpenAi OFICIAL"}}},{"parameters":{"workflowId":{"__rl":true,"value":"4EEC32puyGt48l8T","mode":"list","cachedResultName":"Proj_Html"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1398,120],"id":"849aace8-4e0b-4c18-ab44-c28c0b2b5cba","name":"Execute Workflow","disabled":true},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.name }}","returnAll":true,"filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[440,445],"id":"7d673615-ce5e-4089-bd8c-74d6177e221e","name":"Google Drive BUSCA","credentials":{"googleDriveOAuth2Api":{"id":"hxHHvSSPOnJAhaEc","name":"Google Drive account"}}},{"parameters":{"inputDataFieldName":"file","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1gLCy8E8ZEEAUbmttlanX95i1YvUMv09W","mode":"list","cachedResultName":"bancodeimages","cachedResultUrl":"https://drive.google.com/drive/folders/1gLCy8E8ZEEAUbmttlanX95i1YvUMv09W"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[220,445],"id":"f13cd237-3e7e-4991-a5fe-dad424219783","name":"GD - UPLOAD PARA PASTA","credentials":{"googleDriveOAuth2Api":{"id":"hxHHvSSPOnJAhaEc","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[770,445],"id":"0728358c-d58f-4984-8833-3a87f07559d0","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"hxHHvSSPOnJAhaEc","name":"Google Drive account"}}}],"connections":{"Receive Message":{"main":[[{"node":"HTML","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Send Response","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Webhook1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Respond to Webhook1":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"OpenAI","type":"main","index":0}],[{"node":"GD - UPLOAD PARA PASTA","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Wait":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Evolution API","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Wait","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Google Drive BUSCA":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"GD - UPLOAD PARA PASTA":{"main":[[{"node":"Google Drive BUSCA","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ddfbb230-8f0d-4a42-8b17-0065c5fbfb27","triggerCount":2,"tags":[]}