raspage-1dOgWF2TkFCNHBA8.json
{"createdAt":"2025-05-16T21:49:46.125Z","updatedAt":"2025-05-16T21:49:46.125Z","id":"1dOgWF2TkFCNHBA8","name":"Raspage","active":false,"nodes":[{"parameters":{"url":"https://serpapi.com/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"engine","value":"google_maps"},{"name":"q","value":"={{ $json.Texto }}"},{"name":"api_key","value":"f7254b13be81a86d68413f81eba872eafd56fe1662c8095aa1677a7cc8cd9c55"}]},"options":{}},"id":"eafac7c1-6635-4f4b-bb14-7bdda811e56a","name":"Busca na SerpAPI","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-660,200]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1-hM-dWs2PMBTXLYe_uhttkxoeTZ93OJuWElVDe5W8U8","mode":"list","cachedResultName":"LEADS GOOGLE MAPS + DISPARO PERSONALIZADO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-hM-dWs2PMBTXLYe_uhttkxoeTZ93OJuWElVDe5W8U8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-hM-dWs2PMBTXLYe_uhttkxoeTZ93OJuWElVDe5W8U8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"nome_empresa":"={{ $item(\"0\").$node[\"Percorre dados\"].json[\"name\"] }}","telefone":"={{ $json.telefone }}","endereco":"={{ $item(\"0\").$node[\"Percorre dados\"].json[\"endereco\"] }}","rating":"={{ $item(\"0\").$node[\"Percorre dados\"].json[\"rating\"] }}","reviews":"={{ $item(\"0\").$node[\"Percorre dados\"].json[\"reviews\"] }}","especialidades":"={{\n  $node[\"Percorre dados\"].json[\"types\"].split(', ').map(type => {\n    const translations = {\n      \"Specialized clinic\": \"Clínica especializada\",\n      \"Health and beauty shop\": \"Loja de saúde e beleza\", \n      \"Beauty salon\": \"Salão de beleza\",\n      \"Beautician\": \"Esteticista\",\n      \"Facial spa\": \"Spa facial\",\n      \"Skin care clinic\": \"Clínica de cuidados com a pele\",\n      \"Plastic surgery clinic\": \"Clínica de cirurgia plástica\",\n      \"Hair removal service\": \"Serviço de depilação\",\n      \"Laser hair removal service\": \"Serviço de depilação a laser\",\n      \"Lymph drainage therapist\": \"Terapeuta de drenagem linfática\",\n      \"Lymph drainage\": \"Drenagem linfática\",\n      \"Massage therapist\": \"Massagista terapêutico\",\n      \"Massage spa\": \"Spa de massagem\",\n      \"Wellness center\": \"Centro de bem-estar\",\n      \"Health spa\": \"Spa de saúde\",\n      \"Day spa\": \"Day spa\",\n      \"Spa\": \"Spa\",\n      \"Dermatologist\": \"Dermatologista\",\n      \"Doctor\": \"Médico\",\n      \"Physiatrist\": \"Fisiatra\",\n      \"Dentist\": \"Dentista\",\n      \"Cosmetic dentist\": \"Dentista cosmético\",\n      \"Dental clinic\": \"Clínica odontológica\",\n      \"Oral surgeon\": \"Cirurgião oral\",\n      \"Beauty school\": \"Escola de beleza\",\n      \"Beauty product supplier\": \"Fornecedor de produtos de beleza\",\n      \"Eyebrow bar\": \"Salão de sobrancelhas\",\n      \"Nail salon\": \"Salão de unhas\",\n      \"Hot bedstone spa\": \"Spa de pedras quentes\",\n      \"Nutritionist\": \"Nutricionista\",\n      \"Dietitian\": \"Nutricionista\",\n      \"Weight loss service\": \"Serviço de perda de peso\",\n      \"Women's health clinic\": \"Clínica de saúde da mulher\",\n      \"Gym\": \"Academia\"\n    };\n    return translations[type] || type;\n  }).join(', ')\n}}","website":"={{ $item(\"0\").$node[\"Percorre dados\"].json[\"website\"] }}"},"matchingColumns":["telefone"],"schema":[{"id":"nome_empresa","displayName":"nome_empresa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"endereco","displayName":"endereco","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"rating","displayName":"rating","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"reviews","displayName":"reviews","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"especialidades","displayName":"especialidades","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"disparo","displayName":"disparo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"93fc69fb-d8d5-4219-b16f-e19fc7001035","name":"Inclui no Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[0,200]},{"parameters":{"jsCode":"// Este código extrai dados de clínicas de estética de um JSON fornecido pelo SerpAPI\n// e retorna um array de objetos no formato esperado pelo N8N\n\n// Código para n8n deve retornar itens usando a variável items\n// Função que será executada a cada item que entra no nó\nfunction processData(item) {\n  try {\n    // Obter os dados do JSON diretamente do item\n    const jsonData = $(\"Busca na SerpAPI\").first().json;\n    \n    // Verificar se temos a estrutura necessária\n    if (!jsonData || !jsonData.local_results || !Array.isArray(jsonData.local_results)) {\n      // Se não encontrar local_results, verificar se é um array\n      if (Array.isArray(jsonData) && jsonData[0] && jsonData[0].local_results) {\n        // Caso seja um array com o primeiro elemento contendo local_results\n        return extractClinicData(jsonData[0].local_results);\n      } else {\n        // Tentar encontrar os dados em outras estruturas possíveis\n        const possibleData = findLocalResults(jsonData);\n        if (possibleData) {\n          return extractClinicData(possibleData);\n        }\n        \n        // Se nada funcionar, retornar um erro como item\n        return [{\n          error: true,\n          message: 'Estrutura de dados inválida: local_results não encontrado',\n          originalData: jsonData\n        }];\n      }\n    }\n    \n    // Se chegou aqui, encontrou local_results diretamente\n    return extractClinicData(jsonData.local_results);\n    \n  } catch (error) {\n    // Em caso de erro, retornar um item com informações do erro\n    return [{\n      error: true,\n      message: `Erro ao processar dados: ${error.message}`,\n      stack: error.stack\n    }];\n  }\n}\n\n// Função para encontrar local_results em diferentes níveis da estrutura\nfunction findLocalResults(data) {\n  // Se for um objeto, verificar suas propriedades\n  if (data && typeof data === 'object' && !Array.isArray(data)) {\n    // Verificar se tem local_results\n    if (data.local_results && Array.isArray(data.local_results)) {\n      return data.local_results;\n    }\n    \n    // Verificar em cada propriedade\n    for (const key in data) {\n      const result = findLocalResults(data[key]);\n      if (result) return result;\n    }\n  }\n  \n  // Se for um array, verificar cada elemento\n  if (Array.isArray(data)) {\n    for (const item of data) {\n      const result = findLocalResults(item);\n      if (result) return result;\n    }\n  }\n  \n  return null;\n}\n\n// Função para extrair e formatar os dados das clínicas\nfunction extractClinicData(localResults) {\n  return localResults.map(clinica => ({\n    name: clinica.title || '',\n    endereco: clinica.address || '',\n    telefone: clinica.phone ? clinica.phone.replace(/[^\\d]/g, '') : '',\n    rating: clinica.rating || '',\n    reviews: clinica.reviews || '', \n    website: clinica.website || '',\n    // Adicionar o campo types como uma string separada por vírgulas\n    types: Array.isArray(clinica.types) ? clinica.types.join(', ') : ''\n  }));\n}\n\n// Processar todos os itens de entrada\n// Esta é a forma que o N8N espera receber os resultados\nreturn items.map(processData).flat();"},"id":"94f9c18f-b3d5-4685-906c-0e3667c2a7d8","name":"Extrai dados","type":"n8n-nodes-base.code","typeVersion":2,"position":[-440,200]},{"parameters":{"formTitle":"Formulário Extrator de Leads","formDescription":"Insira o tipo de negócios que gostaria de extrair. Por exemplo: Clínicas estéticas em são paulo","formFields":{"values":[{"fieldLabel":"Texto","placeholder":"Insira o texto para extrair leads","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-880,200],"id":"3506f5d5-38a9-4650-916f-159f2c73822d","name":"On form submission","webhookId":"b005bd28-eb81-4ade-b7c4-b0555dd52890"},{"parameters":{"options":{}},"id":"d944eb31-a72e-4dc2-a2b9-bef46f58000b","name":"Percorre dados","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-220,200]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4e212f80-8ac4-43d1-aeb7-99fe9becd523","leftValue":"={{ $json.data[0].number }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[440,200],"id":"c94d816c-18d7-4b43-ae1e-1ee6517c6dfb","name":"Número válido"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[880,280],"id":"5e125828-1650-481f-9b9b-e2075eb7c39d","name":"Wait","webhookId":"38b3b9a4-860a-41ff-a825-7086c0728d83"},{"parameters":{"resource":"messages-api","instanceName":"COMMERCEMAKERS","remoteJid":"={{ $('Percorre dados').item.json.telefone }}","messageText":"=Olá {{ $('Percorre dados').item.json.name }}, tudo bem?","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[660,140],"id":"914d64c2-5c8a-4083-9210-f7950c0908be","name":"Evolution API"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[0,0],"id":"0e32b4d3-a645-4eb1-bcbf-49cb59c1f603","name":"Encerra"},{"parameters":{"resource":"chat-api","instanceName":"=COMMERCEMAKERS","numbers":"={{ $('Percorre dados').item.json.telefone }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[220,200],"id":"d9816376-90ec-4181-83d9-e7b7a590250d","name":"Checa número"}],"connections":{"Busca na SerpAPI":{"main":[[{"node":"Extrai dados","type":"main","index":0}]]},"Inclui no Sheets":{"main":[[{"node":"Checa número","type":"main","index":0}]]},"Extrai dados":{"main":[[{"node":"Percorre dados","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"Busca na SerpAPI","type":"main","index":0}]]},"Percorre dados":{"main":[[{"node":"Encerra","type":"main","index":0}],[{"node":"Inclui no Sheets","type":"main","index":0}]]},"Número válido":{"main":[[{"node":"Evolution API","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Percorre dados","type":"main","index":0}]]},"Evolution API":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Checa número":{"main":[[{"node":"Número válido","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"22fc6257-319d-460b-864a-9193e8dbed24","triggerCount":0,"tags":[]}