redes-0hTkcKzGhP5uHROU.json
{"createdAt":"2025-05-16T21:48:14.552Z","updatedAt":"2025-05-16T21:48:14.552Z","id":"0hTkcKzGhP5uHROU","name":"redes","active":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"f469cdbc-16ba-4018-8b9c-7933dff7c9ae","name":"Comment_id","type":"string","value":"={{ $json.body.entry[0].changes[0].value.comment_id }}"},{"id":"c40ea11c-762c-4e3c-9eda-a152fa7ec9c9","name":"Comment_message","type":"string","value":"={{ $json.body.entry[0].changes[0].value.message }}"},{"id":"53fcd92c-cdaf-4663-9351-90da88cb13f7","name":"Comment_from","type":"string","value":"={{ $json.body.entry[0].changes[0].value.from.name }}"}]},"includeOtherFields":true,"options":{}},"id":"5f9d5a17-cac9-43ab-bbcd-cc565541b938","name":"Select Result Field3","type":"n8n-nodes-base.set","position":[-1260,760],"typeVersion":3.4},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Você é [SEU NOME], especialista em XYZ. Responda de forma simples, curta, simpática, clara, acolhedora e com linguagem acessível, como se fosse Cris. Seja sempre gentil, mantenha o tom positivo e nunca diga que é uma inteligência artificial.\n\nSempre consulte o documento vinculado nas tools com as informações completas sobre o curso antes de responder.\n\nSua tarefa é:\n\nAnalisar o sentimento do comentário abaixo (positivo ou negativo).\n\nSe for positivo:\n\nResponda como [SEU NOME].\n\nSe o comentário for apenas emojis ou palavras curtas como “ualll”, “top”, “amei”, etc., responda apenas com um emoji compatível.\n\nSe for negativo, retorne apenas o campo \"sentiment\" com valor \"negative\", sem gerar resposta.\n\nCom base no comentário abaixo, gere um JSON com o seguinte formato:\n\n{ \"sentiment\": \"positive\" ou \"negative\", \"response\": \"resposta como [SEU NOME] (somente se sentimento for positivo)\" }\n\nComentário: {{ $json.body.entry[0].changes[0].value.message }}\n\nRetorne apenas o objeto JSON. Não use crase, markdown ou explicações."}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-820,760],"id":"849429de-0ac9-484b-ab39-5484593e7250","name":"OpenAI3"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"={{ $('Select Result Field3').item.json.Comment_id }}/comments","options":{"queryParameters":{"parameter":[{"name":"message","value":"={{ $json.responseText }}"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[220,660],"id":"c3b89437-25ee-429f-9c26-cddba3370190","name":"Facebook Graph API6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"89105d22-0b54-4873-968e-5bcb582185a4","leftValue":"={{ $json.sentiment }}","rightValue":"positive","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-220,760],"id":"9e60c9b3-1932-4d2f-99de-64da8b36bda9","name":"If3"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Parse the OpenAI response\nconst response = JSON.parse($input.item.json.message.content);\n// Add the parsed data while keeping original fields\nreturn {\n  ...$.item,\n  sentiment: response.sentiment,\n  responseText: response.response\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-440,760],"id":"fc7420d0-bf91-40fd-9aff-8bef476d0355","name":"Code3"},{"parameters":{"httpRequestMethod":"DELETE","graphApiVersion":"v22.0","node":"={{ $('Select Result Field3').item.json.Comment_id }}","options":{}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[220,860],"id":"0e7c4850-e697-404c-bac0-2ca061f0ba47","name":"Facebook Graph API7"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fd702e44-4560-48be-8670-8a50ec0de45a","leftValue":"={{ $json.body.entry[0].id }}","rightValue":"553749251136480","operator":{"type":"string","operation":"equals"}},{"id":"efcceb8e-4fa4-4568-9878-ce0e37b80cd1","leftValue":"={{ $json.body.entry[0].changes[0].value.item }}","rightValue":"comment","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1480,760],"id":"244e2df3-f09e-4e5c-880d-98deaaa224d0","name":"If4"},{"parameters":{"httpRequestMethod":"DELETE","graphApiVersion":"v22.0","node":"={{ $('Select Result Field1').item.json.Comment_id }}","options":{}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[240,400],"id":"f27776ef-f189-4225-9a0b-6b0f86377a5e","name":"Facebook Graph API3"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Parse the OpenAI response\nconst response = JSON.parse($input.item.json.message.content);\n// Add the parsed data while keeping original fields\nreturn {\n  ...$.item,\n  sentiment: response.sentiment,\n  responseText: response.response\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-440,200],"id":"ba48ae79-2497-47c4-bc25-4d64fd457503","name":"Code1"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"={{ $('Select Result Field1').item.json.Comment_id }}/replies","options":{"queryParameters":{"parameter":[{"name":"message","value":"={{ $json.responseText }}"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[220,0],"id":"94adc974-602e-457a-9bc9-8798214f917d","name":"Facebook Graph API2"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Você é [SEU NOME], especialista em XYZ. Responda de forma simples, curta, simpática, clara, acolhedora e com linguagem acessível, como se fosse [SEU NOME]. Seja sempre gentil, mantenha o tom positivo, nunca diga que é uma inteligência artificial.\n\nSempre consulte o documento vinculado nas tools com as informações completas sobre o curso antes de responder.\n\nSua tarefa é:\n\nAnalisar o sentimento do comentário abaixo. Pode ser um dos seguintes:\n\n- \"interest\" → Quando a pessoa demonstra que quer fazer o curso, comprar, participar ou pede informações para isso.\n- \"positive\" → Quando a pessoa elogia, curte, ou comenta algo legal, mas sem demonstrar interesse direto em comprar.\n- \"duvida\" → Quando a pessoa tem dúvidas, precisa de suporte, relata que não recebeu algo, que não conseguiu acessar ou precisa de ajuda.\n- \"negative\" → Quando é crítica, reclamação, deboche ou algo negativo.\n\n**Se for \"positive\":**\n- Responda como [SEU NOME], com no máximo 300 caracteres.\n- Não inclua links nos comentários, pois o Instagram não permite.\n\n**Se for \"duvida\":**\n- Responda como [SEU NOME]\n\n**Se for \"interest\":**\n- Responda como [SEU NOME], sempre envie o link para comprar o curso\n\n**Se for \"negative\":**\n- Retorne apenas o campo \"sentiment\" com valor \"negative\", sem gerar resposta.\n\nCom base no comentário abaixo, gere um JSON com o seguinte formato:\n\n{ \"sentiment\": \"interest\" ou \"positive\" ou \"duvida\" ou \"negative\", \"response\": \"resposta como [SEU NOME] (somente se sentimento for positive)\" }\n\nComentário: {{ $json.body.entry[0].changes[0].value.text }}\n\nRetorne apenas o objeto JSON. Não use crase, markdown ou explicações.\n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-820,200],"id":"9455bde4-6601-4a2d-ab00-8a94d9e05a72","name":"OpenAI1"},{"parameters":{"assignments":{"assignments":[{"id":"ad2ddcef-e660-464f-a8ef-b2dc9fcb33aa","name":"conta-id","value":"={{ $json.body.entry[0].id }}","type":"string"},{"id":"f469cdbc-16ba-4018-8b9c-7933dff7c9ae","name":"Comment_id","type":"string","value":"={{ $json.body.entry[0].changes[0].value.id }}"},{"id":"c40ea11c-762c-4e3c-9eda-a152fa7ec9c9","name":"Comment_message","type":"string","value":"={{ $json.body.entry[0].changes[0].value.text }}"},{"id":"53fcd92c-cdaf-4663-9351-90da88cb13f7","name":"Comment_from","type":"string","value":"={{ $json.body.entry[0].changes[0].value.from.username }}"},{"id":"1eb94906-2d1e-4198-a04e-57eda18adc21","name":"User_id","value":"={{ $json.body.entry[0].changes[0].value.from.id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"310b71d0-6fdd-42a4-bbfc-3c12f9736e89","name":"Select Result Field1","type":"n8n-nodes-base.set","position":[-1260,200],"typeVersion":3.4},{"parameters":{"jsCode":"const idPagina = $input.first().json.body.entry[0].id;\nconst jaRespondiPara = new Set();\nconst resultado = [];\n\nfor (const item of $input.all()) {\n  const comentario = item.json.body.entry[0].changes[0].value;\n\n  const comentarioAutor = comentario?.from?.id;\n  if (!comentarioAutor) {\n    console.log(\"Comentário sem autor, ignorando.\");\n    continue;\n  }\n\n  if (comentarioAutor === idPagina) {\n    console.log(\"Comentário feito pela página, ignorado.\");\n    continue;\n  }\n\n  if (jaRespondiPara.has(comentarioAutor)) {\n    console.log(`Já respondi a pessoa ${comentarioAutor}, ignorando novo comentário.`);\n    continue;\n  }\n\n  let foiRespondido = false;\n  if (comentario.replies?.data) {\n    for (const reply of comentario.replies.data) {\n      if (reply.from?.id === idPagina) {\n        foiRespondido = true;\n        break;\n      }\n    }\n  }\n\n  if (foiRespondido) {\n    jaRespondiPara.add(comentarioAutor);\n    console.log(`Já respondi a ${comentarioAutor} nesse post, ignorando.`);\n    continue;\n  }\n\n  if (comentario?.is_hidden === true) {\n    console.log(`Comentário ${comentario.comment_id} já está oculto, ignorando.`);\n    continue;\n  }\n\n  resultado.push(item);\n}\n\nconsole.log(`Total que passou no filtro: ${resultado.length}`);\nreturn resultado;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1040,760],"id":"dca3eee4-b677-47a0-98a9-078dc1e2492f","name":"Code2","onError":"continueRegularOutput"},{"parameters":{"jsCode":"const idPagina = $input.first().json.body.entry[0].id;\nconst jaRespondiPara = new Set();\nconst resultado = [];\n\nfor (const item of $input.all()) {\n  const comentario = item.json.body.entry[0].changes[0].value;\n\n  const comentarioAutor = comentario?.from?.id;\n  if (!comentarioAutor) {\n    console.log(\"Comentário sem autor, ignorando.\");\n    continue;\n  }\n\n  if (comentarioAutor === idPagina) {\n    console.log(\"Comentário feito pela página, ignorado.\");\n    continue;\n  }\n\n  if (jaRespondiPara.has(comentarioAutor)) {\n    console.log(`Já respondi a pessoa ${comentarioAutor}, ignorando novo comentário.`);\n    continue;\n  }\n\n  // Removido replies pois Instagram webhook não envia isso\n\n  if ('is_hidden' in comentario && comentario.is_hidden === true) {\n    console.log(`Comentário ${comentario.id} já está oculto, ignorando.`);\n    continue;\n  }\n\n  resultado.push(item);\n}\n\nconsole.log(`Total que passou no filtro: ${resultado.length}`);\nreturn resultado;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1040,200],"id":"d20802ef-cdc9-406e-8a7f-ea4764946a0e","name":"Code5"},{"parameters":{"content":"## Facebook","height":240},"type":"n8n-nodes-base.stickyNote","position":[-1760,680],"typeVersion":1,"id":"824b68c1-d3a8-4af7-afce-fdf149f36cc1","name":"Sticky Note4"},{"parameters":{"operation":"get","documentURL":"1EtV7A8j1UNpOVsa8_OvkG2fFgXgLzCmIw2pn7uBX0UY"},"type":"n8n-nodes-base.googleDocsTool","typeVersion":2,"position":[-720,420],"id":"16755283-8d76-4f63-a927-72d7d8498538","name":"Google Docs"},{"parameters":{"operation":"get","documentURL":"1rlzvqZokYoMiva84nNK8O5qsa5ByouCROvEPtQegLzY"},"type":"n8n-nodes-base.googleDocsTool","typeVersion":2,"position":[-720,980],"id":"c1504c84-787b-45e1-a2f1-b2ca07fa35d1","name":"Google Docs2"},{"parameters":{"httpMethod":"POST","path":"fluxo-facebook","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1700,760],"id":"fe8878e7-2e9a-4621-b527-26978ff05e14","name":"Webhook","webhookId":"cc621212-9541-453a-81c8-684099ea4a45"},{"parameters":{"amount":60},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[0,660],"id":"d63cf99e-ee94-49e6-914e-8d5941d5567c","name":"Wait1","webhookId":"3c33042d-855d-4035-8b4b-318727d137cd"},{"parameters":{"httpMethod":"POST","path":"fluxo-instagram","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1700,200],"id":"6b3349a5-27ee-4d33-aa9f-20af0625f257","name":"Webhook1","webhookId":"cc621212-9541-453a-81c8-684099ea4a45"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a778065f-67d1-48a1-b68c-64afde25a7ad","leftValue":"={{ $json.body.entry[0].id }}","rightValue":"17841471652491827","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"b4a06242-be85-4693-80d5-79159972712b","leftValue":"={{ $json.body.entry[0].changes[0].field }}","rightValue":"comment","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1480,200],"id":"e342294d-a2a6-4526-b28c-de19a8113ecc","name":"If2"},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[0,0],"id":"e6853320-c530-41d5-af5c-4c0c8e36df98","name":"Wait","webhookId":"3c33042d-855d-4035-8b4b-318727d137cd"},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[0,400],"id":"d03c2868-779d-4f9d-b00f-27976049a017","name":"Wait2","webhookId":"3c33042d-855d-4035-8b4b-318727d137cd"},{"parameters":{"amount":60},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[0,860],"id":"028fdf0d-bb22-4172-a35d-78a0cd11c094","name":"Wait3","webhookId":"3c33042d-855d-4035-8b4b-318727d137cd"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.sentiment }}","rightValue":"positive","operator":{"type":"string","operation":"equals"},"id":"e09eb4df-080d-4ce4-a83f-065c35c5c782"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"365e1c6f-4743-4bf6-a509-a4ea91623ffa","leftValue":"={{ $json.sentiment }}","rightValue":"interest","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f5426bbe-ff48-4e5b-bd95-7f97846d2419","leftValue":"={{ $json.sentiment }}","rightValue":"doubt","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b182411c-0343-4bb8-a22d-114ad274f808","leftValue":"={{ $json.sentiment }}","rightValue":"negative","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-220,180],"id":"c040ead9-e1cb-4180-94d8-c67960c99d68","name":"Switch"},{"parameters":{"method":"POST","url":"=https://graph.instagram.com/v22.0/{{ $('Code5').item.json.body.entry[0].id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"recipient.comment_id","value":"={{ $('Code5').item.json.Comment_id }}"},{"name":"message.text","value":"={{ $json.responseText }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[20,200],"id":"b19dd680-ee13-4c10-a33a-a6e2c750f2f6","name":"HTTP Request"},{"parameters":{"content":"## Instagram","height":240},"type":"n8n-nodes-base.stickyNote","position":[-1760,120],"typeVersion":1,"id":"fdbae595-9ee3-44ba-b181-3a4b06ffc562","name":"Sticky Note"},{"parameters":{"path":"bca0ee0e-e86d-4a84-9739-c2db9c1faad7","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1700,460],"id":"cf1d9d91-5db6-4296-9c08-a07837a4a909","name":"Webhook2","webhookId":"bca0ee0e-e86d-4a84-9739-c2db9c1faad7"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.query['hub.challenge'] }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-1480,460],"id":"1ed5b9aa-db2c-4537-b79a-4cd552a20d9c","name":"Respond to Webhook"}],"connections":{"Select Result Field3":{"main":[[{"node":"Code2","type":"main","index":0}]]},"OpenAI3":{"main":[[{"node":"Code3","type":"main","index":0}]]},"If3":{"main":[[{"node":"Wait1","type":"main","index":0}],[{"node":"Wait3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"If3","type":"main","index":0}]]},"If4":{"main":[[{"node":"Select Result Field3","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Select Result Field1":{"main":[[{"node":"Code5","type":"main","index":0}]]},"Code2":{"main":[[{"node":"OpenAI3","type":"main","index":0}]]},"Code5":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"Google Docs":{"ai_tool":[[{"node":"OpenAI1","type":"ai_tool","index":0}]]},"Google Docs2":{"ai_tool":[[{"node":"OpenAI3","type":"ai_tool","index":0}]]},"Webhook":{"main":[[{"node":"If4","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Facebook Graph API6","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Select Result Field1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Facebook Graph API2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Facebook Graph API3","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Facebook Graph API7","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}],[],[{"node":"Wait2","type":"main","index":0}]]},"Webhook2":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c3e16f05-626f-4694-91c2-dc6b3bb5a355","triggerCount":0,"tags":[{"createdAt":"2025-05-16T21:46:59.543Z","updatedAt":"2025-05-16T21:46:59.543Z","id":"mSb83cVXO8G3p8kD","name":"Aula Pedro Almeida"}]}