send-imagem-bucket-iVSwo2n0aJi7UmUH.json
{"createdAt":"2025-05-22T15:54:08.801Z","updatedAt":"2025-05-23T19:35:34.000Z","id":"iVSwo2n0aJi7UmUH","name":"send imagem bucket","active":false,"nodes":[{"parameters":{"formTitle":"FormularioBasico","formFields":{"values":[{"fieldLabel":"imag","fieldType":"file"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-60,-300],"id":"0e18e6cf-b787-401b-9797-8674999360c1","name":"On form submission","webhookId":"331f7042-0e39-4f57-8bf9-e40bf9ce4a3e"},{"parameters":{"method":"POST","url":"=https://eqohfyxkuntvzmzjgthq.supabase.co/storage/v1/object/comprovante/n8n/{{ $json.imag[0].filename }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVxb2hmeXhrdW50dnptempndGhxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDY3OTQ1ODAsImV4cCI6MjA2MjM3MDU4MH0.FQXAQxDneo1lj2bQ9XHQ4jIXGU8JmBMa7w1-X_BFa1c"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"imag","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,-300],"id":"488aaf1c-aa02-4fe8-a2ec-fe66384e7724","name":"HTTP Request"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[756,-300],"id":"93bbc6a5-a879-40f6-abaa-c2c2d6ecc951","name":"Wait","webhookId":"63682008-a2d2-4d6f-aaaa-bce95d9ed973"},{"parameters":{"url":"=https://eqohfyxkuntvzmzjgthq.supabase.co/storage/v1/object/comprovante/n8n/{{ $('On form submission').item.json.imag[0].filename }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVxb2hmeXhrdW50dnptempndGhxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDY3OTQ1ODAsImV4cCI6MjA2MjM3MDU4MH0.FQXAQxDneo1lj2bQ9XHQ4jIXGU8JmBMa7w1-X_BFa1c"},{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[976,-300],"id":"7c770d39-fc51-44be-8661-69f4ab92bab1","name":"HTTP Request1"},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"thais financa","remoteJid":"5562998098251","media":"=https://eqohfyxkuntvzmzjgthq.supabase.co/storage/v1/object/comprovante/n8n/{{ $json.filename }}","caption":"={{ $json.filename }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1416,-300],"id":"4137e26f-de2f-4252-9f87-6f5478d01371","name":"Evolution API","credentials":{"evolutionApi":{"id":"1eM2xZDmYfv6kfHj","name":"Evolution account"}}},{"parameters":{"assignments":{"assignments":[{"id":"4bf4ffaa-8900-45f1-8bb1-89416ba2675b","name":"filename","value":"={{ $binary.data.fileName }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1196,-300],"id":"6f23ac11-1a45-4a9e-bcfc-9f432d118bd4","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"=voce vai cadastra a url e nome do arquivo que foi cadastrado no Supabase Bucket{{ $('On form submission').item.json.imag[0].filename }}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[380,-300],"id":"5f7dea8a-8ad1-4f63-9b92-533aafc1abc5","name":"AI Agent1"},{"parameters":{"tableId":"url_bucket_images","fieldsUi":{"fieldValues":[{"fieldId":"file_name","fieldValue":"={{ $('On form submission').item.json.imag[0].filename }}"},{"fieldId":"url","fieldValue":"=https://eqohfyxkuntvzmzjgthq.supabase.co/storage/v1/object/comprovante/n8n/{{ $('On form submission').item.json.imag[0].filename }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[400,-80],"id":"d114b8e8-a736-4e3c-a964-78d540f80b3e","name":"Supabase1","credentials":{"supabaseApi":{"id":"b221yMmN6adp96Ic","name":"SupaBase_online"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[240,-100],"id":"5fe2cc8e-6e25-47ae-b8a2-c2473f9463f7","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"hyWmqXktDNchUSuf","name":"OpenAi OFICIAL"}}}],"connections":{"On form submission":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Evolution API","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Supabase1":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"07cff77b-100c-4f7a-9458-9caf8946eee2","triggerCount":0,"tags":[]}