telegram-ai-oRxjxXZJZE5uBFLy.json
{"createdAt":"2025-05-06T21:35:47.859Z","updatedAt":"2025-05-07T23:13:44.000Z","id":"oRxjxXZJZE5uBFLy","name":"Telegram AI","active":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-480,80],"id":"05441375-7153-42b4-a4fc-906c3e1c73e2","name":"Telegram Trigger","webhookId":"4aa6e296-adda-4a70-82fb-c0850d423d46","credentials":{"telegramApi":{"id":"o4gLUPxDBlEW7nqU","name":"Telegram account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"94967ba4-a621-41bf-82a4-f784915cf124","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e6fec2c5-b3d3-4023-802a-3d41202b71ce","leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Voz"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-260,80],"id":"b74cbf1d-184e-4c6c-abd7-6174ff728438","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"5dfee418-e140-4d8d-b540-c08065779f1d","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"c994627d-bd37-42d6-9900-697c489ca0b9","name":"Edit Fields"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-80,180],"id":"7c32fbe1-5157-4958-ba10-b7ba352371ff","name":"Telegram","webhookId":"4fe41178-262d-4f5b-a0dd-5719e1ece355","credentials":{"telegramApi":{"id":"o4gLUPxDBlEW7nqU","name":"Telegram account"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[80,180],"id":"7c7fd419-28a6-4c0d-afea-b35f6108c038","name":"OpenAI","credentials":{"openAiApi":{"id":"fUIOsGVnCLFrm3t8","name":"OpenAi 2"}}},{"parameters":{"promptType":"define","text":"={{ $json.text }}","hasOutputParser":true,"options":{"systemMessage":"=## 🧠 Visão Geral\n\nVocê é o assistente pessoal definitivo. Seu trabalho é enviar a query do usuário para a ferramenta correta.  \nVocê **nunca deve escrever e-mails ou criar resumos**, apenas precisa chamar a ferramenta correta.\n\n---\n\n## 🛠️ Ferramentas\n\n- **Think**: Use esta ferramenta para refletir profundamente se estiver em dúvida.\n- **Agente_email**: Use esta ferramenta para realizar ações por e-mail.\n- **Agente_calendario**: Use esta ferramenta para realizar ações no calendário.\n- **Agente_contatos**: Use esta ferramenta para obter, atualizar ou adicionar contatos.\n- **Tavily**: Use esta ferramenta para pesquisar na web.\n- **Mensagem whatsapp** Use para mandar mensagem no whatsapp\n\n---\n\n## 📜 Regras\n\nAlgumas ações exigem que você busque informações de contato primeiro.  \nPara as seguintes ações, você deve obter as informações de contato e enviá-las ao agente que precisa disso:\n\n- envio de e-mails  \n- redação de e-mails  \n- criação de eventos de calendário com participantes\n\n---\n\n## 🧾 Instruções\n\n1. Chame as ferramentas necessárias com base no pedido do usuário.\n2. Use a ferramenta **Think** para verificar se tomou os passos corretos.  \n   Esta ferramenta deve ser chamada toda vez.\n\n---\n\n## 💡 Exemplos\n\n- **Entrada:** Enviar um e-mail para João Santos perguntando a que horas ele quer sair.  \n- **Ação:** Use `Agente_contatos` para obter o e-mail de João Santos.  \n- **Ação:** Use `Agente_email` para enviar o e-mail.  \n  Você passará para a ferramenta uma query como:\n\n  `\"Envie um email para João Santos perguntando que dia será sua apresentação no Clube. Aqui está o e-mail dele: [email address]\"`\n\n- **Saída:** O e-mail foi enviado para João Santos.  \n  _Mais alguma coisa em que eu possa ajudar?_\n\n---\n\n## ⏰ Lembretes Finais\n\nHora/data atual: **{{ $now }}**\n\n---\n\n## 🧷 Instruções de Formatação\n\n**IMPORTANTE:** Para a sua resposta final ao usuário, você **DEVE usar** a ferramenta `format_final_json_response` com sua resposta completa, formatada de acordo com o esquema requerido.\n\n⚠️ **Nunca formate manualmente a resposta JSON** — sempre use essa ferramenta.  \nA resposta será rejeitada se não estiver corretamente formatada por ela.  \n**Use essa ferramenta apenas quando estiver pronto para fornecer a resposta final.**"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[540,100],"id":"b35ab877-6c7e-4566-84d6-f38525582573","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"1"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[360,480],"id":"caff357d-f5cd-4daf-9865-a174bc5056b1","name":"Simple Memory"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[260,380],"id":"6e05507a-f68a-4a2a-bc13-5aa716dab1de","name":"GPT 4.1","credentials":{"openAiApi":{"id":"fUIOsGVnCLFrm3t8","name":"OpenAi 2"}}},{"parameters":{"name":"Agente_calendario","description":"Chame essa tool sempre que for requisitada uma ação de calendário","workflowId":{"__rl":true,"value":"x0FIBKwipqviFb0r","mode":"list","cachedResultName":"Agente_De_Agenda_H"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[500,540],"id":"c3d1fd75-9802-402a-b40c-1613885dfc8c","name":"Agente_calendario"},{"parameters":{"name":"Agente_contatos","description":"Chame essa tool sempre que for solicitado o contato de alguem","workflowId":{"__rl":true,"value":"ibnspMwwee5OSX0y","mode":"list","cachedResultName":"Agente_De_Contatos_H"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[640,600],"id":"b811bdda-9d16-4458-b8c0-5bd0017d9923","name":"Agente_contatos"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1000,100],"id":"24e70f49-dfe0-4c7c-b19a-14d428639c4a","name":"Telegram1","webhookId":"f07939b9-1b47-48a8-a21f-076bd281fa77","credentials":{"telegramApi":{"id":"o4gLUPxDBlEW7nqU","name":"Telegram account"}}},{"parameters":{"name":"Agente_email","description":"Chame essa tool sempre que for solicitada alguma ação envolvendo emails","workflowId":{"__rl":true,"value":"TUJtPVR1bUVOrUDS","mode":"list","cachedResultName":"Agente_De_Emails_H"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[780,540],"id":"651ae28b-a8bc-466f-9b54-66c510611ccc","name":"Agente_emails"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[900,500],"id":"07ea1051-fcec-4884-812e-b44ef348385b","name":"Think"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Telegram","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"GPT 4.1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Telegram1","type":"main","index":0}]]},"Agente_calendario":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Agente_contatos":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Agente_emails":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Sao_Paulo","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Telegram Trigger":[{"json":{"update_id":685028143,"message":{"message_id":124,"from":{"id":640645307,"is_bot":false,"first_name":"Hicaro alves","username":"Hicaroeng","language_code":"pt-br"},"chat":{"id":640645307,"first_name":"Hicaro alves","username":"Hicaroeng","type":"private"},"date":1746657619,"text":"Qual é minha agenda de hoje"}}}]},"versionId":"4cc6083c-c24e-4e8c-bee7-b2123b90d004","triggerCount":1,"tags":[]}